{% extends "core/base.html" %}
{% load truncate %}
{% load escaping %}
{% load i18n %}
{% load dates %}

{% block title %}{{ journal_settings.news.news_title }} - {{ news_item.title|striptags }}{% endblock title %}

{% block head %}
{% include "elements/social_meta.html" %}
{% endblock head %}

{% block body %}
	<section id="content" class="">
		<div class="row column medium-12">
            {% if news_item.best_image_url %}
              {% include "elements/news_item_banner.html" %}
            {% else %}
                <h1>{{ news_item.title|safe }}</h1>
			    <p class="byline">{{ news_item.byline }} on {{ news_item.posted|date_human }}</p>
            {% endif %}
            <div class="row">
                <div class="large-9 columns">
                    {{ news_item.body|safe }}
                </div>
                {% if news_item.tags.all %}
                    <div class="large-3 columns">
                        <h2>{% trans 'Tags ' %}<i aria-hidden="true" class="fa fa-tags">&nbsp;</i></h2>
                        <ul class="tags-list">
                            {% for tag in news_item.tags.all %}
                                <li>
                                    <a href="{% url 'core_news_list_tag' tag.text %}" class="button success tiny">
                                        {{ tag.text }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <br />

      <a href="{% url 'core_news_list' %}" class="button">
        {% trans "Back to" %} {{ journal_settings.news.news_title|default:"News" }} {% trans "List" %}
      </a>
		</div>
	</section>
{% endblock body %}
