{% extends "core/base.html" %}
{% load truncate %}
{% load i18n %}

{% block title %}{{ journal_settings.news.news_title }} - {{ news_item.title }}{% endblock title %}

{% block head %}
{% include "elements/social_meta.html" %}
{% endblock head %}

{% block body %}
	<section id="content" class="">
		<div class="row column">
            {% if news_item.best_image_url %}
                <div class="orbit article-orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
                <ul class="orbit-container article-orbit">
                    <li class="is-active orbit-slide overlay">
                            <img class="orbit-image"
                                src="{{ news_item.best_image_url }}"
                                 alt="{{ news_item.title | striptags }}">
                        <div class="row column">
                            <figcaption class="orbit-caption">
                                <h3>{{ news_item.title }}</h3>
                                <p>{{ news_item.byline }} {% trans "on" %} {{ news_item.posted|date:"Y-m-d" }}</p>
                            </figcaption>
                        </div>
                    </li>
                </ul>
            </div>
                <br />
            {% else %}
                <h1>{{ news_item.title }}</h1>
			    <h6>{{ news_item.byline }} on {{ news_item.posted|date:"Y-m-d" }}</h6>
            {% endif %}
            <div class="row">
                <div class="large-9 columns">
                    {{ news_item.body|safe }}
                </div>
                <div class="large-3 columns">
                    <h7>Tags <i class="fa fa-tags">&nbsp;</i></h7>
                     <p>{% for tag in news_item.tags.all %}<a href="{% url 'core_news_list_tag' tag.text %}" class="button success tiny">{{ tag.text }}</a>{% if not forloop.last %}&nbsp;{% endif %}{% endfor %}</p>
                </div>
            </div>

            <br />

			<a href="{% url 'core_news_list' %}" class="button success">{% trans "Back to" %} {{ journal_settings.news.news_title }} {% trans "List" %}</a>
		</div>
	</section>
{% endblock body %}
