{% extends "core/base.html" %}
{% load truncate %}
{% load escaping %}
{% load i18n %}
{% load dates %}

{% block title %}{{ journal_settings.news.news_title }} - {{ news_item.title|striptags }}{% endblock title %}

{% block head %}
{% include "elements/social_meta.html" %}
{% endblock head %}

{% block body %}
	<section id="content" class="">
		<div class="row column">
            {% if news_item.best_image_url %}
                <div class="orbit article-orbit" data-orbit>
                    <ul class="orbit-container article-orbit">
                        <li class="is-active orbit-slide overlay">
                                <img class="orbit-image"
                                    src="{{ news_item.best_image_url }}"
                                    alt="{% get_alt_text obj=news_item.large_image_file context_phrase="hero_image" default=news_item.title|striptags|unescape %}">
                            <div class="row column">
                                <figcaption class="orbit-caption">
                                    <h1>{{ news_item.title|safe }}</h1>
                                    <p class="byline">{{ news_item.byline }} {% trans "on" %} {{ news_item.posted|date_human }}</p>
                                </figcaption>
                            </div>
                        </li>
                    </ul>
                </div>
                <br />
            {% else %}
                <h1>{{ news_item.title|safe }}</h1>
			    <p class="byline">{{ news_item.byline }} on {{ news_item.posted|date_human }}</p>
            {% endif %}
            <div class="row">
                <div class="large-9 columns">
                    {{ news_item.body|safe }}
                </div>
                {% if news_item.tags.all %}
                    <div class="large-3 columns">
                        <h2>{% trans 'Tags ' %}<i aria-hidden="true" class="fa fa-tags">&nbsp;</i></h2>
                        <p>{% for tag in news_item.tags.all %}<a href="{% url 'core_news_list_tag' tag.text %}" class="button success tiny">{{ tag.text }}</a>{% if not forloop.last %}&nbsp;{% endif %}{% endfor %}</p>
                    </div>
                {% endif %}
            </div>

            <br />

			<a href="{% url 'core_news_list' %}" class="button">{% trans "Back to" %} {{ journal_settings.news.news_title }} {% trans "List" %}</a>
		</div>
	</section>
{% endblock body %}
