.small td {
    font-size: 0.8rem;
}

.small th {
    font-size: 0.8rem;
}

.list-group {
    margin-bottom: 20px;
    padding-left: 0;
    margin-left: 0 !important;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

a.list-group-item,
button.list-group-item {
    color: #555555;
}

a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
    color: #333333;
}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
    text-decoration: none;
    color: #555555;
    background-color: #f5f5f5;
}

button.list-group-item {
    width: 100%;
    text-align: left;
}

.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
    background-color: #eeeeee;
    color: #777777;
    cursor: not-allowed;
}

.list-group-item.disabled .list-group-item-heading,
.list-group-item.disabled:hover .list-group-item-heading,
.list-group-item.disabled:focus .list-group-item-heading {
    color: inherit;
}

.list-group-item.disabled .list-group-item-text,
.list-group-item.disabled:hover .list-group-item-text,
.list-group-item.disabled:focus .list-group-item-text {
    color: #777777;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading,
.list-group-item.active .list-group-item-heading > small,
.list-group-item.active:hover .list-group-item-heading > small,
.list-group-item.active:focus .list-group-item-heading > small,
.list-group-item.active .list-group-item-heading > .small,
.list-group-item.active:hover .list-group-item-heading > .small,
.list-group-item.active:focus .list-group-item-heading > .small {
    color: inherit;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
    color: #c7ddef;
}

.list-group-item-success {
    color: #3c763d;
    background-color: #dff0d8;
}

a.list-group-item-success,
button.list-group-item-success {
    color: #3c763d;
}

a.list-group-item-success .list-group-item-heading,
button.list-group-item-success .list-group-item-heading {
    color: inherit;
}

a.list-group-item-success:hover,
button.list-group-item-success:hover,
a.list-group-item-success:focus,
button.list-group-item-success:focus {
    color: #3c763d;
    background-color: #d0e9c6;
}

a.list-group-item-success.active,
button.list-group-item-success.active,
a.list-group-item-success.active:hover,
button.list-group-item-success.active:hover,
a.list-group-item-success.active:focus,
button.list-group-item-success.active:focus {
    color: #fff;
    background-color: #3c763d;
    border-color: #3c763d;
}

.list-group-item-info {
    color: #31708f;
    background-color: #d9edf7;
}

a.list-group-item-info,
button.list-group-item-info {
    color: #31708f;
}

a.list-group-item-info .list-group-item-heading,
button.list-group-item-info .list-group-item-heading {
    color: inherit;
}

a.list-group-item-info:hover,
button.list-group-item-info:hover,
a.list-group-item-info:focus,
button.list-group-item-info:focus {
    color: #31708f;
    background-color: #c4e3f3;
}

a.list-group-item-info.active,
button.list-group-item-info.active,
a.list-group-item-info.active:hover,
button.list-group-item-info.active:hover,
a.list-group-item-info.active:focus,
button.list-group-item-info.active:focus {
    color: #fff;
    background-color: #31708f;
    border-color: #31708f;
}

.list-group-item-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
}

a.list-group-item-warning,
button.list-group-item-warning {
    color: #8a6d3b;
}

a.list-group-item-warning .list-group-item-heading,
button.list-group-item-warning .list-group-item-heading {
    color: inherit;
}

a.list-group-item-warning:hover,
button.list-group-item-warning:hover,
a.list-group-item-warning:focus,
button.list-group-item-warning:focus {
    color: #8a6d3b;
    background-color: #faf2cc;
}

a.list-group-item-warning.active,
button.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
button.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus,
button.list-group-item-warning.active:focus {
    color: #fff;
    background-color: #8a6d3b;
    border-color: #8a6d3b;
}

.list-group-item-danger {
    color: #a94442;
    background-color: #f2dede;
}

a.list-group-item-danger,
button.list-group-item-danger {
    color: #a94442;
}

a.list-group-item-danger .list-group-item-heading,
button.list-group-item-danger .list-group-item-heading {
    color: inherit;
}

a.list-group-item-danger:hover,
button.list-group-item-danger:hover,
a.list-group-item-danger:focus,
button.list-group-item-danger:focus {
    color: #a94442;
    background-color: #ebcccc;
}

a.list-group-item-danger.active,
button.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
button.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus,
button.list-group-item-danger.active:focus {
    color: #fff;
    background-color: #a94442;
    border-color: #a94442;
}

.list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px;
}

.list-group-item-text {
    margin-bottom: 0;
    line-height: 1.3;
}

ul.tagit {
    padding: 1px 5px;
    overflow: auto;
    margin-left: inherit;
    /* usually we don't want the regular ul margins. */
    margin-right: inherit;
}

ul.tagit li {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}

ul.tagit li.tagit-choice {
    position: relative;
    line-height: inherit;
}

input.tagit-hidden-field {
    display: none;
}

ul.tagit li.tagit-choice-read-only {
    padding: .2em .5em .2em .5em;
}

ul.tagit li.tagit-choice-editable {
    padding: .2em 18px .2em .5em;
}

ul.tagit li.tagit-new {
    padding: .25em 4px .25em 0;
}

ul.tagit li.tagit-choice a.tagit-label {
    cursor: pointer;
    text-decoration: none;
}

ul.tagit li.tagit-choice .tagit-close {
    cursor: pointer;
    position: absolute;
    right: .1em;
    top: 50%;
    margin-top: -8px;
    line-height: 17px;
}

/* used for some custom themes that don't need image icons */
ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: none;
}

ul.tagit li.tagit-choice input {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}

ul.tagit input[type="text"] {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    margin: 0;
    padding: 0;
    width: inherit;
    background-color: inherit;
    outline: none;
}

th {
    text-align: left;
}

.bs-callout {
    padding: 20px;
    border: 1px solid #eee;
    border-left-width: 8px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code {
    border-radius: 3px;
}

.bs-callout + .bs-callout {
    margin-top: -5px;
}

.bs-callout-default {
    border-left-color: #777;
}

.bs-callout-default h4 {
    color: #777;
}

.bs-callout-primary {
    border-left-color: #428bca;
}

.bs-callout-primary h4 {
    color: #428bca;
}

.bs-callout-success {
    border-left-color: #5cb85c;
}

.bs-callout-success h4 {
    color: #5cb85c;
}

.bs-callout-danger {
    border-left-color: #d9534f;
}

.bs-callout-danger h4 {
    color: #d9534f;
}

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
    color: #f0ad4e;
}

.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout-info h4 {
    color: #5bc0de;
}

.form-group .row {
    max-width: 100%;
}

.action-icon {
    font-size: 1.2rem !important;
}

.file p {
    word-break: break-word;
}

.pub-icon {
    font-size: 8em !important;
    display: block;
    padding-left: 30px;
    vertical-align: middle;
}

.link-chevron {
    font-size: 4.2rem !important;
}

.jqte {
    margin-top: 12px !important;
}

.help-text {
    margin-bottom: 10px;
}

.light-green {
    color: forestgreen;
}

.green {
    color: darkgreen;
}

.red {
    color: darkred;
}

.amber {
    color: darkorange;
}

.card-alert {
    border-color: darkred !important;
}

.jqte_tool.jqte_tool_1 .jqte_tool_label {
    height: 30px !important;
}

.list-group-item:hover, .list-group-item:focus {
    background-color: #f0f0f0;
    -webkit-transition: background 0.4s linear;
    -moz-transition: background 0.4s linear;
    -ms-transition: background 0.4s linear;
    -o-transition: background 0.4s linear;
    transition: background 0.4s linear;
}

.file p {
    word-break: break-all;
}

.formset-form>.columns {
    padding-bottom: 25px;
}

.table-subjects {
    table-layout: fixed;
}

.table-subjects th:first-child {
    width: 55%;
}

.thread-callout {
    padding: 1rem;
    border-radius: 5px;
}

.thread-callout h2 {
    font-size: 1.4rem;
    text-decoration: underline;
}

.thread-callout h3 {
    font-size: 1.3rem;
}

.thread-callout p {
    font-size: 0.8rem;
    margin-bottom: 0;
}

.thread-box {
    height: 100%;
}

.thread-avatar {
    width: 3.5rem;
}

.avatar-column {
    padding-left: 0;
}

.thread-dark {
    background-color: rgb(68,71,83);
    color: white !important;
}

.thread-dark .subheader {
    color: white;
}

.thread-dark a {
    color: white;
}

.thread-box-left {
    padding-right: 0;
}

.thread-box-right {
    padding-left: 0;
}

.post-callout {
    padding:10px;
    border-radius: 5px;
    color: white;
    margin-bottom: 10px;
}

.post-user-callout {
    background-color: rgb(148,194,237);
}

.post-other-callout {
    background-color: rgb(134,187,113)
}

.post-callout .subheader{
    color: white;
}

.post-callout p {
    margin-bottom: 2px;
}

.post-callout small {
    font-size: 0.8rem;
}

.thread-inner {
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.post-button {
    height: 100%;
}

.post-callout blockquote, blockquote p {
    line-height: 1.6;
    color: white;
}

.post-callout blockquote {
    margin: 0 0 1rem;
    padding: 0 1rem 0 1rem;
    border-left: 2px solid white;
}
.no-pad td {
    padding: 0.1rem;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.dont-break-out {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.fixed-table {
    table-layout: fixed;
}

<!-- Glossing -->
ol {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ol ol {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

ol.gloss-sentence {
    display: inline !important;
    padding: 0;
    margin: 0;
    list-style: none;
}

.gloss-item {
    overflow: auto;
}

.gloss-sentence li {
    padding-left: 4px !important;
    padding-bottom: 2px;

}

.gloss-sentence ol {
    list-style: none !important;
}

ol.gloss-word {
    padding-right: .5em !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 2px !important;
    background: white !important;
    display: inline-block !important;
    margin-inline-start: 0 !important;
}

.gloss-first {
  padding-left: 0 !important;
}

.gloss-header {
    float: left;
    display: flex;
    min-width: 40px;
}

.gloss-wrapper {
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}

.lang-tabs {
    margin-bottom: 15px;
}

.lang-tab {
    font-size: 0.8rem;
}

.lang-tab :hover {
    text-decoration: rgb(64, 69, 84) underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
    cursor: pointer;
}

.lang-tab-active {
    text-decoration: rgb(64, 69, 84) underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 3px;
}

.group-settings .title-area h2 {
    margin-top: 25px;
    font-size: 1rem;
}