:root {

  /* Back-office colors in Foundation file (admin/css/app.css) before 2025 */
  --f-000   : #000   ;
  --f-0a0a0a: #0a0a0a;
  --f-0d152c: #0d152c;
  --f-152246: #152246;
  --f-16498a: #16498a;
  --f-1a2a57: #1a2a57;
  --f-1e64bb: #1e64bb;
  --f-2376dc: #2376dc;
  --f-2a2d37: #2a2d37;
  --f-2e7cde: #2e7cde;
  --f-317ede: #317ede;
  --f-333   : #333   ;
  --f-3380df: #3380df;
  --f-353946: #353946;
  --f-36b351: #36b351;
  --f-404554: #404554;
  --f-4c8fe3: #4c8fe3;
  --f-5a98e5: #5a98e5;
  --f-5b5e61: #5b5e61;
  --f-69d17f: #69d17f;
  --f-90dda1: #90dda1;
  --f-96dfa6: #96dfa6;
  --f-999   : #999   ;
  --f-aaa   : #aaa   ;
  --f-b33657: #b33657;
  --f-b7bac0: #b7bac0;
  --f-b7e9c2: #b7e9c2;
  --f-c0c0c0: #c0c0c0;
  --f-ccc   : #ccc   ;
  --f-d16984: #d16984;
  --f-d1daf1: #d1daf1;
  --f-d39118: #d39118;
  --f-def5e3: #def5e3;
  --f-df96a9: #df96a9;
  --f-e6f0fb: #e6f0fb;
  --f-ebb553: #ebb553;
  --f-ececec: #ececec;
  --f-eee   : #eee   ;
  --f-f1cc87: #f1cc87;
  --f-f1f1f1: #f1f1f1;
  --f-f3f3f3: #f3f3f3;
  --f-f5dee4: #f5dee4;
  --f-f5f6f9: #f5f6f9;
  --f-f8f8f8: #f8f8f8;
  --f-f9f9f9: #f9f9f9;
  --f-fafefb: #fafefb;
  --f-fbf0dc: #fbf0dc;
  --f-fdfbfb: #fdfbfb;
  --f-fefafb: #fefafb;
  --f-fefdfa: #fefdfa;
  --f-fefefe: #fefefe;
  --f-ff0   : #ff0   ;

  /* Back-office colors in custom file (admin/css/admin.css) before 2025 */
  --admin-000   : #000   ;
  --admin-31708f: #31708f;
  --admin-333333: #333333;
  --admin-337ab7: #337ab7;
  --admin-3c763d: #3c763d;
  --admin-428bca: #428bca;
  --admin-555555: #555555;
  --admin-5bc0de: #5bc0de;
  --admin-5cb85c: #5cb85c;
  --admin-666666: #666666;
  --admin-696969: #696969;
  --admin-777   : #777   ;
  --admin-777777: #777777;
  --admin-8a6d3b: #8a6d3b;
  --admin-a94442: #a94442;
  --admin-ae9e49: #ae9e49;
  --admin-c4e3f3: #c4e3f3;
  --admin-c7ddef: #c7ddef;
  --admin-d0e9c6: #d0e9c6;
  --admin-d9534f: #d9534f;
  --admin-d9edf7: #d9edf7;
  --admin-dcdcdc: #dcdcdc;
  --admin-dddddd: #dddddd;
  --admin-dff0d8: #dff0d8;
  --admin-ebcccc: #ebcccc;
  --admin-eee   : #eee   ;
  --admin-eeeeee: #eeeeee;
  --admin-f0ad4e: #f0ad4e;
  --admin-f0f0f0: #f0f0f0;
  --admin-f2dede: #f2dede;
  --admin-f5f5f5: #f5f5f5;
  --admin-f6f6f6: #f6f6f6;
  --admin-faf2cc: #faf2cc;
  --admin-fcf8e3: #fcf8e3;
  --admin-ffe761: #ffe761;
  --admin-fff   : #fff   ;
  --admin-ffffff: #ffffff;
  --admin-64-69-84: rgb(64, 69, 84);
  --admin-68-71-83: rgb(68, 71, 83);
  --admin-148-194-237: rgb(148, 194, 237);
  --admin-134-187-113: rgb(134, 187, 113);
}
