.timeline {
  margin-block-start: 1rem;
  margin-block-end: 0;
  margin-inline: 0;
  list-style-type: none;
  display: flex;
  align-items: right; }

.li {
  transition: all 200ms ease-in;
  flex-basis: 100%; }

.timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100; }

.status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid var(--clr-dark-graphic-bg);
  position: relative;
  transition: all 200ms ease-in;
  text-align: center; }

.status h4 {
  font-weight: 600;
  font-size: 12px;
  margin-top: 10px; }

.status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: var(--clr-bg);
  border-radius: 25px;
  border: 2px solid var(--clr-dark-graphic-bg);
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in; }

.li.complete .status {
  border-top: 2px solid var(--clr-dark-graphic-bg); }

.li.complete .status:before {
  background-color: var(--clr-dark-graphic-bg);
  border: none;
  transition: all 200ms ease-in; }

.li.complete .status h4 {
  color: var(--clr-text-on-light); }

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block; }
  .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit; }
  .timestamp {
    width: 100px; }
  .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in; } }
