hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

a:hover .article-title {
    text-decoration-color: black;
    text-decoration: underline;
}

.article-title {
    color: black;
}

.carousel-text-wrapper {
    background: #424242;
    opacity: 0.5;
    padding: 10px
}

.no-bottom-padding {
    padding-bottom: 0px !important;
}

.no-bottom-margin {
    margin-bottom: 0 !important;
}

.issue_image {
    height: 235px;
}

.article-card {
    max-height: 400px
}

.spacer {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar-table td, th {
    padding: 0 !important;
}

.article-body h1 {
    font-size: 26px;
    font-weight: 300;
}

.article-body h2 {
    font-size: 24px;
    font-weight: 300;
}

.article-body h3 {
    font-size: 20px;
    font-weight: 300;
}

.article-body h4 {
    font-size: 18px;
    font-weight: 300;
}

.article-body a {
    word-break: break-all;
}

.article-body ul:not(.browser-default) {
    display: block !important;
    list-style-type: disc !important;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    padding-inline-start: 40px !important;
}

.article-body ul:not(.browser-default)>li {
    list-style-type: disc;
}

.toc-card {
    position: fixed !important;
    top: 1%;
}

.wide-button {
    width: 100% !important;
    display: block !important;
    margin-bottom: 5px;
}

.submission-toc-card {
    position: fixed !important;
    width: 300px;
}

.carousel-text-wrapper a {
    color: white;
}

.editorial-card {
    max-height: 420px;
}

.disp-formula {
    overflow-x: auto;
}

.table-wrap {
    overflow-x: auto;
}

.alm {
    display: inline-block;
    text-align: center;
    padding: 15px;
    width: 140px;
}

#logo-container svg {
    max-width: 100px;
    max-height: 49px;
    margin-top: 20px;
}

.news-card-title {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 10px 10px 10px 10px;
    width: 50%;
}

#reflist p {
    word-wrap: break-word;
}

.issue-link {
    color: rgba(0,0,0,0.87);
}

.issue-link:hover {
    text-decoration: underline;
}

.feature-article-image {
    width: 100%;
    object-fit: cover;
}

.feature-article-card {
    min-height: 360px;
}

.card-panel .row {
    margin-bottom: 0px;
}

h1 {
    font-size: 2.8rem;
    font-weight: 300;
    margin: 1.68rem 0 1.68rem 0;
}

h2 {
    font-size: 2.2rem;
    font-weight: 300;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.6rem;
    font-weight: 300;
}

h5 {
    font-size: 1.6rem;
}

.article_section {
    text-decoration: underline;
    text-decoration-color: #5a5a5a;
    text-decoration-style: solid;
}

.table-of-contents li {
    padding: 3px 0;
    font-size: 14px;
}

.small-caps {
    font-variant: small-caps
}

