hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

a:hover .article-title {
    text-decoration-color: black;
    text-decoration: underline;
}

.article-title {
    color: black;
}

.carousel-text-wrapper {
    background: #424242;
    opacity: 0.5;
    padding: 10px
}

.no-bottom-padding {
    padding-bottom: 0px !important;
}

.issue_image {
    height: 235px;
}

.article-card {
    max-height: 400px
}

.spacer {
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar-table td, th {
    padding: 0 !important;
}

.article-body h1 {
    font-size: 26px;
    font-weight: 300;
}

.article-body h2 {
    font-size: 24px;
    font-weight: 300;
}

.article-body a {
    word-break: break-all;
}

.toc-card {
    position: fixed !important;
    bottom: 40%;
}

.wide-button {
    width: 100% !important;
    display: block !important;
    margin-bottom: 5px;
}

.submission-toc-card {
    position: fixed !important;
    width: 300px;
}

.carousel-text-wrapper a {
    color: white;
}

.editorial-card {
    max-height: 400px;
}

.disp-formula {
    overflow-x: auto;
}

.table-wrap {
    overflow-x: auto;
}

.alm {
    display: inline-block;
    text-align: center;
    padding: 15px;
    width: 140px;
}

#logo-container svg {
    max-width: 100px;
    max-height: 49px;
    margin-top: 20px;
}

.news-card-title {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 10px 10px 10px 10px;
    width: 50%;
}

#reflist p {
    word-wrap: break-word;
}

.issue-link {
    color: rgba(0,0,0,0.87);
}

.issue-link:hover {
    text-decoration: underline;
}
/******************************************
  Show hamburger earlier (default is 992px)
******************************************/
@media only screen and (max-width: 1440px) {
  .hide-on-large-and-down {
    display: none !important;
  }
}

@media only screen and (min-width: 1441px) {
  nav a.button-collapse {
    display: none;
  }
}
@media only screen and (max-width: 1440px) {
  nav a.button-collapse {
    display: block;
  }
}
