{% extends "core/base.html" %}

{% block title %}{% trans "Accessibility" %}{% endblock %}

{% block reading_options_bar %}
    {% include "common/elements/journal/reading_options_bar.html" %}
{% endblock reading_options_bar %}

{% block body %}
    <section id="content" aria-labelledby="cms-title">
        <div class="row">
            <div class="{% if page.display_toc %}border-right medium-8 small-12{% else %}medium-12{% endif %} columns">
                <div id="main_article" class="text-format-region">
                    <h1 id="cms-title">{% trans "Accessibility" %} </h1>
                    <hr aria-hidden="true" />
                    {% include "common/elements/a11y/a11y_options.html" %}
                    {% include "common/elements/a11y/press.html" %}
                    {% include "common/elements/a11y/janeway.html" %}

                    {% if not other_themes_in_use or other_themes_in_use|length == 1 and 'olh' in other_themes_in_use %}
                        <h3 lang="en">VPAT</h3>
                            {% include "common/elements/a11y/vpat.html" with vpat_data=vpat_data theme="olh" %}
                    {% else %}
                        <p>
                            {% blocktrans %}
                                Janeway has several themes, each of which has unique templates and is built on a different framework and so vary in accessibility.
                                This press-site uses a different theme to some of the journal- or repository-sites it hosts.  VPATs for all themes in use are given below.
                            {% endblocktrans%}
                        </p>

                        {% if 'olh' in journal_themes and 'olh' in repository_themes %}
                            <h3>{% trans "OLH Theme VPAT (Press, Journals and Repositories)" %}</h3>
                        {% elif 'olh' in journal_themes %}
                            <h3>{% trans "OLH Theme VPAT (Press and Journals)" %}</h3>
                        {% elif 'olh' in repository_themes %}
                            <h3>{% trans "OLH Theme VPAT (Press and Repositories)" %}</h3>
                        {% else %}
                            <h3>{% trans "OLH Theme VPAT (Press)" %}</h3>
                        {% endif %}
                        {% include "common/elements/a11y/vpat.html" with vpat_data=vpat_data theme="olh" %}

                        {% if 'material' in journal_themes or 'material' in repository_themes %}
                            {% if 'material' in journal_themes and 'material' in repository_themes %}
                                <h3>{% trans "Material Theme VPAT (Journals and Repositories)" %}</h3>
                            {% elif 'material' in journal_themes %}
                                <h3>{% trans "Material Theme VPAT (Journals)" %}</h3>
                            {% else %}
                                <h3>{% trans "Material Theme VPAT (Repositories)" %}</h3>
                            {% endif %}
                            {% include "common/elements/a11y/vpat.html" with vpat_data=vpat_data theme="material" %}
                        {% endif %}

                        {% if 'clean' in journal_themes %}
                            <h3>{% trans "Clean Theme VPAT (Journals)" %}</h3>
                                {% include "common/elements/a11y/vpat.html" with vpat_data=vpat_data theme="clean" %}
                        {% endif %}

                    {% endif %}

                    <hr aria-hidden="true"/>
                    <h3> {% trans 'Report Platform Accessibility Issues' %} </h3>
                    <p>
                        <a href="https://github.com/openlibhums/janeway/issues/new/choose" 
                            target="_blank">
                            {% trans 'Please report janeway accessibility issues directly to the developers.' %}
                            {% include "elements/icons/link_external.html" %}
                        </a>
                    </p>
                </div>
            </div>
            
        </div>
    </section>
{% endblock body %}
