{% extends "core/base.html" %}

{% block title %}{% trans "Accessibility" %}{% endblock %}

{% block body %}
    <section id="content" aria-labelledby="cms-title">
        <div class="row">
            <div class="{% if page.display_toc %}border-right medium-8 small-12{% else %}medium-12{% endif %} columns">
                <div id="main_article">  
                    <h1 id="cms-title">{% trans "Accessibility" %} </h1>
                    <hr aria-hidden="true" />
                    {% include "common/elements/a11y/press.html" %}
                    {% include "common/elements/a11y/janeway.html" %}

                    {% if not journal_themes or journal_themes|length == 1 and 'olh' in journal_themes %}
                        <h3>VPAT</h3>
                            {% include "common/elements/a11y/vpat.html" with vpat_data=vpat_data theme="olh" %}
                    {% else %}
                        <p>
                            {% blocktrans %}
                                Janeway has several themes, each of which has unique templates and is built on a different framework and so vary in accessibility.
                                This press-site uses a different theme to some of the journals-sites.  VPATs for all themes in use are given below.
                            {% endblocktrans%}
                        </p>

                        {% if 'olh' in journal_themes %}
                            <h3>OLH Theme VPAT {% trans "(Press and Journals)" %}</h3>
                        {% else %}
                            <h3>OLH Theme VPAT {% trans "(Press)" %}</h3>
                        {% endif %}
                        {% include "common/elements/a11y/vpat.html" with vpat_data=vpat_data theme="olh" %}

                        {% if 'material' in journal_themes %}
                            <h3>Material Theme VPAT {% trans "(Journals)" %}</h3>
                                {% include "common/elements/a11y/vpat.html" with vpat_data=vpat_data theme="material" %}
                        {% endif %}

                        {% if 'clean' in journal_themes %}
                            <h3>Clean Theme VPAT {% trans "(Journals)" %}</h3>
                                {% include "common/elements/a11y/vpat.html" with vpat_data=vpat_data theme="clean" %}
                        {% endif %}

                    {% endif %}

                    <hr aria-hidden="true"/>
                    <h3> {% trans 'Report Platform Accessibility Issues' %} </h3>
                    <p>
                        <a href="https://github.com/openlibhums/janeway/issues/new/choose" 
                            target="_blank">
                            {% trans 'Please report janeway accessibility issues directly to the developers.' %}
                            {% include "elements/icons/link_external.html" %}
                        </a>
                    </p>
                </div>
            </div>
            
        </div>
    </section>
{% endblock body %}
