{% load hooks %}
{% load i18n %}

<div class="top-bar" id="main-menu" style="display: block;">
    <ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
        <li><a href="/">{% trans 'Home' %}</a></li>
        {% for item in navigation_items %}
            {% if item.has_sub_nav %}
                <li class=".is-dropdown-submenu-parent"><a href="#"
                                                           data-options="is_hover:true; hover_timeout:5000">{{ item.link_name }}</a>
                    <ul class="menu vertical medium-horizontal">
                        {% if item.link %}<li><a href="{{ item.url }}">{{ item.link_name }}</a></li>{% endif %}
                        {% for subnav in item.sub_nav_items %}
                            <li><a href="{% if not subnav.is_external %}/{% endif %}{{ subnav.link }}">{{ subnav.link_name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li><a href="{% if not item.is_external %}/{% endif %}{{ item.link }}">{{ item.link_name }}</a></li>
            {% endif %}
        {% endfor %}
        {% if request.press.publishes_journals and not request.press.disable_journals %}
        <li><a href="{% url 'press_journals' %}">Journals</a></li>
        {% endif %}
        {% if request.press.publishes_conferences%}
        <li><a href="{% url 'press_conferences' %}">{% trans 'Conferences' %}</a></li>
        {% endif %}
        {% if request.press.enable_preprints %}
            <li class=".is-dropdown-submenu-parent"><a href="#"
                                                       data-options="is_hover:true; hover_timeout:5000">Repositories</a>
                <ul class="menu vertical medium-horizontal">
                    {% for repo in request.press.live_repositories %}
                        <li><a href="{{ repo.site_url }}">{{ repo.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
        {% if journal_settings.general.enable_editorial_display %}
            <li><a href="{% url 'editorial_team' %}">{% trans 'Editorial Team' %}</a></li>{% endif %}
        <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
        {% hook 'nav_block' %}
        <li class=".is-dropdown-submenu-parent show-for-small-only">
            <a href="#" data-options="is_hover:true; hover_timeout:5000">{% trans 'Account' %}</a>
            <ul class="menu vertical medium-horizontal">
                {% if request.user.is_authenticated %}
                    {% if user_is_editor or request.user.is_staff %}
                        <li class="divider"></li>
                        <li><a href="{% url 'core_manager_index' %}">{% trans 'Manager' %}</a></li>
                    {% endif %}
                    {% if request.user.is_staff %}
                        <li><a href="/admin/">{% trans 'Admin' %}</a></li>
                    {% endif %}
                    <li class="divider"></li>
                    <li><a href="{% url 'core_edit_profile' %}">{% trans 'Profile' %}</a></li>
                    <li><a href="{% url 'core_logout' %}">{% trans 'Logout' %}</a></li>
                {% else %}
                    <li><a href="{% url 'core_login' %}">{% trans "Login" %}</a></li>
                    <li><a href="{% url 'core_register' %}"> {% trans "Register" %}</a></li>
                {% endif %}
            </ul>
        </li>
    </ul>
</div>
