{% extends "core/base.html" %}
{% load settings i18n %}
{% load static %}

{% block page_title %}{% trans "Journals" %}{% endblock page_title %}

{% block title %}{{ press.name }}{% endblock title %}

{% block navbarbrand %}{{ press.name }}{% endblock navbarbrand %}

{% block body %}

    <section id="content" class="no-padding">
        <div class="row">
            <div class="large-8 columns">
                <h1> {{ press.name }} {% trans 'Journals' %} </h1>
                {% if coming_soon_journals.exists %}
                  <h2>{% trans "Coming Soon" %}</h2>
                  {% include "press/press_journal_set.html" with journals=coming_soon_journals level="deep" %}
                {% endif %}
                {% if archived_journals.exists or coming_soon_journals.exists %}
                  <h2>{% trans "Active" %}</h2>
                  {% include "press/press_journal_set.html" with journals=active_journals level="deep" %}
                {% else %}
                  {% include "press/press_journal_set.html" with journals=active_journals level="shallow" %}
                {% endif %}
                {% if archived_journals.exists %}
                  <h2>{% trans "Archived" %}</h2>
                  {% include "press/press_journal_set.html" with journals=archived_journals level="deep" %}
                {% endif %}
            </div>
            <div class="large-4 columns">
                <section aria-label="{% trans 'Filter' %}">
                <div>
                    <form>
                        <div class="section">
                            <label>{% trans "Filter" %}
                                <input type="text" placeholder="{% trans "Filter" %}" id="filter" name="filter">
                            </label>
                        </div>
                    </form>
                </div>
            </section>
            </div>

        </div>

    </section>

{% endblock body %}

{% block js %}
    <script src="{% static 'common/js/journal_filter.js' %}"></script>
{% endblock %}
