{% load settings i18n %}
{% load static %}

{% for journal in journals %}
    <div class="large-12 columns border-right border-bottom journal-div">
        <div class="box journal">
            <div class="row collapse">
                <div class="large-12 columns">
                    <div class="content clearfix">
                        <div class="row" data-equalizer>
                        <div class="large-4 columns" data-equalizer-watch>
                            {% if journal.is_remote %}
                            <a href="{{ journal.remote_view_url }}" target="_blank">
                            {% else %}
                            <a href="{{ journal.site_url }}">
                            {% endif %}
                                <img src="{% if journal.default_cover_image %}{{ journal.default_cover_image.url }}{% endif %}"
                                     alt="{% if journal.name != " " and journal.name != "" %}{{ journal.name }}{% else %}Unnamed Journal{% endif %}">
                            </a>
                        </div>
                        <div class="large-8 columns title-div" data-equalizer-watch>
                            <div class="journal-description-box">
                              {% if level == "deep" %}
                                <h3>{% include "press/elements/journal_link.html" %}</h3>
                              {% else %}
                                <h2>{% include "press/elements/journal_link.html" %}</h2>
                              {% endif %}
                            <span class="hide">{{ journal.name|lower }}</span>
                            {{ journal.description_for_press|safe }}
                            {% with keywords=journal.keywords.all %}
                                {% if keywords %}
                                <h3>{% trans 'Disciplines' %}</h3>
                                    <ul class="keyword-list">
                                        {% for keyword in keywords %}
                                            <li>
                                                <a class="kbd" href="?filter={{ keyword.word }}">
                                                    <span>{{ keyword.word }}</span>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endwith %}
                            </div>
                            <div class="expanded button-group">
                                {% if journal.is_remote %}
                                    {% if not journal_settings.general.disable_journal_submission %}
                                        <a href="{{ journal.remote_submit_url }}"
                                            class="button" 
                                            target="_blank"
                                            >
                                            <span>{% trans 'Submit' %}</span>
                                            {% include "elements/icons/link_external.html" %} 
                                        </a>
                                    {% endif %}
                                    <a href="{{ journal.remote_view_url }}"
                                            class="button"
                                            target="_blank"
                                            >
                                            <span>{% trans 'View' %}</span>
                                            {% include "elements/icons/link_external.html" %} 
                                        </a>
                                {% else %}
                                    {% if not journal_settings.general.disable_journal_submission %}
                                    <a href="{% journal_base_url journal %}{% url 'submission_start' %}"
                                       class="button"><span>{% trans 'Submit' %}</span></a>
                                    {% endif %}
                                    <a href="{% journal_base_url journal %}"
                                       class="button"><span>{% trans 'View' %}</span></a>
                                    {% if journal.current_issue %}
                                    <a href="{% journal_base_url journal %}{% url 'current_issue' %}"
                                       class="button"><span>{% trans 'Current Issue' %}</span></a>
                                    {% elif journal.serial_issues.count > 0 %}
                                    <a href="{% journal_base_url journal %}{% url 'journal_issues' %}"
                                       class="button"><span>{{ journal.issue_type_plural_name }}</span></a>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endfor %}
