{% if doi %}
    {% if doi|slice:":8" == "https://" %}
        <a 
            target="_blank"
            href="{{ doi }}" 
            aria-label="{% trans 'D.O.I. for' %} {{ title | striptags }}"
            >
            {{ doi }}
            {% include "elements/icons/link_external.html" %} 
        </a>
    {% else %}
        <a
            target="_blank"
            href="https://doi.org/{{ doi }}" 
            aria-label="{% trans 'D.O.I. for' %} {{ title | striptags }}"
            >
            https://doi.org/{{ doi }}
            {% include "elements/icons/link_external.html" %} 
        </a>
    {% endif %}
{% endif %}