{% load static %}

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
<script type="text/javascript" src="{% static "common/js/jq-ui.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tag-it/2.0/js/tag-it.js"></script>

<script type="text/javascript">
    function validateTag(tag) {
        var domainRegex = /^[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*\.[a-zA-Z]{2,}$/;
        return domainRegex.test(tag);
    }

    $(document).ready(function () {
        $("#id_interests").tagit(
            {allowSpaces: true}
        );

        $("#id_domains").tagit({
            allowSpaces: true,
            beforeTagAdded: function(event, ui) {
                if (!validateTag(ui.tagLabel)) { return false; }
            }
        });
    });
</script>

{% if settings.DEBUG %}
<script src="{% static "common/js/tinymce/tinymce.js" %}"></script>
{% else %}
<script src="{% static "common/js/tinymce/tinymce.min.js" %}"></script>
{% endif %}
<script src="{% static "django_tinymce/init_tinymce.js" %}"></script>
