{% load orcid %}
{% load static %}

{% if settings.ENABLE_ORCID %}
    {% if orcid %}
        <p>
            ORCiD                            
            <a href="{{ orcid }}"><img alt="ORCID logo" src="{% static 'common/img/icons/orcid.gif' %}"> {{ orcid }}</a>&nbsp;
            [<a href="{% url 'core_register' %}">remove</a>]
        </p>
    {% else %}
        <a href="{% orcid_login_url 'core_register_with_orcid' %}" class="button expanded orcid-button">{% trans "Register with ORCiD" %}</a>
    {% endif %}
{% endif %}
