<li>
    {% blocktrans trimmed with password_length=request.press.password_length %}
        Your password should be {{ password_length }} characters long.
    {% endblocktrans %}</li>
{% if request.press.password_upper %}
    <li>{% blocktrans trimmed %}
        Your password should contain at least one upper case letter.
    {% endblocktrans %}</li>
{% endif %}
{% if request.press.password_number %}
    <li>{% blocktrans trimmed %}
        Your password should contain at least one number.
    {% endblocktrans %}</li>
{% endif %}