{% load pages %}

{% if order_by_choices %}
    <div class="row">
        <div class="columns small-12 medium-6 large-7">
            <p>
                {% blocktrans count result_count=page_obj.paginator.count %}
                    1 result
                {% plural %}
                    {{ result_count }} results
                {% endblocktrans %}
            </p>
        </div>
        <div class="columns small-12 medium-6 large-5">
            <div class="input-group sort-control">
                <label class="input-group-label" for="order_by">
                    {% trans 'Sort results by' %}
                </label>
                <select
                    id="order_by"
                    class="input-group-field"
                    name="order_by"
                    form={{ form_id }}>
                {% for value, label in order_by_choices %}
                    <option
                        value="{{ value }}"
                        {% if value == order_by %}
                            selected
                        {% endif %}>
                        {{ label }}
                    </option>
                {% endfor %}
                </select>
                <div class="input-group-button">
                    <button type="submit" class="button" form={{ form_id }} aria-label="{% trans 'Apply sort' %}">{% trans 'Sort' %}</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}
