{% extends "admin/core/base.html" %}
{% load static from staticfiles %}
{% load foundation %}
{% load truncate %}

{% block title %}Article Workflow Manager{% endblock %}
{% block title-section %}Article Workflow Manager{% endblock %}
{% block title-sub %}{{ article.title|safe   }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'core_manager_index' %}">Manager</a></li>
    <li><a href="">#{{ article.pk }} {{ article.title|safe|truncatesmart }}</a></li>
    <li>Article Workflow Manager</li>
{% endblock %}

{% block body %}
    <div class="box">
        <div class="row expanded">
            <div class="large-6 columns">
                <div class="title-area">
                    <h2>Past Stages</h2>
                </div>
                <p>This tool should be used with extreme caution. Once and article is moved
                back along the workflow it has to be manually moved forward again.</p>
                <p>Article Current Stage: <strong>{{ article.get_stage_display }}</strong>.</p><p>This article has been through the following stages:</p>
                <form method="POST">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <th>Stage</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                        {% for stage in article.workflow_stages %}
                            <tr>
                                <td>{{ stage.element.element_name|capfirst }}</td>
                                <td>{{ stage.timestamp }}</td>
                                <td>
                                    {% if stage.element.stage == article.stage or stage.element.stage == 'Unassigned' and article.stage == 'Under Review' %}
                                    Current Stage
                                    {% else %}
                                    <button class="tiny button" name="stage_to" value="{{ stage.element.stage }}">Move to Stage</button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </form>
            </div>
            <div class="large-6 columns">
                <div class="title-area">
                    <h2>Archive</h2>
                </div>
                {% if article.stage == 'Archived' %}
                <p>This article has already been archived.</p>
                {% else %}
                <p>Archiving an article will remove it from the workflow, essentially tombstoning it. You can still access it through the Article Archive.</p>
                <form method="POST">
                    {% csrf_token %}
                    <button name="archive" class="danger button">Archive Article</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}