{% load i18n %}
{% for item in hierarchy %}
    <li>
        {% if rou and item.unit == rou %}
            <strong aria-current="page">{{ item.unit.name }}</strong>
        {% else %}
            <a href="{% url 'rou_hierarchy' item.unit.code %}">{{ item.unit.name }}</a>
        {% endif %}
        ({% blocktrans count counter=item.preprint_count %}{{ counter }} submission{% plural %}{{ counter }} submissions{% endblocktrans %})
        {% if item.children %}
            <ul class="nested tree">
                {% include "repository/elements/hierarchy_list.html" with hierarchy=item.children %}
            </ul>
        {% endif %}
    </li>
{% endfor %}
