{% load truncate %}

{% for preprint in preprints %}
    <div class="card">
        <div class="card-content">
            <h2 class="listing-title no-padding-top">
                <a href="{% url 'repository_preprint' preprint.pk %}">
                    {{ preprint.title|safe }}
                </a>
            </h2>
            <p class="authors card-text">{{ preprint.display_authors }}</p>
            <p class="info">
                <strong>Published</strong>: {{ preprint.date_published|date:"Y-m-d" }} <strong>Subject</strong>: {{ preprint.subject }}
            </p>
            <p>{{ preprint.abstract|striptags|truncatesmart:400 }}</p>
        </div>
    </div>
{% endfor %}
