{% extends "admin/core/base.html" %}
{% load foundation %}

{% block title %}Edit Press{% endblock %}
{% block title-section %}Edit Press{% endblock %}

{% block nav %}
{% include "admin/press/nav.html" %}
{% endblock nav %}

{% block body %}
    <section>
    <div class="row expanded" data-equalizer>
        <div class="large-12 columns end">
            <div class="box" data-equalizer-watch>
                <div class="title-area">
                    <h2>{{ press.name }}</h2>
                </div>
                <div class="content">
                    {% include "elements/forms/errors.html" with form=form %}
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="title-area">
                            <h2>Basic Information</h2>
                        </div>
                        {{ form.name|foundation }}
                        {{ form.main_contact|foundation }}

                        <div class="title-area">
                            <h2>Look</h2>
                        </div>
                        {{ form.theme|foundation }}
                        {{ form.footer_description|foundation }}
                        {{ form.press_logo|foundation }}
                        {{ form.default_carousel_image|foundation }}
                        {{ form.favicon|foundation }}

                        <div class="title-area">
                            <h2>Repositories</h2>
                        </div>
                        {{ form.enable_preprints|foundation }}

                        <div class="title-area">
                            <h2>Journals</h2>
                        </div>
                        {{ form.disable_journals|foundation }}
                        <div class="title-area">
                            <h2>Security</h2>
                        </div>
                        {{ form.is_secure|foundation }}
                        {{ form.password_number|foundation }}
                        {{ form.password_upper|foundation }}
                        {{ form.password_length|foundation }}
                        {{ form.password_reset_text|foundation }}
                        {{ form.registration_text|foundation }}
                        {{ form.privacy_policy_url|foundation }}
                        {{ form.tracking_code|foundation }}
                        <button type="submit" name="save_press" class="success button">Save</button>
                    </form>
                </div>

            </div>
        </div>
    </div>
    </section>
{% endblock %}

{% block js %}
    {% include "elements/jqte.html" %}
{% endblock %}
