{% load static from staticfiles %}
{% load securitytags %}
{% load i18n %}
{% load hooks %}

{% is_editor as editor %}

<div class="off-canvas position-left reveal-for-large" id="offCanvas" data-off-canvas>
    <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
    </button>
    <ul class="vertical menu">
        <li class="title"><a href="#"><i class="fa fa-chevron-circle-down action-icon">&nbsp;</i> Janeway</a></li>

        {% if request.press.enable_preprints and request.repository and request.user.is_authenticated %}
            {% is_repository_manager as repository_manager %}
            <li class="subtitle"><a href="#">Preprints</a></li>
            <li><a href="{% url 'repository_dashboard' %}"><i class="fa fa-dashboard">&nbsp;</i>Author Dashboard</a></li>
            {% if request.user.is_staff or repository_manager %}
                <li><a href="{% url 'preprints_manager' %}"><i class="fa fa-file-pdf-o">&nbsp;</i>Repository Manager</a></li>
            {% endif %}
            {% if request.user.is_staff %}
                <li><a href="{% url 'repository_subjects' %}"><i class="fa fa-object-group">&nbsp;</i>Subjects</a></li>
                <li><a href="{% url 'submission_licenses' %}"><i class="fa fa-creative-commons">&nbsp;</i>Licences</a></li>
                <li><a href="{% url 'repository_fields' %}"><i class="fa fa-keyboard-o">&nbsp;</i>Additional Fields</a></li>
                <li><a href="{% url 'repository_wizard' %}"><i class="fa fa-cog">&nbsp;</i>Settings</a></li>
            {% endif %}
        {% endif %}

        {% if request.user.is_staff %}
            <li class="subtitle"><a href="#">Press</a></li>
            <li><a href="{% url 'core_manager_index' %}"><i class="fa fa-lock">&nbsp;</i>
            Manager</a></li>
            <li><a href="{% url 'core_plugin_list' %}"><i class="fa fa-plug">&nbsp;</i>
            Plugins</a></li>
            <li><a href="/admin/"><i class="fa fa-cog">&nbsp;</i>
            Admin</a></li>
            {% hook 'press_admin_nav_block' %}
        {% endif %}
        <li class="subtitle"><a href="#">Language</a></li>
        <li>
            <div class="small-12 small-centered columns">
                 <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                    <input name="next" type="hidden" value="{{ request.PATH }}" />
                    <select name="language" onchange="this.form.submit()">
                        {% get_current_language as LANGUAGE_CODE %}
                        {% get_available_languages as LANGUAGES %}
                        {% get_language_info_list for LANGUAGES as languages %}
                        {% for language in languages %}
                            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                                {{ language.name_local }} ({{ language.code }})
                            </option>
                        {% endfor %}
                    </select>
                </form>
            </div>
        </li>
    </ul>
</div>

<div class="off-canvas-content" data-off-canvas-content>

    <header class="main-header" role="banner">
        <div class="row expanded">
            <div class="small-4 columns">
                <button type="button" class="button hide-for-large" data-toggle="offCanvas"><img
                        src="{% static "admin/img/icons/menu-toggle.svg" %}" alt="Menu"> Menu
                </button>
                &nbsp;
            </div>
            <div class="small-4 columns text-center">
                <h1><a href="{{ request.site_type.site_url }}">{% if request.repository %}{{ request.repository.name }}{% else %}{{ request.press.name }}{% endif %}</a></h1>
            </div>
            <div class="small-4 columns text-right">
                <div class="profile">
                    <a class="float-right" data-toggle="profile-dropdown">
                        <p class="show-for-medium">Hello, {{ request.user.first_name }}!</p>
                        {% include "elements/avatar.html" with user=request.user tooltip="off" %}
                    </a>
                </div>
                <div class="dropdown-pane bottom" id="profile-dropdown" data-dropdown data-close-on-click="true">
                    <ul class="menu vertical">
                        <li><a href="{% url 'core_edit_profile' %}">Profile</a></li>
                        {% if request.repository %}
                            <li><a href="{% url 'repository_dashboard' %}">Author Dashboard</a></li>
                            <li><a href="{% url 'repository_submit' %}">Submit</a></li>
                        {% endif %}
                        {% if is_editor or request.user.is_staff %}
                            <li><a href="{% url 'core_manager_index' %}">Manager</a></li>
                        {% endif %}
                        {% if request.user.is_staff %}
                            <li><a href="/admin/">Admin</a></li>
                        {% endif %}
                        <li><a href="{% url 'core_logout' %}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
