{% load bootstrap4 %}
{% load i18n %}

<div class="modal fade" id="author" tabindex="-1" role="dialog" aria-labelledby="author" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form method="POST">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa fa-user">&nbsp;</i>{% trans "Add New Author" %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">{% bootstrap_form_errors form %}</div>
                        <div class="col-md-3">
                            {% bootstrap_field form.salutation %}
                        </div>
                        <div class="col-md-3">
                            {% bootstrap_field form.first_name %}
                        </div>
                        <div class="col-md-3">
                            {% bootstrap_field form.middle_name %}
                        </div>
                        <div class="col-md-3">
                            {% bootstrap_field form.last_name %}
                        </div>

                        <div class="col-md-12">
                            {% bootstrap_field form.biography %}
                        </div>

                        <div class="col-md-4">
                            {% bootstrap_field form.institution %}
                        </div>
                        <div class="col-md-4">
                            {% bootstrap_field form.department %}
                        </div>
                        <div class="col-md-4">
                            {% bootstrap_field form.country %}
                        </div>

                        <div class="col-md-4">
                            {% bootstrap_field form.twitter %}
                        </div>
                        <div class="col-md-4">
                            {% bootstrap_field form.linkedin %}
                        </div>
                        <div class="col-md-4">
                            {% bootstrap_field form.website %}
                        </div>

                        <div class="col-md-6">
                            {% bootstrap_field form.orcid %}
                        </div>
                        <div class="col-md-6">
                            {% bootstrap_field form.email %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" name="add_author"><i class="fa fa-user">
                        &nbsp;</i>{% trans "Add Author" %}
                    </button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
                </div>
            </form>
        </div>
    </div>
</div>

