{% load pages %}

{% if articles and articles.paginator %}
<section aria-label="pagination">
    <div class="pagination-block">
        <ul class="d-flex justify-content-center list-inline">
            {% if articles.has_previous %}
                <li class="list-inline-item">
                    <a href="?page={{ articles.previous_page_number }}" class="btn btn-primary">
                        {% include "elements/icons/page_previous.html" %}
                    </a>
                </li>
            {% endif %}
            {{ articles.page.page_range }}
            {% for page in articles.paginator.page_range %}
                <li class="list-inline-item">
                    <a href="?page={{ page }}" class="btn btn-primary">{{ page }}</a>&nbsp;
                </li>
            {% endfor %}
            {% if articles.has_next %}
                <li class="list-inline-item">
                    <a href="?page={{ articles.next_page_number }}" class="btn btn-primary">
                        {% include "elements/icons/page_next.html" %}
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</section>
{% endif %}
