<p>
    Issues in {{ request.journal.name }} are grouped by decade. Select a
    decade below to jump to that section of the page.
</p>
<ul class="list-inline">
    {% for decade, issues in issues_by_decade.items %}
    <li class="list-inline-item">
        <a href="#decade-{{ decade }}">{{ decade }}s</a>
    </li>
    {% endfor %}
</ul>

{% for decade, issues in issues_by_decade.items %}
    <h2 id="decade-{{ decade }}">{{ decade }}s</h2>
    {% include "elements/journal/issue_list.html" with issues=issues %}
{% endfor %}