{% load i18n %}

{% if issue.large_image %}
    <div class="card">
        <img class="card-img img-fluid article-img" src="{{ issue.hero_image_url }}" alt="{{ issue.display_title }} Cover Image">
        <div class="card-img-overlay white-text">
            <div class="card-text">
                <h4 class="card-title">{{ issue.display_title }}</h4>
            </div>
        </div>
    </div>
{% else %}
    <h2 class="em">{{ issue.display_title }}</h2>
    {% if issue.issue_description %}<p>{{ issue.issue_description|safe }}</p>{% endif %}
{% endif %}

{% if issue.journal.display_issue_doi and issue.doi_url %}
<p><b>DOI: </b><a href="{{issue.doi_url}}">{{ issue.doi_url }}</a></p>
{% endif %}
<br/>
