{% load i18n %}
<aside class="col-md-4" data-sticky-container>
    <div class="sticky" data-sticky data-margin-top="0" data-sticky data-anchor="issue_top">
        <div class="section">
            {% if issue.galley %}
            <h2>{% trans 'Downloads' %}</h2>
            <p>
                <a href="{% url 'journal_issue_download_galley' issue.pk issue.galley.pk %}">
                    {% trans 'Issue' %} (PDF)
                    {% include "elements/icons/link_download.html" %}
                </a>
            </p>
            {% endif %}
            <h2 id="archive-title">
                {% if issue.issue_type.code == 'issue' %}{% trans "Issue Archive" %}
                {% else %} {% trans issue.issue_type.plural_name %}
                {% endif %}
            </h2>
            <ul aria-describedby="archive-title">
                {% for issue_item in issues %}
                    {% if issue_item.id == issue.id %}
                        <li>
                            <span class="sr-only"></span>
                            <span aria-label='{{ issue.display_title_a11y }}'>
                                {{ issue.display_title }} 
                            </span>
                            ({{ issue.articles.all.count}}) 
                            <span class="sr-only">{% trans 'Articles' %} {% trans 'this page' %}</span>
                        </li>
                    {% elif issue_item.issue_type.code == 'issue' %}
                        <li><a href="{% url 'journal_issue' issue_item.id %}" aria-label='{{ issue_item.display_title_a11y }}'>
                            {{ issue_item.display_title }} 
                        </a>
                        ({{ issue_item.articles.all.count}}) <span class="sr-only">{% trans 'Articles' %}</span></li>
                    {% else %}
                        <li><a href="{% url 'journal_collection' issue_item.id %}">{{ issue_item.issue_title }} </a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</aside>
