{% load i18n %}
<aside class="col-md-4" data-sticky-container>
    <div class="sticky" data-sticky data-margin-top="0" data-sticky data-anchor="issue_top">
        <div class="section">
            {% if issue.galley %}
            <h2>{% trans 'Downloads' %}</h2>
            <p>
                <a href="{% url 'journal_issue_download_galley' issue.pk issue.galley.pk %}">
                    {% trans 'Issue' %} (PDF)
                    {% include "elements/icons/link_download.html" %}
                </a>
            </p>
            {% endif %}
            <h2>
                {% if issue.issue_type.code == 'issue' %}{% trans "Issue Archive" %}
                {% else %} {% trans issue.issue_type.plural_name %}
                {% endif %}
            </h2>
            <ul>
                {% for issue in issues %}
                {% if issue.issue_type.code == 'issue' %}
                    <li><a href="{% url 'journal_issue' issue.id %}" aria-label='{{ issue.display_title_a11y }}'>
                        {{ issue.display_title }} 
                    </a></li>
                {% else %}
                    <li><a href="{% url 'journal_collection' issue.id %}">{{ issue.issue_title }} </a></li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</aside>
