{% extends "admin/core/base.html" %}
{% load securitytags %}
{% load files %}
{% load foundation %}

{% block title %}Edit Galley - {{ galley.pk }}{% endblock title %}
{% block title-section %}Edit Galley - {{ galley.pk }}{% endblock %}
{% block title-sub %}#{{ article.pk }} / {{ article.correspondence_author.last_name }} / {{ article.title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% if request.resolver_match.view_name == 'pm_edit_galley' %}
        {% include "elements/breadcrumbs/production_manager_base.html" %}
    {% else %}
        {% include "elements/breadcrumbs/typesetter_base.html" %}
    {% endif %}
    <li class="active">Edit Galley</li>
{% endblock breadcrumbs %}


{% block body %}
    <div class="box">
        <div class="title-area">
            <h2>Metadata</h2>
            {% if return_url %}
                <a class="button" href="{{ return_url }}"><i class="fa fa-arrow-left"></i> Back</a>{% endif %}
        </div>
        <div class="content">
            <table class="scroll small">
                <tr style="text-align: left">
                    <th>Label</th>
                    <th width="25%">Filename</th>
                    <th>Type</th>
                    <th>Modified</th>
                    <th>Download</th>
                    <th>History</th>
                    <th>Delete</th>
                </tr>
                {% can_view_file galley.file as can_view_file_flag %}
                {% can_edit_file galley.file article as can_edit_file_flag %}
                {% can_view_file_history galley.file article as can_view_file_history_flag %}
                <tr>
                    <td>{{ galley.label }}</td>
                    <td>{{ galley.file.original_filename|truncatechars:40 }}</td>
                    <td>Galley</td>
                    <td>{{ galley.file.last_modified|date:"Y-m-d G:i" }}</td>
                    <td>{% if can_view_file_flag %}
                        <a href="{% url 'article_file_download' 'id' article.pk galley.file.pk %}"><i
                                class="fa fa-download">&nbsp;</i></a>{% endif %}
                    </td>
                    <td>{% if can_view_file_history_flag %}
                        <a href="{% url 'file_history' article.pk galley.file.pk %}?return={{ request.path|urlencode }}"><i
                                class="fa fa-history">
                            &nbsp;</i></a>{% endif %}
                    </td>
                    <td>{% if can_edit_file_flag %}
                        <form method="POST">
                        {% csrf_token %}

                        <button type="submit" name="delete" value="{{ galley.file.pk }}"><i
                                class="fa fa-trash">
                            &nbsp;</i></button>{% endif %}
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div class="large-6 columns">

        </div>
        <div class="title-area">
            <h2>Replace File</h2>
        </div>
        <div class="content">
            <p>You can upload a new file to replace the one in this galley.</p>
            <div class="row expanded">
                <div class="large-2 columns">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input name="galley" type="file" class="float-left"
                               data-placeholder="No file"
                               data-buttonName="btn-primary">
                </div>
                <div class="large-2 columns end">
                    <button type="submit" class="button success small"
                            name="replace-galley"><i
                            class="fa fa-upload">
                        &nbsp;</i>Upload
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>
    <div class="title-area">
        <h2>Galley Details</h2>
    </div>
    <div class="content">
        <div class="row expanded">
            <div class="large-6 columns end">
                <form method="POST">
                    {% csrf_token %}
                    {{ galley_form|foundation }}
                    <button name="galley-update" type="submit" class="button small success">Save</button>
                </form>
            </div>
        </div>
    </div>
    </div>
    {% if galley.type != 'pdf' %}
    <div class="box">

        <div class="title-area">
            <h2>Image Files</h2>
        </div>
        <div class="content">
            <p>
                You can upload image files associated with the XML/HTML galley.
                We will display those we have detected but you can
                upload your own. The uploaded filename should match the src or href of the file
                in your XML/HTML and should be relative eg. <code>src="fig1.jpg"</code>.
            </p>

            <table class="scroll small">
                <tr style="text-align: left">
                    <th>Label</th>
                    <th width="25%">Filename</th>
                    <th>Type</th>
                    <th>Modified</th>
                    <th>Download</th>
                    <th>Replace</th>
                    <th>History</th>
                    <th>Delete</th>
                </tr>
                {% for image in galley.images.all %}
                    {% can_view_file image as can_view_file_flag %}
                    {% can_edit_file image article as can_edit_file_flag %}
                    {% can_view_file_history image article as can_view_file_history_flag %}
                    <tr>
                        <td>{{ image.label }}</td>
                        <td>{{ image.original_filename }}</td>
                        <td>Galley Images</td>
                        <td>{{ image.last_modified|date:"Y-m-d G:i" }}</td>
                        <td>{% if can_view_file_flag %}
                            <a href="{% url 'article_file_download' 'id' article.pk image.pk %}"><i
                                    class="fa fa-download">&nbsp;</i></a>{% endif %}
                        </td>
                        <td>{% if can_edit_file_flag %}
                            <a href="{% url 'article_file_replace' 'id' article.pk image.pk %}?return={{ request.path|urlencode }}"><i
                                    class="fa fa-cloud-upload">&nbsp;</i></a>{% endif %}
                        </td>
                        <td>{% if can_view_file_history_flag %}
                            <a href="{% url 'file_history' article.pk image.pk %}?return={{ request.path|urlencode }}"><i
                                    class="fa fa-history">
                                &nbsp;</i></a>{% endif %}
                        </td>
                        <td>{% if can_edit_file_flag %}
                            <form method="POST"
                                  action="{% url 'pm_edit_galley' article.pk galley.pk %}?return={% url 'pm_edit_galley' article.pk galley.pk %}">
                            {% csrf_token %}
                            <button type="submit" name="delete" value="{{ image.pk }}"><i
                                    class="fa fa-trash">
                                &nbsp;</i></button>{% endif %}</form>
                        </td>
                    </tr>
                {% empty %}
                    <td colspan="8">
                        Galley has no images, you can upload them below.
                    </td>
                {% endfor %}

            </table>
            <div class="row expanded">
                {% if galley.file.mime_type in galley.mimetypes_with_figures %}
                    {% for element in galley.has_missing_image_files %}
                        {% if element not in image_names %}
                            <div class="large-6 columns">
                                <div class="callout">
                                    <small>
                                        <form method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="large-8 columns">
                                                    <h6>{{ element }}</h6>
                                                    <label for="label">File Label</label>
                                                    <input name="label" id="label" placeholder="eg. Figure 1"><br/><br/>
                                                    <input name="file_name" type="hidden" value="{{ element }}">
                                                    <input name="image" type="file" class="float-left"
                                                           data-placeholder="No file"
                                                           data-buttonName="btn-primary">
                                                    {% if data_files %}
                                                        <p>Or, you can choose an existing figure file.</p>
                                                        <select name="datafile">
                                                            <option value="">---------</option>
                                                            {% for file in data_files %}
                                                                {% if file not in galley_images %}
                                                                    <option value="{{ file.pk }}">{{ file.label }}
                                                                        ({{ file.original_filename }})
                                                                    </option>{% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    {% endif %}
                                                </div>
                                                <div class="large-4 columns">
                                                    <button type="submit" class="button success small float-right"
                                                            name="fixed-image-upload"><i
                                                            class="fa fa-upload">
                                                        &nbsp;</i>Upload/Select
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </small>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <div class="large-6 columns ">
                    <div class="callout">
                        <small>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="large-8 columns">
                                        <h6>Additional Galley Images</h6>
                                        <label for="label">File Label</label>
                                        <input name="label" id="label" placeholder="eg. Figure 1"><br/><br/>
                                        <input name="image" type="file" class="float-left"
                                               data-placeholder="No file"
                                               data-buttonName="btn-primary">
                                    </div>
                                    <div class="large-4 columns">
                                        <button type="submit" class="button success small float-right"
                                                name="image-upload">
                                            <i
                                                    class="fa fa-upload">
                                                &nbsp;</i>Upload
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </small>
                    </div>
                </div>
                {% if galley.has_missing_image_files %}
                <div class="large-6 columns">
                    <div class="callout">
                        <small>
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="large-12 columns">
                                        <h6>Upload Zip File</h6>
                                        <p>You can upload a zip file of images using the
                                            {% if typeset_task %}
                                                <a href="{% url 'typesetter_zip_uploader' typeset_task.pk galley.pk %}">
                                            {% else %}
                                                <a href="{% url 'pm_zip_uploader' article.pk galley.pk %}">
                                            {% endif %}
                                                Zip Uploader
                                            </a>.
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </small>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="row expanded">
                <div class="large-12 columns">
                    <div class="title-area">
                        <h2>CSS File</h2>
                    </div>
                    <div class="content">

                        <p>
                            You can upload a CSS file associated with this article for individual style. You should be
                            wary not to make style changes
                            to header and footer type elements as this will effect the layout of the page.
                        </p>
                        <table class="scroll small">
                            <tr style="text-align: left">
                                <th>Label</th>
                                <th width="25%">Filename</th>
                                <th>Type</th>
                                <th>Download</th>
                                <th>Replace</th>
                                <th>History</th>
                                <th>Delete</th>
                            </tr>
                            {% if galley.css_file %}
                                {% can_view_file galley.css_file as can_view_file_flag %}
                                {% can_edit_file galley.css_file article as can_edit_file_flag %}
                                {% can_view_file_history galley.css_file article as can_view_file_history_flag %}
                                <tr>
                                    <td>{{ galley.css_file.label }}</td>
                                    <td>{{ galley.css_file.original_filename }}</td>
                                    <td>Galley Images</td>
                                    <td>{% if can_view_file_flag %}
                                        <a href="{% url 'article_file_download' 'id' article.pk galley.css_file.pk %}"><i
                                                class="fa fa-download">&nbsp;</i></a>{% endif %}
                                    </td>
                                    <td>{% if can_edit_file_flag %}
                                        <a href="{% url 'article_file_replace' 'id' article.pk galley.css_file.pk %}?return={{ request.path|urlencode }}"><i
                                                class="fa fa-cloud-upload">&nbsp;</i></a>{% endif %}
                                    </td>
                                    <td>{% if can_view_file_history_flag %}
                                        <a href="{% url 'file_history' article.pk galley.css_file.pk %}?return={{ request.path|urlencode }}"><i
                                                class="fa fa-history">
                                            &nbsp;</i></a>{% endif %}
                                    </td>
                                    <td>{% if can_edit_file_flag %}
                                        <a href="?delete={{ galley.css_file.pk }}"><i
                                                class="fa fa-trash">
                                            &nbsp;</i></a>{% endif %}
                                    </td>
                                </tr>
                            {% endif %}
                        </table>
                    </div>
                </div>
                {% if not galley.css_file %}
                    <div class="large-6 columns float-left">
                        <div class="callout">
                            <small>
                                <form method="POST" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="large-8 columns">
                                            <h6>Upload CSS File</h6>
                                            <label for="labelcss">File Label</label>
                                            <input name="label" id="labelcss" placeholder="eg. Figure 1"><br/><br/>
                                            <input name="css" type="file" class="float-left"
                                                   data-placeholder="No file"
                                                   data-buttonName="btn-primary">
                                        </div>
                                        <div class="large-4 columns">
                                            <button type="submit" class="button success small float-right"
                                                    name="css-upload"><i
                                                    class="fa fa-upload">
                                                &nbsp;</i>Upload
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </small>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% if xsl_files %}
    <div class="title-area">
        <h2>Galley XSLT</h2>
    </div>
    <div class="content">
        <p>Select the XSL File used for rendering the HTML out of this galley</p>
        <div class="row expanded">
            <div class="large-6 columns end">
                <form method="POST">
                    {% csrf_token %}
                    <select name="xsl_file">
                    {% for xsl in xsl_files %}
                        <option value={{ xsl.pk }}{% if xsl == galley.xsl_file %} selected{% endif %}>{{ xsl.label }}</option>
                    {% endfor %}
                    </select>
                    <button type="submit" class="button small success">Update XSL</button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
    {% endif %}
    </div>

{% endblock body %}
