{% extends "admin/core/base.html" %}
{% load foundation %}

{% block title %}#{{ typeset.pk }} -
    {{ typeset.typesetter.full_name }}{% endblock %}
{% block title-section %}#{{ typeset.pk }} -
    {{ typeset.typesetter.full_name }}{% endblock %}
{% block title-sub %}#{{ article.pk }} / {{ article.correspondence_author.last_name }} / {{ article.title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "elements/breadcrumbs/production_manager_base.html" %}
    <li>#{{ typeset.pk }} - {{ typeset.typesetter.full_name }}</li>
{% endblock breadcrumbs %}



{% block body %}
    <form method="POST">
        {% csrf_token %}
        <div class="large-8 columns">
            <div class="box">
                <div class="title-area">
                    <h2>Edit Assignment</h2>
                </div>
                <div class="content">
                    {% if typeset.status == 'assigned' %}
                        <p>You can edit the details of the typesetting task
                            below. Note, if the assignment has been accepted
                            you cannot edit it, if it has been rejected you may
                            reset it.</p>
                        <p>You can select which files are available to the
                            Typesetter.</p>
                        <table class="scroll small">
                            <tr>
                                <th></th>
                                <th>Label</th>
                                <th>Filename</th>
                                <th>Type</th>
                                <th>Modified</th>
                                <th>Download</th>
                            </tr>
                            {% for file in article.manuscript_files.all %}
                                <tr>
                                    <td><input type="checkbox" name="files"
                                               value="{{ file.id }}"
                                               {% if file in typeset.files_for_typesetting.all %}checked="checked"{% endif %}>
                                    </td>
                                    <td>{{ file.label }}</td>
                                    <td>{{ file.original_filename }}</td>
                                    <td>Manuscript</td>
                                    <td>{{ file.date_modified|date:"Y-m-d G:i" }}</td>
                                    <td>
                                        <a href="{% url 'editor_file_download' article.pk file.pk %}"><i
                                                class="fa fa-download">&nbsp;</i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for file in article.data_figure_files.all %}
                                <tr>
                                    <td><input type="checkbox" name="files"
                                               value="{{ file.id }}"
                                               {% if file in typeset.files_for_typesetting.all %}checked="checked"{% endif %}>
                                    </td>
                                    <td>{{ file.label }}</td>
                                    <td>{{ file.original_filename }}</td>
                                    <td>Data/Figure</td>
                                    <td>{{ file.date_modified|date:"Y-m-d G:i" }}</td>
                                    <td>
                                        <a href="{% url 'editor_file_download' article.pk file.pk %}"><i
                                                class="fa fa-download">&nbsp;</i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            {% for file in copyedit_files %}
                                <tr>
                                    <td><input type="checkbox" name="files"
                                               value="{{ file.id }}"
                                               {% if file in typeset.files_for_typesetting.all %}checked="checked"{% endif %}>
                                    </td>
                                    <td>{{ file.label }}</td>
                                    <td>{{ file.original_filename }}</td>
                                    <td>Copyedit</td>
                                    <td>{{ file.date_modified|date:"Y-m-d G:i" }}</td>
                                    <td>
                                        <a href="{% url 'editor_file_download' article.pk file.pk %}"><i
                                                class="fa fa-download">&nbsp;</i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                        <p>You can also edit the details of the typesetting
                            task.</p>
                        <textarea cols="40" id="id_typeset_task"
                                  name="typeset_task" rows="10"
                                  data-origin="textarea">{{ typeset.typeset_task }}</textarea>
                        <button class="button success" type="submit"
                                name="update"><i class="fa fa-check">&nbsp;</i>Update
                            Task
                        </button>

                    {% elif typeset.status == 'declined' %}

                        <p>This typesetting task has been declined. If this was
                            done in error you can
                            reset it here.</p>
                        <button class="button" name="reset"><i
                                class="fa fa-recycle"></i> Reset
                        </button>

                    {% else %}
                        <p>This typesetting task has been accepted so cannot be
                            edited.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="large-4 columns end">
            <div class="box">
                <div class="title-area">
                    <h2>Delete Assignment</h2>
                </div>
                <div class="content">
                    <p>You can delete the typesetting assignment using the
                        button below. Some information will be
                        retained in the journal logs. If the assignment has
                        already been completed you will not be
                        allowed to delete it.</p>
                    {% if not typeset.completed %}
                        <button type="submit" name="delete"
                                class="alert button"><i class="fa fa-trash">&nbsp;</i>Delete
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block js %}
    {% include "elements/datepicker.html" with target="#id_due" %}
    {% include "elements/jqte.html" %}
{% endblock %}