{% extends "admin/core/base.html" %}
{% load static %}

{% load roles %}
{% load securitytags %}

{% block title %}Production{% endblock title %}
{% block title-section %}Production{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "elements/breadcrumbs/production_manager_base.html" %}
{% endblock breadcrumbs %}

{% block body %}
    {% user_has_role request 'editor' as user_is_editor %}
    {% is_production as production %}
    {% is_editor as editor %}
    {% is_section_editor as section_editor %}
    <div class="row expanded column">
        <div class="kanban">
            <div class="inner">
                {% if editor or section_editor %}
                    <div class="box">
                        <div class="title-area">
                            <h2>Awaiting Assignment</h2>
                        </div>
                        <div class="content">
                            {% for article in production_articles %}
                                {% include "elements/production/card.html" with request=request type="assignment" %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="box">
                        <div class="title-area">
                            <h2>In Progress</h2>
                        </div>
                        <div class="content">
                            {% for article in assigned_articles %}
                                {% include "elements/production/card.html" with request=request type="assigned" %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% if production %}
                    <div class="box">
                        <div class="title-area">
                            <h2>Assigned to Me</h2>
                        </div>
                        <div class="content">
                            {% for article in my_articles %}
                                {% include "elements/production/card.html" with request=request type="assigned" %}
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% for article in production_articles %}
        <div class="reveal small" id="modal{{ article.pk }}" data-reveal data-animation-in="slide-in-up"
         data-animation-out="slide-out-down">
        <div class="card">
            <div class="card-divider">
                <h4><i class="fa fa-pencil-square">&nbsp;</i>{{ article.title|safe }}</h4>
            </div>
            <div class="card-section">
                <div class="large-10 columns">
                    <h4>Summary</h4>
                    <div class="hline"></div>
                    <table class="scroll">
                        <tr>
                            <th>Authors</th>
                            <th>Section</th>
                            <th>License</th>
                            <th>Language</th>
                        </tr>
                        <tr>
                            <td>{{ article.author_list }}</td>
                            <td>{{ article.section.name }}</td>
                            <td>{{ article.license }}</td>
                            <td>{{ article.get_language_display }}</td>
                        </tr>
                    </table>
                    <h4>Tasks</h4>
                    <p>Below is a list of tasks that are required to be complete in order to move the article to the
                        next stage.</p>
                    <p><i class="fa fa-check-circle">&nbsp;</i>Assign Production Manager: </p>
                    {% for production_manager in production_managers %}
                        <div class="line-item">
                            <span class="title">
                                <a href="{% url 'production_assign_article' article.pk production_manager.user.id %}">{{ production_manager.user.full_name }}</a>
                            </span>
                        </div>
                    {% endfor %}
                    <div class="line-item">
                        <span class="title">
                            <a href="{% url 'core_manager_role' 'production' %}"><i class="fa fa-plus">&nbsp;</i>Enrol New Production Managers</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

{% endblock body %}
