{% load i18n %}

<section>
  <div class="row" class="homepage-element" id="homepage-element-search-bar">
      <div class="col-md-12">
        {% if request.journal %}
          <form method="get" action="{% journal_url 'search' %}">
        {% else %}
          <form method="get" action="/search">
        {% endif %}
            <div class="input-group mb-12" id="article_search">
            <input id="sort" name="sort" type="hidden" value="relevance">
            <input id="title" name="title" type="hidden" value="on">
            <input id="abstract" name="abstract" type="hidden" value="on">
            <div class="input-group-prepend">
                <div class="input-group-text">
                  <span class="fa fa-search"></span>
                </div>
            </div>
              <input name="article_search" class="form-control" type="text" placeholder="{% trans 'Search term' %}">
              <input type="submit" class="btn btn-primary" value="Search">
            </div>
          </form>
      </div>
  </div>
</section>
