beautifulsoup4==4.9.3
boto==2.46.1
bs4==0.0.1
colorlog==3.1.4
chardet==3.0.4
crossrefapi
Django==1.11.29
-e git+https://github.com/GabrielUlici/django-bootstrap4@d230ec23d9f8f08c1505e0679ce0c6dba8090f0a#egg=django_bootstrap4
-e git+https://github.com/BirkbeckCTP/django-foundation-form.git#egg=foundationform
django-debug-toolbar==1.11.1
django-modeltranslation==0.13
-e git+https://github.com/BirkbeckCTP/django-mailgun.git#egg=django-mailgun
django-markdown-deux==1.0.5
django-settings-export==1.2.1
-e git+https://github.com/BirkbeckCTP/django-simple-math-captcha@1.11_fix#egg=django-simple-math-captcha
django-recaptcha2==1.0.3
django-hCaptcha==0.2.0
django-summernote==0.8.11.1
djangorestframework==3.11.2
-e git+https://github.com/BirkbeckCTP/django-dynamicsites@f439c524cf964d957a75fbec4b23ad03a9a5d159#egg=dynamicsites
-e git+https://github.com/BirkbeckCTP/ebooklib@b7005c57602eeea06358ac569a4cf52c630a32ef#egg=ebooklib
enum34==1.1.6
html2text==2017.10.4
idna==2.7
ipaddress==1.0.16
jsmin==2.2.1
kitchen==1.2.4
libsass==0.11.1
lxml==4.9.1
markdown2
mock
mozilla-django-oidc==1.2.4
mysqlclient==1.3.12
orcid==1.0.3
pdfkit
pdfminer
Pillow>=8.4.0
psycopg2-binary~=2.8.0
pyasn1==0.1.9
pycparser==2.14
PyJWT==2.4.0
python-crontab==2.2.3
python-dateutil==2.8.1
python-magic==0.4.13
python-docx==0.8.6
raven==6.0.0 # TODO: Optional for sentry
requests==2.25.1
six==1.14.0
sqlparse==0.2.3
ua-parser==0.7.2
user-agents==1.0.1
-e git+https://github.com/BirkbeckCTP/django-materialize.git@97328e75a6ae723eff1035dd553a29e33a4ce530#egg=django_materialize
django-hijack==2.1.10
geoip2==3.0.0 # Newer versions require python >= 3.6
maxminddb==1.5.4
freezegun==1.2.0
swapper
