beautifulsoup4==4.4.1
boto==2.46.1
bs4==0.0.1
chardet==2.3.0
Django==1.11.5
-e git+https://github.com/GabrielUlici/django-bootstrap4@d230ec23d9f8f08c1505e0679ce0c6dba8090f0a#egg=django_bootstrap4
-e git+https://github.com/BirkbeckCTP/django-foundation-form.git#egg=foundationform
django-debug-toolbar==1.8
django-hvad==1.8.0
-e git+https://github.com/BirkbeckCTP/django-mailgun.git#egg=django-mailgun
django-markdown-deux==1.0.5
django-settings-export==1.2.1
django-simple-math-captcha==1.0.7
django-recaptcha2==1.0.3
django-summernote==0.8.8.1
djangorestframework==3.6.3
-e git+https://github.com/BirkbeckCTP/django-dynamicsites@#egg=dynamicsites
-e git+https://github.com/BirkbeckCTP/ebooklib@b7005c57602eeea06358ac569a4cf52c630a32ef#egg=ebooklib
enum34==1.1.6
html2text==2017.10.4
idna==2.1
ipaddress==1.0.16
jsmin==2.2.1
kitchen==1.2.4
libsass==0.11.1
lxml==3.6.4
markdown2==2.3.0
mock
mysqlclient
pdfkit
Pillow==3.1.1
pyasn1==0.1.9
pycparser==2.14
python-crontab==2.2.3
python-dateutil==2.6.0
python-magic==0.4.13
raven==6.0.0 # TODO: Optional for sentry
requests==2.9.1
six==1.10.0
sqlparse==0.2.3
ua-parser==0.7.2
user-agents==1.0.1
-e git+https://github.com/BirkbeckCTP/django-materialize.git@bcfbfd9150887328dddce965674c84b2b6e6b785#egg=django_materialize
