{% load i18n %}
{% load static %}

<div class="row">
    <div class="col-md-12">
        <h2 class="sr-only">{% trans 'Latest Articles & News' %}</h2>
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" aria-roledescription="carousel" aria-label="News and article carousel">
                {% for carousel_item in carousel_items %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}" role="group" aria-roledescription="slide" aria-label="{{ forloop.counter }} of {{ carousel_item|length }}">
                      <div class="clean-banner explicit-image-height">
                        <img class="d-block clean-banner-image"
                          src="{{ carousel_item.best_large_image_url }}"
                          alt="{{ carousel_item.best_image_alt_text }}">
                      </div>
                        <div class="carousel-caption d-none d-md-block" style="min-width: 100%;">
                          <p>{{ carousel_item.carousel_subtitle|safe }}</p>
                          <h3><a href="{{ carousel_item.url }}">{{ carousel_item.carousel_title|truncatechars_html:200|safe }}</a></h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev background-button" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">{% trans 'Previous' %}</span>
            </button>
            <button class="carousel-control-next background-button" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">{% trans 'Next' %}</span>
            </button>
              <div id="carousel-buttons">
                <button id="carousel-play" type="button" class="btn btn-secondary btn-sm">
                  <i aria-hidden="true" class="fa fa-play" ></i>
                  <span class="sr-only">{% trans 'Play' %}</span>
               </button>
                <button id="carousel-pause" type="button" class="btn btn-secondary btn-sm">
                  <i aria-hidden="true" class="fa fa-pause" ></i>
                  <span class="sr-only">{% trans 'Pause' %}</span>
                </button>
              </div>
        </div>
    </div>
</div>
