{% load i18n %}

<div class="row">
    <div class="col-md-12">
        <h1 class="sr-only">{% trans 'Latest Articles & News' %}</h1>
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" aria-roledescription="carousel" aria-label="News and article carousel">
                {% for carousel_item in carousel_items %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %} carousel-min" role="group" aria-roledescription="slide" aria-label="{{ forloop.counter }} of {{ carousel_item|length }}">
                        <img class="d-block img-fluid article-img carousel-min"
                                {% if carousel_item.large_image_file.id %}
                                {# Article or News Item #}
                             src="{% url carousel_item.carousel_image_resolver 'id' carousel_item.id carousel_item.large_image_file.id %}"
                                {% elif carousel_item.hero_image_url %}
                                {# Issue or Collection #}
                             src="{{ carousel_item.hero_image_url }}"
                                {% elif journal.default_large_image %}
                             src="{{ journal.default_large_image.url }}"
                                {% else %}
                             src=""
                                {% endif %}
                             alt="{{ carousel_item.carousel_title|striptags }}">
                        <div class="carousel-caption d-none d-md-block" style="min-width: 100%;">
                             <p>{{ carousel_item.carousel_subtitle }}</p>
                             <h2>{{ carousel_item.carousel_title|safe|truncatechars:200 }}</h2>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">{% trans 'Previous' %}</span>
            </a>
            <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">{% trans 'Next' %}</span>
            </a>
              <div id="carousel-buttons">
                <button id="carousel-play" type="button" class="btn btn-secondary btn-sm">
                  <span class="fa fa-play">
                    <span class="sr-only">{% trans 'Play' %}</span>
                  </span>
               </button>
                <button id="carousel-pause" type="button" class="btn btn-secondary btn-sm">
                  <span class="fa fa-pause">
                    <span class="sr-only">{% trans 'Play' %}</span>
                  </span>
                </button>
              </div>
        </div>
    </div>
</div>
