<div class="row row-smaller-gutters">
    <div class="col-md-12">
        <br/>
        <h1 class="index-header">{% trans 'Featured Journals' %}</h1>
    </div>
    {% for current_journal in featured_journals %}
        <div class="col-md-2 row-eq-height small-gutters">
            <div class="card" style="width: 20rem;">
                <img class="card-img-top img-fluid"
                     src="{% if current_journal.default_cover_image %}{{ current_journal.default_cover_image.url }}{% endif %}"
                     alt="{{ current_journal.name }}'s cover image.">
                <div class="card-block">
                    {% if current_journal.is_remote %}
                        <a href="{{ current_journal.remote_view_url }}">
                    {% else %}
                        <a href="{{ current_journal.site_url }}">
                    {% endif %}
                    <p class="journal-card-title">{{ current_journal.name }}</p>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
