{% load svg from press_url %}
{% load truncate %}
{% load i18n %}

<section>
    <div class="row">
        <div class="col-md-12">
            <h2 class="index-header">{% trans "Latest News" %}</h2>
        </div>
        {% for item in news_items %}
            <div class="col-md-6 row-eq-height">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ item.posted_by.full_name }} on {{ item.posted|date:"Y-m-d" }}</h6>
                        <p class="card-text mb-auto">{{ item.body|striptags|truncatesmart:400 }}</p>
                        <a href="{% url 'core_news_item' item.pk %}" class="card-link">{% trans "Read More" %}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>