{% load static %}
{% load i18n %}

<section aria-labelledby="popular-title">
<div class="row">
    <div class="col-md-12">
        {% if most_downloaded %}
            <h2 id="popular-title" class="index-header">{% trans 'Most Popular Articles' %}</h2>
        {% else %}
            <h2 id="popular-title" class="index-header">{% trans 'Featured Articles' %}</h2>
        {% endif %}
    </div>
    {% for article in popular_articles %}
      {% include "journal/homepage_elements/article_list_item.html" %}
    {% endfor %}
</div>
</section>
