{% load static %}
{% load i18n %}

<section aria-labelledby="popular-title">
<div class="row">
    <div class="col-md-12">
        {% if most_downloaded %}
            <h2 id="popular-title" class="index-header">{% trans 'Most Popular Articles' %}</h2>
        {% else %}
            <h2 id="popular-title" class="index-header">{% trans 'Featured Articles' %}</h2>
        {% endif %}
    </div>
    {% for article in popular_articles %}
        <div class="col-md-4 row-eq-height">
            <div class="card">
                {% if not journal_settings.article.disable_article_large_image %}
                    {% if article.large_image_file %}
                        <img src="{% url 'article_file_download' 'id' article.id article.large_image_file.id %}"
                             alt="{{ article.title|striptags }}"
                             class="card-img-top">
                    {% elif article.issue.large_image %}
                        <img src="{{ article.issue.large_image.url }}"
                             alt="{{ article.title|striptags }}"
                             class="card-img-top">
                    {% elif article.journal.default_large_image %}
                        <img src="{{ article.journal.default_large_image.url }}"
                             alt="{{ article.title|striptags }}"
                             class="card-img-top">
                    {% else %}
                        <img src="{% static 'common/img/sample/article-small.jpg' %}"
                             alt="{{ article.title|striptags }}"
                             class="card-img-top">
                    {% endif %}
                {% endif %}
                <div class="card-body">
                    <h3 class="sr-only">{{ article.title }}</h3>
                    <p class="card-text">{{ article.author_list }}</p>
                    <p class="card-text"><strong>
                        {% if article.is_remote %}
                            <a href="{{ article.remote_url }}" target="_blank">
                                {{ article.title|safe|truncatechars:200 }}
                                {% include "elements/icons/link_external.html" %} 
                            </a>
                        {% else %}
                            <a href="{{ article.url }}">
                                {{ article.title|safe|truncatechars:200 }}
                            </a>
                        {% endif %}
                    </strong></p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</section>