{% extends "admin/core/base.html" %}
{% load static %}

{% block css %}
    <link href="{% static "common/css/jquery-te-1.4.0.css" %}" rel="stylesheet">{% endblock %}
{% block title %}Complete Proofing{% endblock title %}
{% block title-section %}Complete Proofing{% endblock %}
{% block title-sub %}#{{ article.pk }} / {{ article.correspondence_author.last_name }} / {{ article.title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "elements/breadcrumbs/proofing_manager_base.html" %}
{% endblock breadcrumbs %}

{% block body %}

    <div class="box">
        <div class="title-area">
            <h2>Notify the Editors</h2>
        </div>
        <div class="content">
            <p>You can send a message to the editors or skip it.</p>
            <div class="card">
                <form method="POST">
                    {% csrf_token %}
                    <div class="card-divider">
                        <h4>To Article Editors <em>
                            {% for email in article.editor_emails %}{{ email }}{% if not forloop.last %},
                            {% endif %}{% endfor %}</em></h4>
                        <h5>From {{ request.user.full_name }}</h5>
                    </div>
                    <div class="card-section">
                        <p>Subject: <strong>Proofreading Complete</strong></p>
                        <textarea rows="10" name="content_email">{{ message|linebreaksbr }}</textarea>
                    </div>
                    <div class="card-divider">
                        <div class="button-group">
                            <button type="submit" class="button success" name="send"><i class="fa fa-envelope-o">
                                &nbsp;</i>Send
                            </button>
                            <button type="submit" class="button warning" name="skip"><i class="fa fa-step-forward">
                                &nbsp;</i>Skip
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock body %}

{% block js %}
    {% include "elements/jqte.html" %}
{% endblock js %}
