{% extends "admin/core/base.html" %}
{% load static %}

{% load securitytags %}

{% block title %}Proofing Correction Requests{% endblock title %}
{% block title-section %}Proofing Correction Requests{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "elements/breadcrumbs/proofreader_base.html" %}
    <li>Correction Requests</li>
{% endblock breadcrumbs %}

{% block body %}
    <div class="row expanded column">
        <div class="kanban">
            <div class="inner">
                <div class="box">
                    <div class="title-area">
                        <h2>Awaiting Decision</h2>
                    </div>
                    <div class="content">
                        {% for task in new_typesetting_requests %}
                            {% include "elements/proofing/proofreader_correction_card.html" with type="assignment" %}
                        {% endfor %}
                    </div>
                </div>
                <div class="box">
                    <div class="title-area">
                        <h2>In Progress</h2>
                    </div>
                    <div class="content">
                        {% for task in active_typesetting_requests %}
                            {% include "elements/proofing/proofreader_correction_card.html" with type="assigned" %}
                        {% endfor %}
                    </div>
                </div>
                <div class="box">
                    <div class="title-area">
                        <h2>Completed</h2>
                    </div>
                    <div class="content">
                        {% for task in completed_typesetting_requests %}
                            {% include "elements/proofing/proofreader_correction_card.html" with type="complete" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock body %}
