{% extends "admin/core/base.html" %}
{% load securitytags %}
{% load files %}
{% load foundation %}

{% block title %}#{{ proofing_task.pk }} - {{ proofing_task.proofreader.full_name }}{% endblock %}
{% block title-section %}#{{ proofing_task.pk }} - {{ proofing_task.proofreader.full_name }}{% endblock %}
{% block title-sub %}#{{ article.pk }} / {{ article.correspondence_author.last_name }} / {{ article.safe_title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "elements/breadcrumbs/proofing_manager_base.html" with subpage="yes" %}
    <li>#{{ proofing_task.pk }} - {{ proofing_task.proofreader.full_name }}</li>
{% endblock breadcrumbs %}



{% block body %}
    <form method="POST">
        {% csrf_token %}
        <div class="large-8 columns">
            <div class="box">
                <div class="title-area">
                    <h2>Manage Assignment</h2>
                </div>
                <div class="content">
                    {% if not proofing_task.accepted and not proofing_task.completed %}
                    {% include "elements/forms/errors.html" %}
                    <h5>Galleys</h5>
                    <p>
                        <small>Select the Galleys for this proofing task.</small>
                    </p>
                    <table class="small scroll">
                        <tr style="text-align: left">
                            <th></th>
                            <th>Label</th>
                            <th width="25%">Filename</th>
                            <th>Type</th>
                            <th>Download</th>
                            <th>History</th>
                        </tr>
                        {% for galley in article.galley_set.all %}
                            {% can_view_file galley.file as can_view_file_flag %}
                            {% can_view_file_history galley.file article as can_view_file_history_flag %}
                            <tr>
                                <td><input type="checkbox" name="galleys_for_proofing" value="{{ galley.id }}"
                                           {% if galley in galleys %}checked="checked"{% endif %}></td>
                                <td>{{ galley.label }}</td>
                                <td>{{ galley.file.original_filename|truncatechars:40 }}</td>
                                <td>Galley</td>
                                <td>{% if can_view_file_flag %}
                                    <a href="{% url 'article_file_download' 'id' article.pk galley.file.pk %}"><i
                                            class="fa fa-download">&nbsp;</i></a>{% endif %}
                                </td>
                                <td>{% if can_view_file_history_flag %}
                                    <a href="{% url 'file_history' article.pk galley.file.pk %}?return={{ request.path|urlencode }}"><i
                                            class="fa fa-history">
                                        &nbsp;</i></a>{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>

                    {{ form.task|foundation }}
                    {{ form.due|foundation }}
                    <button class="button success" type="submit" name="update"><i class="fa fa-check">&nbsp;</i>Update
                        Task
                    </button>
                {% else %}
                <p>This task is either underway, declined or completed and as such cannot be edited.</p>
                {% endif %}
                </div>
            </div>
        </div>
        <div class="large-4 columns end">
            <div class="box">
                <div class="title-area">
                    <h2>Actions</h2>
                </div>
                <div class="content">
                    {% if proofing_task.status.slug == 'declined' %}
                        <p>You can reset this task if it has ben inadvertently
                        declined by the proofreader.</p>
                        <button type="submit" name="reset" class="success button">
                            <i class="fa fa-refresh">&nbsp;</i>Reset
                        </button>
                    {% elif proofing_task.status.slug == 'completed' %}
                        <p>This task has been completed and cannoted be deleted
                        via this interface.</p>
                    {% else %}
                    <p>You can delete the proofreading assignment using the button below. Some information will be
                        retained in the journal logs. If the assignment has already been completed you will not be
                        allowed to delete it.</p>
                        <button type="submit" name="delete" class="alert button"><i class="fa fa-trash">&nbsp;</i>Delete
                        </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block js %}
    {% include "elements/datepicker.html" with target="#id_due" %}
    {% include "elements/jqte.html" %}
{% endblock %}