{% extends "admin/core/base.html" %}
{% load static %}

{% block css %}<link href="{% static "common/css/jquery-te-1.4.0.css" %}" rel="stylesheet">{% endblock %}
{% block title %}Notify Proofreader{% endblock title %}
{% block title-section %}Notify Proofreader{% endblock %}
{% block title-sub %}#{{ article.pk }} / {{ article.correspondence_author.last_name }} / {{ article.safe_title }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% include "elements/breadcrumbs/proofing_manager_base.html" with subpage="yes" %}
<li>Notify Proofreader</li>
{% endblock breadcrumbs %}

{% block body %}

    <div class="box">
        <div class="content">
            <p>You can send a message to the proofreader or skip it.</p>
            <div class="card">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="card-divider">
                        <h4>To {{ proofing_task.proofreader.full_name }}</h4>
                        <h5>From {{ request.user.full_name }}</h5>
                    </div>
                    <div class="card-section">
                        <p>Subject: <strong>Proofreader Request</strong></p>
                        <textarea rows="10" name="content_email">{{ user_message_content|linebreaksbr }}</textarea>
                        <label for="attachment"><p>Attachment (You can select multiple files): </p></label>
                        <input type="file" name="attachment" multiple>
                    </div>
                    <div class="card-divider">
                        <div class="button-group">
                            <button type="submit" class="button success" name="send"><i class="fa fa-envelope-o">&nbsp;</i>Send</button>
                            <button type="submit" class="button warning" name="skip"><i class="fa fa-step-forward">&nbsp;</i>Skip</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock body %}

{% block js %}
	{% include "elements/jqte.html" %}
{% endblock js %}
