{% extends "core/base.html" %}
{% load i18n %}

{% block page_title %}{% trans "Issue" %} {{ issue }}{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
    <section id="content">
        <div class="row column">
            {% if request.META.maintenance_mode %}
            <h2>{% trans 'Maintenance Mode' %}</h2>
            <p>{{ request.META.maintenance_mode.value|safe }}</p>
            {% else %}
            <h2>{% trans "Permission Denied" %}</h2>
             {% if exception %}
              <p>{{ exception }}</p>
            {% endif %}
            {% endif %}
        </div>
    </section>
{% endblock body %}
