{% extends "core/base.html" %}
{% load static from staticfiles %}

{% block title %}Authors{% endblock title %}
{% block page_title %}Authors{% endblock page_title %}

{% block body %}

    <h3>Authors</h3>
    <div class="row">

        {% for author in author_list %}
            <div class="col-md-3 row-eq-height">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top img-fluid editorial-image" src="{% if author.profile_image %}{{ author.profile_image.url }}{% else %}{% static "common/img/icons/users.png" %}{% endif %}"
                         alt="Card image cap">
                    <div class="card-block">
                        <h5 class="card-title">{{ author.full_name }}</h5>
                        <p>
                            <small>{{ author.affiliation }}</small>
                        </p>
                        
                        {% if author.enable_public_profile %}
                            <p>
                                <small>
                                    <a href="{% url 'core_public_profile' author.uuid %}">View Profile</a>
                                </small>
                            </p>
                        {% endif %}
                        
                        {% include "elements/journal/editorial_social_content.html" with user=author %}
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>

{% endblock body %}