{% extends "core/base.html" %}
{% load static from staticfiles %}
{% load hooks %}

{% block page_title %}Collections{% endblock %}
{% block title %}Collections{% endblock %}

{% block body %}

    <div class="row">
        {% for collection in collections %}
            <div class="col-md-4 row-eq-height">
                <div class="card" style="width: 20rem;">
                    <img class="card-img-top img-fluid" src="{% if collection.large_image %}{{ collection.large_image.url }}{% else %}{% static 'common/img/sample/article-small.jpg' %}{% endif %}" alt="Card image cap">
                    <div class="card-block">
                        <a href="{% url 'journal_collection' collection.pk %}">
                            <h4 class="card-title">{{ collection.issue_title }}</h4>
                        </a>
                        <p class="card-text"><small>Launched: {{ collection.date|date:"d/m/y" }}</small></p>
                        <p class="card-text">{{ collection.issue_description|safe }}</p>
                    </div>
                </div>
            </div>
        {% empty %}
            <h4>There are no collections to display</h4>
        {% endfor %}
    </div>


{% endblock %}