{% extends "core/base.html" %}
{% load static from staticfiles %}

{% block title %}Editorial Team{% endblock title %}
{% block page_title %}Editorial Team{% endblock page_title %}

{% block body %}

    {% for group in editorial_groups %}
        <div class="row">
            <div class="col-md-12">
                <h2>{{ group.name }}</h2>
                {% if group.description %}<p>{{ group.description|linebreaksbr }}</p>{% endif %}
            </div>
            {% for member in group.members %}
                <div class="col-md-3 row-eq-height">
                    <div class="card" style="width: 20rem;">
                        {% if journal_settings.general.enable_editorial_images %}
                            <img class="card-img-top img-fluid editorial-image" src="{% if member.user.profile_image %}{{ member.user.profile_image.url }}{% else %}{% static "common/img/icons/users.png" %}{% endif %}"
                             alt="Card image cap">
                        {% endif %}
                        <div class="card-block">
                            <h5 class="card-title">{{ member.user.full_name }}</h5>
                            <p>
                                <small>{{ member.user.affiliation }}</small>
                            </p>
                            {% if member.user.enable_public_profile %}
                                <p>
                                    <small><a href="{% url 'core_public_profile' member.user.uuid %}">View Profile</a>
                                    </small>
                                </p>{% endif %}
                            {% include "elements/journal/editorial_social_content.html" with user=member.user %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

{% endblock body %}
