{% extends "core/base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block title %}{% trans 'Submissions' %}{% endblock title %}
{% block page_title %}{% trans 'Submissions' %}{% endblock page_title %}

{% block css %}
    <style>
        .fa-check {
            color: green;
        }
        .fa-times {
            color: darkred;
        }
    </style>
{% endblock %}

{% block body %}
        <div class="row">
            <div class="col-md-8">
                {% if journal_settings.general.disable_journal_submission %}
                <p><strong>{% trans 'Submission is currently disabled for this journal.' %}</strong></p>
                {% endif %}
                {{ journal_settings.general.submission_intro_text|safe }}

                {% if not journal_settings.general.disable_journal_submission %}
                <div class="button-group">
                    {% if not request.user.is_authenticated %}<a href="{% url 'core_register' %}" class="btn btn-primary">{% trans 'Register' %}</a>
                    <a href="{% url 'core_login' %}" class="btn btn-primary">{% trans 'Login' %}</a>{% else %}
                    <a href="{% url 'submission_start' %}" class="btn btn-primary">{% trans 'Start Submission' %}</a>{% endif %}
                </div>
                {% endif %}
                <hr />
                {% if journal_settings.general.journal_description %}
                <h2>{% trans 'About' %} {{ request.journal.name }}</h2>
                {{ journal_settings.general.journal_description|safe }}
                <hr />
                {% endif %}
                {% if journal_settings.general.focus_and_scope %}
                <h2>{% trans 'Focus and Scope for' %} {{ request.journal.name }}</h2>
                {{ journal_settings.general.focus_and_scope|safe }}
                <hr />
                {% endif %}
                {% if journal_settings.general.peer_review_info %}
                <h2>{% trans 'Peer Review' %}</h2>
                {{ journal_settings.general.peer_review_info|safe }}
                <hr/>
                {% endif %}
                {% if journal_settings.general.submission_checklist %}
                <h2>{% trans 'Submission Checklist' %}</h2>
                {{ journal_settings.general.submission_checklist|safe }}
                <hr />
                {% endif %}
                {% if not journal_settings.general.acceptance_criteria == '' %}
                <h2>{% trans 'Acceptance Criteria' %}</h2>
                {{ journal_settings.general.acceptance_criteria|safe }}
                <hr />
                {% endif %}
                {% if journal_settings.general.copyright_notice %}
                <h2>{% trans 'Copyright Notice' %}</h2>
                {{ journal_settings.general.copyright_notice|safe }}
                <hr />
                {% endif %}
                <h2>{% trans 'Licences' %}</h2>
                <p>{{ request.journal.name }} {% trans "allows the following licences for submission" %}:</p>
                {% include "elements/license_block.html" %}
                <hr />
                {% if journal_settings.general.publication_fees %}
                <h2>{% trans 'Publication Fees' %}</h2>
                {{ journal_settings.general.publication_fees|safe }}
                <hr />
                {% endif %}
                {% if journal_settings.general.publication_cycle %}
                <h2>{% trans 'Publication Cycle' %}</h2>
                {{ journal_settings.general.publication_cycle|safe }}
                <hr/>
                {% endif %}
                <h2>{% trans 'Sections' %}</h2>
                    <div class="row">
                        <div class="col-md-6 columns">

                        </div>
                        <div class="col-md-2 columns">
                            <p>Public Submissions</p>
                        </div>
                        <div class="col-md-2 columns">
                            <p>Peer Reviewed</p>
                        </div>
                        <div class="col-md-2 columns">
                            <p>Indexed</p>
                        </div>
                    </div>
                    <hr/>
                {% for section in sections %}
                    <div class="row">
                        <div class="col-md-6 columns">
                            <p>{{ section.name }}</p>
                        </div>
                        <div class="col-md-2 columns">
                            <strong>{% if section.public_submissions %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</strong>
                        </div>
                        <div class="col-md-2 columns">
                            <strong>{% if section.number_of_reviewers > 0 %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</strong>
                        </div>
                        <div class="col-md-2 columns">
                            <strong>{% if section.indexing %}<i class="fa fa-check"></i>{% else %}<i class="fa fa-times"></i>{% endif %}</strong>
                        </div>
                        <hr />
                    </div>
                {% endfor %}
            </div>

		</div>
{% endblock body %}
