{% extends "core/base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}{% trans "Submit an Article" %}{% endblock title %}

{% block body %}
    <article>
        <form method="POST">
            <section id="content" class="no-padding">
                <div class="row column">
                    <h1>{% trans "Author Agreement" %}</h1>
                    <p>{% trans "Please carefully read through the statements below before checking items" %}.</p>
                    {% csrf_token %}

                    {% include "submission/timeline.html" with data=article %}

                    <h4>{% trans "Publication Fees" %}</h4>
                    {{ journal_settings.general.publication_fees|safe }}

                    {{ form.publication_fees }}&nbsp;&nbsp;<label for="id_publication_fees">{% trans "Author(s) agrees to the above statement" %}</label>

                    <hr />

                    <h4>{% trans "Submission Checklist" %}</h4>
                    {{ journal_settings.general.submission_checklist|safe }}

                    {{ form.submission_requirements }}&nbsp;&nbsp;<label for="id_submission_requirements">{% trans "Author(s) confirms that this article adheres to the above requirements" %}</label>

                    <hr />

                    <h4>{% trans "Copyright Notice" %}</h4>
                    {{ journal_settings.general.copyright_notice|safe }}

                    {{ form.copyright_notice }}&nbsp;&nbsp;<label for="id_copyright_notice">{% trans "Author(s) agrees to copyright notice, which will apply to this submission if accepted" %}</label>

                    <hr />

                    {% if journal_settings.general.submission_competing_interests %}
                    <h4>{% trans "Competing Interests" %}</h4>
                    <textarea class="form-control" cols="40" id="id_competing_interests" name="competing_interests" placeholder="{% trans "If you have any competing interests that may effect this article, enter information here." %}." rows="10" title=""></textarea>

                    <hr />
                    {% endif %}

                    <h4>{% trans "Comments to the Editor" %}</h4>
                    <textarea class="form-control" cols="40" id="id_comments_editor" name="comments_editor" placeholder="{% trans "If you have any information you'd like to supply to the editor, do so here" %}." rows="10" title=""></textarea>

                    <hr />

                    <button class="success button pull-right" type="submit" name="start_submission"><i class="fa fa-check">&nbsp;</i>{% trans "Start Submission" %}</button>
                </div>
            </section>
        </form>
    </article>

{% endblock body %}