{% extends "core/base.html" %}
{% load i18n %}

{% block title %}{{ request.repository.name }}{% endblock %}

{% block navbar %}
    {% include "press/nav.html" %}
{% endblock navbar %}

{% block body %}

    <section id="content">
        <div class="row column">
            <div class="large-12 columns">
                <h2 class="text-center">{% trans "About" %} {{ request.repository.name }}</h2>
                {% if request.press.preprints_about %}
                    {{ request.press.preprints_about|safe }}
                {% else %}
                    <p></p>
                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}