{% extends "core/base.html" %}
{% load static from staticfiles %}
{% load hooks %}
{% load i18n %}
{% load foundation %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}

    <div class="row">
        <br/><br/>
        <div class="large-12 columns">
            <h3>{{ article.title|safe }}</h3>
            <h6>{% for subject in article.subject_set.all %}{{ subject.name }}{% if not forloop.last %},
            {% endif %}{% endfor %}</h6>
            <p>
                <small>{% trans "This is a preprint, it has not been peer reviewed or had any extensive editorial over-sight." %}
                    {% if preprint.doi %}{% trans 'It has been publ %}
                </small>
            </p>
        </div>
        <div class="large-8 columns">
            <h5>{% trans "Authors" %}</h5>
            <p>
                <small>
                    {% for author in article.authors.all %}
                        {% if forloop.last %}
                            {% if article.authors.all|length > 1 %} &{% endif %}
                        {% endif %}
                        {{ author.full_name }}
                        {% if not forloop.last %}
                            {% if not forloop.counter == article.authors.all|length|add:-1 %},
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </small>
            </p>
            <h5>{% trans "Abstract" %}</h5>
            <p>
                <small>{{ article.abstract|safe }}</small>
            </p>
            <div itemprop="articleBody" id="pdf">
                {% if html %}
                    <h5>Preprint Body</h5>
                    {{ html|safe }}
                {% elif pdf %}
                    <iframe src="{% url 'preprints_pdf' article.pk %}?file={% url 'article_download_galley' article.id pdf.id %}"
                            width="100%" height="100%" style="min-height: 900px;" allowfullscreen
                            webkitallowfullscreen></iframe>
                {% endif %}
                <h5>{% trans 'Comments' %}</h5>
                {% if request.user.is_authenticated %}
                    <div>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|foundation }}
                            <button type="submit" class="success button">Add Comment</button>
                        </form>
                    </div>
                {% endif %}

                {% for comment in comments %}
                    <div class="callout">
                        <div class="row" id="comment-{{ comment.pk }}">
                            <div class="large-2 columns">
                                {% if comment.author.profile_image %}
                                    <img src="{{ comment.author.profile_image.url }}">
                                {% else %}
                                    <img src="{% static "common/img/icons/users.png" %}">
                                {% endif %}
                            </div>
                            <div class="large-10 columns">
                                <p>
                                    <small>Comment #{{ comment.pk }} {{ comment.author.full_name }}
                                        @ {{ comment.date_time }}</small>
                                </p>
                                <p>
                                    {{ comment.body }}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="callout">
                        <p>{% trans "There are no comments or no comments have been made public for this article." %}</p>
                    </div>
                {% endfor %}
                {% hook 'article_footer_block' %}
                {% include "elements/journal/citation_modals.html" with article=article %}
            </div>
        </div>
        <div class="large-3 columns">
            <div class="article-menu">
                <small>
                    <h5>{% trans "Download" %}</h5>
                    <ul>
                        {% for galley in galleys %}
                            <li>
                                <a href="{% url 'article_download_galley' article.id galley.id %}">{% trans "Download" %} {{ galley.label }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                    <h5>{% trans "Metadata" %}</h5>
                    <ul>
                        <li>{% trans "Published on" %} {{ article.date_published|date:"d M Y" }}</li>
                        <li>{% trans "License" %} <a href="{{ article.license.url }}" data-toggle="tooltip"
                                                     title="{{ article.license.text }}">{{ article.license.name }}</a>
                        </li>
                        {% if article.identifier.id_type == 'doi' %}
                            <li>{{ article.identifier }}</li>{% endif %}
                    </ul>
                    <h5>{% trans "Metrics" %}</h5>
                    <ul>
                        <li>{% trans "Views" %}: {{ article.metrics.views }}</li>
                        <li>{% trans "Downloads" %}: {{ article.metrics.downloads }}</li>
                    </ul>
                    <h5>{% trans "Citation" %}</h5>
                    <div class="button-group stacked">
                        <a data-open="HarvardModal" class="button">
                            Harvard-Style Citation
                        </a>
                        <a class="button" data-open="VancouverModal">
                            Vancouver-Style Citation
                        </a>
                        <a class="button" data-open="APAModal">
                            APA-Style Citation
                        </a>
                    </div>

                    <a href="{% url 'preprints_list' %}"><i class="fa fa-arrow-left"></i> {% trans "All Preprints" %}</a>

                    <p></p>

                    <h5>{% trans "Versions" %}</h5>
                    <ul>
                        {% for version in article.preprintversion_set.all %}
                            <li>{{ version.date_time }}<br/> <a
                                    href="{% url 'article_download_galley' article.id version.galley.id %}">{% trans "Download" %} {{ version.galley.label }}</a>
                            </li>
                            {% empty %}
                            <li>{% trans "This is the only version of the preprint." %}</li>
                        {% endfor %}
                    </ul>
                </small>
            </div>
        </div>
    </div>
{% endblock %}

