{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{{ request.press.name }} {% trans "Preprint Editors" %}{% endblock %}

{% block navbar %}
    {% include "press/nav.html" %}
{% endblock navbar %}

{% block body %}

    <section id="content">
        <div class="row column">
            <div class="large-12 columns">
                <h2 class="text-center">{{ request.press.name }} {% trans "Preprint Editors" %}</h2>
                {% for subject in subjects %}
                    <div class="row" data-equalizer data-equalize-on="medium">
                        <h4>{{ subject }}</h4>

                        {% for editor in subject.editors.all %}
                            <div class="medium-3 columns {% if forloop.last %}end{% endif %}">
                                <div class="{% if journal_settings.styling.enable_editorial_images %}editorial-team{% endif %} callout"
                                     data-equalizer-watch>
                                        <img class="thumbnail editorial-image" src="

                                                {% if editor.profile_image %}{{ editor.profile_image.url }}{% else %}{% static "common/img/icons/users.png" %}{% endif %}"
                                             alt="Photo of Uranus.">
                                    <strong>{{ user.full_name }}</strong><br/>
                                    <i>
                                        <small>{{ editor.affiliation }}</small>
                                    </i><br/>
                                    {% if member.enable_public_profile %}
                                        <p>
                                            <small><a href="{% url 'core_public_profile' member.uuid %}">{% trans "View
                                                Profile" %}</a></small>
                                        </p>{% endif %}
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:4 or forloop.last %}
                                </div>
                            {% endif %}
                        {% endfor %}

                    {% empty %}
                    <h6>{% trans "This repository has no subjects or editors to display." %}</h6>
                {% endfor %}
                </div>
            </div>
    </section>

{% endblock %}