<div class="top-bar" id="main-menu" style="display: block;">
    <ul class="menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
        <li><a href="{% url 'website_index' %}">{% trans 'Home' %}</a></li>
        <li><a href="{% url 'repository_about' %}">{% trans 'About' %}</a></li>
        <li><a href="{% url 'repository_list' %}">{{ request.repository.object_name_plural | capfirst }}</a></li>
        <li><a href="{% url 'repository_subject_list' %}">{% trans 'Subjects' %}</a></li>
        <li><a href="{% url 'repository_submit' %}">Submit {{ request.repository.object_name }}</a></li>
    </ul>
</div>