{% extends "core/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}{% trans "Review Preprint Submission" %}{% endblock title %}

{% block body %}
    <form method="POST">
        <div class="row">
            <div class="large-3 columns">
                <h2 class="title-area">{% trans "Review" %}</h2>
                {% csrf_token %}
            </div>
        </div>
        <div class="row">
        <div class="large-12 columns">
        {% if article.comments_editor %}
        <h4>{% trans "Comments to Editor" %}</h4>
        {{ article.comments_editor }}
        <hr />
        {% endif %}
        <h4>{% trans "Article Info" %}</h4>
        <table class="table table-condensed">
            <tr>
                <th colspan="2">{% trans "Title" %}</th>
            </tr>
            <tr>
                <td colspan="2">{{ article.title }}</td>
            </tr>
            <tr>
                <th colspan="3">{% trans "Abstract" %}</th>
            </tr>
            <tr>
                <td colspan="3">{{ article.abstract }}</td>
            </tr>
            <tr>
                <th>{% trans "Language" %}</th>
                <th>{% trans "Section" %}</th>
                <th>{% trans "Licence" %}</th>
            </tr>
            <tr>
                <td>{{ article.get_language_display }}</td>
                <td>{{ article.section.name }}</td>
                <td>{{ article.license.name }}</td>
            </tr>
        </table>

        <hr />
        <h4>{% trans "Author Info" %}</h4>
        <div class="row">
            <div class="large-6 columns">
                <ul class="list-group">
                    {% for author in article.authors.all %}
                    <li class="list-group-item">
                        {{ author.full_name }} - {{ author.email }}
                    </li>
                    {% empty %}
                    <li class="list-group-item">
                        {% trans "No authors yet! Add one." %}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <hr />

        <h4>{% trans "Article Files" %}</h4>
        <div class="row">
            <div class="large-6 columns">
                <p><strong>{% trans "Manuscript Files" %}</strong></p>
                <table class="table table-condensed small">
                    <tr>
                        <th>{% trans "Label" %}</th>
                        <th>{% trans "File Name" %}</th>
                    </tr>
                    {% for file in article.manuscript_files.all %}
                        <tr>
                            <td>{{ file.label }}</td>
                            <td>{{ file }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2">{% trans "No files uploaded" %}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="large-6 columns">
                <p><strong>{% trans "Figure/Data" %}</strong></p>
                <table class="table table-condensed small">
                    <tr>
                        <th>{% trans "Label" %}</th>
                        <th>{% trans "File Name" %}</th>
                    </tr>
                    {% for file in article.data_figure_files.all %}
                        <tr>
                            <td>{{ file.label }}</td>
                            <td>{{ file }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="2">{% trans "No files uploaded" %}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="large-12 columns">
        	<button class="success button pull-right" type="submit" name="next_step"><i class="fa fa-check">&nbsp;</i>{% trans "Complete" %} {% trans "Submission" %}</button>
        </div>
        </div>
    </form>

{% endblock body %}
