{% extends "admin/core/base.html" %}
{% load foundation %}
{% load static %}

{% block title %}Journal Homepage Settings{% endblock title %}
{% block admin-header %}Carousel Settings{% endblock admin-header %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'core_manager_index' %}">Manager</a></li>
    <li><a href="{% url 'home_settings_index' %}">Journal Home Settings</a></li>
    <li>Carousel Setup</li>
{% endblock %}

{% block body %}
		<form action="" method="POST" enctype="multipart/form-data">
    <div class="large-12 columns box">
			{% csrf_token %}
			
            {{ home_form.exclude|foundation }}
    </div>
    <div class="large-12 columns box">
			{% csrf_token %}

            <h3>Articles</h3>
            <hr>
            {{ home_form.latest_articles|foundation }}
            {{ home_form.carousel_article_limit|foundation }}
            {{ home_form.carousel_articles|foundation }}
    </div>
    <div class="large-12 columns box">

            <h3>News</h3>
            <hr>
            {{ home_form.latest_news|foundation }}
            {{ home_form.carousel_news|foundation }}
            {{ home_form.carousel_news_limit|foundation }}
    </div>
    <div class="large-12 columns box">

            <h3>Issues and Collections</h3>
            <hr>
            {{ home_form.current_issue|foundation }}
            {{ home_form.carousel_issues|foundation }}

            <button type="submit" class="button alert float-right" name="cancel" value="cancel">
                     Cancel
            </button>
            <button type="submit" class="button success float-right"style="margin-right:5px">
                Submit
            </button>
    </div>
        </form>
{% endblock body %}

{% block js %}
{% include "elements/datatables.html" with target="#article_table" sort=3 order='desc' page_length=5 %}

    <script type="text/javascript" src="{% static "admin/js/core.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/vendor/jquery/jquery.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/jquery.init.js" %}"></script>
    <script type="text/javascript" src="{% url 'javascript-catalog' %}"></script>
    <script type="text/javascript" src="{% static "admin/js/SelectBox.js" %}"></script>
    <script type="text/javascript" src="{% static "admin/js/SelectFilter2.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static "admin/js/forms.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/widgets.css" %}" >

{% endblock js %}
