{% extends "admin/elements/confirm_delete.html" %}

{% load i18n next_url %}

{% block breadcrumbs %}
  {% if account and account == request.user %}
    {% include "elements/breadcrumbs/edit_profile_base.html" %}
    <li>
      <a href="{% url_with_next 'core_affiliation_update' affiliation.pk %}">
        {% trans "Edit Affiliation" %}
      </a>
    </li>
  {% elif article and author %}
    {% include "elements/breadcrumbs/submit_authors_base.html" %}
  {% endif %}
  <li>
    {% blocktrans %}
      Delete "{{ thing_to_delete }}"
    {% endblocktrans %}
  </li>
{% endblock breadcrumbs %}

{% block nitty %}
  {% include "admin/core/affiliation_summary.html" %}
{% endblock nitty %}
