{% load static %}

<div>
  {% if affiliation.title_department %}
    <span>{{ affiliation.title_department }},</span>
  {% endif %}
  {% if affiliation.organization.ror_id %}
  <a href="{{ affiliation.organization.uri }}" target="_blank">
    {{ affiliation.organization.name }}
    <span class="show-for-sr">(opens in new tab)</span>
    <img
      src="{% static "admin/img/icons/ror-icon-rgb.svg" %}"
      alt="ROR logo"
      width="32"
      height="auto">
  </a>
  {% else %}
    {{ affiliation.organization.name }}
  {% endif %}
  {% if affiliation.date_display %}
    <span>({{ affiliation.date_display }})</span>
  {% endif  %}
  {% if affiliation.is_primary and display_primary %}
    <span class="label secondary">
      Primary
    </span>
  {% endif %}
</div>
