{% extends "admin/elements/nitty_gritty.html" %}

{% load i18n static next_url %}

{% block contextual_title %}
  {% trans "Update affiliations from ORCiD" %}
{% endblock contextual_title %}

{% block title-section %}
  {% trans "Update affiliations from ORCiD" %}
{% endblock title-section %}

{% block breadcrumbs %}
  {% if account and account == request.user %}
    {% include "elements/breadcrumbs/edit_profile_base.html" %}
  {% elif article and author %}
    {% include "elements/breadcrumbs/submit_authors_base.html" %}
    <li>
      <a href="{% url_with_return 'submission_edit_author' article.pk author.pk %}">
        {% trans "Edit author details" %}
      </a>
    </li>
  {% endif %}
  <li>
    {% trans "Update affiliations from ORCID" %}
  </li>
{% endblock breadcrumbs %}

{% block nitty %}
  {% include "admin/core/affiliation_summary.html" %}
{% endblock nitty %}

{% block gritty %}
  {% if old_affils.exists %}
    <div class="bs-callout bs-callout-danger">
      <h3 class="fs-3">
        {% trans "Old affiliations to be removed" %}
      </h3>
      <div class="flex wrap column-gap-2 row-gap-0-5 items-center space-between">
        {% for old_affil in old_affils %}
          {% include "admin/core/affiliation_display.html" with affiliation=old_affil %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% if new_affils %}
    <div class="bs-callout bs-callout-success">
      <h3 class="fs-3">
        {% trans "New affiliations to be added" %}
      </h3>
      <div class="flex wrap column-gap-2 row-gap-0-5 items-center space-between">
        {% for new_affil in new_affils %}
          {% include "admin/core/affiliation_display.html" with affiliation=new_affil %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {% for field in form.hidden_fields %}
      {{ field }}
    {% endfor %}
    <p>{% trans "Are you sure?" %}</p>
    {{ form }}
    <div class="button-group no-bottom-margin">
      <button
        name="replace"
        class="button no-bottom-margin"
        type="submit">
        <span class="fa fa-check"></span>
        {% trans "Yes, continue" %}
      </button>
      {% include "elements/a_no_go_back.html" with href=request.GET.next %}
    </div>
  </form>
{% endblock gritty %}
