{% load securitytags %}

{% is_editor as user_is_editor %}

{% if account %}
  {% include "admin/elements/layout/key_value_above.html" with key="User" value=account.full_name %}
  {% include "admin/elements/layout/key_value_above.html" with key="Email" value=account.email %}
  {% include "admin/elements/layout/key_value_above.html" with key="ORCID" value=account.orcid %}
{% elif author %}
  {% include "admin/elements/layout/key_value_above.html" with key="Author" value=author.full_name %}
  {% include "admin/elements/layout/key_value_above.html" with key="Email" value=author.email %}
  {% include "admin/elements/layout/key_value_above.html" with key="ORCID" value=author.orcid %}
{% endif %}
{% if article %}
  {% include "admin/elements/layout/key_value_above.html" with key="Article ID" value=article.pk %}
  {% include "admin/elements/layout/key_value_above.html" with key="Article title" value=article.safe_title %}
{% endif %}
{% if author %}
  {% if user_is_editor or request.user.is_staff %}
    <div class="title-area">
      <h2>Related settings</h2>
    </div>
    <ul>
      <li>Job titles are turned
        {{ journal_settings.general.author_job_title|yesno:"on,off" }}.
        <a
          target="_blank"
          href="{% url 'core_edit_setting' 'general' 'author_job_title' %}">
          [change]
        </a>
      </li>
      <li>
        Department names are turned
        {{ journal_settings.general.author_department|yesno:"on,off" }}.
        <a
          target="_blank"
          href="{% url 'core_edit_setting' 'general' 'author_department' %}">
          [change]
        </a>
      </li>
      <li>
        Affiliation dates are turned
        {{ journal_settings.general.author_affiliation_dates|yesno:"on,off" }}.
        <a
          target="_blank"
          href="{% url 'core_edit_setting' 'general' 'author_affiliation_dates' %}">
          [change]
        </a>
      </li>
    </ul>
  {% endif %}
{% endif %}
