{% extends "admin/core/base.html" %}
{% load hooks %}

{% block title %}Article {{ article.pk }} Information{% endblock %}
{% block breadcrumbs %}
    {{ block.super }}
    <li>Author</li>
    <li>{{ article.title }}</li>
{% endblock %}

{% block body %}

    <div class="box">
        <div class="title-area">
            <h2>{{ article.title }}</h2>
        </div>
        {% if article.stage == "Published" %}
            {% hook 'edit_article' %}
        {% endif %}
        <div class="content">
            {% include "elements/metadata.html" %}
        </div>
    </div>

    {% if article.reviewassignment_set.all %}
    <div class="box">
        <div class="title-area">
            <h2>Reviews</h2>
        </div>
        <div class="box">
            <table class="scroll">
                <tr>
                    <th>Date Requested</th>
                    <th>Date Due</th>
                    <th>Date Completed</th>
                    <th></th>
                </tr>
                {% for review in article.reviewassignment_set.all %}
                    <tr>
                        <td>{{ review.date_requested }}</td>
                        <td>{{ review.date_due }}</td>
                        <td>{{ review.date_complete }}</td>
                        <td>{% if review.for_author_consumption %}<a href="{% url 'review_author_view' article.pk %}">View Reviews</a>{% else %}Access has not been granted.{% endif %}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
    {% endif %}

    {% if article.is_published %}
    <div class="box">
        <div class="title-area">
            <h2>View and Download Stats</h2>
            <table class="scroll">
                <tr>
                    <th>Views</th>
                    <td>{{ article.metrics.views }}</td>
                </tr>
                <tr>
                    <th>Downloads</th>
                    <td>{{ article.metrics.downloads }}</td>
                </tr>
            </table>
        </div>
    </div>
    {% endif %}

    <div class="box">
        <div class="title-area">
            <h2>Tasks</h2>
        </div>
        <div class="content">
            {% for revision in article.active_revision_requests %}
                {% if not revision.date_completed %}
                    <a class="small button" href="{% url 'do_revisions' article.pk revision.pk %}">Revision Request due on {{ revision.date_due|date:"Y-m-d" }}</a>
                {% endif %}
            {% endfor %}

            {% for review in article.active_author_copyedits %}
                <a class="small button" href="{% url 'author_copyedit' article.pk review.pk %}">Copyediting Review assigned on {{ review.assigned|date:"Y-m-d" }}</a>
            {% endfor %}

            {% hook 'core_article_tasks' %}
        </div>
    </div>

    {% hook 'core_article_footer' %}
{% endblock %}
