{% load static %}
{% load press_url from press_url %}
{% load svg from press_url %}

{% load hijack %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% if request.journal %}{{ journal.name }}{% elif request.repository %}{{ request.repository.name }}{% else %}{{ request.press.name }}
    {% endif %}{% endblock title %}</title>

    {% block head %}{% endblock head %}
    <link href="{% static "admin/css/app.css" %}" rel="stylesheet">
    <link href="{% static "admin/css/admin.css" %}" rel="stylesheet">
    <link href="{% static "common/css/font-awesome.css" %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <script src="https://use.typekit.net/lff8ikn.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
    <script>try {
        Typekit.load({async: true});
    } catch (e) {
    }</script>
    {% block css %}{% endblock %}

    {% if journal.favicon %}
        <link rel="icon" href="{{ journal.favicon.url }}" type="image/vnd.microsoft.icon"/>
    {% elif request.repository.favicon %}
        <link rel="icon" href="{{ request.repository.favicon.url }}" type="image/vnd.microsoft.icon"/>
    {% elif press.favicon %}
        <link rel="icon" href="{{ press.favicon.url }}" type="image/vnd.microsoft.icon"/>
    {% endif %}

    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}" />
</head>
<body>

{% block nav %}
    {% if request.journal %}
        {% include "admin/core/nav.html" %}
    {% else %}
        {% include "admin/press/nav.html" %}
    {% endif %}
{% endblock nav %}

<div class="content large-12 columns">

    <div class="row expanded">
        <div class="large-12 columns">
            {% include "hijack/notification.html" %}
            <nav aria-label="You are here:" role="navigation">
                <ul class="breadcrumbs">
                    {% block breadcrumbs %}
                        {% if request.journal %}
                            <li><a href="{% url 'core_dashboard' %}">Dashboard</a></li>{% endif %}
                    {% endblock breadcrumbs %}
                </ul>
            </nav>
            {% if article.pk %}
                {% include "admin/elements/article_jump.html" %}
            {% endif %}
        </div>
    </div>

    <section class="title">
        <div class="row expanded column">
            <h1>{% block title-section %}{% endblock %}</h1>
            <p>{% block title-sub %}{% endblock %}</p>
        </div>
    </section>

    {% block body %}
    {% endblock body %}
</div>

<script src="{% static "admin/js/app.min.js" %}"></script>
{% if settings.DEBUG %}
<script src="{% static "common/js/tinymce/tinymce.js" %}"></script>
{% else %}
<script src="{% static "common/js/tinymce/tinymce.min.js" %}"></script>
{% endif %}
<script src="{% static "django_tinymce/init_tinymce.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>
    toastr.options = {
        "closeButton": true,
        "debug": true,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "20000",
        "hideDuration": "3000",
        "timeOut": "8000",
        "extendedTimeOut": "60000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
    {% for message in messages %}
        {% if message.tags == "warning" %}
            toastr.warning("{{ message|linebreaksbr }}");
        {% endif %}
        {% if message.tags == "info" %}
            toastr.info("{{ message|linebreaksbr }}");
        {% endif %}
        {% if message.tags == "danger" %}
            toastr.error("{{ message|linebreaksbr }}");
        {% endif %}
        {% if message.tags == "success" %}
            toastr.success("{{ message|linebreaksbr }}")
        {% endif %}
    {% endfor %}
</script>

{% block js %}{% endblock %}
</body>
</html>
