{% extends "admin/core/base.html" %}
{% load roles %}

{% block title %}Dashboard{% endblock title %}
{% block title-section %}Dashboard{% endblock %}
{% block title-sub %}Summary{% endblock %}


{% block body %}
    <section>
        <div class="row expanded" data-equalizer data-equalize-on="medium">
            {% if is_editor %}
                <div class="large-8 columns end" data-equalizer-watch>
                    <div class="box">
                        <div class="title-area">
                            <h2>Editor</h2>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                <div class="content">
                                    <div class="summary">
                                        <span class="stat">{{ unassigned_articles_count }}</span>
                                        <span class="title">Unassigned</span>
                                        <a href="{% url 'review_unassigned' %}" class="box-link"></a>
                                    </div>
                                    <div class="summary">
                                        <span class="stat">{{ assigned_articles_count }}</span>
                                        <span class="title">Review</span>
                                        <a href="{% url 'review_home' %}" class="box-link"></a>
                                    </div>
                                    <div class="summary">
                                        <span class="stat">{{ editing_articles_count }}</span>
                                        <span class="title">Copyediting</span>
                                        <a href="{% url 'copyediting' %}" class="box-link"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="large-6 columns">
                                <div class="content">
                                    <div class="summary">
                                        <span class="stat">{{ production_articles_count }}</span>
                                        <span class="title">Production</span>
                                        <a href="{% url 'production_list' %}" class="box-link"></a>
                                    </div>
                                    <div class="summary">
                                        <span class="stat">{{ proofing_articles_count }}</span>
                                        <span class="title">Proofing</span>
                                        <a href="{% url 'proofing_list' %}" class="box-link"></a>
                                    </div>
                                    <div class="summary">
                                        <span class="stat">{{ prepub_articles_count }}</span>
                                        <span class="title">Pre Publication</span>
                                        <a href="{% url 'publish' %}" class="box-link"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if is_reviewer %}
                <div class="large-4 columns end" data-equalizer-watch>
                    <div class="box">
                        <div class="title-area">
                            <h2>Reviewer</h2>
                            <a href="{% url 'review_requests' %}" class="button">View Requests</a>
                        </div>
                        <div class="content">
                            <div class="summary">
                                <span class="stat alert">{{ assigned_articles_for_user_review_count }}</span>
                                <span class="title">Review Requests</span>
                            </div>
                            <div class="summary">
                                <span class="stat">{{ assigned_articles_for_user_review_accepted_count }}</span>
                                <span class="title">Accepted Reviews</span>
                            </div>
                            <div class="summary">
                                <span class="stat success">{{ assigned_articles_for_user_review_completed_count }}</span>
                                <span class="title">Completed Reviews</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% user_has_role request 'copyeditor' as copyeditor %}
            {% if copyeditor %}
                <div class="large-4 columns end" data-equalizer-watch>
                    <div class="box">
                        <div class="title-area">
                            <h2>Copyeditor</h2>
                            <a href="{% url 'copyedit_requests' %}" class="button">View Requests</a>
                        </div>
                        <div class="content">
                            <div class="summary">
                                <span class="stat alert">{{ copyeditor_requests }}</span>
                                <span class="title">Copyedit Requests</span>
                            </div>
                            <div class="summary">
                                <span class="stat">{{ copyeditor_accepted_requests }}</span>
                                <span class="title">Accepted Requests</span>
                            </div>
                            <div class="summary">
                                <span class="stat success">{{ copyeditor_completed_requests }}</span>
                                <span class="title">Completed Requests</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% user_has_role request 'typesetter' as typesetter %}
            {% if typesetter %}
                <div class="large-4 columns end" data-equalizer-watch>
                    <div class="box">
                        <div class="title-area">
                            <h2>Production</h2>
                            <a href="{% url 'typesetter_requests' %}" class="button">View Requests</a>
                        </div>
                        <div class="content">
                            <div class="summary">
                                <span class="stat alert">{{ typeset_tasks }}</span>
                                <span class="title">Production Requests</span>
                            </div>
                            <div class="summary">
                                <span class="stat">{{ typeset_in_progress_tasks }}</span>
                                <span class="title">Accepted Requests</span>
                            </div>
                            <div class="summary">
                                <span class="stat success">{{ typeset_completed_tasks }}</span>
                                <span class="title">Completed Requests</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="large-4 columns end" data-equalizer-watch>
                    <div class="box">
                        <div class="title-area">
                            <h2>Proofing Production</h2>
                            <a href="{% url 'proofing_requests' %}" class="button">View Requests</a>
                        </div>
                        <div class="content">
                            <div class="summary">
                                <span class="stat alert">{{ new_proofing_typesetting }}</span>
                                <span class="title">Requests</span>
                            </div>
                            <div class="summary">
                                <span class="stat">{{ active_proofing_typesetting }}</span>
                                <span class="title">Accepted</span>
                            </div>
                            <div class="summary">
                                <span class="stat success">{{ completed_proofing_typesetting }}</span>
                                <span class="title">Completed</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% user_has_role request 'proofreader' as proofreader %}
            {% if proofreader %}
                <div class="large-4 columns end" data-equalizer-watch>
                    <div class="box">
                        <div class="title-area">
                            <h2>Proofreader</h2>
                            <a href="{% url 'proofing_requests' %}" class="button">View Requests</a>
                        </div>
                        <div class="content">
                            <div class="summary">
                                <span class="stat alert">{{ new_proofing }}</span>
                                <span class="title">Requests</span>
                            </div>
                            <div class="summary">
                                <span class="stat">{{ active_proofing }}</span>
                                <span class="title">Accepted</span>
                            </div>
                            <div class="summary">
                                <span class="stat success">{{ completed_proofing }}</span>
                                <span class="title">Completed</span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}


            {% user_has_role request 'section-editor' as sectioneditor %}
            {% if sectioneditor %}
                <div class="large-8 columns end" data-equalizer-watch>
                    <div class="box">
                        <div class="title-area">
                            <h2>Section Editor</h2>
                        </div>
                        <div class="content">
                            <table class="scroll">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Authors</th>
                                    <th>Submitted</th>
                                    <th>Current Stage</th>
                                </tr>
                                </thead>
                                {% for assignment in section_editor_articles %}
                                    <tr>
                                        <td>
                                            <a href="{{ assignment.article.current_stage_url }}">{{ assignment.article.title }}</a>
                                        </td>
                                        <td>{{ assignment.article.author_list }}</td>
                                        <td>{{ assignment.article.date_submitted }}</td>
                                        <td>{{ assignment.article.stage }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="4">No Articles Assigned</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>

        <div class="row expanded">
            {% if is_author %}
                <div class="large-6 columns">
                    <div class="box">
                        <div class="title-area">
                            <h2>Incomplete Articles</h2>
                            <a class="tiny button" href="{% url 'submission_start' %}">Submit New Article</a>
                        </div>
                        <div class="content">
                            <table class="scroll">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Current Step</th>
                                    <th>Date Started</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for article in progress_submissions %}
                                    <tr>
                                        <td>{% if article.title %}{{ article.title }}{% else %}No Title
                                            Assigned{% endif %}</td>
                                        <td>{{ article.step_name }}</td>
                                        <td>{{ article.date_started }}</td>
                                        <td><a href="{{ article.step_to_url }}">Continue</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="large-6 columns">
                    <div class="box">
                    <div class="title-area">
                        <h2>Submitted Articles</h2>
                    </div>
                    <div class="content">
                    <table class="scroll">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Current Stage</th>
                            <th>Date Started</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for article in active_submissions %}
                            <tr>
                                <td>{% if article.title %}{{ article.title }}{% else %}No Title
                                    Assigned{% endif %}</td>
                                <td>{{ article.get_stage_display }}</td>
                                <td>{{ article.date_started }}</td>
                                <td>
                                    <a href="{% url 'core_dashboard_article' article.pk %}">View Status</a>
                                    {% for revision in article.active_revision_requests %}
                                        {% if not revision.date_completed %}
                                            <a href="{% url 'do_revisions' article.pk revision.pk %}">Revision
                                                Request</a>
                                        {% endif %}
                                    {% endfor %}

                                    {% for review in article.active_author_copyedits %}
                                        <a href="{% url 'author_copyedit' article.pk review.pk %}">Copyediting
                                            Review</a>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock body %}