{% extends "admin/core/base.html" %}
{% load roles %}

{% block title %}Janeway Dashboard{% endblock title %}
{% block title-section %}Janeway Dashboard{% endblock %}

{% block body %}
    <section>
        <div class="row expanded">
            <div class="large-8 columns">
                <ul class="tabs" data-tabs id="tabs" role="tablist">
                    <li class="tabs-title is-active"><a href="#mine" data-tabs-target="mine" aria-selected="true">My
                        Assignments</a></li>
                    <li class="tabs-title"><a data-tabs-target="all" href="#all">Articles</a></li>
                </ul>
                <div class="tabs-content" data-tabs-content="tabs">
                    <div class="tabs-panel is-active" id="mine">
                        <div class="title-area">
                            <h2>My Assignments</h2>
                        </div>
                        <div class="content">
                            <table class="table scroll small">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Title</th>
                                        <th>Correspondence Author</th>
                                        <th>Stage</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for article in my_articles %}
                                    <tr>
                                        <td>{{ article.pk }}</td>
                                        <td>{{ article.title }}</td>
                                        <td>{{ article.correspondence_author.full_name }}</td>
                                        <td>{{ article.stage }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="100">
                                                <i class="fa fa-warning">&nbsp;</i> No reviewers have been assigned to this article.
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tabs-panel is-active" id="all">
                        <div class="title-area">
                            <h2>All Active Articles</h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="large-4 columns">
                <div class="box">
                    <div class="title-area">
                        <h2>To Do List</h2>
                    </div>
                    <div class="content">
                        <input type="checkbox" id="test"><label for="test"> Send article 123 to typesetting.</label>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}