{% extends "admin/elements/nitty_gritty.html" %}

{% load i18n static foundation next_url %}

{% block contextual_title %}
  {% trans "Custom organization" %}
{% endblock contextual_title %}

{% block title-section %}
  {% trans "Custom organization" %}
{% endblock title-section %}

{% block breadcrumbs %}
  {{ block.super }}
  {% if account and account == request.user %}
    {% include "elements/breadcrumbs/edit_profile_base.html" %}
    {% if affiliation %}
      <li>
        <a href="{% url_with_next 'core_affiliation_update' affiliation.pk %}">
          {% trans "Edit Affiliation" %}
        </a>
      </li>
    {% else %}
      <li>
        <a href="{% url_with_next 'core_organization_search' %}">
          {% trans "Add Affiliation" %}
        </a>
      </li>
    {% endif %}
  {% elif article and author %}
    {% include "elements/breadcrumbs/edit_author_base.html" with subpage="yes" %}
    {% if affiliation %}
      <li>
        <a href="{% url_with_next 'submission_affiliation_update' article.pk author.pk affiliation.pk %}">
          {% trans "Edit Affiliation" %}
        </a>
      </li>
    {% else %}
      <li>
        <a href="{% url_with_next 'submission_organization_search' article.pk author.pk %}">
          {% trans "Add Affiliation" %}
        </a>
      </li>
    {% endif %}
  {% endif %}
  <li>{% trans "Custom organization" %}</li>
{% endblock breadcrumbs %}

{% block nitty %}
  {% include "admin/core/affiliation_summary.html" %}
{% endblock nitty %}

{% block gritty_h2 %}
  {% trans "Custom name" %}
{% endblock gritty_h2 %}

{% block gritty_form %}
  {% include "admin/elements/forms/field.html" with field=form.value %}
  <div class="button-group no-bottom-margin">
    {% include "elements/button_save.html" %}
    {% include "elements/a_cancel.html" with href=request.GET.next %}
  </div>
{% endblock gritty_form %}
