{% extends "press/core/base.html" %}

{% block title %}{{ request.press.name }} Preprint Editors{% endblock %}

{% block navbar %}
    {% include "press/nav.html" %}
{% endblock navbar %}

{% block body %}

    <section id="content">
        <div class="row column">
            <div class="large-12 columns">
                <h2 class="text-center">{{ request.press.name }} Preprint Editors</h2>
                {% for subject in subjects %}
                    <h4>{{ subject }}</h4>
                    <ul>
                    {% for editor in subject.editors.all %}
                        <li>{{ editor.full_name }}, {{ editor.affiliation }}</li>
                    {% endfor %}
                    </ul>
                {% empty %}
                    <h6>This repository has no subjects or editors to display.</h6>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}