{% extends "core/base.html" %}
{% load i18n %}

{% block title %}{{ request.press.name }} {% trans "Preprints" %}{% endblock %}

{% block navbar %}
    {% include "press/nav.html" %}
{% endblock navbar %}

{% block body %}

    <section id="content">
        <div class="row column">
            <div class="large-12 columns">
                <h2 class="text-center">{{ request.press.name }} {% trans "Preprints" %}</h2>
            </div>
            <div class="large-6 columns end large-offset-3">
                <div class="input-group">
                    <form method="POST" action="{% url 'preprints_search' %}">
                        {% csrf_token %}
                        <div class="input-group">
                            <span class="input-group-label"><i class="fa fa-search"></i></span>
                            <input class="input-group-field" type="search" name="search_term"
                                   placeholder="Search preprints">
                        </div>
                        <input type="submit" style="visibility: hidden;"/>
                    </form>
                </div>
                <p class="text-center">{% trans "Read about" %} {{ request.press.name }} <a href="{% url 'preprints_about' %}">{% trans "preprints" %}</a>
                    {% trans "or view list of" %} <a href="{% url 'preprints_list' %}">{% trans "all preprints" %}</a>.
                </p>
            </div>

            {% if preprints %}
            <div class="large-8 columns large-offset-2 end">
                <h3 class="text-center">{% trans "Latest Preprints" %}</h3>
                {% include "elements/journal/preprint_article_listing.html" with preprints=preprints %}
            </div>
            {% endif %}

            {% if subjects %}
                <div class="large-8 columns large-offset-2 end">
                    <h3 class="text-center">Filter by Subject</h3>
                    {% if subjects|length <= 5 %}
                        <div class="large-12 columns">
                            <div class="stacked button-group">
                                {% for subject in subjects %}
                                    <a href="{% url 'preprints_list_subject' subject.slug %}"
                                       class="button">{{ subject.name }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            {% for subject in subjects %}
                                <div class="small-6 columns subjectbutton">
                                    <a href="{% url 'preprints_list_subject' subject.slug %}"
                                       class="button expanded">{{ subject.name }}</a>
                                </div>
                                {% if forloop.counter|divisibleby:2 %}
                                    </div>
                                    <div class="row">
                                {% endif %}
                            {% endfor %}
                            </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </section>

{% endblock %}
