{% extends "core/base.html" %}
{% load static %}
{% load i18n %}


{% block title %}{% if subject %}{{ subject.name }} {% trans "Preprints" %}{% else %}{% trans "All Preprints" %}
{% endif %}{% endblock %}


{% block body %}

    <section id="content">
        <div class="row">
            <div class="large-8 columns border-right">
                <h4>{% if subject %}{{ subject.name }} {% trans "Preprints" %}{% else %}{% trans "All Preprints" %}{% endif %}</h4>
                {% for article in articles %}
                    <div class="box article">
                        <a href="{% if article.is_remote %}https://doi.org/{{ article.identifier.identifier }}{% else %}{% url 'preprints_article' article.pk %}{% endif %}"
                           class="box-link"></a>
                        <div class="clearfix">
                            <div class="large-12s columns end">
                                <h2>{{ article.title|safe }}</h2>
                                <p>{% for author in article.authors.all %}{% if forloop.last %}
                                    {% if article.authors.all|length > 1 %} and
                                    {% endif %}{% endif %}{{ author.full_name }}
                                    {% if not forloop.last %}
                                        {% if not forloop.counter == article.authors.all|length|add:-1 %},
                                        {% endif %}{% endif %}{% endfor %}</p>
                                <p><span class="date"><i
                                        class="fa fa-calendar"></i> {{ article.date_published|date:"Y-m-d" }}&nbsp;&nbsp;<i
                                        class="fa fa-paperclip"></i> {{ article.get_subject_area }}</span></p>
                            </div>
                        </div>
                    <hr />
                    </div>
                {% endfor %}
                <div class="pagination-block">
                    <ul class="pagination">
                        {% if articles.has_previous %}
                            <li class="arrow"><a href="?page={{ articles.previous_page_number }}">&laquo;</a>
                            </li>{% endif %}
                        {{ articles.page.page_range }}
                        {% for page in articles.paginator.page_range %}
                            <li class="{% if articles.number == page %}current{% endif %}"><a
                                    href="?page={{ page }}">{{ page }}</a></li>
                        {% endfor %}
                        {% if articles.has_next %}
                            <li class="arrow"><a href="?page={{ articles.next_page_number }}">&raquo;</a>
                            </li>{% endif %}
                    </ul>
                </div>
            </div>
            <aside class="large-4 columns" data-sticky-container>
                <div class="sticky" data-sticky data-margin-top="0" data-sticky data-anchor="content">
                    <div class="section">
                        <form method="POST" action="{% url 'preprints_search' %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <span class="input-group-label"><i class="fa fa-search"></i></span>
                                <input class="input-group-field" type="search" name="search_term"
                                       placeholder="{% trans "Search preprints" %}"
                                       {% if search_term %}value="{{ search_term }}"{% endif %}>
                            </div>
                            <input type="submit" style="visibility: hidden;"/>
                            <h5>{% trans "Searching by" %}:</h5>
                            <ul>
                                <li>{% trans "Title" %}</li>
                                <li>{% trans "Keywords" %}</li>
                                <li>{% trans "Author Name" %}</li>
                                <li>{% trans "Author Affiliation" %}</li>
                            </ul>
                        </form>
                    </div>
                    {% if subject %}
                        <div class="section">
                            <h5>{{ subject.name }} {% trans "Editors" %}</h5>
                            <ul>
                                {% for editor in subject.editors.all %}
                                    <li>{{ editor.full_name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}

                    {% if subjects %}
                        <div class="section">
                        <h5>{% trans "Filter by Subject" %}</h5>
                        <ul>
                            {% for list_subject in subjects %}
                                {% if not list_subject == subject %}<li><a href="{% url 'preprints_list_subject' list_subject.slug %}">{{ list_subject }}</a></li>{% endif %}
                            {% endfor %}
                        </ul>
                        </div>
                    {% endif %}
                </div>
            </aside>
        </div>

    </section>

{% endblock body %}
