{% extends "admin/core/base.html" %}}
{% load foundation %}

{% block title %}Edit Identifiers - {{ article.pk }}{% endblock title %}


{% block breadcrumbs %}
{{ block.super }}
<li>Edit</li>
<li>{{ article.safe_title }}</li>
<li>Identifiers</li>
{% endblock breadcrumbs %}

{% block body %}
<div class="large-12 columns box">
    <div class="pull-right">

    </div>
    <div class="title-area">
        <h2>Edit Identifiers</h2>
        <a href="{% url 'add_new_identifier' article.pk %}" class="button">Add Identifier</a>
    </div>
    <table class="small scroll">
        <tr>
            <th>Type</th>
            <th>Identifier</th>
            <th>Edit</th>
            <th>Enabled</th>
            <th>Status</th>
            <th>Register</th>
            <th>Deposit</th>
            <th>Response</th>
            <th>Poll</th>
            <th>Delete</th>
        </tr>
        {% for ident in identifiers %}
        <tr>
            <form method="POST">
                {% csrf_token %}
                <td>{{ ident.get_id_type_display }}</td>
                <td>{{ ident.identifier }}</td>
                <td>
                  {% url 'edit_identifier' article.pk ident.pk as href %}
                  {% include "elements/a_edit.html" with href=href size="small" %}
                </td>
                <td>
                    {% if ident.enabled %}
                        <i class="fa fa-check"></i>
                    {% else %}
                        <i class="fa fa-times"></i>
                    {% endif %}
                </td>
                <td>
                    {% if ident.get_id_type_display == 'DOI' %}
                        {% if ident.crossrefstatus %}
                            {{ ident.crossrefstatus.get_message_display }}
                        {% endif %}
                    {% else %}
                        <i class="fa fa-check"></i>
                    {% endif %}
                </td>
                <td>
                    {% if ident.get_id_type_display == 'DOI' %}
                      {% url 'issue_doi' article.pk ident.pk as register_formaction %}
                      {% with formaction=register_formaction size="small" label="Register" %}
                        {% include "elements/button_send.html" %}
                      {% endwith %}
                    {% endif %}
                </td>
                <td>
                    {% if ident.get_id_type_display == 'DOI' %}
                      {% url 'show_doi' article.pk ident.pk as view_href %}
                      {% with label=ident.crossrefstatus.latest_deposit|yesno:"View XML,Preview XML" %}
                        {% include "elements/a_menu_item.html" with href=view_href size="small" %}
                      {% endwith %}
                    {% endif %}
                </td>
                <td>
                    {% if ident.get_id_type_display == 'DOI' and ident.crossrefstatus.latest_deposit %}
                      {% url 'poll_doi_output' article.pk ident.pk as response_href %}
                      {% with label="View XML" href=response_href size="small"  %}
                        {% include "elements/a_menu_item.html" %}
                      {% endwith %}
                    {% endif %}
                </td>
                <td>
                    {% if ident.get_id_type_display == 'DOI' %}
                      {% url 'poll_doi' article.pk ident.pk as poll_href %}
                      {% with label="Poll for status" href=poll_href size="small"  %}
                        {% include "elements/a_menu_item.html" %}
                      {% endwith %}
                    {% endif %}
                </td>
                <td>
                  {% url 'delete_identifier' article.pk ident.pk as delete_formaction %}
                  {% with formaction=delete_formaction size="small" confirm="confirm" %}
                    {% include "elements/button_delete.html" %}
                  {% endwith %}
                </td>
            </form>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock body %}
