{% extends "admin/core/base.html" %}}
{% load foundation %}

{% block title %}Edit Identifiers - {{ article.pk }}{% endblock title %}


{% block breadcrumbs %}
{{ block.super }}
<li>Edit</li>
<li>{{ article.title }}</li>
<li>Identifiers</li>
{% endblock breadcrumbs %}

{% block body %}
<div class="large-12 columns box">
    <div class="pull-right">

    </div>
    <div class="title-area">
        <h2>Edit Identifiers</h2>
        <a href="{% url 'add_new_identifier' article.pk %}" class="button">Add Identifier</a>
    </div>
    <table class="small scroll">
        <tr>
            <th>Type</th>
            <th>Identifier</th>
            <th>Edit</th>
            <th>Enabled</th>
            <th>Status</th>
            <th>Register</th>
            <th>Deposit</th>
            <th>Response</th>
            <th>Poll</th>
            <th>Delete</th>
        </tr>
        {% for ident in identifiers %}
        <tr>
            <form method="POST">
                {% csrf_token %}
                <td>{{ ident.get_id_type_display }}</td>
                <td>{{ ident.identifier }}</td>
                <td>
                    <a href="{% url 'edit_identifier' article.pk ident.pk %}" class="small button">
                        <i class="fa fa-edit">&nbsp;</i>
                        Edit
                    </a>
                </td>
                <td>
                    {% if ident.enabled %}
                        <i class="fa fa-check"></i>
                    {% else %}
                        <i class="fa fa-times"></i>
                    {% endif %}
                </td>
                <td>
                    {% if ident.get_id_type_display == 'DOI' %}
                        {% if ident.crossrefstatus %}
                            {{ ident.crossrefstatus.get_message_display }}
                        {% endif %}
                    {% else %}
                        <i class="fa fa-check"></i>
                    {% endif %}
                </td>
                <td>
                    {% if ident.get_id_type_display == 'DOI' %}
                        <button type="submit" class="small success button" formaction="{% url 'issue_doi' article.pk ident.pk %}">
                            Register
                        </button>
                    {% endif %}
                </td>
                <td>
                    {% if ident.get_id_type_display == 'DOI' %}
                        <a class="small success button" href="{% url 'show_doi' article.pk ident.pk %}">
                            {% if ident.crossrefstatus.latest_deposit %}
                                View XML
                            {% else %}
                                Preview XML
                            {% endif %}
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if ident.get_id_type_display == 'DOI' and ident.crossrefstatus.latest_deposit %}
                        <a class="small success button" href="{% url 'poll_doi_output' article.pk ident.pk %}">
                            View XML
                        </a>
                    {% endif %}
                </td>
                <td>
                    {% if ident.get_id_type_display == 'DOI' %}
                        <a class="small success button" href="{% url 'poll_doi' article.pk ident.pk %}">
                            Poll for status
                        </a>
                    {% endif %}
                </td>
                <td>
                    <button class="small button warning" name="delete" formaction="{% url 'delete_identifier' article.pk ident.pk %}">
                        <i class="fa fa-trash">&nbsp;</i>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock body %}
