{% extends "repository/base.html" %}
{% load static from staticfiles %}
{% load hooks %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{{ preprint.title }}{% endblock %}

{% block head %}
{% include "common/metadata/preprint_dc.html" %}
{% endblock %}

{% block body %}
    <div class="row preprint-content">
        <div class="col m12">
            <div class="card">
                <div class="card-image preprint-card waves-effect waves-block waves-light">
                    <img class="orbit-image" alt="{{ preprint.title|striptags }}"
                         src="{% static "common/img/repository_background.jpg" %}">
                    <span class="card-title">
                        <div class="carousel-text-wrapper hide-on-small-only">
                        <small>
                            {{ preprint.subject.name }}
                        </small>
                        <br/>
                        {{ preprint.title|safe }}
                            </div>
                    </span>
                    <span class="card-title" style="font-size: 17px;">
                        <div class="carousel-text-wrapper show-on-small hide-on-med-and-up">
                        <small>
                            {{ article.section.name }}

                        <br/>
                            {{ article.title|safe }}</small>
                            </div>
                    </span>
                </div>
            </div>
        </div>

        <div class="col m7">
            <div itemprop="articleBody" id="pdf">
                <p class="preprint-text">
                    {% trans "This article is a preprint, it has not been peer reviewed or had any extensive editorial over-sight." %}
                {% if preprint.current_version_file_type == 'html' %}
                    <div class="card">
                        <div class="card-content">
                            <span class="card-title">Preprint Body</span>
                            {{ preprint.current_version.html|safe }}
                        </div>
                    </div>
                {% elif preprint.current_version_file_type == 'pdf' %}
                    <iframe src="{% url 'repository_pdf' preprint.pk %}?file={% url 'repository_file_download' preprint.id preprint.current_version.file.id %}"
                            width="100%" height="100%" style="min-height: 900px;" allowfullscreen
                            webkitallowfullscreen></iframe>
                {% else %}
                    <div class="preprint-content">
                        <p>This {{ request.repository.object_name }} has no visible version.</p>
                        <a href="" class="waves-effect waves-light btn">Download {{ request.repository.object_name }} <span class="fa fa-download"></span> </a>
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="col m5">
            <div class="card">
                <div class="card-content preprint-content">
                    <h5>{% trans "Downloads" %}</h5>
                    <p><a href="{% url 'repository_file_download' preprint.id preprint.current_version.file.id %}">Download {{ request.repository.object_name }} <span class="fa fa-download"></span>
                    </a></p>
                    <h5>{% trans "Authors" %}</h5>
                    <p class="authors">
                        {% for author in preprint.authors %}
                            {{ author.full_name }}{% if author.orcid %}&nbsp;<a href="https://orcid.org/{{ author.orcid }}" target="_blank"><img src="/media/img/orcid.gif"></a>{% endif %}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                    <h5>{% trans "Abstract" %}</h5>
                    <p class="preprint-text">{{ preprint.abstract|safe|linebreaksbr }}</p>

                    <h5>{% trans 'Subjects' %}</h5>
                    <p>TODO once subjects are a m2m.</p>

                    <h5>{% trans 'Keywords' %}</h5>
                    <p>{% for keyword in preprint.keywords.all %}{{ keyword.word }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

                    <h5>{% trans "License" %}</h5>
                    <p>{{ preprint.license.name }}</p>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{% trans 'Add a Comment' %}</span>
                    {% if request.user.is_authenticated %}
                        <div>
                            <form method="POST">
                                {% csrf_token %}
                                {% bootstrap_form form %}
                                <button type="submit" class="btn btn-success">Add Comment</button>
                            </form>
                        </div>
                    {% endif %}
                    <br/>
                    <div class="divider"></div>
                    <div class="comment-scroll">
                        <span class="card-title">{% trans 'Comments' %}</span>
                        {% for comment in comments %}
                            <div class="row" id="comment-{{ comment.pk }}">
                                <div class="col m2">
                                    {% if comment.author.profile_image %}
                                        <img src="{{ comment.author.profile_image.url }}"
                                             class="responsive-img circle">
                                    {% else %}
                                        <img src="{% static "common/img/icons/users.png" %}"
                                             class="responsive-img circle">
                                    {% endif %}
                                </div>
                                <div class="col m10">
                                    <p>
                                        <small>Comment #{{ comment.pk }} {{ comment.author.full_name }}
                                            @ {{ comment.date_time }}</small>
                                    </p>
                                    <p>
                                        {{ comment.body }}
                                    </p>
                                </div>
                            </div>
                            {% empty %}
                            <div class="callout">
                                <p>There are no comments or no comments have been made public for this article.</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

        {% hook 'article_footer_block' %}
    </div>
    </div>

    {% include "elements/journal/citation_modals.html" %}


{% endblock %}

