{% load i18n %}
<nav aria-label="{% trans 'Breadcrumb' %}">
    <ul class="breadcrumbs">
        <li><a href="{% url 'website_index' %}">{{ request.repository.name }}</a></li>
        <li><a href="{% url 'rou_hierarchy' %}">{{ request.repository.rou_default_name }}</a></li>
        {% for ancestor in rou.get_ancestors %}
            <li><a href="{% url 'repository_home_by_rou' ancestor.code %}">{{ ancestor.name }}</a></li>
        {% endfor %}
        {% if current_page %}
            <li><a href="{% url 'repository_home_by_rou' rou.code %}">{{ rou.name }}</a></li>
            <li><span aria-current="page">{{ current_page }}</span></li>
        {% else %}
            <li><span aria-current="page">{{ rou.name }}</span></li>
        {% endif %}
    </ul>
</nav>
