.static-alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.static-alert-heading {
  color: inherit;
}

.static-alert-link {
  font-weight: 700;
}

.static-alert-primary {
  color: #004085;
  background-color: #cce5ff;
  border-color: #b8daff;
}

.static-alert-primary hr {
  border-top-color: #9fcdff;
}

.static-alert-primary .static-alert-link {
  color: #002752;
}

.static-alert-secondary {
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
}

.static-alert-secondary hr {
  border-top-color: #c8cbcf;
}

.static-alert-secondary .static-alert-link {
  color: #202326;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.static-alert-success hr {
  border-top-color: #b1dfbb;
}

.static-alert-success .static-alert-link {
  color: #0b2e13;
}

.static-alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.static-alert-info hr {
  border-top-color: #abdde5;
}

.static-alert-info .static-alert-link {
  color: #062c33;
}

.static-alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.static-alert-warning hr {
  border-top-color: #ffe8a1;
}

.static-alert-warning .static-alert-link {
  color: #533f03;
}

.static-alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.static-alert-danger hr {
  border-top-color: #f1b0b7;
}

.static-alert-danger .static-alert-link {
  color: #491217;
}

.static-alert-light {
  color: #818182;
  background-color: #fefefe;
  border-color: #fdfdfe;
}

.static-alert-light hr {
  border-top-color: #ececf6;
}

.static-alert-light .static-alert-link {
  color: #686868;
}

.static-alert-dark {
  color: #1b1e21;
  background-color: #d6d8d9;
  border-color: #c6c8ca;
}

.static-alert-dark hr {
  border-top-color: #b9bbbe;
}

.static-alert-dark .static-alert-link {
  color: #040505;
}

<!-- Glossing -->
ol {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ol ol {
    margin-block-start: 0px;
    margin-block-end: 0px;
}

ol.gloss-sentence {
    display: inline !important;
    padding: 0;
    margin: 0;
    list-style: none;
}

.gloss-item {
    overflow: auto;
}

.gloss-sentence li {
    padding-left: 4px !important;
    padding-bottom: 2px;

}

.gloss-sentence ol {
    list-style: none !important;
}

ol.gloss-word {
    padding-right: .5em !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 2px !important;
    background: white !important;
    display: inline-block !important;
    margin-inline-start: 0 !important;
}

.gloss-first {
  padding-left: 0 !important;
}

.gloss-header {
    float: left;
    display: flex;
    min-width: 40px;
}

.gloss-wrapper {
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
}