
:root {
  /* Font sizes */
  /* Source: https://utopia.fyi/type/calculator */
  --step-1: clamp(0.7813rem, 0.7747rem + 0.0326vi, 0.8rem);
  --step-2: clamp(0.9375rem, 0.9158rem + 0.1087vi, 1rem);
  --step-3: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
  --step-4: clamp(1.35rem, 1.2761rem + 0.3696vi, 1.5625rem);
  --step-5: clamp(1.62rem, 1.5041rem + 0.5793vi, 1.9531rem);
  --step-6: clamp(1.944rem, 1.771rem + 0.8651vi, 2.4414rem);
  --step-7: clamp(2.3328rem, 2.0827rem + 1.2504vi, 3.0518rem);
  --step-8: clamp(2.7994rem, 2.4462rem + 1.7658vi, 3.8147rem);
  --step-9: clamp(3.3592rem, 2.8691rem + 2.4507vi, 4.7684rem);
}
