<div class="bs-callout bs-callout-info">

    {% if not round.has_completed_proofing and round.typesettingassignment %}
    <span class="fa fa-check-circle"></span> {{ round.typesettingassignment.friendly_status }}<br/><br/>
    {% else %}
        <span class="fa fa-exclamation-triangle"> {{ round.has_completed_proofing.count }} out of {{ round.galleyproofing_set.count }} proofing tasks completed.<br/><br/></span>
        {% if not round.typesettingassignment %}
            <br/><span class="fa fa-exclamation-triangle"> This round has not had a typesetter assigned.<br/><br/></span>
        {% endif %}
    {% endif %}

    <div class="button-group no-bottom-margin">
    {% if round.has_completed_proofing %}
        <a data-open="add_round" class="button secondary">Request Corrections</a>
    {% elif round.typesettingassignment.reviewed and round.typesettingassignment.review_decision == 'corrections' %}
        <a data-open="add_round" class="button secondary">Request Corrections</a>
    {% endif %}

    {% if round.typesettingassignment and not round.typesettingassignment.reviewed %}
      {% url 'typesetting_review_assignment' article.pk round.typesettingassignment.pk as review_href %}
      {% with href=review_href label="Review Typesetting" hierarchy="primary" %}
        {% include "elements/a_menu_item.html" %}
      {% endwith %}
    {% elif not round.typesettingassignment %}
      {% url 'typesetting_assign_typesetter' article.pk as assign_typesetter_href %}
      {% with href=assign_typesetter_href label="Assign a Typesetter" hierarchy="primary" %}
        {% include "elements/a_add_user.html" %}
      {% endwith %}
    {% endif %}
      {% url 'typesetting_assign_proofreader' article.pk as assign_proofreader_href %}
      {% with href=assign_proofreader_href hierarchy="secondary" %}
        {% if round.galleyproofing_set.all %}
          {% include "elements/a_add_user.html" with label="Assign Another Proofreader" %}
        {% else %}
          {% include "elements/a_add_user.html" with label="Assign Proofreader" %}
        {% endif %}
      {% endwith %}
    </div>
</div>
