<div class="callout breakdown file">
    <h4>Assign a Typesetter</h4>
    <p>This article does not have an assigned typesetter. If the article needs to be typeset, you can assign an external typesetter here. If your article is already typeset and ready for publication, you can load the typeset files here, and if needed, assign a proofreader to check them in the next step.</p>
  {% url 'typesetting_assign_typesetter' article.pk as assign_typesetter_href %}
  {% with href=assign_typesetter_href label="Assign a Typesetter" hierarchy="primary" %}
    {% include "elements/a_add_user.html" %}
  {% endwith %}
</div>

<div class="callout breakdown file">
    <h4>Assign a Proofreader</h4>

    {% if galleys %}
        <p>If your article doesn’t need a typesetter, and you’ve already loaded in the typeset files below, you can assign a proofreader to check your typeset files here.</p>
      {% url 'typesetting_assign_proofreader' article.pk as assign_proofreader_href %}
      {% with href=assign_proofreader_href label="Assign Proofreader" %}
        {% include "elements/a_add_user.html" %}
      {% endwith %}
    {% else %}
        <p>You must either request a typesetter upload typeset files or upload them yourself below before you can assign a proofreader.</p>
    {% endif %}
</div>
