{% load next_url %}

<div>
  <h4 class="uppercase">Actions</h4>
  <div class="flex portrait-row landscape-column gap-0-5 items-start">
    <div>
      {% url_with_return 'core_user_edit' account.id as edit_href %}
      {% with href=edit_href size="small" %}
        {% include "elements/a_edit.html" %}
      {% endwith %}
    </div>
    <div>
      {% url 'core_user_history' account.id as view_href %}
      {% with href=view_href size="small" %}
        {% include "elements/a_history.html" %}
      {% endwith %}
    </div>
    {% if settings.HIJACK_USERS_ENABLED and request.user.is_superuser %}
      <div>
        <form method="POST">
          {% csrf_token %}
          <button
            class="small secondary button flex gap-0-25"
            formaction="{% url 'hijack:acquire' %}"
            name="user_pk"
            value="{{ account.pk }}"
            type="submit">
            <span class="fa fa-gamepad"></span>
            Control
          </button>
          <input type="hidden" name="next" value="{% url 'core_dashboard' %}">
        </form>
      </div>
    {% endif %}
  </div>
</div>
