<div>
  <h4 class="uppercase">Actions</h4>
  <div class="flex portrait-row landscape-column gap-0-5 items-start">
    <div>
      <a
        class="small button flex gap-0-25"
        href="{% url 'core_user_edit' account.id %}?return={{ request.get_full_path|urlencode }}">
        <span class="fa fa-edit"></span>
        Edit
      </a>
    </div>
    <div>
      <a
        class="small button flex gap-0-25"
        href="{% url 'core_user_history' account.id %}">
        <span class="fa fa-history"></span>
        History
      </a>
    </div>
    {% if settings.HIJACK_USERS_ENABLED and request.user.is_superuser %}
      <div>
        <form method="POST">
          {% csrf_token %}
          <button
            class="small button flex gap-0-25"
            formaction="{% url 'hijack:acquire' %}"
            name="user_pk"
            value="{{ account.pk }}"
            type="submit">
            <span class="fa fa-gamepad"></span>
            Control
          </button>
          <input type="hidden" name="next" value="{% url 'core_dashboard' %}">
        </form>
      </div>
    {% endif %}
  </div>
</div>
