<form method="POST">
  <div>
    {% csrf_token %}
    <input
      hidden
      name="params_string"
      aria-label="hidden input - no user access"
      value="{{ params_string }}">
    <input
      hidden
      name="user"
      aria-label="hidden input - no user access"
      value="{{ account.pk }}">
    {% if request.journal %}
      <input hidden name="journal" value="{{ journal.pk }}">
    {% endif %}
    <div class="flex gap-0-5">
      <a
        class="small button dropdown"
        data-toggle="create-accountrole-{{ account.pk }}">
        <span class="fa fa-plus"></span>
        Add role
      </a>
    </div>
    <div
      id="create-accountrole-{{ account.pk }}"
      class="dropdown-pane"
      data-dropdown
      data-close-on-click="true"
      data-alignment="top">
      {% if not request.journal %}
        <label>{{ accountrole_form.journal.label }}</label>
        {{ accountrole_form.journal }}
      {% endif %}
      <div class="flex wrap gap-0-5">
        {% for role in roles %}
          <button
            class="small button"
            name="role"
            value="{{ role.pk }}"
            type="submit">
            <span class="fa fa-plus"></span>
            {{ role.name }}
          </button>
        {% endfor %}
      </div>
    </div>
  </div>
</form>
