{% load securitytags %}

{% is_editor as editor %}

{% if editor %}
<button class="tiny secondary button float-right dropdown" data-toggle="articledropdown">Article Jump</button>
<div class="dropdown-pane bottom small" id="articledropdown" data-dropdown>
    <ul>
        <li>
            <a href="{% url 'review_unassigned_article' article.pk %}">Editor Assignment</a>
        </li>
        {% for stage in article.workflow_stages %}
            <li>
                <a href="{% url stage.element.jump_url article.pk %}">{{ stage.element.element_name|capfirst }}</a>
            </li>
        {% endfor %}
        <li><a href="{% url 'manage_article_log' article.pk %}">Log</a></li>
        <li><a href="{% url 'document_management' article.pk %}?return={{ request.path }}">Documents</a></li>
        {% if article.is_published %}
            <li><a href="{{ article.url }}">Live Article</a></li>{% endif %}
        {% if request.user.is_superuser %}
            <li><a target="_blank" href="/admin/submission/article/{{ article.pk }}/">Admin <i
                    class="fa fa-external-link"></i></a></li>
        {% endif %}
    </ul>
</div>
{% endif %}