{% comment %}
  A hollow secondary-color button that lets users copy
  some plain text (like a link) to their clipboard.
  The icon and label change to show the text was copied.
  content - plain text to copy
  label_copy - label in original state
  label_copied - label in copied state
{% endcomment %}

<div>
  <div class="button-group">
    <button
      data-copy-button
      data-copy-content="{{ content }}"
      data-label-copied="{{ label_copied }}"
      class="button secondary hollow"
      type="button">
      <span class="fa fa-copy"></span>
      {{ label_copy }}
    </button>
  </div>
</div>
