{% comment %}
  A primary-color save button with floppy disk icon.
  Can be made secondary with the 'hierarchy' argument.
{% endcomment %}

{% load i18n %}

<button
  name="{{ name|default:'save' }}"
  {% if value %}
    value="{{ value }}"
  {% endif %}
  class="button no-bottom-margin
    {{ hierarchy|default:"primary" }}
    {{ size|default:'normal' }}
  "
  type="submit">
  <span class="fa fa-save" aria-hidden="true"></span>
  {% trans "Save" as default_label %}
  {{ label|default:default_label }}
</button>
