<form method="POST" action="{% url 'cms_nav' %}">
    {% csrf_token %}
    {% with lbl_on="Display" lbl_off="Hide" state_on="Displayed" state_off="Hidden" %}
    <ul class="list-group">
        {% if request.journal %}
            <li class="list-group-item cms-nav-item">
                <span class="cms-nav-label">Home</span>
                <span class="cms-nav-actions">
                    {% if request.journal.nav_home %}
                        <span class="success label"><i class="fa fa-eye"></i> {{ state_on }}</span>
                        <button name="nav" value="nav_home" class="tiny hollow secondary button">{{ lbl_off }}</button>
                    {% else %}
                        <span class="warning label"><i class="fa fa-eye-slash"></i> {{ state_off }}</span>
                        <button name="nav" value="nav_home" class="tiny hollow secondary button">{{ lbl_on }}</button>
                    {% endif %}
                </span>
            </li>
        {% endif %}
        {% for nav in top_nav_items %}
        <li class="list-group-item">
            <div class="cms-nav-item">
                <span class="cms-nav-label">
                    {{ nav.link_name }}
                    {% if nav.link %}({{ nav.link }}){% endif %}
                    (sequence {{ nav.sequence }})
                </span>
                <span class="cms-nav-actions">
                    <a class="tiny success button" href="{% url 'cms_nav_edit' nav.pk %}"><i class="fa fa-edit"> Edit</i></a>
                    <button class="tiny button alert" name="delete_nav" value="{{ nav.pk }}"><i class="fa fa-trash"></i> Delete</button>
                </span>
            </div>
            {% if nav.sub_nav_items %}
            <ul>
                {% for sub_nav in nav.sub_nav_items %}
                    <li class="padded-group-item">
                        <div class="cms-nav-item">
                            <span class="cms-nav-label">
                                {{ sub_nav.link_name }}
                                {% if sub_nav.link %}({{ sub_nav.link }}){% endif %}
                                (sequence {{ sub_nav.sequence }})
                            </span>
                            <span class="cms-nav-actions">
                                <a class="tiny success button" href="{% url 'cms_nav_edit' sub_nav.pk %}"><i class="fa fa-edit"></i> Edit</a>
                                <button class="tiny button alert" name="delete_nav" value="{{ sub_nav.pk }}">
                                    <i class="fa fa-trash"></i> Delete
                                </button>
                            </span>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
        {#Custom Issue types navigation#}
        {% for issue_type in collection_nav_items %}
        <li class="list-group-item cms-nav-item">
            <span class="cms-nav-label">{{ issue_type.plural_name }}</span>
            <button name="toggle_collection_nav" value="{{ issue_type.pk }}" class="tiny button success cms-nav-actions">
                <i class="fa fa-eye"></i> Enable
            </button>
        </li>
        {% endfor %}
        {% if request.journal %}
            <li class="list-group-item cms-nav-item">
                <span class="cms-nav-label">News</span>
                <span class="cms-nav-actions">
                    {% if request.journal.nav_news %}
                        <span class="success label"><i class="fa fa-eye"></i> {{ state_on }}</span>
                        <button name="nav" value="nav_news" class="tiny hollow secondary button">{{ lbl_off }}</button>
                    {% else %}
                        <span class="warning label"><i class="fa fa-eye-slash"></i> {{ state_off }}</span>
                        <button name="nav" value="nav_news" class="tiny hollow secondary button">{{ lbl_on }}</button>
                    {% endif %}
                </span>
            </li>
            <li class="list-group-item cms-nav-item">
                <span class="cms-nav-label">Articles</span>
                <span class="cms-nav-actions">
                    {% if request.journal.nav_articles %}
                        <span class="success label"><i class="fa fa-eye"></i> {{ state_on }}</span>
                        <button name="nav" value="nav_articles" class="tiny hollow secondary button">{{ lbl_off }}</button>
                    {% else %}
                        <span class="warning label"><i class="fa fa-eye-slash"></i> {{ state_off }}</span>
                        <button name="nav" value="nav_articles" class="tiny hollow secondary button">{{ lbl_on }}</button>
                    {% endif %}
                </span>
            </li>
            <li class="list-group-item cms-nav-item">
                <span class="cms-nav-label">Issues</span>
                <span class="cms-nav-actions">
                    {% if request.journal.nav_issues %}
                        <span class="success label"><i class="fa fa-eye"></i> {{ state_on }}</span>
                        <button name="nav" value="nav_issues" class="tiny hollow secondary button">{{ lbl_off }}</button>
                    {% else %}
                        <span class="warning label"><i class="fa fa-eye-slash"></i> {{ state_off }}</span>
                        <button name="nav" value="nav_issues" class="tiny hollow secondary button">{{ lbl_on }}</button>
                    {% endif %}
                </span>
            </li>
            <li class="list-group-item cms-nav-item">
                <span class="cms-nav-label">{{ journal_settings.styling.editorial_group_page_name }}</span>
                <span class="cms-nav-actions">
                    {% if enable_editorial_display %}
                        <span class="success label"><i class="fa fa-eye"></i> {{ state_on }}</span>
                        <button name="editorial_team" value="editorial_team" class="tiny hollow secondary button">{{ lbl_off }}</button>
                    {% else %}
                        <span class="warning label"><i class="fa fa-eye-slash"></i> {{ state_off }}</span>
                        <button name="editorial_team" value="editorial_team" class="tiny hollow secondary button">{{ lbl_on }}</button>
                    {% endif %}
                </span>
            </li>
            <li class="list-group-item cms-nav-item">
                <span class="cms-nav-label">Keyword List</span>
                <span class="cms-nav-actions">
                    {% if keyword_list_page %}
                        <span class="success label"><i class="fa fa-eye"></i> {{ state_on }}</span>
                        <button name="keyword_list_page" value="keyword_list_page" class="tiny hollow secondary button">{{ lbl_off }}</button>
                    {% else %}
                        <span class="warning label"><i class="fa fa-eye-slash"></i> {{ state_off }}</span>
                        <button name="keyword_list_page" value="keyword_list_page" class="tiny hollow secondary button">{{ lbl_on }}</button>
                    {% endif %}
                </span>
            </li>
            <li class="list-group-item cms-nav-item">
                <span class="cms-nav-label">Submissions</span>
                <span class="cms-nav-actions">
                    {% if request.journal.nav_sub %}
                        <span class="success label"><i class="fa fa-eye"></i> {{ state_on }}</span>
                        <button name="nav" value="nav_sub" class="tiny hollow secondary button">{{ lbl_off }}</button>
                    {% else %}
                        <span class="warning label"><i class="fa fa-eye-slash"></i> {{ state_off }}</span>
                        <button name="nav" value="nav_sub" class="tiny hollow secondary button">{{ lbl_on }}</button>
                    {% endif %}
                </span>
            </li>
            <li class="list-group-item cms-nav-item">
                <span class="cms-nav-label">Contact</span>
                <span class="cms-nav-actions">
                    {% if request.journal.nav_contact %}
                        <span class="success label"><i class="fa fa-eye"></i> {{ state_on }}</span>
                        <button name="nav" value="nav_contact" class="tiny hollow secondary button">{{ lbl_off }}</button>
                    {% else %}
                        <span class="warning label"><i class="fa fa-eye-slash"></i> {{ state_off }}</span>
                        <button name="nav" value="nav_contact" class="tiny hollow secondary button">{{ lbl_on }}</button>
                    {% endif %}
                </span>
            </li>
            <li class="list-group-item cms-nav-item">
                <span class="cms-nav-label">Start Submission</span>
                <span class="cms-nav-actions">
                    {% if request.journal.nav_start %}
                        <span class="success label"><i class="fa fa-eye"></i> {{ state_on }}</span>
                        <button name="nav" value="nav_start" class="tiny hollow secondary button">{{ lbl_off }}</button>
                    {% else %}
                        <span class="warning label"><i class="fa fa-eye-slash"></i> {{ state_off }}</span>
                        <button name="nav" value="nav_start" class="tiny hollow secondary button">{{ lbl_on }}</button>
                    {% endif %}
                </span>
            </li>
            <li class="list-group-item cms-nav-item">
                <span class="cms-nav-label">Become a Reviewer</span>
                <span class="cms-nav-actions">
                    {% if request.journal.nav_review %}
                        <span class="success label"><i class="fa fa-eye"></i> {{ state_on }}</span>
                        <button name="nav" value="nav_review" class="tiny hollow secondary button">{{ lbl_off }}</button>
                    {% else %}
                        <span class="warning label"><i class="fa fa-eye-slash"></i> {{ state_off }}</span>
                        <button name="nav" value="nav_review" class="tiny hollow secondary button">{{ lbl_on }}</button>
                    {% endif %}
                </span>
            </li>
        {% endif %}
    </ul>
    {% endwith %}
</form>
