<form method="POST" action="{% url 'cms_nav' %}">
    {% csrf_token %}
    <ul>
        <li>Home <button class="tiny button" name="nav" value="nav_home"><i class="fa {% if request.journal.nav_home %}fa-check{% else %}fa-times{% endif %}"></i></button></li>
        {% for nav in top_nav_items %}
        <li>{{ nav.link_name }} ({{ nav.link }}) <a href="{% url 'cms_nav_edit' nav.pk %}"><i
                class="fa fa-edit">
            &nbsp;</i></a></li>
        {% if nav.sub_nav_items %}
            <ul>
                {% for sub_nav in nav.sub_nav_items %}
                    <li>{{ sub_nav.link_name }} ({{ sub_nav.link }}) <a
                            href="{% url 'cms_nav_edit' sub_nav.pk %}"><i class="fa fa-edit">&nbsp;</i></a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}

        <li>News <button class="tiny button" name="nav" value="nav_news"><i class="fa {% if request.journal.nav_news %}fa-check{% else %}fa-times{% endif %}"></i></button></li>
        <li>Articles <button class="tiny button" name="nav" value="nav_articles"><i class="fa {% if request.journal.nav_articles %}fa-check{% else %}fa-times{% endif %}"></i></button></li>
        <li>Issues <button class="tiny button" name="nav" value="nav_issues"><i class="fa {% if request.journal.nav_issues %}fa-check{% else %}fa-times{% endif %}"></i></button></li>
        <li>Editorial Team <i class="fa {% if journal_settings.general.enable_editorial_display %}fa-check{% else %}fa-times{% endif %}"></i></li>
        <li>Submissions <button class="tiny button" name="nav" value="nav_sub"><i class="fa {% if request.journal.nav_sub %}fa-check{% else %}fa-times{% endif %}"></i></button></li>
        <li>Contact <button class="tiny button" name="nav" href="?set=nav_contact"><i class="fa {% if request.journal.nav_contact %}fa-check{% else %}fa-times{% endif %}"></i></button></li>
        <li>Start Submission <button class="tiny button" name="nav" value="nav_start"><i class="fa {% if request.journal.nav_start %}fa-check{% else %}fa-times{% endif %}"></i></button></li>
        <li>Become a Reviewer <button class="tiny button" name="nav" value="nav_review"><i class="fa {% if request.journal.nav_review %}fa-check{% else %}fa-times{% endif %}"></i></button></li>

    </ul>
</form>