<form method="POST" action="{% url 'cms_nav' %}">
    {% csrf_token %}
    <ul class="list-group">
        {% if request.journal %}
            <li class="list-group-item">Home
                <button name="nav" value="nav_home"
                    class="tiny button float-right
                  {% if request.journal.nav_home %}
                    warning">
                    <i class="fa fa-times warning"></i> Disable
                  {% else %}
                    success">
                    <i class="fa fa-check"></i> Enable
                  {% endif %}
                </button>
            </li>
        {% endif %}
        {% for nav in top_nav_items %}
        <li class="list-group-item">
            {{ nav.link_name }}
            {% if nav.link %}
                ({{ nav.link }})
            {% endif %}
            (sequence {{ nav.sequence }})
              <span class="float-right">
                <a class="tiny button" href="{% url 'cms_nav_edit' nav.pk %}"><i class="fa fa-edit"> Edit</i></a>
                <button class="tiny button alert" name="delete_nav" value="{{ nav.pk }}"><i class="fa fa-trash"></i> Delete</button>
              </span>
            {% if nav.sub_nav_items %}
            <br />
                <ul>
                    {% for sub_nav in nav.sub_nav_items %}
                        <li class="padded-group-item">
                            {{ sub_nav.link_name }}
                            {% if sub_nav.link %}
                                ({{ sub_nav.link }})
                            {% endif %}
                            (sequence {{ sub_nav.sequence }})
                            <span class="float-right">
                            <a class="tiny button" href="{% url 'cms_nav_edit' sub_nav.pk %}"><i class="fa fa-edit"></i> Edit</a>
                            <button class="tiny button alert" name="delete_nav" value="{{ sub_nav.pk }}">
                                <i class="fa fa-trash"></i> Delete
                            </button>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
        {% endfor %}
        {#Custom Issue types navigation#}
        {% for issue_type in collection_nav_items %}
        <li class="list-group-item">{{ issue_type.plural_name }}
            <button name="toggle_collection_nav" value="{{ issue_type.pk }}" class="tiny button float-right success">
                <i class="fa fa-check"></i> Enable
            </button>
        </li>
        {% endfor %}
        {% if request.journal %}
            <li class="list-group-item">News
                <button name="nav" value="nav_news"
                    class="tiny button float-right
                  {% if request.journal.nav_news %}
                    warning">
                    <i class="fa fa-times warning"></i> Disable
                  {% else %}
                    success">
                    <i class="fa fa-check"></i> Enable
                  {% endif %}
                </button>
            </li>
            <li class="list-group-item">Articles
                <button name="nav" value="nav_articles"
                    class="tiny button float-right
                  {% if request.journal.nav_articles %}
                    warning">
                    <i class="fa fa-times warning"></i> Disable
                  {% else %}
                    success">
                    <i class="fa fa-check"></i> Enable
                  {% endif %}
                </button>
            </li>
            <li class="list-group-item">Issues
                <button name="nav" value="nav_issues"
                    class="tiny button float-right
                  {% if request.journal.nav_issues %}
                    warning">
                    <i class="fa fa-times warning"></i> Disable
                  {% else %}
                    success">
                    <i class="fa fa-check"></i> Enable
                  {% endif %}
                </button>
            </li>
            <li class="list-group-item">Editorial Team
                <button name="editorial_team" value="editorial_team"
                    class="tiny button float-right
                  {% if enable_editorial_display %}
                    warning">
                    <i class="fa fa-times warning"></i> Disable
                  {% else %}
                    success">
                    <i class="fa fa-check"></i> Enable
                  {% endif %}
                </button>
            </li>
            <li class="list-group-item">Keyword List
                <button name="keyword_list_page" value="keyword_list_page"
                    class="tiny button float-right
                  {% if keyword_list_page %}
                    warning">
                    <i class="fa fa-times warning"></i> Disable
                  {% else %}
                    success">
                    <i class="fa fa-check"></i> Enable
                  {% endif %}
                </button>
            </li>
            <li class="list-group-item">Submissions
                <button name="nav" value="nav_sub"
                    class="tiny button float-right
                  {% if request.journal.nav_sub %}
                    warning">
                    <i class="fa fa-times warning"></i> Disable
                  {% else %}
                    success">
                    <i class="fa fa-check"></i> Enable
                  {% endif %}
                </button>
            </li>
            <li class="list-group-item">Contact
                <button name="nav" value="nav_contact"
                    class="tiny button float-right
                  {% if request.journal.nav_contact %}
                    warning">
                    <i class="fa fa-times warning"></i> Disable
                  {% else %}
                    success">
                    <i class="fa fa-check"></i> Enable
                  {% endif %}
                </button>
            </li>
            <li class="list-group-item">Start Submission
                <button name="nav" value="nav_start"
                    class="tiny button float-right
                  {% if request.journal.nav_start %}
                    warning">
                    <i class="fa fa-times warning"></i> Disable
                  {% else %}
                    success">
                    <i class="fa fa-check"></i> Enable
                  {% endif %}
                </button>
            </li>
            <li class="list-group-item">Become a Reviewer
                <button name="nav" value="nav_review"
                    class="tiny button float-right
                  {% if request.journal.nav_review %}
                    warning">
                    <i class="fa fa-times warning"></i> Disable
                  {% else %}
                    success">
                    <i class="fa fa-check"></i> Enable
                  {% endif %}
                </button>
            </li>
        {% endif %}
    </ul>
</form>
