{% load foundation %}

<div class="reveal small-4" id="confirm_modal" data-reveal data-animation-in="slide-in-up"
         data-animation-out="slide-out-down">
    <div class="card">
        <div class="card-divider">
            <h4>{% trans "Confirmation" %}</h4>
        </div>
        <div class="card-section">
            <p>{{ modal_question }}</p>
            {% if potential_errors %}
                {% for error in potential_errors %}
                    <div class="callout warning">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <div class="card-section">
            <div class="button-group expanded">
                <button class="success button" form="{{ form_id }}" type="submit">
                    {% trans "Yes" %}
                </button>
                <button class="alert button" data-close type="button">
                    {% trans "No, go back" %}
                </button>
            </div>
        </div>
    </div>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
