{% load next_url %}

<div data-current-authors class="row expanded">
  {% include "admin/elements/current_authors_inner.html" %}
</div>

<script type="module">
  const currentAuthors = document.querySelector("[data-current-authors]");
  async function submitFormData(formData) {
    const url = "{% url_with_full_page_path 'submission_edit_current_authors' article.pk %}";
    try {
      const response = await fetch(url, {
        method: "POST",
        body: formData,
      });
      currentAuthors.innerHTML = await response.text();
      activateAll(currentAuthors);
    } catch (e) {
      console.error(e);
    }
  }
  function activateAll(currentAuthors) {
    for (const action of currentAuthors.querySelectorAll(
      '[data-current-authors-action]'
    )) {
      action?.addEventListener('click', event => {
        const button = event.target.closest('button');
        if (button) {
          event.stopPropagation();
          event.preventDefault();
          if ('giveMe' in button.dataset) {
            action.classList.toggle('displayed');
            button.setAttribute(
              'aria-expanded',
              action.classList.contains('displayed'),
            );
          } else {
            const fa = button.querySelector('.fa');
            fa.className = 'fa fa-spinner fa-spin fa-pulse';
            const form = button.closest('form');
            const formData = new FormData(form, button);
            submitFormData(formData);
          }
        }
      });
      action?.addEventListener('change', event => {
        const input = event.target.closest('input');
        console.log(input);
        if (input) {
          event.stopPropagation();
          const fa = document.createElement('span');
          fa.className = 'fa fa-spinner fa-spin fa-pulse';
          input.parentElement.append(fa);
          const form = input.closest('form');
          const formData = new FormData(form);
          submitFormData(formData);
        }
      });
    }
  }
  activateAll(currentAuthors);
</script>
