{% load foundation %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-section">
        {{ form | foundation }}
    </div>
    <div class="card-divider">
        <div class="button-group">
          {% include "elements/button_send.html" %}
          {% if skip %}
            {% include "elements/button_skip.html" %}
          {% endif %}
          {% if cancel_url %}
            {% with href=cancel_url label="Cancel and go back" %}
              {% include "elements/a_cancel.html" %}
            {% endwith %}
          {% endif %}
        </div>
    </div>
</form>
