{% load foundation %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card-section">
        {{ form | foundation }}
    </div>
    <div class="card-divider">
        <div class="button-group">
            <button type="submit" class="button success" name="send"><i class="fa fa-envelope-o">&nbsp;</i>Send</button>
            <button type="submit" class="button warning" name="skip"><i class="fa fa-step-forward">&nbsp;</i>Skip</button>
        </div>
    </div>
</form>
