{% load static %}
{% load foundation %}
{% load i18n %}
<table id="publisher_notes_list" class="scroll">
    <thead>
        <tr>
            <th>Date</th>
            <th>Creator</th>
            <th>Note</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody id="sortable">
    {% for note in article.publisher_notes.all %}
            <tr id="note-{{ note.pk }}">
                <td>{{ note.date_time|date:"Y-m-d" }}</td>
                <td>{{ note.creator.full_name }}</td>
                <td>{{ note.text|safe }}</td>
                <td><a class="tiny warming button" href="#" data-open="notemodaledit-{{ note.id }}"><i class="fa fa-edit">&nbsp;</i>Edit</a></td>
                <td>
                    <form method="POST">
                        {% csrf_token %}
                    <button type="submit" name="delete_note" value="{{ note.pk }}" class="tiny alert button">
                        <i class="fa fa-trash"></i></button></form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="medium reveal" id="notemodaladd" data-reveal>
        <small>{% include "elements/forms/errors.html" with form=newnote_form %}</small>
        <h3>{% trans "Add A Publisher Note" %}</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="large-12 columns end">
                    {{ newnote_form.text|foundation }}
                </div>
            </div>

            <button class="success button pull-right" type="submit" name="add_publisher_note"><i class="fa fa-user">&nbsp;</i>{% trans "Add Publisher Note" %}
            </button>
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </form>
</div>

{% for note_form in note_forms %}
    <div class="medium reveal" id="notemodaledit-{{ note_form.instance.id }}" data-reveal>
        <small>{% include "elements/forms/errors.html" with form=note_form %}</small>
        <h3>{% trans "Edit A Publisher Note" %}</h3>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="large-12 columns end">
                    {{ note_form.text|foundation }}
                </div>
            </div>

            <button class="success button pull-right" type="submit" name="save_publisher_note" value="{{ note_form.instance.id }}"><i class="fa fa-user">&nbsp;</i>{% trans "Save Publisher Note" %}
            </button>
            <button class="close-button" data-close aria-label="Close reveal" type="button">
                <span aria-hidden="true">&times;</span>
            </button>
        </form>
</div>
{% endfor %}

