<form method="POST">
  <div class="flex">
    {% csrf_token %}
    <input hidden name="params_string" value="{{ params_string }}">
    {% for accountrole in accountroles %}
      {% if accountrole.journal == journal %}
        <div class="small button-group">
          <span class="small button secondary chip">
            {{ accountrole.role.name }}
          </span>
          <button
            class="small button secondary"
            name="remove_accountrole"
            value="{{ accountrole.pk }}"
            type="submit">
            <span
              class="fa fa-remove"
              aria-label="Remove {{ accountrole.role.name }} role">
            </span>
          </button>
        </div>
      {% endif %}
    {% endfor %}
    {% if request.journal %}
      {% include 'admin/elements/add_role_dropdown.html' %}
    {% endif %}
  </div>
</form>
