<div class="flex wrap gap-0-25">
  {% if account.is_active %}
    <div>
      <span class="fa fa-check"></span>
      Active
    </div>
  {% else %}
    <div>
      <span class="fa fa-warning"></span>
      Inactive
    </div>
  {% endif %}
  {% if user.is_staff %}
    {% if account.is_staff %}
      <div>
        <span class="fa fa-user"></span>
        Staff
      </div>
    {% endif %}
  {% endif %}
  {% if user.is_superuser %}
    {% if account.is_superuser %}
      <div>
        <span class="fa fa-star"></span>
        Superuser
      </div>
    {% endif %}
  {% endif %}
</div>
