{% extends "install/base.html" %}
{% load foundation %}

{% block title %}Install{% endblock %}
{% block title-section %}Install{% endblock %}

{% block body %}
    <div class="box">
        <div class="title-area">
            <h2>Journal</h2>
        </div>
        <div class="content">
            <div class="row expanded">
                <div class="large-12 columns">
                    <p>Here are a selection of settings to help you get things setup on your journal.</p>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="large-4 columns">
                        {{ attr_form.code|foundation }}
                    </div>
                    <div class="large-4 columns">
                        {{ sett_form.journal_name|foundation }}
                    </div>
                    <div class="large-4 columns">
                        {{ sett_form.journal_issn|foundation }}
                    </div>
                    <div class="large-4 columns">
                        {{ sett_form.print_issn|foundation }}
                    </div>
                    <div class="large-6 columns">
                        {{ sett_form.publisher_name|foundation }}
                    </div>
                    <div class="large-6 columns">
                        {{ sett_form.publisher_url|foundation }}
                    </div>
                    <div class="large-12 columns">
                        {{ attr_form.description|foundation }}
                        <button type="submit" name="save" class="success button">Save Changes</button>
                        <div class="float-right">
                            <a href="{% url 'install_next' %}" class="button">Move to Next Step</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
{% include "elements/jqte.html" %}
{% endblock %}
