{% extends "admin/core/base.html" %}
{% load foundation %}
{% load static %}

{% block title %}About this Journal{% endblock title %}
{% block admin-header %}About this Journal{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'core_manager_index' %}">Manager</a></li>
    <li><a href="{% url 'home_settings_index' %}">Journal Home Settings</a></li>
    <li>About this Journal Block</li>
{% endblock %}

{% block body %}
    <div class="large-6 columns box end">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="success button">Save</button>
        </form>
    </div>
{% endblock body %}

{% block js %}
{% include "elements/jqte.html" %}
{% endblock js %}


