{% extends "admin/core/base.html" %}

{% block title %}{{ preprint.title|striptags }}{% endblock %}
{% block title-section %}Preprint Manager{% endblock %}
{% block title-sub %}Preprint #{{ preprint.pk }} - {{ preprint.title|safe }}: {{ preprint.subtitle|safe }}{% endblock %}
{% load files %}

{% block breadcrumbs %}
    <li><a href="{% url 'core_manager_index' %}">Press Manager</a></li>
    <li><a href="{% url 'preprints_manager' %}">Preprint Manager</a></li>
    <li>{{ preprint.title|safe }}</li>
{% endblock %}

{% block body %}

    <div class="large-8 columns">
        <div class="box">
            <div class="title-area">
                <h2>Preprint Metadata</h2>
            </div>
            <div class="content">
                <table class="scroll">
                    <tr>
                        <th>Owner</th>
                        <th>Licence</th>
                        <th>Language</th>
                    </tr>
                    <tr>
                        <td>{{ preprint.owner.full_name }}</td>
                        <td>{{ preprint.license.short_name }}</td>
                        <td>{{ preprint.get_language_display }}</td>
                    </tr>
                    <tr>
                        <th colspan="1">Started</th>
                        <th colspan="1">Submitted</th>
                        <th>Subject Area</th>
                    </tr>
                    <tr>
                        <td>{{ preprint.date_started }}</td>
                        <td>{{ preprint.date_submitted }}</td>
                        <td>{% for subject in preprint.subject_set.all %}{{ subject.name }}{% if not forloop.last %}, {% endif %}{% endfor %} <a href="#" data-open="subjectmodal"><i class="fa fa-pencil-square"</a></td>
                    </tr>
                    <tr>
                        <th colspan="4">Abstract</th>
                    </tr>
                    <tr>
                        <td colspan="4">{{ preprint.abstract|safe }}</td>
                    </tr>
                    <tr>
                        <th colspan="4">Comments to Editor</th>
                    </tr>
                    <tr>
                        <td colspan="4">{% if preprint.comments_editor %}{{ preprint.comments_editor|linebreaksbr }}{% else %}No
                            comments{% endif %}</td>
                    </tr>
                    {% if journal_settings.general.submission_competing_interests %}
                        <tr>
                            <th colspan="4">Competing Interests</th>
                        </tr>
                        <tr>
                            <td colspan="4">
                                {% if preprint.competing_interests %}{{ preprint.competing_interests }}{% else %}No
                                    CI{% endif %}</td>
                        </tr>
                    {% endif %}
                    {% for field_answer in preprint.fieldanswer_set.all %}
                        <tr>
                            <th colspan="4">{{ field_answer.field.name }}</th>
                        </tr>
                        <tr>
                            <td colspan="4">{{ field_answer.answer }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="box">
            <div class="title-area">
                <h2>Authors</h2>
            </div>
            <div class="content">
                <table class="scroll" id="unassigned">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Primary?</th>
                    </tr>
                    {% for order in preprint.articleauthororder_set.all %}
                        <tr>
                            <td><a href="#" data-open="author-{{ order.author.pk }}">{{ order.author.full_name }}</a></td>
                            <td>{{ order.author.email }}</td>
                            <td>{% if order.author == preprint.correspondence_author %}
                                <i class="fa fa-check-circle" style="color: green;"></i>{% else %}
                                <i class="fa fa-times-circle" style="color: red;"></i>{% endif %}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>

        <div class="box">
            <div class="title-area">
                <h2>Files</h2>
            </div>
            <div class="content">
                <table class="small scroll">
                    <tr>
                        <th>Label</th>
                        <th>Filename</th>
                        <th>Type</th>
                        <th>Uploaded</th>
                        <th>Download</th>
                        <th>Replace</th>
                        <th>File History</th>
                        <th>Make Galley</th>
                    </tr>
                    <form method="POST">
                        {% csrf_token %}
                        {% for file in preprint.manuscript_files.all %}
                            <tr>
                                <td>{{ file.label }}</td>
                                <td>{{ file.original_filename }}</td>
                                <td>Manuscript</td>
                                <td>{{ file.date_uploaded|date:"Y-m-d G:i" }}</td>
                                <td><a href="{% url 'article_file_download' 'id' preprint.pk file.pk %}"><i
                                        class="fa fa-download">&nbsp;</i></a></td>
                                <td>
                                    <a href="{% url 'article_file_replace' 'id' preprint.pk file.pk %}?return={% url 'preprints_manager_article' preprint.pk %}"><i
                                            class="fa fa-cloud-upload">&nbsp;</i></a></td>
                                <td>
                                    <a href="{% url 'file_history' preprint.pk file.pk %}?return={% url 'preprints_manager_article' preprint.pk %}"><i
                                            class="fa fa-history">&nbsp;</i></a></td>
                                <td><a
                                        href="{% url 'article_file_make_galley' preprint.pk file.pk %}?return={{ request.path|urlencode }}"><i
                                        class="fa fa-share-square-o">&nbsp;</i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </form>
                    {% for file in preprint.data_figure_files.all %}
                        <tr>
                            <td>{{ file.label }}</td>
                            <td>{{ file.original_filename }}</td>
                            <td>Data/Figure</td>
                            <td>{{ file.date_uploaded|date:"Y-m-d G:i" }}</td>
                            <td><a href="{% url 'article_file_download' 'id' preprint.pk file.pk %}"><i
                                    class="fa fa-download">&nbsp;</i></a></td>
                            <td>n/a</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="box">
            <div class="title-area">
                <h2>Current galleys and data/figure files</h2>
            </div>
            <div class="content">
                <table class="small scroll">
                    <tr style="text-align: left">
                        <th>Label</th>
                        <th width="25%">Filename</th>
                        <th>Type</th>
                        <th>Uploaded</th>
                        <th>Edit</th>
                        <th>Download</th>
                        <th>History</th>
                    </tr>
                    {% for galley in preprint.galley_set.all %}
                        <tr>
                            <td>{{ galley.label }}</td>
                            <td>{{ galley.file.original_filename|truncatechars:40 }}</td>
                            <td>Galley</td>
                            <td>{{ galley.file.date_uploaded|date:"Y-m-d G:i" }}</td>
                            <td>
                                <a href="{% url 'pm_edit_galley' preprint.pk galley.pk %}?return={{ request.path|urlencode }}"
                                   class="fa fa-edit"></a></td>
                            <td>
                                <a href="{% url 'article_file_download' 'id' preprint.pk galley.file.pk %}"><i
                                        class="fa fa-download">&nbsp;</i></a>
                            </td>
                            <td>
                                <a href="{% url 'file_history' preprint.pk galley.file.pk %}?return={{ request.path|urlencode }}"><i
                                        class="fa fa-history">
                                    &nbsp;</i></a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="9">No galleys have been uploaded.</td>
                        </tr>
                    {% endfor %}
                </table>
                <div class="float-right"><a class="button success" data-open="uploadbox"><i class="fa fa-cloud-upload">
                    &nbsp;</i>Upload a new galley</a>
                </div>
                <br/>
            </div>
        </div>
        <div class="box">
            <div class="title-area">
                <h2>Old Versions</h2>
            </div>
            <div class="content">
                <table class="scroll">
                    <thead>
                        <tr>
                            <th>Version</th>
                            <th>Date</th>
                            <th>Filename</th>
                            <th>Label</th>
                            <th>Uploaded</th>
                            <th>Download</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for version in preprint.preprintversion_set.all %}
                            <tr>
                                <td>{{ version.version }}</td>
                                <td>{{ version.date_time }}</td>
                                <td>{{ version.galley.file.original_filename|truncatechars:40 }}</td>
                                <td>{{ version.galley.label }}</td>
                                <td>{{ version.galley.file.date_uploaded|date:"Y-m-d G:i" }}</td>
                                <td><a href="{% url 'article_download_galley' preprint.id version.galley.id %}"><i class="fa fa-download"></i></a></td>
                                <td><form method="POST">{% csrf_token %}<button type="submit" value="{{ version.pk }}" name="delete" class="control-button"><i class="fa fa-trash"></i></button></form></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="box">
            <div class="title-area">
                <h2>Controls</h2>
            </div>

            <div class="content">
                <ul class="menu vertical actions">
                    <li><a href="mailto:{{ preprint.correspondence_author.email }}"><i class="fa fa-envelope"></i>
                        Contact the Author</a></li>
                    <li><a href="{% url 'manage_article_log' preprint.pk %}?return={% url 'preprints_manager_article' preprint.pk %}"><i class="fa fa-clipboard">&nbsp;</i>Log</a></li>
                    <li><a href="{% url 'preprints_comments' preprint.pk %}"><i class="fa fa-comments" aria-hidden="true">&nbsp;</i>Comments ({{ preprint.comment_set.all|length }})</a></li>
                    {% if not preprint.date_accepted and not preprint.date_declined and preprint.has_galley %}
                        <li><a href="#" data-open="accept_preprint"><i class="fa fa-check-circle action-icon">&nbsp;</i>Accept
                            Article</a></li>
                    {% endif %}
                    <form method="POST">
                        {% csrf_token %}
                        {% if not preprint.date_accepted and not preprint.date_declined %}
                            <li>
                                <button name="decline" class="control-button"><i class="fa fa-check-circle action-icon">&nbsp;</i>Decline
                                    Article
                                </button>
                            </li>
                        {% endif %}
                        {% if preprint.date_accepted and preprint.date_published %}
                            <li>
                                <button name="unpublish" class="control-button"><i class="fa fa-recycle">&nbsp;</i>Unpublish this Preprint</button>
                            </li>
                        {% endif %}
                        {% if request.user.is_staff and preprint.date_declined and not preprint.date_published %}
                            <li>
                                <button name="unpublish" class="control-button"><i class="fa fa-recycle">&nbsp;</i>Unreject this Preprint</button>
                            </li>
                        {% endif %}
                    </form>
                </ul>

                <div class="callout {% if not preprint.has_galley %}alert{% else %}info{% endif %}">
                    {% if preprint.date_accepted %}
                        <small>This preprint was accepted on {{ preprint.date_accepted }}</small>
                    {% elif preprint.date_declined %}
                        <small>This preprint was rejected on {{ preprint.date_declined }}</small>
                    {% else %}
                        <small>This preprint is currently awaiting review.</small>
                    {% endif %}
                    {% if not preprint.has_galley and not preprint.date_declined %}
                        <small> This preprint requires at least one galley file. You can either turn an existing file
                            into a galley in the table below, or upload a new file to be a galley.
                        </small>
                    {% endif %}
                </div>
                <div class="callout">
                    <small>Primary identifier for this article {{ preprint.identifier }}</small>
                </div>
            </div>
        </div>
    </div>


    {% include "elements/preprints/accept_preprint.html" %}
    {% include "elements/production/new_galley.html" %}
    {% include "elements/preprints/subject_modal.html" %}

    {% for order in preprint.articleauthororder_set.all %}
        {% include "elements/preprints/author_meta.html" with author=order.author %}
    {% endfor %}

{% endblock %}

{% block js %}
    {% include "elements/datepicker.html" with target="#date" %}
    {% include "elements/timepicker.html" with target="#time" %}
{% endblock %}