{% extends "admin/core/base.html" %}
{% load foundation %}
{% load bool_fa %}

{% block title %}Version Moderation{% endblock %}
{% block title-section %}Version Moderation{% endblock %}
{% block title-sub %}There are {{ version_queue|length }} version requests for review.{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'core_manager_index' %}">Press Manager</a></li>
    <li><a href="{% url 'preprints_manager' %}">Preprint Manager</a></li>
    <li>Version Moderation</li>
{% endblock %}

{% block body %}
    <div class="row expanded" data-equalizer data-equalize-on="medium">
        <div class="box">
            <table id="versions">
                <thead>
                    <tr>
                        <th>Article</th>
                        <th>Requester</th>
                        <th>Requested</th>
                        <th>File</th>
                        <th>Approve</th>
                        <th>Decline</th>
                    </tr>
                </thead>
                <tbody>
                {% for version in version_queue %}
                    <tr>
                        <td>{{ version.article.title|safe }}</td>
                        <td>{{ version.article.owner }}</td>
                        <td>{{ version.date_submitted }}</td>
                        <td><a href=""><i class="fa fa-download"></i> Download</a></td>
                        <td><a href="" class="button success"><i class="fa fa-check"> </i></a></td>
                        <td><a href="" class="button alert"><i class="fa fa-times"> </i></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include "admin/elements/datatables.html" with target="#versions" page_length=25 sort=2 order="asc" %}
{% endblock %}
