{% extends "core/base.html" %}
{% load foundation %}
{% load i18n %}
{% load recaptcha2 %}

{% block title %}{% trans "Register" %}{% endblock title %}

{% block css %}
    <style>
        .login {
            margin-top: 40px;
            margin-bottom: 40px;
        }
    </style>
{% endblock css %}

{% block head %}
    {% recaptcha_init %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="medium-12 medium-centered large-12 large-centered columns login">

            <form method="POST">
                {% csrf_token %}
                <div class="callout">
                    <div class="row column log-in-form">
                        <h5>{% trans "Register for an" %}  {{ request.press.name }} {% trans "account" %}.</h5>
                        <p>Password Rules:</p>
                            <ul class="no-top-margin">
                                <li>{% trans "Your password should be" %} {{ request.press.password_length }} {% trans "characters long" %}.</li>
                        {% if request.press.password_upper %}<li>{% trans "Your password should contain at least one upper case letter." %}</li>{% endif %}
                        {% if request.press.password_number %}<li>{% trans "Your password should contain at least one number." %}</li>{% endif %}
                            </ul>
                            <p>{% blocktrans %}For more information read our <a href="#" data-open="password-modal">password guide</a>.{% endblocktrans %}</p>

                        {% include "elements/forms/errors.html" with form=form %}

                        <div class="row">
                            <div class="large-12 columns">
                                {{ form.email|foundation }}
                            </div>
                            <div class="large-3 columns">
                                {{ form.salutation|foundation }}
                            </div>
                            <div class="large-3 columns">
                                {{ form.first_name|foundation }}
                            </div>
                            <div class="large-3 columns">
                                {{ form.middle_name|foundation }}
                            </div>
                            <div class="large-3 columns">
                                {{ form.last_name|foundation }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-4 columns">
                                {{ form.department|foundation }}
                            </div>
                            <div class="large-4 columns">
                                {{ form.institution|foundation }}
                            </div>
                            <div class="large-4 columns">
                                {{ form.country|foundation }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-6 columns">
                                {{ form.password_1|foundation }}
                            </div>
                            <div class="large-6 columns">
                                {{ form.password_2|foundation }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="large-12 columns">
                                {{ form.are_you_a_robot|foundation }}
                                <br/>
                                <p>{% trans "By registering an account you agree to our" %}
                                  {% if journal_settings.general.privacy_policy_url %}
                                    <a href="{{ journal_settings.general.privacy_policy_url }}">{% trans "Privacy Policy" %}</a>
                                  {% else %}
                                    <a href="{% url 'cms_page' "privacy" %}">{% trans "Privacy Policy" %}</a>
                                  {% endif %}
                                </p>
                            </div>
                        </div>
                        <p>
                            <button type="submit" class="success button float-right">{% trans "Register" %}</button>
                        </p>
                    </div>
                </div>
            </form>

        </div>
    </div>

    <div class="reveal" id="password-modal" data-reveal>
        <h1>{% trans "Password Guide" %}</h1>
        <p class="lead">{% trans "When it comes to passwords, length is better than complexity." %}</p>
        <p>{% trans "Its a common myth that a short and complex password (Jfjfy&65^87) is more secure than a long and uncomplicated password (our awesome moon base rocks)." %}</p>
        <p>{% trans "We recommend selecting a long, but easy to remember password such as our awesome moon base rocks which would take an estimated septillion years to crack as opposed to a complex one like Jfjfy&65^87 which would take just over 600 years on a standard computer." %}</p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

{% endblock body %}
