{% load i18n %}

<div class="row">
    <div class="col-md-12">
        <div id="carousel" class="carousel slide carousel-min" data-ride="carousel">

            <div class="carousel-inner carousel-min" role="listbox">
                {% for carousel_item in carousel_items %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %} carousel-min">
                        <img class="d-block img-fluid article-img carousel-min"
                                {% if carousel_item.large_image_file.id %}
                             src="{% url carousel_item.carousel_image_resolver 'id' carousel_item.id carousel_item.large_image_file.id %}"
                                {% elif journal.default_large_image %}
                             src="{{ journal.default_large_image.url }}"
                                {% else %}
                             src=""
                                {% endif %}
                             alt="{{ carousel_item.carousel_title|striptags }}">
                        <div class="carousel-caption d-none d-md-block" style="min-width: 100%;">
                             <p>{{ carousel_item.carousel_subtitle }}</p>
                             <h3>{{ carousel_item.carousel_title|safe|truncatechars:200 }}</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
