{% load static from staticfiles %}
{% load i18n %}

<div class="row">
    <div class="col-md-12">
        <h2 class="index-header">{% trans 'Featured Articles' %}</h2>
    </div>
    {% for fa in featured_articles %}
        <div class="col-md-4 row-eq-height">
            <div class="card" style="width: 20rem;">
                {% if fa.article.large_image_file %}
                    <img src="{% url 'article_file_download' 'id' fa.article.id fa.article.large_image_file.id %}"
                         alt="{{ article.title|urlencode }}"
                         class="feature-article-image">
                {% elif fa.article.journal.default_large_image %}
                    <img src="{{ fa.article.journal.default_large_image.url }}"
                         alt="{{ article.title|urlencode }}"
                         class="feature-article-image">
                {% else %}
                    <img src="{% static 'common/img/sample/article-small.jpg' %}"
                         alt="{{ article.title|urlencode }}"
                         class="feature-article-image">
                {% endif %}
                <div class="card-block">
                    <p class="card-text">{{ fa.article.author_list }}</p>
                    <p class="card-text"><strong><a href="{% if article.is_remote %}https://doi.org/{{ fa.article.identifier.identifier }}{% else %}{% url 'article_view' fa.article.identifier.id_type fa.article.identifier.identifier %}{% endif %}">{{ fa.article.title|safe|truncatechars:200 }}</a></strong></p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>