{% load svg from press_url %}
{% load truncate %}
{% load i18n %}

<section>
    <div class="row">
        <div class="col-md-12 columns">
            <h2 class="index-header">{% trans "Latest News" %}</h2>
            <div class="row">
                {% for item in news_items %}
                    <div class="col-md-6">
                        <h5>{{ item.title }}</h5>
                        <h6><strong>{% trans "Posted by" %} {{ item.posted_by.full_name }}
                            on {{ item.posted|date:"Y-m-d" }}</strong></h6>
                        <p>{{ item.body|striptags|truncatesmart:400 }}</p>
                        <p><a href="{% url 'core_news_item' item.pk %}">{% trans "Read More" %}</a></p>
                    </div>
                {% empty %}
                    <h4>{% trans "This journal currently has no news items to display" %}.</h4>
                {% endfor %}
            </div>
        </div>
    </div>
</section>