{% extends "admin/core/base.html" %}
{% load static from staticfiles %}

{% block title %}Article {{ article.pk }} Log{% endblock %}
{% block title-section %}Article {{ article.pk }} Log{% endblock %}
{% block title-sub %}{{ article.title|safe }}{% endblock %}

{% block body %}
    <div class="box">
        <div class="title-area">
            <h2>Log Entries</h2>
            {% if settings.ENABLE_ENHANCED_MAILGUN_FEATURES %}<form method="POST">{% csrf_token %}<button class="button" id="run" name="run" onclick="run_resolution()">Refresh Email Status</button></form>{% endif %}
            {% if return %}<a href="{{ return }}" class="button"><i class="fa fa-arrow-left"> </i>Back</a>{% endif %}
        </div>
        <div class="content">
            <table id="log" class="scroll">
                <thead>
                    <tr>
                        <th>Entry Type</th>
                        <th>To (if email)</th>
                        <th>Date</th>
                        <th>Actor</th>
                        <th>Level</th>
                        {% if settings.ENABLE_ENHANCED_MAILGUN_FEATURES %}<th>Email Status</th>{% endif %}
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in log_entries %}
                        <tr>
                            <td>{{ entry.types }}</td>
                            <td>{% if entry.is_email %}{% for email in entry.to %}{{ email }}{% if not forloop.last %}; {% endif %}{% endfor %}{% endif %}</td>
                            <td>{{ entry.date|date:"Y-m-d H:i:s" }}</td>
                            <td>{{ entry.actor.full_name }}</td>
                            <td>{{ entry.get_level_display|capfirst }}</td>
                            {% if settings.ENABLE_ENHANCED_MAILGUN_FEATURES %}<td>
                                {% if entry.is_email %}
                                <i class="fa fa-circle {{ entry.message_status_class }}" aria-hidden="true"></i>
                                {{ entry.get_message_status_display }}
                                {% endif %}
                            </td>{% endif %}
                            <td><a href="#" data-open="entry-{{ entry.pk }}">View Content</a> </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="box">
        <div class="title-area">
            <h2>Article Stage log</h2>
        </div>
        <div class="box">
            <table class="scroll">
                <thead>
                    <tr>
                        <th>Entered Stage</th>
                        <th>Date/Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in article.articlestagelog_set.all %}
                        <tr>
                            <td>{{ entry.stage_to }}</td>
                            <td>{{ entry.date_time }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% for entry in log_entries %}
    {% include "elements/journal/log_description.html" with entry=entry %}
    {% endfor %}

{% endblock %}

{% block js %}
    <script type="text/javascript" src="{% static 'admin/js/resolution.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/popup.js' %}"></script>
    {% include "elements/datatables.html" with target="#log" order='desc' sort=1 %}
{% endblock %}