<div class="card">
    <div class="card-divider">
        <h2><span class="fa fa-upload" aria-hidden="true"></span>&nbsp; Upload File</h2>
    </div>
</div>
<div class="card-section">
    {% if error %}
        <div class="alert alert-warning" role="alert">{{ error }}</div>
    {% endif %}
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <h3>Label the file:</h3>
        <div class="clearfix">
            <label for="label">File Label <span aria-hidden="true">*</span></label>
            <input type="text" maxlength="200" id="label" name="label" placeholder="e.g. figure 3 version 2" required="required" />
            <input type="hidden" name="upload" value="upload">
        </div>
        <h3>Choose file type:</h3>
        <div class="clearfix">
            <fieldset id="file-type-chooser">
                <legend>File types</legend>
                <label> <input type="radio" value="manu" name="file-type-chooser"><strong>Manuscript File</strong> - used in review and copy-editing.</label>
                <label> <input type="radio" value="fig" name="file-type-chooser"> <strong>Figure/Data File</strong> - Figure files are images from manuscripts. Data files are any other file not an image or manuscript that relate to the paper.</label>
                <label> <input type="radio" value="prod" name="file-type-chooser"> <strong>Production File</strong> - for use in Production/Typesetting.</label>
                <label> <input type="radio" value="proof" name="file-type-chooser"> <strong>Proofing</strong> - for use in Proofing.</label>
            </fieldset>
        </div>
        <h3>Select and Upload:</h3>
        <div class="clearfix">
            <input name="new-file" type="file" class="float-left" style="width:50%;"
                        data-placeholder="No file"
                        data-buttonName="btn-primary"
                        aria-label="file chooser">
            <button type="submit" class="button success float-right" name="file-upload">
                <span class="fa fa-upload" aria-hidden="true"></span> &nbsp; Upload
            </button>
        </div>
    </form>
</div>