{% load foundation %}
<div class="card">
    <div class="card-divider">
        <h2><span class="fa fa-upload" aria-hidden="true"></span>&nbsp; Upload File</h2>
    </div>
</div>
<div class="card-section">
    {% if error %}
        <div class="alert alert-warning" role="alert">{{ error }}</div>
    {% endif %}
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <form method="POST" enctype="multipart/form-data">
        {% include "admin/elements/forms/errors.html" with form=form %}
        {% csrf_token %}
        {{ form |foundation }}

        <div class="row expanded">
            <div class="large-12 columns">
                <button type="submit" class="button success float-left" name="file-upload">
                    <span class="fa fa-upload" aria-hidden="true"></span> &nbsp; Upload
                </button>
            </div>
        </div>
        
    </form>
</div>