{% extends "admin/core/base.html" %}
{% load static %}

{% load securitytags %}
{% load files %}

{% block title %}Article Document Management{% endblock title %}
{% block title-section %}Article Document Management{% endblock %}
{% block title-sub %}#{{ article.pk }} / {{ article.correspondence_author.last_name }} / {{ article.safe_title }}{% endblock %}

{% block body %}
    {% csrf_token %}
    <div class="row expanded box">
        <div class="large-12 columns">
            <div class="title-area">
                Article #{{ article.pk }} {{ article.safe_title }} Files
            </div>
            <table id="files" class="small files">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Label</th>
                    <th>Uploaded</th>
                    <th>Modified</th>
                    <th>Filename</th>
                    <th>Download</th>
                    <th>History</th>
                    <th>Replace</th>
                    <th>Delete</th>
                    <th>Type</th>
                    {% if request.user.is_admin %}
                    <th>Admin</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for file in files %}
                    {% can_edit_file file article as can_edit_file_flag %}
                    {% can_view_file file as can_view_file_flag %}
                    {% can_view_file_history file article as can_view_file_history_flag %}
                    <tr>
                        <td>{{ file.pk }}</td>
                        <td class="wrap-long-text">{% if not file.label %}No Label{% endif %}{{ file.label }}</td>
                        <td>{{ file.date_uploaded|date:"Y-m-d G:i" }}</td>
                        <td>{{ file.last_modified|date:"Y-m-d G:i" }}</td>
                        <td class="wrap-long-text">{{ file }}</td>
                        <td>{% if can_view_file_flag %}
                            <a href="{% url 'article_file_download' 'id' article.pk file.pk %}"><i
                                    class="fa fa-download">
                                &nbsp;</i></a>{% endif %}</td>
                        <td>{% if can_view_file_history_flag %}
                            <a href="{% url 'file_history' article.pk file.pk %}?return={{ request.path|urlencode }}"><i
                                    class="fa fa-history">
                                &nbsp;</i></a>{% endif %}
                        </td>
                        <td>{% if can_edit_file_flag %}
                            <a href="{% url 'article_file_replace' 'id' article.pk file.pk %}?return={{ request.path|urlencode }}%3Freturn%3D{{ request.GET.return|urlencode }}"><i
                                    class="fa fa-cloud-upload">&nbsp;</i></a>{% endif %}</td>
                        <td>{% if can_edit_file_flag %}
                            <a href="{% url 'file_delete' article.pk file.pk %}?return={{ request.path|urlencode }}%3Freturn%3D{{ request.GET.return|urlencode }}"><i
                                    class="fa fa-trash">
                                &nbsp;</i></a>{% endif %}</td>
                        <td>{% file_type article file %}</td>
                        {% if request.user.is_admin %}
                        <td>
                            <a target="_blank" href="{% url 'admin:core_file_change' file.pk %}"><span class="fa fa-cogs">&nbsp;</span>Edit</a>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>

            <p>If required, you can upload new files to various sections of the workflow.</p>
            <a class="button success" data-open="uploadbox" aria-controls="uploadbox" aria-haspopup="true" tabindex="0"><i
                    class="fa fa-cloud-upload">
                &nbsp;</i>Upload File</a>

        </div>
    </div>



    <div class="large-12 columns">
        <form method="POST">
            {% csrf_token %}
            <a class="button success float-right" href="{{ return_url }}"><i class="fa fa-check">&nbsp;</i>Return
            </a>
        </form>
    </div>

    <div class="reveal" id="uploadbox" data-reveal data-animation-in="slide-in-up"
         data-animation-out="slide-out-down">
         {% include "document_upload.html" %}
    </div>



{% endblock body %}

{% block js %}
    {% include "admin/elements/datatables.html" with target="#files" %}
{% endblock js %}
