{% load foundation %}
<div class="card">
    <div class="card-divider">
        <h2><span class="fa fa-upload" aria-hidden="true"></span>&nbsp; Upload File</h2>
    </div>
</div>
<div class="card-section">
    {% if error %}
        <div class="alert alert-warning" role="alert">{{ error }}</div>
    {% endif %}
    <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h3>1. Label the file:</h3>
        {{ form.label }}
        <h3>2. Choose the file type:</h3>
        {{ form.file_type}}
        <h3>3. Select the file:</h3>
        {{ form.file }}

        <button type="submit" class="button success float-left" name="file-upload">
            <span class="fa fa-upload" aria-hidden="true"></span> &nbsp; Upload
        </button>
        </div>
    </form>
</div>