{% extends "admin/core/base.html" %}
{% load static %}


{% block page_title %}Replace a File{% endblock page_title %}

{% block body %}
    {% csrf_token %}
    <div class="large-12 columns box">
        <div class="title-area">
            <h2>Replace File</h2>
        </div>

        {% if error %}
            <div class="alert alert-warning" role="alert">{{ error }}</div>
        {% endif %}
        {% if request.GET.full_replace %}
        <div class="bs-callout bs-callout-danger" role="alert">Full Replace is set, this means that you will delete the existing file and over-write it fully.</div>
        {% endif %}
        <p><strong>Submission guidelines</strong>: To upload a file, select it using one of the "Choose file" buttons,
            then upload it with the "Upload file" button next to it. You will then be asked for some additional
            information (label, description etc.)</p>
        <h4>Replacement File</h4>
        <p>Please upload your replacement file.</p>
        <div class="row expanded">
            <div class="large-6 columns">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4></h4>
                    <input name="replacement-file" type="file" class="filestyle" data-placeholder="No file"
                           data-buttonName="btn-primary" required>
                    <br/>
                    <button type="submit" class="button success" name="replacement"><i class="fa fa-upload">&nbsp;</i>Upload
                    </button>
                </form>
            </div>
            <div class="large-6 columns">
                <table class="small scroll">
                    <tr>
                        <th>Label</th>
                        <th>File Name</th>
                    </tr>
                    <tr>
                        <td>{{ old_file.label }}</td>
                        <td><a href="{% url 'article_file_download' 'id' article.pk old_file.pk %}"><i
                                class="fa fa-download">&nbsp;{{ old_file }}</i></a></td>
                    </tr>
                </table>
            </div>
            <div class="large-4 columns"></div>
        </div>


        <div class="large-12 columns">
            <form method="POST">
                {% csrf_token %}
                <button class="button success pull-right" type="submit" name="back"><i class="fa fa-arrow-left">
                    &nbsp;</i>Back
                </button>
            </form>
        </div>
    </div>

{% endblock body %}

{% block js %}
    <script type="text/javascript" src="{% static "js/bootstrap-filestyle.min.js" %}"></script>
    <script type="text/javascript">
        $(":file").filestyle({
            placeholder: "No file",
            buttonName: "btn-primary",
            buttonBefore: true,
            buttonText: "&nbsp; Choose file"
        });
    </script>
{% endblock %}
