{% extends "admin/core/base.html" %}
{% load foundation %}

{% block title %}Resend Logged Email{% endblock %}
{% block title-section %}Resend Logged Email ID #{{ log_entry.pk }}{% endblock %}
{% block title-sub %}Log entry for article #{{ article.pk }}: {{ article.safe_title }}{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
{% endblock %}

{% block body %}
    <div class="box">
        {% if not close %}
        <form method="POST">
            {% csrf_token %}
            <div class="large-12 columns">
                {% include "admin/elements/forms/errors.html" with form=form %}
            </div>
            {{ form|foundation }}
            <div class="large-12 columns">
              {% with name="resend" label="Resend Email" %}
                {% include "elements/button_send.html" %}
              {% endwith %}
              {% with href="javascript:self.close()" %}
                {% include "elements/a_cancel.html" %}
              {% endwith %}
            </div>
            <br/>
        </form>
        {% else %}
        <p>This email has been resent.</p>
          {% with href="javascript:self.close()" label="Close this window" %}
            {% include "elements/a_ok.html" %}
          {% endwith %}
        {% endif %}
    </div>
{% endblock %}
