{% load classname %}
{% load foundation %}
{% load materializecss %}
{% load static %}

{% if facet_form.fields %}
    <section aria-labelledby="filter-title">
        <div class="card-panel">
            <div class="row">
                <div class="col s12">
                    <h2 id="filter-title">{% trans 'Filter' %}</h2>
                </div>
                <form method="GET" id={{ facet_form.id }}>
                    {{ facet_form|materializecss }}
                    <div class="col s12">
                        <button action="" class="btn" type="submit">{% trans 'Apply' %}</button>
                        <button type="button" class="btn" id="select-all-btn">{% trans 'Select all' %}</button>
                        <button type="button" class="btn" id="clear-all-btn">{% trans 'Clear all' %}</button>
                    </div>
                </form>
                <script src="{% static 'common/js/form-toggle-all.js' %}"></script>
                <script>
                    initFormToggleButtons('select-all-btn', 'clear-all-btn', '{{ facet_form.id }}');
                </script>
            </div>
        </div>
    </section>
{% endif %}
