{% load classname %}
{% load foundation %}
{% load materializecss %}

{% if facet_form.fields %}
    <section aria-labelledby="filter-title">
        <div class="card-panel">
            <div class="row">
                <div class="col s12">
                    <h2 id="filter-title">{% trans 'Filter' %}</h2>
                </div>
                <form method="GET" id={{ facet_form.id }}>
                    {{ facet_form|materializecss }}
                    <div class="col s12">
                        <button action="" class="btn" type="submit">{% trans 'Apply' %}</button>
                        <button class="btn" name="clear_all">{% trans 'Clear all' %}</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endif %}
