{% load i18n %}

<div class="col m3 offset-m1">
    {% if issue.galley %}
    <h3>{% trans 'Downloads' %}</h3>
    <ul>
        <li>
            <a href="{% url 'journal_issue_download_galley' issue.pk issue.galley.pk %}"><i class="fa fa-download">&nbsp</i> {% trans "Download" %} {% if not collection %}{% trans "Issue" %}{% else %}{% with col=journal_settings.general.collection_name %}{% if col %}{{ col }}{% else %}{% with col=journal_settings.general.collection_name %}{% if col %}{{ col }}{% else %}{% trans "Collection" %}{% endif %}{% endwith %}{% endif %}{% endwith %}{% endif %} (PDF)</a>
        <li>
    </ul>
    {% endif %}

    <h3>
        {% if issue.issue_type.code == 'issue' %}{% trans "Issue Archive" %}
        {% else %} {% trans issue.issue_type.plural_name %}
        {% endif %}
    </h3>
    <ul class="collection">
        {% for list_issue in issues %}
            {% if list_issue.issue_type.code == 'issue' %}
                <a class="collection-item {% if list_issue == issue %}active{% endif %}"
                   href="{% url 'journal_issue' list_issue.id %}">{{ list_issue.display_title }}</a>
            {% else %}
                <a class="collection-item {% if list_issue == issue %}active{% endif %}"
                   href="{% url 'journal_collection' list_issue.id %}">{{ list_issue.issue_title }} </a>
            {% endif %}
        {% endfor %}
    </ul>
</div>
