{% load static %}
{% for issue in issues %}
    <div class="col m12 l6 xl4">
        <div class="card horizontal">
            <div class="card-image">
                {% if level == "deep" %}
                    <h3 id="issue-{{ issue.id }}" class="sr-only">{{ issue.display_title }}</h3>
                {% else %}
                    <h2 id="issue-{{ issue.id }}" class="sr-only">{{ issue.display_title }}</h2>
                {% endif %}
                {% if issue.cover_image %}
                  {% get_alt_text obj=issue file_path=issue.cover_image.url context_phrase="cover_image" as alt_text %}
                  <a href="{% url 'journal_issue' issue.id %}">
                    <img
                            class="issue_image img-fluid"
                            src="{{ issue.cover_image.url }}"
                            alt="{{ alt_text }}">
                  </a>
                {% elif journal.default_cover_image %}
                  {% get_alt_text obj=journal file_path=journal.default_cover_image.url context_phrase="cover_image" as alt_text %}
                  <a href="{% url 'journal_issue' issue.id %}">
                    <img
                            class="issue_image img-fluid"
                            src="{{ journal.default_cover_image.url }}"
                            alt="{{ alt_text }}">
                  </a>
                {% else %}
                  <a href="{% url 'journal_issue' issue.id %}">
                    <img
                            class="issue_image img-fluid"
                            src="{% static 'common/img/sample/issue_cover.png' %}"
                            alt="Default issue cover">
                  </a>
                {% endif %}
            </div>
            <div class="card-stacked card">
                <div class="card-content">
                    {% if issue.pretty_issue_identifier and issue.issue_title and journal.display_issue_title %}
                        <p>{{ issue.pretty_issue_identifier }}
                            <br/> {{ issue.get_sorted_articles.count }} {% trans "items" %}
                        </p>
                    {% else %}
                        <p> <span aria-label='{{ issue.display_title_a11y }}'>{{ issue.display_title }}</span>
                            <br/> {{ issue.get_sorted_articles.count }} {% trans "items" %}
                        </p>
                    {% endif %}
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        <i aria-hidden="true" class="fa fa-xmark" ></i>
                        <span class="sr-only">{% trans 'Close.' %}</span>
                    </span>
                    <span class="grey-text text-darken-4">{{ issue.issue_title }}</span>
                </div>
                <div class="card-action">
                    <a href="{% url 'journal_issue' issue.id %}"
                        aria-describedby="issue-{{ issue.id }}"
                        >
                        {% trans "View Issue" %}
                    </a>
                    {% if request.user and request.user.is_staff or user_is_editor %}
                        <a href="{% url 'manage_issues_id' issue.pk %}"
                            aria-describedby="issue-{{ issue.id }}"
                            >
                            <i aria-hidden="true" class="fa fa-edit">&nbsp;</i>
                            <span class="sr-only">{% trans "Edit Issue" %}</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% empty %}

{% endfor %}