{% load i18n %}

{% with issue_length=article.issues_list|length %}
<h3>{% if issue_length > 1 %}{% trans 'Issues' %}{% else %}{% trans 'Issue' %}{% endif %}</h3>
{% endwith %}
<ul>
    {% if article.primary_issue %}
        <li>
            <a href="{% url 'journal_issue' article.primary_issue.pk %}">{{ article.primary_issue.display_title }}</a>
            {% if journal_settings.article.display_guest_editors %}
            <br />
            {% include "common/elements/guest_editors.html" with issue=article.primary_issue small="small" %}
            {% endif %}
        </li>
    {% endif %}
    {% for issue in article.issues_list %}
        {% if not issue == article.primary_issue %}<li><a href="{% url 'journal_issue' issue.pk %}">{{ issue.issue_type.pretty_name }}: {{ issue.display_title }}</a></li>{% endif %}
    {% empty %}
        <li>{% trans 'This article is not a part of any issues' %}.</li>
    {% endfor %}
</ul>
