<form method="POST">
    {% csrf_token %}
    <div class="section">
        <label>{% trans "Show" %}
            <select name="show">
                <option value="10"{% if show == 10 %} selected="selected"{% endif %}>10</option>
                <option value="20"{% if show == 20 %} selected="selected"{% endif %}>20</option>
                <option value="50"{% if show == 50 %} selected="selected"{% endif %}>50</option>
                <option value="100"{% if show == 100 %} selected="selected"{% endif %}>100</option>
            </select>
        </label>
    </div>
    <div class="section">
        <label>{% trans "Sort" %}
            <select name="sort">
                <option value="-date_published"{% if sort == "date_published" %}
                        selected="selected"{% endif %}>{% trans "Date" %}</option>
                <option value="title"{% if sort == "title" %}
                        selected="selected"{% endif %}>{% trans "Title" %}</option>
            </select>
        </label>
    </div>
    <div class="section">
        <label>{% trans "Filter" %}</label>
        {% for section in sections %}
            <label for="section-{{ section.id }}"><input id="section-{{ section.id }}"
                                                         value="{{ section.id }}" type="checkbox"
                                                         name="filter[]"
                                                         {% if section.id in filters %}checked="checked"{% endif %}>{{ section.name }}
            </label>
        {% endfor %}
        <button type="submit" class="button">{% trans "Filter" %}</button>
        {% if active_filters %}
            <button type="submit" class="button" name="clear">{% trans "Clear Filters" %}</button>{% endif %}
    </div>
</form>