{% load static %}
{% load i18n %}

<div class="box article">
    <a href="{% if article.is_remote %}{{ article.remote_url }}{% else %}{{ article.local_url }}{% endif %}"
       class="box-link"></a>
       <div class="clearfix">
        {% if not journal.disable_article_images %}
         <div class="large-2 columns hide-for-small-only">
            {% if article.thumbnail_image_file %}
            <img src="{% url 'article_file_download' 'id' article.id article.thumbnail_image_file.id %}"
                 alt="{{ article.title|striptags|escape }}" class="article-thumbnail">
            {% elif request.journal.thumbnail_image %}
                <img src="{% url 'journal_cover_download' %}" class="article-thumbnail">
            {% else %}
            <img src="{% static 'common/img/icons/article.png' %}" alt="{{ article.title|striptags|escape }}"
                 class="article-thumbnail"> {% endif %}
        </div>
        {% endif %}
    <div class="{% if not journal.disable_article_images %}large-10{% endif %}columns end">
            <h2>{{ article.title|safe }}{% if article.is_remote %}&nbsp;<i class="fa fa-external-link small-icon-text"></i>{% endif %}</h2>
           {% include "elements/journal/authors_block.html" %}
            <p><span class="date"><i
                    class="fa fa-calendar"></i> {{ article.date_published|date:"Y-m-d" }}</span> <i
                    class="fa fa-book"></i> {% if article.issue.issue_type == 'Issue' %}{{ article.issue.display_title }}{% else %}{{ article.issue.issue_title }}{% endif %}</p>
        </div>
    </div>
</div>
