<div id="issue_top">
    {% if issue.large_image %}
        <div class="orbit article-orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
            <ul class="orbit-container article-orbit">
                <li class="is-active orbit-slide overlay">
                    <img class="orbit-image"
                         src="{{ issue.hero_image_url }}"
                         alt="{{ issue.display_title }}">
                    <div class="row column">
                        <figcaption class="orbit-caption">
                            <h3>{{ issue.display_title }}</h3>
                        </figcaption>
                    </div>
                </li>
            </ul>
        </div>
        <br/>
        {% if issue.issue_description %}<p>{{ issue.issue_description|safe }}</p>{% endif %}
    {% else %}
        <h1 class="em">{{ issue.display_title }}</h1>
        {% if issue.issue_description %}<p>{{ issue.issue_description|safe }}</p>{% endif %}
    {% endif %}

    {% include "common/elements/guest_editors.html" %}
</div>
