{% load i18n %}
<div>
    {% regroup articles by section as grouped_articles %}
    {% for section, section_articles in grouped_articles %}
        {# HeadingA11y Clash #} <h2 class="em">
            {% if section.plural and section_articles|length >= 2 %}
                {{ section.plural }}
            {% else %}
                {{ section.name }}
            {% endif %}
        </h2>
        <hr>
        {% for article in section_articles %}
            {% include "elements/journal/box_article.html" with article=article %}
        {% endfor %}
    {% endfor %}
</div>
