<div class="large-12 columns">
    <p>
        {% blocktrans %}
            Issues are grouped by decade. Select a decade to view the issues
            published during that decade.
        {% endblocktrans %}
    </p>
    <ul class="inline-list no-margin-left">
        {% for decade, issues in issues_by_decade.items %}
            <li class="decade_list_item">
                <a href="#decade-{{ decade }}">{{ decade }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

{% for decade, issues in issues_by_decade.items %}
    <div class="large-12 columns">
        <h2 id="decade-{{ decade }}">{{ decade }}</h2>
    </div>
    {% include "elements/journal/issue_list.html" with issues=issues %}

{% endfor %}

