{% load i18n %}

<aside class="large-4 columns" data-sticky-container>
    <div class="sticky" data-sticky data-margin-top="0" data-sticky data-anchor="content" data-sticky-on="large">
        <div class="section side-info">
            {% if issue.galley %}
                <section class="no-pad" aria-labelledby="downloads-title">
                    <h2 id="downloads-title">{% trans 'Downloads' %}</h2>
                    <p>
                        <a href="{% url 'journal_issue_download_galley' issue.pk issue.galley.pk %}">
                            <i aria-hidden="true"  class="fa fa-download">&nbsp</i>
                            {% trans "Download Issue" %} (PDF)
                        </a>
                    </p>
                </section>
            {% endif %}
            <section class="no-pad" aria-labelledby="archive-title">
                <h2 id="archive-title">
                    {% if issue.issue_type.code == 'issue' %}{% trans "Issue Archive" %}
                    {% else %} {% trans issue.issue_type.plural_name %}
                    {% endif %}
                </h2>
                <ul>
                    {% for issue in issues %}
                        {% if issue.issue_type.code == 'issue' %}
                            <li><a href="{% url 'journal_issue' issue.id %}" 
                            aria-label='{{ issue.display_title_a11y }}'
                            >
                            {{ issue.display_title }} 
                        </a></li>
                        {% else %}
                            <li><a href="{% url 'journal_collection' issue.id %}">{{ issue.issue_title }} </a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </section>
        </div>
    </div>
</aside>
