<div id="issue_top">
    {% if issue.hero_image_url %}
        <div class="olh-banner">
          <img class="olh-banner-image"
                         src="{{ issue.hero_image_url }}"
                         alt='{{ issue.display_title_a11y }}'
                        >
          <div class="overlay"></div>
                        <figcaption class="olh-banner-heading">
                            {% if level == "deep" %}
                                <h2 aria-label='{{ issue.display_title_a11y }}'>{{ issue.display_title }}</h2>
                            {% else %}
                                <h1 aria-label='{{ issue.display_title_a11y }}'>{{ issue.display_title }}</h1>
                            {% endif %}
                        </figcaption>
        </div>
        {% if issue.issue_description %}<p>{{ issue.issue_description|safe }}</p>{% endif %}
    {% else %}
        {% if level == "deep" %}
            <h2 class="em" aria-label='{{ issue.display_title_a11y }}'>{{ issue.display_title }}</h2>
        {% else %}
            <h1 class="em" aria-label='{{ issue.display_title_a11y }}'>{{ issue.display_title }}</h1>
        {% endif %}
        {% if issue.issue_description %}<p>{{ issue.issue_description|safe }}</p>{% endif %}
    {% endif %}

    {% if issue.journal.display_issue_doi and issue.doi_url %}
        <p>{% include "elements/doi_display.html" with doi=issue.doi_url title=issue.display_title %}</p>
    {% endif %}

    {% include "common/elements/guest_editors.html" %}
</div>
