{% load i18n %}

<aside class="large-4 columns" data-sticky-container>
    <div class="sticky" data-sticky data-margin-top="0" data-sticky data-anchor="content" data-sticky-on="large">
        <div class="section">
            {% if issue.galley %}
            <h3>{% trans 'Downloads' %}</h3>
            <p><a href="{% url 'journal_issue_download_galley' issue.pk issue.galley.pk %}"><i class="fa fa-download">&nbsp</i>{% trans "Download Issue" %} (PDF)</a></p>
            {% endif %}
            <h3>
                {% if issue.issue_type.code == 'issue' %}{% trans "Issue Archive" %}
                {% else %} {% trans issue.issue_type.plural_name %}
                {% endif %}
            </h3>
            <ul>
                {% for issue in issues %}
                    {% if issue.issue_type.code == 'issue' %}
                        <li><a href="{% url 'journal_issue' issue.id %}">{{ issue.display_title }} </a></li>
                    {% else %}
                        <li><a href="{% url 'journal_collection' issue.id %}">{{ issue.issue_title }} </a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</aside>
