<div id="issue_top">
    {% if issue.large_image %}
        <div class="orbit article-orbit" data-orbit>
            <ul class="orbit-container article-orbit">
                <li class="is-active orbit-slide overlay">
                    <img class="orbit-image"
                         src="{{ issue.hero_image_url }}"
                         alt='{{ issue.display_title_a11y }}'
                        >
                    <div class="row column">
                        <figcaption class="orbit-caption">
                            {% if level == "deep" %}
                                <h2 aria-label='{{ issue.display_title_a11y }}'>{{ issue.display_title }}</h2>
                            {% else %}
                                <h1 aria-label='{{ issue.display_title_a11y }}'>{{ issue.display_title }}</h1>
                            {% endif %}
                        </figcaption>
                    </div>
                </li>
            </ul>
        </div>
        <br/>
        {% if issue.issue_description %}<p>{{ issue.issue_description|safe }}</p>{% endif %}
    {% else %}
        {% if level == "deep" %}
            <h2 class="em" aria-label='{{ issue.display_title_a11y }}'>{{ issue.display_title }}</h2>
        {% else %}
            <h1 class="em" aria-label='{{ issue.display_title_a11y }}'>{{ issue.display_title }}</h1>
        {% endif %}
        {% if issue.issue_description %}<p>{{ issue.issue_description|safe }}</p>{% endif %}
    {% endif %}

    {% if issue.journal.display_issue_doi and issue.doi_url %}
        <p>{% include "elements/doi_display.html" with doi=issue.doi_url title=issue.display_title %}</p>
    {% endif %}

    {% include "common/elements/guest_editors.html" %}
</div>
