{% with article.get_doi_url|default:article.url as share_url %}
  <div class="section">
    <h2>{% trans "Share" %}</h2>
    <div class="input-group">
      <label for="share-link" class="sr-only">{% trans "Article URL" %}</label>
      <input
              id="share-link"
              class="input-group-field"
              type="text"
              value="{{ share_url }}"
              readonly
      >
      <div class="input-group-button">
        {% include "admin/elements/button_copy_element.html" with element_id="share-link" %}
      </div>
    </div>
  </div>
{% endwith %}