{% load foundation %}
<div class="small reveal" id="identifier" data-reveal>
    <h5>{% if identifier %}Edit {{ identifier.id_type }} ({{identifier.pk }}){% else %}Add New Identifier {% endif %}</h5>
    {% include "elements/forms/errors.html" with form=form %}
    <form method="POST">
        {% csrf_token %}
        {{ form|foundation }}
        <button type="submit" name="ident_button" class="small success button">Save Identifier</button>
    </form>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>