<h3>{% trans 'Sections' %}</h3>
<table>
    <thead>
        <tr>
            <th>
                <p>{% trans "Section or article type" %}</p>
            </th>
            <th>
                <p>{% trans "Public Submissions" %}</p>
            </th>
            <th>
                <p>{% trans "Peer Reviewed" %}</p>
            </th>
            <th>
                <p>{% trans "Indexed" %}</p>
            </th>
    </thead>
    <tbody>
        {% for section in sections %}
        <tr>
            <td>
                <p>{{ section.name }}</p>
            </td>
            <td>
                <strong>
                    {% if section.public_submissions %}
                        <i class="fa fa-check" title="{% trans 'yes' %}"></i>
                    {% else %}
                        <i class="fa fa-times" title="{% trans 'no' %}"></i>
                    {% endif %}
                </strong>
            </td>
            <td>
                <strong>
                    {% if section.number_of_reviewers > 0 %}
                        <i class="fa fa-check" title="{% trans 'yes' %}"></i>
                    {% else %}
                        <i class="fa fa-times" title="{% trans 'no' %}"></i>
                    {% endif %}
                </strong>
            </td>
            <td>
                <strong>
                    {% if section.indexing %}
                        <i class="fa fa-check" title="{% trans 'yes' %}"></i>
                    {% else %}
                        <i class="fa fa-times" title="{% trans 'no' %}"></i>
                    {% endif %}
                </strong>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
