{% extends "admin/core/base.html" %}
{% load foundation %}

{% block title %}Create Reminder Template{% endblock title %}
{% block title-section %}Create Reminder Template{% endblock %}
{% block title-sub %}Allows you to add a template for use with this reminder{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'core_manager_index' %}">Manager</a></li>
    <li><a href="{% url 'cron_home' %}">Cron</a></li>
    <li><a href="{% url 'cron_create_template' reminder.pk template_name %}">Create Reminder Template</a></li>
{% endblock %}

{% block body %}
    <div class="box">
        <div class="row expanded">
            <div class="large-8 columns">
                <form method="POST">
                    {% csrf_token %}
                    <textarea rows="10" name="template"></textarea>
                    <button class="success button">Save Template</button>
                </form>
            </div>
            <div class="large-4 columns">
                <p>A reminder email has access to two objects in the template:</p>
                <ul>
                    <li>object - either a reviewassignment or revision object</li>
                    <li>journal - the journal sending the reminder</li>
                </ul>

                <p>You can use these objects to add context to the email. eg. <code>{% verbatim %}{{ object.article.title }}{% endverbatim %}</code>and <code>{% verbatim %}{{ object.reviewer.fullname }}{% endverbatim %}</code></p>
            </div>
        </div>
    </div>
{% endblock %}