{% extends "admin/core/base.html" %}
{% load foundation %}

{% block title %}Reminders{% endblock title %}
{% block title-section %}Reminders{% endblock %}
{% block title-sub %}Create and manage reminders for Review and Revision requests{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'core_manager_index' %}">Manager</a></li>
    <li><a href="{% url 'cron_home' %}">Cron</a></li>
    <li><a href="{% url 'cron_reminders' %}">Reminders</a></li>
{% endblock %}

{% block body %}
    <div class="large-12 columns">
        <div class="box">
            <div class="title-area">
                <h2>Active Reminders</h2>
                <a class=" button" href="{% url 'cron_create_reminder' %}"><i class="fa fa-plus">&nbsp;</i>Add Reminders</a>
            </div>
            <div class="content">
                {% include "elements/cron/reminders_help.html" %}

                <form method="POST" action="{% url 'cron_reminders' %}">
                    {% csrf_token %}
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>Info</th>
                            <th>Template Name</th>
                            <th>Subject Line</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                        {% for reminder in reminders %}
                            <tr>
                                <td>{{ reminder.pk }}</td>
                                <td>Sent {{ reminder.days }} days {{ reminder.run_type }} for {{ reminder.get_type_display }}.</td>
                                <td>{{ reminder.template_name }} <a href="{% url 'cron_create_template' reminder.pk reminder.template_name %}"><i class="fa fa-edit">&nbsp;</i></a></td>
                                <td>{{ reminder.subject }}</td>
                                <td>
                                    <a href="{% url 'cron_reminder' reminder.pk %}" class="tiny warming button"><i
                                            class="fa fa-edit">&nbsp;</i>Edit</a>
                                </td>
                                <td>
                                    <button type="submit" name="delete" value="{{ reminder.pk }}" class="tiny alert button delete"><i
                                            class="fa fa-trash"></i> Delete</button>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="100">
                                    There are no reminders for this journal. <a href="{% url 'cron_create_reminder' %}">Add one</a>.
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}

{% block js %}
{% include "admin/elements/post_check.html" %}
{% endblock js %}
