<!-- Deprecated in version 1.5.1. Use journal/article_list.html -->

{% extends "core/base.html" %}
{% load hooks %}
{% load i18n %}

{% block title %}{% trans "Articles" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>{% trans 'Articles' %}</h1>
        </div>
        <div class="col-md-8">
            {% if pinned_articles and articles.number == 1 and not active_filters %}
                {% for article in pinned_articles %}
                    {% include "elements/article_listing.html" with article=article %}
                {% endfor %}
            {% endif %}

            {% for article in articles %}
                {% include "elements/article_listing.html" with article=article %}
                {% empty %}
                <p>{% trans "No articles to display" %}.</p>
            {% endfor %}

            <div class="pagination-block">
                <ul class="d-flex justify-content-center">
                    {% if articles.has_previous %}
                        <a href="?page={{ articles.previous_page_number }}" class="btn btn-primary">&laquo;</a>
                        &nbsp;{% endif %}
                    {{ articles.page.page_range }}
                    {% for page in articles.paginator.page_range %}
                        <a href="?page={{ page }}" class="btn btn-primary">{{ page }}</a>&nbsp;
                    {% endfor %}
                    {% if articles.has_next %}
                        <a href="?page={{ articles.next_page_number }}" class="btn btn-primary">&raquo;</a>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-block">
                    <form method="POST">
                        {% csrf_token %}
                    <div role="group" aria-labelledby="sort_filter">
                        <h2 id="sort_filter">{% trans 'Sort and Filter' %}</h2>
                        <div class="form-group">
                            <label>{% trans "Show" %}
                                <select name="show" class="form-control">
                                    <option value="10"{% if show == 10 %} selected="selected"{% endif %}>10</option>
                                    <option value="20"{% if show == 20 %} selected="selected"{% endif %}>20</option>
                                    <option value="50"{% if show == 50 %} selected="selected"{% endif %}>50</option>
                                    <option value="100"{% if show == 100 %} selected="selected"{% endif %}>100</option>
                                </select>
                            </label>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Sort" %}
                                <select name="sort" class="form-control">
                                    <option value="-date_published"{% if sort == "date_published" %}
                                            selected="selected"{% endif %}>{% trans "Date" %}</option>
                                    <option value="title"{% if sort == "title" %}
                                            selected="selected"{% endif %}>{% trans "Title" %}</option>
                                </select>
                            </label>
                        </div>
                        <div class="form-group">
                            <fieldset>
                                <legend>{% trans 'Section Filters' %}</legend>
                            {% for section in sections %}
                                <input id="section-{{ section.id }}"
                                    value="{{ section.id }}" type="checkbox"
                                    name="filter[]"
                                    {% if section.id in filters %}checked="checked"{% endif %}>
                                <label for="section-{{ section.id }}">&nbsp{{ section.name }}</label>
                                <br/>
                            {% endfor %}
                            </fieldset>
                            <br/>
                            <button type="submit" class="btn btn-primary">{% trans "Filter" %}</button>
                            {% if active_filters %}
                                <button type="submit" class="btn btn-primary"
                                        name="clear">{% trans "Clear Filters" %}</button>{% endif %}
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
