{% extends "core/base.html" %}
{% load i18n %}
{% load next_url %}

{% block page_title %}{% trans "Become a Reviewer" %}{% endblock %}
{% block title %}{% trans "Become a Reviewer" %}{% endblock %}

{% block body %}
    <p>{{ message }}</p>

    {% if code == 'not-logged-in' %}
        <a class="btn btn-primary" href="{% url_with_return 'core_login' %}">
          {% trans "Log in" %}
        </a>
        <a class="btn btn-primary" href="{% url_with_return 'core_register' %}">
          {% trans "Register" %}
        </a>
    {% elif code == 'already-reviewer' %}
        <a class="btn btn-primary" href="{% url 'core_edit_profile' %}">
          {% trans "Go to Profile" %}
        </a>
    {% else %}
        <form method="POST">
        {% csrf_token %}
        <button type="submit" name="action" value="go" class="btn btn-primary">{% trans "Become a Reviewer" %}</button>
        </form>
    {% endif %}
{% endblock body %}
