{% extends "core/base.html" %}
{% load static %}
{% load hooks %}
{% load i18n %}

{% block page_title %}{% trans issue_type.plural_name  %}{% endblock %}
{% block title %}{% trans issue_type.plural_name  %}{% endblock %}

{% block body %}

    <div class="row">
        {% for collection in collections %}
            <div class="col-md-4 row-eq-height">
                <div class="card" style="width: 20rem;">
                    <img
                        class="card-img-top img-fluid"
                        src="{{ collection.hero_image_url }}"
                        alt="{{ collection.issue_title }}"
                        onerror="if (this.src !='{% static 'common/img/sample/article-small.jpg' %}') this.src='{% static 'common/img/sample/article-small.jpg' %}'"
                    >
                    <div class="card-block">
                        <a href="{% url 'journal_collection' collection.pk %}">
                            <h4 class="card-title">{{ collection.issue_title }}</h4>
                        </a>
                        <p class="card-text"><small>Published: {{ collection.date|date:"d/m/y" }}</small></p>
                        {% if collection.short_description %}
                        <p class="card-text">{{ collection.short_description|safe }}</p>
                        {% else %}
                        <p class="card-text">{{ collection.issue_description|safe }}</p>
                        {% endif %}
                    </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <h4>There are no collections to display</h4>
        {% endfor %}
    </div>


{% endblock %}
