{% extends "core/base.html" %}
{% load static %}
{% load hooks %}
{% load i18n %}
{% load dates %}

{% block page_title %}{% trans issue_type.plural_name  %}{% endblock %}
{% block title %}{% trans issue_type.plural_name  %}{% endblock %}

{% block body %}
<h1> {% trans issue_type.plural_name %} </h1>
    <div class="row">
        {% for collection in collections %}
            <div class="col-md-4 row-eq-height">
                <div class="card" style="width: 20rem;">
                  <div class="clean-banner">
                    <img
                        class="clean-banner-image"
                        src="{{ collection.hero_image_url }}"
                        alt="{% get_alt_text obj=collection file_path=collection.hero_image_url context_phrase="hero_image" default=collection.issue_title|striptags %}"
                    >
                  </div>
                    <div class="card-block">
                        <a href="{% url 'journal_collection' collection.pk %}">
                            <h2 class="card-title">{{ collection.issue_title }}</h2>
                        </a>
                        <p class="card-text"><small>Published: {{ collection.date|date_human }}</small></p>
                        {% if collection.short_description %}
                        <p class="card-text">{{ collection.short_description|safe }}</p>
                        {% else %}
                        <p class="card-text">{{ collection.issue_description|safe }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% empty %}
            <h2>{% trans 'There are no collections to display' %}</h2>
        {% endfor %}
    </div>


{% endblock %}
