{% extends "core/base.html" %}
{% load bootstrap4 %}
{% load i18n %}
{% load recaptcha2 %}

{% block title %}{% trans "Contact" %}{% endblock title %}

{% block head %}
    {% recaptcha_init %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4 contact">
            <h2 class="side-bar-title">{% trans "Journal Contacts" %}</h2>
            {% for contact in contacts %}
                <h3 class="card-title editor-name">{{ contact.name }}</h3>
                <p>{{ contact.role }}</p>
            {% endfor %}
            {% if request.journal and request.journal.contact_info %}
                <h4>{% trans 'Contact Information' %}</h4>
                {{ request.journal.contact_info|safe }}
            {% endif %}
        </div>
        <div class="col-md-8">
            <h2>{% trans "Contact" %}</h2>
            <form method="POST">
                {% include "elements/forms/errors.html" with form=contact_form %}
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_recipient"
                           class="form-control-label">{% trans "Who would you like to contact?" %}</label><br<>
                    <select id="id_recipient" name="recipient" class="form-control custom-select">
                        {% for contact in contacts %}
                            <option value="{{ contact.email }}">{{ contact.name }}, {{ contact.role }}</option>{% endfor %}
                    </select>
                </div>
                {% bootstrap_field contact_form.sender %}
                {% bootstrap_field contact_form.subject %}
                {% bootstrap_field contact_form.body %}
                {% bootstrap_field contact_form.are_you_a_robot %}
                <button type="submit" class="btn btn-primary">{% trans "Send Message" %}</button>
            </form>
        </div>

    </div>
{% endblock body %}
