{% extends "core/base.html" %}
{% load truncate dict %}

{% block body %}

    {% for element in homepage_elements %}
        {% if element.template_path == 'get_from_context' %}
            {% context_get element.name %}
        {% elif element.template_path %}
            {% include element.template_path %}
        {% endif %}
        <hr />
    {% endfor %}
{% endblock body %}
{% block js %}
<script type="text/javascript">
$(function () {
    $('#carousel').carousel({
        interval:5000,
        pause: "false"
    });
    $('#carousel-play').click(function () {
        $('#carousel').carousel('cycle');
    });
    $('#carousel-pause').click(function () {
        $('#carousel').carousel('pause');
    });
});
</script>
{% endblock js %}
