{% load i18n %}

<div class="row">
    <div class="col m12">
        <div class="carousel carousel-slider center" data-indicators="true">
            {% for carousel_item in carousel_items %}
                <div class="carousel-item white-text" href="#four!"
                     style="background-size: cover; background-image: url({% include "elements/article_image.html" %});">
                    <div class="carousel-text-wrapper">
                        <h2>{{ carousel_item.carousel_title|safe|truncatechars:200 }}</h2>
                        <p class="">{{ carousel_item.carousel_subtitle }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
