{% load static from staticfiles %}
{% load i18n %}

<div class="row">
    <div class="col m12">
        <h2 class="index-header">{% trans 'Featured Articles' %}</h2>
    </div>
    {% for fa in featured_articles %}
        <div class="col m4">
            <div class="card feature-article-card">
                <div class="card-content">
                    {% if fa.article.large_image_file %}
                        <img src="{% url 'article_file_download' 'id' fa.article.id fa.article.large_image_file.id %}"
                             alt="{{ article.title|striptags }}"
                             class="feature-article-image">
                    {% elif fa.article.journal.default_large_image %}
                        <img src="{{ fa.article.journal.default_large_image.url }}"
                             alt="{{ article.title|striptags }}"
                             class="feature-article-image">
                    {% else %}
                        <img src="{% static 'common/img/sample/article-small.jpg' %}"
                             alt="{{ article.title|striptags }}"
                             class="feature-article-image">
                    {% endif %}
                    <p>
                        <a href="{% if fa.article.is_remote %}{{ fa.article.remote_url }}{% else %}{{ fa.article.url }}{% endif %}">
                            <strong>{{ fa.article.title|safe }}</strong>
                        </a>
                    </p>
                    <p class="card-text">{{ fa.article.author_list }}</p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>