{% load static from staticfiles %}
{% load i18n %}

<div class="row">
    <div class="col m12">
        <h2 class="index-header">{% trans 'Featured Articles' %}</h2>
    </div>
    {% for fa in featured_articles %}
        <div class="col m4">
            <div class="card feature-article-card">
                <div class="card-content">
                    {% if fa.article.large_image_file %}
                        <img src="{% url 'article_file_download' 'id' fa.article.id fa.article.large_image_file.id %}"
                             alt="{{ article.title|urlencode }}"
                             class="feature-article-image">
                    {% elif fa.article.journal.default_large_image %}
                        <img src="{{ fa.article.journal.default_large_image.url }}"
                             alt="{{ article.title|urlencode }}"
                             class="feature-article-image">
                    {% else %}
                        <img src="{% static 'common/img/sample/article-small.jpg' %}"
                             alt="{{ article.title|urlencode }}"
                             class="feature-article-image">
                    {% endif %}
                    <a href="{% if article.is_remote %}https://doi.org/{{ fa.article.identifier.identifier }}{% else %}{% url 'article_view' fa.article.identifier.id_type fa.article.identifier.identifier %}{% endif %}">
                        <h4 class="card-title">{{ article.title|safe }}</h4>
                    </a>
                    <p class="card-text">{{ fa.article.author_list }}</p>
                    <p class="card-text">
                        <strong>{{ fa.article.title|safe|truncatechars:200 }}</strong>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
</div>