{% load svg from press_url %}
{% load truncate %}
{% load escaping %}
{% load i18n %}
{% load dates %}

<section aria-labelledby="news-title">
    <div class="row">
        <div class="col m12">

            <div class="card">
                <div class="card-content no-bottom-padding">
                    <h2 id="news-title" class="card-title">{% trans 'Latest' %} {{ journal_settings.news.news_title }} {% trans "Posts" %}</h2>
                </div>
                {% for item in news_items %}
                    {% if display_images %}
                        {% if item.large_image_file or request.journal and request.journal.default_large_image or request.press.default_carousel_image %}
                            <div class="card-image">
                                <img src="{{ item.best_image_url }}"
                                     alt="{{ item.best_large_image_alt_text }}"/>
                                <span class="card-title">
                          <div class="carousel-text-wrapper">
                            {{ item.title }}
                          </div>
                        </span>
                            </div>
                        {% endif %}
                    {% endif %}
                    <div class="card-content">

                        <h3 id="news-{{ item.pk }}" class="card-title">{{ item.title|safe }}</h3>
                        <p class="byline">
                            {{ item.byline }}
                            {% trans 'on'%}
                            {{ item.posted|date_human }}
                        </p>
                        <p>{{ item.body|striptags|truncatesmart:400 }}</p>

                    </div>
                    <div class="card-action">
                        <a href="{% url 'core_news_item' item.pk %}"
                            aria-describedby="news-{{ item.pk }}"
                            >
                            {% trans "Read More" %}
                        </a>
                    </div>
                    <div class="divider"></div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
