{% extends "admin/core/base.html" %}
{% load foundation %}
{% load static from staticfiles %}

{% block title %}Assigning Typesetter to Article #{{ article.pk }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "typesetting/breadcrumbs/typesetting_base.html" %}
    <li>Assign Typesetter</li>
{% endblock breadcrumbs %}

{% block body %}
    <div class="box">
        <div class="title-area">
            <h2>Assign Typesetter to {{ article.title|safe }}</h2>
        </div>
        <div class="content">
            <p>Select a Typesetter from the list below and detail what typeset files you would like them to generate. They will have access to:</p>
            <ul>
                <li>The manuscript files you select from the list below.</li>
                <li>The data and figure files uploaded by the author.</li>
                <li>Any typeset files from previous typesetting rounds.</li>
            </ul>
        </div>
    </div>
    <form method="POST">
        {% include "elements/forms/errors.html" %}
        {% csrf_token %}
        <div class="box">
            <div class="title-area">
                <h2>1. Assign a typesetter or upload a Typeset File and assign a Proofreader</h2>
            </div>
            <div class="content">
                {% include "typesetting/elements/typesetter_list.html" with typesetters=typesetters %}
            </div>
            <div class="title-area">
                <h2>2. Select Files</h2>
            </div>
            <div class="content">
                {% include "typesetting/elements/file_list.html" with files=files %}
            </div>
            <div class="title-area">
                <h2>3. Set a Due Date</h2>
            </div>
            <div class="content">
                {{ form.due|foundation }}
            </div>
            <div class="title-area">
                <h2>4. Define the Task</h2>
            </div>
            {% if proofing_assignments %}
                <div class="callout callout-success">
                    <a class="button primary" data-open="view_proofing"><i class="fa fa-eye action-icon">&nbsp;</i>View
                        proofreader feedback</a>
                    <p>
                        <small><span class="fa fa-bell action-icon"></span> You can consolidate the feedback from the
                            proofreaders in the task below
                        </small>
                    </p>
                </div>
            {% endif %}
            <div class="content">
                {{ form.task|foundation }}
            </div>
            {% if article.galley_set.count > 0 %}
            <div class="content">
                {{ form.corrections|foundation }}
            </div>
            {% endif %}

            <button name="save" class="button">Save Step 1</button>

        </div>
    </form>

{% include "typesetting/elements/view_proofreading_comments.html" %}
{% endblock %}

{% block js %}
    {% include "elements/datatables.html" with target="#typesetter" %}
    {% include "elements/jqte.html" %}
    <script src="{% static "admin/js/check_all.js" %}"></script>
{% endblock js %}
