{% extends "admin/core/base.html" %}
{% load foundation %}
{% load static %}

{% block title %}Assign Typesetter{% endblock %}
{% block title-sub %}
    {% include 'typesetting/elements/title_sub.html' %}
{% endblock title-sub %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "typesetting/breadcrumbs/typesetting_base.html" %}
    <li>Assign Typesetter</li>
{% endblock breadcrumbs %}

{% block body %}
    <div class="box">
        <div class="title-area">
            <h2>Assign Typesetter to {{ article.title|safe }}</h2>
        </div>
        <div class="content">
            {% if not article.issue and not article.projected_issue %}
            <div class="callout alert" data-closable style="background-color: #f7e4e1; color: #0a0a0a">
                <h5>Article missing primary or projected issue</h5>
                <p>
                    This article doesn't have a primary or projected issue, so the typesetter won't know what issue it belongs to. You can
                    <a href="{% url 'review_projected_issue' article.pk %}?return={{ request.path|urlencode }}">
                        assign one here.
                    </a>
                </p>
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            <p>Select a typesetter from the list below and detail what typeset files you would like them to generate. They will have access to:</p>
            <ul>
                <li>The manuscript files you select from the list below.</li>
                <li>The data and figure files uploaded by the author.</li>
                <li>Any typeset files from previous typesetting rounds.</li>
            </ul>
        </div>
    </div>
    <form id="assign_typesetter" method="POST">
        {% include "elements/forms/errors.html" %}
        {% csrf_token %}
        <div class="box">
            <div class="title-area">
                <h2>1. Select a typesetter</h2>
            </div>
            <div class="content">
                <p>Choose your typesetter from the list below.</p>
                {% include "typesetting/elements/typesetter_list.html" with typesetters=typesetters %}
            </div>
            <div class="title-area">
                <h2>2. Select Files</h2>
            </div>
            <div class="content">
                <p>Please select the manuscript file that the typesetter should use to generate typeset files.</p>
                {% include "typesetting/elements/file_list.html" with files=files %}

                <p>Typesetters will automatically have access to the following data and figure files: </p>
                {% include "typesetting/elements/data_fig_files.html" %}
            </div>
            <div class="title-area">
                <h2>3. Set a Due Date</h2>
            </div>
            <div class="content">
                <p>Add a deadline for the task.</p>
                {{ form.due|foundation }}
            </div>
            <div class="title-area">
                <h2>4. Define the Task</h2>
            </div>
            {% if proofing_assignments %}
                <div class="callout callout-success">
                    <a class="button primary" data-open="view_proofing"><i class="fa fa-eye action-icon">&nbsp;</i>View
                        proofreader feedback</a>
                    <p>
                        <small><span class="fa fa-bell action-icon"></span> You can consolidate the feedback from the
                            proofreaders in the task below. You can also grant the typesetter access to the comments from the proofreader.
                        </small>
                    </p>
                {{ form.display_proof_comments|foundation }}
                </div>
            {% endif %}
            <div class="content">
                <p>
                  {% if proofing_assignments %}
                    Let the typesetter know what corrections are required and which files they apply to. If you haven't made the proofreader comments available above,
                    you should collate all of their feedback here.
                  {% else %}
                    Let the typesetter know what files you want them to create and whether there are any special circumstances.
                  {% endif %}
                    They will have access to all of the article’s metadata.
                </p>
                {{ form.task|foundation }}
            </div>
            {% if article.galley_set.count > 0 %}
                <div class="title-area">
                    <h2>5. Corrections</h2>
                </div>
                    <p> In most cases, the typesetter should be given access to all the typeset files in case some corrections apply to more than one file.</p>
                <div class="content">
                    {{ form.corrections|foundation }}
                </div>
            {% endif %}

            <button name="{{ form.CONFIRMABLE_BUTTON_NAME }}" class="button">Save Step 1</button>

        </div>
    </form>

    {% include "typesetting/elements/view_proofreading_comments.html" %}

    {% if form.modal %}
        {% include "admin/elements/confirm_modal.html" with modal=form.modal form_id="assign_typesetter" %}
    {% endif %}

{% endblock %}

{% block js %}
    {% if form.modal %}
        {% include "admin/elements/open_modal.html" with target=form.modal.id %}
    {% endif %}
    {% include "elements/datatables.html" with target="#typesetter" %}
    {% include "elements/jqte.html" %}
    <script src="{% static "admin/js/check_all.js" %}"></script>
{% endblock js %}
