{% extends "admin/core/base.html" %}
{% load bool_fa %}
{% load static from staticfiles %}
{% load foundation %}

{% block title %}Typesetting Article #{{ article.pk }}{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'typesetting_assignments' %}">Typesetting Assignments</a></li>
    <li>Typesetting {{ assignment.round.article.title|safe }}</li>
{% endblock breadcrumbs %}

{% block body %}
    <div class="row expanded">


        <div class="large-6 columns">
            <div class="box">
                <div class="title-area">
                    <h2>Assignment Information</h2>
                </div>
                <div class="content">
                    {% include "typesetting/elements/typesetter/info.html" %}
                </div>
                {% if not assignment.completed and not assignment.accepted and not assignment.cancelled %}
                <div class="content">
                    {% include "typesetting/elements/typesetter/agreement.html" %}
                </div>
                {% endif %}
                <div class="title-area">
                    <h2>Files to Typeset</h2>
                </div>
                <div class="content">
                    <p><small>The following files have been selected for use in generating the typset articles.</small></p>
                    {% include "typesetting/elements/typesetter/files.html" %}
                </div>
                {% if not assignment.cancelled %}
                <div class="title-area">
                    <h2>Typeset Files</h2>
                </div>
                <div class="content">
                    <p><small>Any typeset files associated with this article will be displayed here. Ensure that any image files are uploaded using the upload images function and not as typeset files themselves.</small></p>
                    {% include "typesetting/elements/typesetter/galleys.html" %}

                </div>
                {% endif %}
            </div>
            <div class="box">
                <div class="title-area">
                    <h2>Complete Typesetting</h2>
                </div>
                <div class="content">
                    {% if assignment.cancelled %}
                    <p>The editor has cancelled this typesetting task. No further changes can be made now</p>
                    {% else %}
                    {% if pending_corrections %}
                    <div class="callout bs-callout-danger">
                        <h4><span class="fa fa-warning"></span> Some typeset files have not been corrected yet</h4>
                        <ul >
                            {% for correction in pending_corrections %}
                            <li><p>{{ correction.galley }} - {{ correction.galley.file }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    <form method="POST">
                        {% csrf_token %}
                        <p>
                            <small>Once you are happy with the typeset files, you can mark this stage as complete.</small>
                        </p>
                        <textarea name="note_from_typesetter" placeholder="If you have a note for the manager you can add it here."></textarea>
                        <button class="button" name="complete_typesetting">Complete Typesetting</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="large-6 columns">
            <div class="box">
                <div class="title-area">
                    <h2>Metadata</h2>
                </div>
                <div class="content">
                    {% include "typesetting/elements/typesetter/metadata.html" %}
                </div>
            </div>
        </div>
    </div>


    {% include "typesetting/elements/new_galley.html" with assignment=assignment %}
{% endblock body %}


{% block js %}
    <script type="text/javascript" src="{% static 'admin/js/popup.js' %}"></script>
{% endblock %}
