{% extends "admin/core/base.html" %}
{% load foundation %}
{% load bool_fa %}

{% block title %}Typesetting Article #{{ article.pk }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "typesetting/breadcrumbs/typesetting_base.html" %}
    <li>Reviewing Assignment #{{ assignment.pk }}</li>
{% endblock breadcrumbs %}

{% block body %}
    <div class="row expanded">
      <div class="box">
          <div class="title-area">
              <h2>Typesetting worked on
                  by {{ assignment.typesetter.full_name }}</h2>
          </div>
          <div class="content">
              <table class="table small">
                  <tr>
                      <th>ID</th>
                      <th>Manager</th>
                      <th>Created</th>
                      <th>Due</th>
                      <th>Acccepted</th>
                      <th>Completed</th>
                      <th>Status</th>
                  </tr>
                  <tr>
                      <td>{{ assignment.pk }}</td>
                      <td>{{ assignment.manager.full_name }}</td>
                      <td>{{ assignment.assigned }}</td>
                      <td>{{ assignment.due }}</td>
                      <td>{{ assignment.accepted }}</td>
                      <td>{% if assignment.completed %}
                          {{ assignment.completed }}{% else %}
                          {{ assignment.completed|bool_fa }}{% endif %}</td>
                      <td>{{ assignment.status|capfirst }}</td>
                  </tr>
              </table>
          </div>
          </div>
      </div>
    </div>

    <div class="row expanded">
        <div class="large-12 columns">
            <div class="box">
              <div class="title-area">
                 <h2>Edit Assignment</h2>
             </div>
              <div class="content">
                <form method="POST">
                   {% csrf_token %}
                {% if not assignment.accepted and not assignment.declined %}
                    <div class="title-area">
                        <p>Typesetter</p>
                    </div>
                    <div class="content">
                        {% include "typesetting/elements/typesetter_list.html" with typesetters=typesetters %}
                    </div>
                    <div class="title-area">
                        <p>Files available for the typesetter</p>
                    </div>
                    <div class="content">
                        {% include "typesetting/elements/file_list.html" with files=files %}
                    </div>
                    <div class="content">
                        {{ form.due|foundation }}
                    </div>
                    <div class="content">
                        {{ form.assignment|foundation }}
                    </div>
                  <button class="button success" name="edit">Save Changes</button>
                  <button class="button alert" name="delete">Delete Assignment</button>
                {% elif assignment.accepted %}
                 This assignment can no longer be edited since it has been accepted by the typesetter
                {% elif assignment.declined %}
                  <button class="button warning" name="reopen">Reopen Assignment</button>
                {% endif %}
                </form>
              </div>
            </div>
        </div>
    </div>

    <div class="row expanded">
        <div class="large-12 columns">
            <div class="box">
                <div class="title-area">
                    <h2>Galley Files</h2>
                </div>
                <div class="content">
                    {% include "typesetting/elements/galleys.html" with galleys=galleys disable_upload='y' %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
