{% if user.website %}<a href="{{ user.website }}"><i class="fa fa-globe"></i></a>{% endif %}
{% if user.twitter %}<a href="https://www.twitter.com/{{ user.twitter }}"><i class="fa fa-twitter-square"></i></a>{% endif %}
{% if user.facebook %}<a href="https://www.facebook.com/{{ user.facebook }}"><i class="fa fa-facebook-square"></i></a>{% endif %}
{% if user.github %}<a href="https://www.github.com/{{ user.github}}"><i class="fa fa-github-square"></i></a>{% endif %}
{% if user.linkedin %}<a href="https://www.linkedin.com/in/{{ user.linkedin }}"><i class="fa fa-linkedin-square"></i></a>{% endif %}
{% if user.orcid %}<a href="https://orcid.org/{{ user.orcid }}"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" alt="orcid logo"></a>{% endif %}
&nbsp;
