{% for author in article.frozen_authors %}{% if not forloop.first and not forloop.last %}, {% elif forloop.last and not forloop.first %}& {% endif %}{{ author.last_name }},
    {{ author.first_name|slice:"1" }}
    {% if forloop.last %}.{% endif %}
{% endfor %}
({{ article.date_published.year }}) “{{ article.title|safe }}”,
<i>{{ journal.name }}</i>.{% if article.issue.volume %} {{ article.issue.volume }}{% endif %}{% if article.issue.issue %}({{ article.issue.issue }}).{% endif %}
{% if article.identifier.id_type == 'doi' %}doi: <a href="https://doi.org/{{ article.identifier.identifier }}">https://doi.org/{{ article.identifier.identifier }}</a>{% endif %}</p>