{% extends "core/base.html" %}

{% block title %}{{ request.press.name }} Preprints{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">{{ request.press.name }} Preprints</h2>
        </div>

        <br/><br/><br/><br/>

        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form class="form-horizontal" method="POST" action="{% url 'preprints_search' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Search Term</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" id="search" name="search_term"
                               placeholder="Search preprints..." style="width: 100%;">
                    </div>
                </div>
                <input type="submit" style="visibility: hidden;"/>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">Read about {{ request.press.name }} <a
                    href="{% url 'preprints_about' %}">preprints</a> or view list of <a
                    href="{% url 'preprints_list' %}">all preprints</a>.</p>
        </div>
    </div>
    {% if preprints %}
        <br/><br/><br/><br/>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Latest Preprints</h3>

                {% include "elements/preprint_block.html" with preprints=preprints %}
            </div>
        </div>
    {% endif %}
    {% if subjects %}
        <br/><br/><br/><br/>
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Filter by Subject</h3>
                {% if subjects|length <= 5 %}
                    <div class="col-md-12">
                        <div class="stacked button-group">
                            {% for subject in subjects %}
                                <a href="{% url 'preprints_list_subject' subject.slug %}"
                                   class="btn btn-primary btn-block">{{ subject.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="row">
                        {% for subject in subjects %}
                            <div class="col-md-6">
                                <a href="{% url 'preprints_list_subject' subject.slug %}"
                                   class="btn btn-primary btn-block">{{ subject.name }}</a>
                            </div>
                            {% if forloop.counter|divisibleby:2 %}
                                </div>
                                <div class="row">
                            {% endif %}
                        {% endfor %}
                        </div>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}