{% extends "core/base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}{% trans "Submit an Article" %}{% endblock title %}

{% block body %}

    <article>
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans "Upload Files" %}</h1>
                {% if error %}
                    <p>**{{ error }}**</p>
                {% endif %}
                {% csrf_token %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 columns">
                <br/>
                <p><strong>{% trans "Submission guidelines" %}</strong>: {% blocktrans %}To upload a file, select it
                    using one of the 'Choose file' buttons, then upload it with the 'Upload file' button next to it. You
                    will then be asked for some additional information (label, description etc.){% endblocktrans %}</p>
                <h4>{% trans "Manuscript File" %}</h4>
                <div class="row">
                    <div class="col-md-4 columns">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h4></h4>
                            <a href="#" data-toggle="modal" data-target="#manuscript" class="btn btn-primary"
                               name="data"><i
                                    class="fa fa-upload">&nbsp;</i>{% trans "Upload" %}
                            </a>
                        </form>
                    </div>
                    <div class="col-md-4 columns offset-md-4">
                        <table class="table table-condensed small">
                            <tr>
                                <th>{% trans "Label" %}</th>
                                <th>{% trans "File Name" %}</th>
                                <th></th>
                            </tr>
                            <form method="POST">
                                {% csrf_token %}

                                {% for file in article.manuscript_files.all %}
                                    <tr>
                                        <td>{{ file.label }}</td>
                                        <td>{{ file }}</td>
                                        <td>
                                            <button name="delete" class="btn btn-sm btn-danger" type="submit" value="{{ file.pk }}"><i
                                                    class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3">{% trans "No files uploaded" %}</td>
                                    </tr>
                                {% endfor %}
                            </form>
                        </table>
                    </div>
                </div>
                <hr/>
                <h4>Figure/Data Files</h4>
                <div class="row">
                    <div class="col-md-4 columns">
                        <a href="#" data-toggle="modal" data-target="#data" class="btn btn-primary" name="data"><i
                                class="fa fa-upload">
                            &nbsp;</i>{% trans "Upload" %}
                        </a>
                    </div>
                    <div class="col-md-4 columns offset-md-4">
                        <table class="table table-condensed small">
                            <tr>
                                <th>{% trans "Label" %}</th>
                                <th>{% trans "File Name" %}</th>
                                <th></th>
                            </tr>
                            <form method="POST">
                                {% csrf_token %}
                                {% for file in article.data_figure_files.all %}
                                    <tr>
                                        <td>{{ file.label }}</td>
                                        <td>{{ file }}</td>
                                        <td>
                                            <button name="delete" class="btn btn-sm btn-danger" type="submit" value="{{ file.pk }}"><i
                                                    class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3">{% trans "No files uploaded" %}</td>
                                    </tr>
                                {% endfor %}
                            </form>
                        </table>
                    </div>
                </div>
            </div>


            <div class="col-md-12 columns">
                <form method="POST">
                    {% csrf_token %}
                    <button class="btn btn-success pull-right" type="submit" name="next_step"><i class="fa fa-check">
                        &nbsp;</i>{% trans "Save and Continue" %}
                    </button>
                </form>
            </div>
        </div>
    </article>

    {% include "elements/submit/preprint_file.html" with modaltype="manuscript" %}
    {% include "elements/submit/preprint_file.html" with modaltype="data" %}

{% endblock body %}

{% block js %}
    {% if modal %}
        {% include "elements/open_modal.html" with target=modal %}
    {% endif %}
{% endblock %}

