{% extends "core/base.html" %}
{% load static from staticfiles %}
{% load bootstrap4 %}
{% load i18n %}
{% load field %}

{% block title %}{% trans "Submit an Article" %}{% endblock title %}

{% block css %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/tag-it/2.0/css/jquery.tagit.min.css"/>{% endblock %}

{% block body %}
    <article>
        <div class="row">
            <form method="POST">
                <h1>{% trans "Article Info" %}</h1>
                <hr>
                {% csrf_token %}
                <div class="col-md-12">{% bootstrap_form_errors form %}</div>
                {% if article.is_preprint %}{% trans "This article is a preprint" %}{% endif %}
                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.title %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.subtitle %}
                    </div>
                    <div class="col-md-12">
                        {% bootstrap_field form.abstract %}
                    </div>
                    <div class="col-md-4">
                        {% bootstrap_field form.language %}
                    </div>
                    <div class="col-md-4">
                        {% bootstrap_field form.subject %}
                    </div>
                    <div class="col-md-4 error">
                        {% bootstrap_field form.license %}
                        <small class="text-muted">
                            <div class="help-block"><a href="#" data-toggle="modal" data-target="#license">View license information</a></div>
                        </small>
                    </div>
                    <hr/>

                    <div class="col-md-12">
                        <label for="id_keywords">Keywords</label>
                        <input type="text" id="id_keywords" name="keywords" value="
                                {% if form.cleaned_data.keywords %}{{ form.cleaned_data.keywords }}{% else %}{% for keyword in article.keywords.all %}{{ keyword.word }}{% if not forloop.last %},{% endif %}{% endfor %}{% endif %}"/>
                        Hit Enter to add a new keyword.
                    </div>

                    {% if additional_fields %}
                        <div class="col-md-12">
                            <p></p>
                            <h4>Additional Fields</h4>
                        </div>
                        {% for additional_field in additional_fields %}
                            {% get_form_field form additional_field.name as field %}
                            <div class="{{ field.field.widget.attrs.div_class }}">
                                 {% bootstrap_field field %}
                            </div>
                        {% endfor %}

                    {% endif %}

                    <div class="col-md-12">
                        <button class="btn btn-success pull-right" type="submit" name="start_submission"><i
                                class="fa fa-check">&nbsp;</i>{% trans "Save and Continue" %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </article>

    <!-- License modal -->
    <div id="license" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">License Information</h4>
                </div>
                <div class="modal-body">
                    <p>{{ request.journal.name }} {% trans "allows the following licenses for submission" %}:</p>
                    {% include "elements/license_block.html" %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

{% endblock body %}



{% block js %}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="{% static "common/js/jq-ui.min.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tag-it/2.0/js/tag-it.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#id_keywords").tagit(
                {allowSpaces: true});
        });
    </script>
{% endblock %}