{% extends "admin/core/base.html" %}
{% load static %}
{% load foundation %}

{% get_current_language as LANGUAGE_CODE %}
{% get_language_info for LANGUAGE_CODE as language_info %}

{% block title %}Submission Page Items{% endblock title %}
{% block title-section %}Submission Page Items{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
<li><a href="{% url 'core_manager_index' %}">Manager</a></li>
<li><a href="{% url 'cms_submission_items' %}">Submissions Page Items</a></li>
<li>{% if item %}{% trans 'Editing Submission Page Item' %}: {{ item.title }}{% else %}{% trans 'Add a Submission Page
    Item' %}{% endif %}</li>
{% endblock %}

{% block body %}
<div class="large-12 columns">
    <div class="box">
        <div class="title-area">
            <h2>{% if item %}{% trans 'Editing Submission Page Item' %}: {{ item.title }}{% else %}{% trans 'Add a
                Submission Page Item' %}{% endif %}</h2>
            <a class="button" href="{% url 'cms_submission_items' %}">
                < Back</a>
        </div>
        <div class="content">
            <div class="row expanded">
                <div class="large-12 columns">
                    {% include "admin/elements/translations/form_tabs.html" with object=item %}
                    <p>Submission page items can be set up in two ways. The first is by adding new custom text here. If
                        you use this method, whatever you add under <b>Text</b> will appear in this section on your
                        submissions page.</p>
                    <p>The second is with an existing setting. For example, selecting the setting peer_review_info will
                        mean this section on your submission page will display either Janeway's default text or your
                        custom text (if you have set it) for peer review information. You can access and edit your
                        settings through <a target="_blank" href="{% url 'core_settings_index' %}">All settings</a></p>
                    {% if item.existing_setting %}<p>This item is linked to a setting. You can edit it via the <a
                            target="_blank"
                            href="{% url 'core_edit_setting' item.existing_setting.group.name item.existing_setting.name %}">setting's</a>
                        interface</p>{% endif %}
                    <p>There are two 'Special display' submission items: <b>Licenses</b> and <b>Sections</b>. These are
                        not linked to an exising setting or custom text. Creating a submission page item with one of
                        these titles will automatically create a relevant section on your submissions page.</p>
                    <p><strong>Note:</strong> the special display for <b>license</b> requires US English spelling
                        (\"license\") in order to function. This is for technical reasons.</p>
                </div>
            </div>
            <form method="POST">
                {% include "elements/forms/errors.html" with form=form %}
                {% csrf_token %}
                {{ form|foundation }}
                <button type="submit" class="success button">{% if item %}Edit{% else %}Add{% endif %} Item</button>
            </form>
        </div>
    </div>
</div>
{% endblock body %}