{% extends "core/base.html" %}
{% load foundation %}
{% load i18n %}

{% block title %}{% trans 'Activate Account' %}{% endblock title %}

{% block body %}

    <div class="row">
        <div class="m6 offset-m3">
            <div class="card">
                <div class="card-content">
                    {% if account %}
                        <span class="card-title">{% trans "Activate Account" %}</span>
                        <form method="POST">
                            {% csrf_token %}
                            <p>{% trans "You can complete the activation process by clicking the button below." %}</p>
                            <button class="btn btn-primary" name="activate">
                                {% trans 'Activate Account' %}
                            </button>
                        </form>
                    {% else %}
                        <span class="card-title">{% trans "Error" %}</span>
                        <p>
                            {% trans "There was no inactive account with this activation code found. It is possible that your account is already active, you can check by attempting to " %}
                            <a href="{% url 'core_login' %}">{% trans "login" %}</a>.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock body %}
