{% extends "core/base.html" %}
{% load i18n materializecss %}

{% block title %}{% trans "Reset Password" %}{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col m6 offset-m3">
            <div class="card">
                <div class="card-content">
                    {% include "elements/forms/errors.html" with form=form %}
                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group row">
                            <div class="col s12">
                            {% trans "Enter your email address to begin the reset process" %}
                            </div>
                            {{ form|materializecss}}
                            <div class="col s12">
                                <button type="submit"
                                    class="btn btn-primary btn-block">{% trans "Request Token" %}</button>
                        
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}