{% extends "core/base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}{{ user.full_name }} {% trans "Profile" %}{% endblock %}

{% block body %}
	<section id="content">
		<div class="row">
            <div class="col m3">
                <img class="responsive-img thumbnail editorial-image" src="{% if user.profile_image %}{{ user.profile_image.url }}{% else %}{% static "common/img/icons/users.png" %}{% endif %}" alt="Profile photo of {{ user.full_name }}">
                <h3>{{ user.full_name }}</h3>
                <p><strong>{% trans "Roles" %}: </strong><br>{% for role in roles %}{{ role.role.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
                <p><strong>{% trans "Affiliation" %}: </strong><br>{{ user.affiliation }}</p>
                <p><strong>{% trans "Country" %}:</strong><br>{{ user.country }}</p>
            </div>
            <div class="col m9">
                {% if user.biography %}
                    <h3>{% trans "Biography" %}</h3>
                    <hr />
                    {{ user.biography|safe }}
                    <br/><br/>
                {% endif %}
                {% if user.published_articles %}
                    <h3>{% trans "Publications" %}</h3>
                    <hr />
                    {% for article in user.published_articles %}
                        {% include "elements/article_listing.html" with article=article %}
                        <hr />
                    {% endfor %}
                {% endif %}
            </div>
		</div>
	</section>
{% endblock %}
