{% extends "core/base.html" %}
{% load materialize %}
{% load i18n %}
{% load recaptcha2 %}
{% load static %}

{% block title %}{% trans "Register" %}{% endblock title %}

{% block head %}
    {% recaptcha_init %}
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col m8 offset-m2">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {% trans "Register for an" %}  {{ request.press.name }} {% trans "account" %}.
                    </span>
                     {% if request.repository and request.repository.login_text %}
                        {{ request.repository.login_text|safe }}
                    {% endif %}
                    <p>Password Rules:</p>
                    <ul class="no-top-margin">
                        <li>- {% trans "Your password should be" %} {{ request.press.password_length }} {% trans "characters long" %}.</li>
                        {% if request.press.password_upper %}<li>- {% trans "Your password should contain at least one upper case letter." %}</li>{% endif %}
                        {% if request.press.password_number %}<li>- {% trans "Your password should contain at least one number." %}</li>{% endif %}
                    </ul>
                    <p>{% blocktrans %}For more information read our
                        <a href="#passwordmodal" class="modal-trigger">password guide</a>
                        .{% endblocktrans %}</p>
                    <form method="POST">
                        {% include "elements/forms/errors.html" %}
                        {% csrf_token %}
                        {% materialize_form form=form %}
                        <p>{% trans "By registering an account you agree to our" %}
                          {% if journal_settings.general.privacy_policy_url %}
                            <a href="{{ journal_settings.general.privacy_policy_url }}">{% trans "Privacy Policy" %}</a>
                          {% else %}
                            <a href="{% url 'cms_page' "privacy" %}">{% trans "Privacy Policy" %}</a>
                          {% endif %}
                        </p>
                        <button type="submit"
                                class="btn btn-primary float-right">{% trans "Register" %}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="passwordmodal" class="modal">
        <div class="modal-content">
            <h4>{% trans "Password Guide" %}</h4>
            <p class="lead">{% trans "When it comes to passwords, length is better than complexity." %}</p>
            <p>{% trans "Its a common myth that a short and complex password (Jfjfy&65^87) is more secure than a long and uncomplicated password (our awesome moon base rocks)." %}</p>
            <p>{% blocktrans %}We recommend selecting a long, but easy to remember password such as <i>our awesome moon base
                rocks</i> which would take an estimated septillion years to crack as opposed to a complex one
                like <i>Jfjfy&65^87</i> which would take just over 600 years on a standard computer.{% endblocktrans %}</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">{% trans "Close" %}</a>
        </div>
    </div>
{% endblock body %}
