{% extends "core/base.html" %}
{% load hooks %}
{% load i18n %}
{% load pages %}

{% block page_title %}{% trans "Articles" %}{% endblock %}

{% block title %}{% trans "Articles" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col m12">
            <h1>{% trans "Articles" %}</h1>
        </div>
        <div class="col m8">
            {% if pinned_articles and articles.number == 1 and not active_filters %}
                {% for article in pinned_articles %}
                    {% include "elements/article_listing.html" with article=article %}
                {% endfor %}
            {% endif %}

            {% for article in articles %}
                {% include "elements/article_listing.html" with article=article %}
                {% empty %}
                <p>No articles to display.</p>
            {% endfor %}
            <ul class="pagination">
                {% if articles.has_previous %}
                    <li class="waves-effect"><a href="?page={{ articles.previous_page_number }}">&laquo;</a></li>
                    &nbsp;{% endif %}
                {{ articles.page.page_range }}
                {% for page in articles|slice_pages:3 %}
                    <li class="waves-effect {% if articles.number == page.number %}active{% endif %}"><a href="?page={{ page.number }}">{{ page.number }}</a>&nbsp;
                    </li>
                {% endfor %}
                {% if articles.has_next %}
                    <li class="waves-effect"><a href="?page={{ articles.next_page_number }}">&raquo;</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="col m4">
            <div class="card-panel">
                <form method="POST" action="{% url 'search' %}">
                    {% csrf_token %}
                    {% if not keyword %}
                        <label for="{{ search_form.article_search.id_for_label }}">Search
                            titles, keywords, and authors</label>
                    {% endif %}
                    <div class="input-field">
                        {% if not keyword %}
                            {{ search_form.article_search.errors }}
                            {{ search_form.article_search }}
                        {% else %}
                            You are currently browsing by keyword.
                            <p><a href="{% url 'search' %}">Search for an
                                article.</a></p>
                        {% endif %}
                    </div>
                    <label for="{{ search_form.sort.id_for_label }}">Sort articles
                        by</label>
                    <div class="input-field">
                        {{ search_form.sort.errors }}
                        {{ search_form.sort }}
                    </div>
                    <div class="input-field">
                        <button name="submit"
                                class="btn">{% trans "Search" %}</button>
                    </div>
                </form>
            </div>
            <div class="card-panel">
                <form method="POST">
                    {% csrf_token %}
                    <div class="input-field">
                        <select name="show" class="form-control">
                            <option value="10"{% if show == 10 %} selected="selected"{% endif %}>10</option>
                            <option value="20"{% if show == 20 %} selected="selected"{% endif %}>20</option>
                            <option value="50"{% if show == 50 %} selected="selected"{% endif %}>50</option>
                            <option value="100"{% if show == 100 %} selected="selected"{% endif %}>100</option>
                        </select>
                        <label>{% trans "Show" %}</label>
                    </div>
                    <div class="form-group">
                        <label>{% trans "Sort" %}</label>
                        <select name="sort" class="form-control">
                            <option value="-date_published"{% if sort == "date_published" %}
                                    selected="selected"{% endif %}>{% trans "Date" %}</option>
                            <option value="title"{% if sort == "title" %}
                                    selected="selected"{% endif %}>{% trans "Title" %}</option>
                        </select>

                    </div>
                    <div class="form-group">
                        <label>{% trans "Filter" %}</label><br/>
                        {% for section in sections %}
                            <input id="section-{{ section.id }}"
                                   value="{{ section.id }}"
                                   type="checkbox"
                                   name="filter[]"
                                   {% if section.id in filters %}checked="checked"{% endif %}>
                            <label for="section-{{ section.id }}">{{ section.name }}</label>
                            <br/>
                        {% endfor %}
                        <br/>
                        <button type="submit" class="btn btn-primary">{% trans "Filter" %}</button>
                        {% if active_filters %}
                            <button type="submit" class="btn btn-primary"
                                    name="clear">{% trans "Clear Filters" %}</button>{% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
{% endblock %}
