{% extends "core/base.html" %}
{% load static from staticfiles %}
{% load hooks %}
{% load i18n %}
{% load files %}

{% block page_title %}{% if article.preprint %}Preprint {% endif %}Article{% endblock %}

{% block title %}{{ article.frozen_authors.0.last_name | striptags }} | {{ article.title | striptags }} |
    {{ journal_settings.general.journal_name | striptags }} {% endblock %}

{% block head %}

    <!-- Commented out meta fields are TODO -->

    <!-- <meta name="DC.Coverage.spatial" xml:lang="en" content="London"/> -->

    <!-- <meta name="DC.Coverage.temporal" xml:lang="en" content="long-eighteenth century"/> -->


    <meta name="DC.Date.created" scheme="ISO8601" content="{{ article.date_published }}"/>
    <meta name="DC.Date.dateSubmitted" scheme="ISO8601" content="{{ article.date_submitted }}"/>
    <meta name="DC.Date.issued" scheme="ISO8601" content="{{ article.date_published }}"/>
    <meta name="DC.Date.modified" scheme="ISO8601" content="{{ article.date_published }}"/>


    <meta name="DC.Description" xml:lang="en" content="{{ article.abstract | striptags }}"/>

    <meta name="DC.Format" scheme="IMT" content="xml"/>
    <meta name="DC.Format" scheme="IMT" content="pdf"/>
    <meta name="DC.Identifier.pageNumber" content="{{ article.page_number }}"/>
    {% if article.identifier.id_type == "doi" %}
        <meta name="DC.Identifier.DOI" content="{{ article.identifier.identifier }}"/>{% endif %}

    <meta name="DC.Identifier.URI" content="{{ article.url }}"/>
    <meta name="DC.Language" scheme="ISO639-1" content="{{ article.language }}"/>
    <meta name="DC.Rights" content="{{ article.licence.text | striptags }}"/>
    <meta name="DC.Source" content="{{ journal_settings.general.journal_name }}"/>
    <meta name="DC.Source.ISSN" content="{{ journal_settings.general.issn }}"/>
    <meta name="DC.Source.Issue" content="{{ article.issue.issue }}"/>
    <meta name="DC.Source.Volume" content="{{ article.issue.volume }}"/>
    <meta name="DC.Source.URI" content="{% journal_url 'website_index' %}"/>
    <meta name="DC.Title" content="{{ article.title | striptags }}"/>

    <meta name="citation_journal_title" content="{{ journal_settings.general.journal_name }}"/>
    <meta name="citation_issn" content="{{ journal_settings.general.issn }}"/>
    {% for author in article.frozen_authors.all %}
        <meta name="citation_author" content="{{ author.full_name }}"/>
        {% if not '@journal.org' in author.author.email %}
            <meta name="citation_author_email" content="{{ author.author.email }}"/>{% endif %}
        <meta name="citation_author_institution" content="{{ author.institution }}"/>{% endfor %}
    <meta name="citation_title" content="{{ article.title | striptags }}"/>
    <meta name="citation_publication_date" content="{{ article.date_published }}"/>
    <meta name="citation_volume" content="{{ article.issue.volume }}"/>
    <meta name="citation_issue" content="{{ article.issue.issue }}"/>{% if article.identifier.id_type == "doi" %}
    <meta name="citation_doi" content="{{ article.identifier.identifier }}"/>{% endif %}
    <meta name="citation_abstract_html_url" content="{{ article.url }}"/>
    <meta name="citation_language" content="{{ article.language }}"/>

    {% if article.keywords %}
        <meta name="citation_keywords" xml:lang="en" content="



                {% for keyword in article.keywords.all %}{{ keyword.word }}{% if not forloop.last %}, {% endif %}{% endfor %}"/>
    {% endif %}

    {% for pdf in pdfs %}
        <meta name="citation_pdf_url" content="{% url 'article_file_download' identifier_type identifier pdf.id %}"/>
    {% endfor %}
    {% include "elements/journal/social_meta.html" %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col m12">
            <div class="card">
            {% if not journal.disable_article_images %}
                <div class="card-image article-card waves-effect waves-block waves-light">
                    {% if article.large_image_file.id %}
                        <img class="orbit-image"
                             src="{% url 'article_file_download' 'id' article.id article.large_image_file.id %}"
                             alt="{{ article.title|urlencode }}">
                    {% elif journal.default_large_image %}
                        <img class="orbit-image"
                             src="{{ journal.default_large_image.url }}"
                             alt="{{ article.title|urlencode }}">
                    {% else %}
                        <img class="orbit-image"
                             src=""
                             alt="{{ article.title|urlencode }}">
                    {% endif %}


                    <span class="card-title">
                        <div class="carousel-text-wrapper hide-on-small-only">
                        <small>
                            {{ article.section.name }}
                        </small>
                        <br/>
                        {{ article.title|safe }}
                            </div>
                    </span>
                    <span class="card-title" style="font-size: 17px;">
                        <div class="carousel-text-wrapper show-on-small hide-on-med-and-up">
                        <small>
                            {{ article.section.name }}

                        <br/>
                            {{ article.title|safe }}</small>
                            </div>
                    </span>
                </div>
        {% else %}
            <div class="card-content">
                    <span class="card-title">
                        <small>{{ article.section.name }}</small>
                        <br/>
			            <h5>{{ article.title|safe }}<h5>
                        <br/>
                    </span>
            </div>
        {% endif %}
		<div>

		</div>
            </div>
        </div>

        <div id="article" class="col m8 s12">
            <div class="card">
                <div class="card-content">

                    {% if article.abstract != '' %}
                        <h5>{% trans "Abstract" %}</h5>
                        <p>{{ article.abstract | safe }}</p>
                    {% endif %}

                    <div class="spacer">
                        <div class="divider"></div>
                    </div>

                    {% if article.keywords.count > 0 %}
                        <h5>{% trans "Keywords" %}</h5>
                        <p>{% for keyword in article.keywords.all %}{{ keyword.word }}{% if not forloop.last %},
                        {% endif %}{% endfor %}</p>
                        <div class="spacer">
                            <div class="divider"></div>
                        </div>
                    {% endif %}
                    {% if article.is_published %}
                        <h5>{% trans "How to Cite" %}</h5>
                        {% include "elements/journal/how_to_cite.html" with article=article %}

                        <div class="spacer">
                            <div class="divider"></div>
                        </div>
                    {% endif %}

                    {% if article.publisher_notes.all %}
                        <h5>{% trans "Publisher Notes" %}</h5>
                        <ul>
                            {% for note in article.publisher_notes.all %}
                                <li>{{ note.text }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                {% if article.metrics and article.is_published and not request.journal.disable_metrics_display %}
                    <div class="col m12 l12 s12">
                        <div class="card">
                            <div class="card-content center">
                                <div class="alm">
                                    <h5>
                                        {{ article.metrics.views }}
                                    </h5>
                                    <p><i class="fa fa-eye"></i> Views</p>
                                </div>
                                <div class="alm">
                                    <h5>
                                        {{ article.metrics.downloads }}
                                    </h5>
                                    <p><i class="fa fa-download"></i> Downloads</p>
                                </div>
                                {% if article.metrics.alm.twitter %}
                                    <div class="alm">
                                        <h5>
                                            {{ article.metrics.alm.twitter }}
                                        </h5>
                                        <p><i class="fa fa-twitter"></i> Tweets</p>
                                    </div>
                                {% endif %}
                                {% if article.metrics.alm.wikipedia %}
                                    <div class="alm">
                                        <h5>
                                            {{ article.metrics.alm.wikipedia }}
                                        </h5>
                                        <p><i class="fa fa-wikipedia-w"></i> Wikipedia</p>
                                    </div>
                                {% endif %}
                                {% if article.metrics.alm.reddit %}
                                    <div class="alm">
                                        <h5>
                                            {{ article.metrics.alm.reddit }}
                                        </h5>
                                        <p><i class="fa fa-reddit"></i> Reddit</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% if article.is_published and article_content %}
                <article>
                    <div id="main_article" itemprop="articleBody" class="article-body">
                        <div class="card">
                            <div class="card-content">
                                {{ article_content|safe }}
                                {% hook 'article_footer_block' %}
                            </div>
                        </div>
                    </div>
                </article>
            {% endif %}
        </div>

        <div class="col m4">
            <div class="card">
                <div class="card-content">
                    <h5>
                        {% trans "Authors" %}
                    </h5>

                    {% for author in article.frozen_authors.all %}
                        <small>
                            {% if not forloop.first %}<br/> {% endif %}
                            {{ author.full_name }}
                            {% if author.institution %}
                                <span itemprop="worksFor" itemscope itemtype="http://schema.org/CollegeOrUniversity">
                                    <span itemprop="name">({{ author.institution }})
                            {% endif %}
                            {% if author.is_correspondence_author %}
                                <a itemprop="email" href="mailto:{{ author.author.email }}"
                                   class="fa fa-envelope email-link"></a>{% endif %}
                        </small>
                    {% endfor %}

                    <div class="spacer">
                        <div class="divider"></div>
                    </div>
                    {% with downloads=galleys|filter_html_downloads %}
                    {% if article.is_published and downloads %}
                        <h5>
                            {% trans "Download" %}
                        </h5>

                        <ul>
                            {% for galley in downloads %}
                                <li>
                                    <a href="{% url 'article_download_galley' article.id galley.id %}">{% trans "Download" %} {{ galley.label }}</a>
                                    {% if galley.file.mime_type == 'application/pdf' and journal.view_pdf_button %}
                                        </li>
                                        <li>
                                            <a target="_blank" href="{% url 'article_view_galley' article.id galley.id %}">{% trans "View" %} {{ galley.label }}</a>
                                    {% endif %}
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="spacer">
                            <div class="divider"></div>
                        </div>
                    {% endif %}
                    {% endwith %}

                    {% if article.supplementary_files.all %}
                        <h5>{% trans "Supplementary Files" %}</h5>

                        <ul>
                            {% for file in article.supplementary_files.all %}
                                <li><a href="{{ file.url }}">{{ file.label }}</a></li>
                            {% endfor %}
                        </ul>

                        <div class="spacer">
                            <div class="divider"></div>
                        </div>
                    {% endif %}

                    {% if journal_settings.general.submission_summary %}
                        <h5>{% trans "Non Specialist Summary" %}</h5>
                        <a href="#summarymodal" class="modal-trigger">View Summary</a>
                        <div class="spacer">
                            <div class="divider"></div>
                        </div>
                    {% endif %}

                    <h5>
                        {% trans "Dates" %}
                    </h5>

                    <table class="sidebar-table">
                        <tr>
                            <th>{% trans "Submitted" %}</th>
                            <td>{{ article.date_submitted|date:"Y-m-d" }}</td>
                        </tr>
                        {% if article.date_accepted %}
                            <tr>
                                <th>{% trans "Accepted" %}</th>
                                <td>{{ article.date_accepted|date:"Y-m-d" }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <th>{% trans "Published" %}</th>
                            <td>{{ article.date_published|date:"Y-m-d" }}</td>
                        </tr>
                    </table>

                    <div class="spacer">
                        <div class="divider"></div>
                    </div>

                    <h5>
                        {% trans "Licence" %}
                    </h5>
                    <p>{{ article.license.name }} {% if article.license.url %}
                        <a href="{{ article.license.url }}"><i class="fa fa-external-link"></i></a>{% endif %}</p>

                    <div class="spacer">
                        <div class="divider"></div>
                    </div>

                    <h5>
                        {% trans "Peer Review" %}
                    </h5>
                    {% if article.peer_reviewed %}
                        <p>
                            <i class="fa fa-check-circle-o" style="color: green"></i>
                            {% trans "This article has been peer reviewed." %}
                        </p>
                    {% else %}
                        <p>
                            {% trans "This article has not been peer reviewed." %}
                        </p>
                    {% endif %}

                    {% for field in article.custom_fields %}
                    <div class="spacer">
                        <div class="divider"></div>
                    </div>
                    <h5>{% trans field.field.name %}</h5>
                      <p>{{ field.answer }}</p>
                    {% endfor %}
                    <div class="spacer">
                        <div class="divider"></div>
                    </div>
                    {% if article.is_published %}
                        <h5>
                            {% trans "File Checksums" %} (MD5)
                        </h5>
                        <ul>
                            {% for galley in galleys %}
                                <li>
                                    <small>{{ galley.label }}: {{ galley.file.checksum }}</small>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div class="card toc-card hide-on-small-only" id="toc-card" style="display: none;">
                <div class="card-content">
                    <h5>
                        {% trans "Table of Contents" %}
                    </h5>
                    <ul id="toc" class="section table-of-contents">
                    </ul>
                </div>
            </div>
        </div>

    </div>
    {% include "elements/summary_modal.html" %}
{% endblock %}

{% block js %}
    <script src="{% static 'material/toc.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.scrollspy').scrollSpy();
        });
        $(document).scroll(function () {
            var y = $(this).scrollTop();
            if (y > 1000) {
                $('#toc-card').fadeIn();
            } else {
                $('#toc-card').fadeOut();
            }

        });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
    <script>
        MathJax.Hub.Config({
            tex2jax: {inlineMath: [["$", "$"], ["\\(", "\\)"]]},
            "HTML-CSS": {
                linebreaks: {automatic: true, width: "container"}
            }
        });
    </script>
{% endblock %}
