{% extends "core/base.html" %}
{% load i18n %}
{% load materialize %}
{% load recaptcha2 %}

{% block title %}{% trans "Contact" %}{% endblock %}

{% block head %}
    {% recaptcha_init %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col m5">
            {% if request.journal %}
                <h4>{% trans "Journal Representatives" %}</h4>
            {% else %}
                <h4>{% trans "Press Representatives" %}</h4>
            {% endif %}
            {% for contact in contacts %}
                <h5>{{ contact.name }}</h5>
                <p>{{ contact.role }}</p>
            {% endfor %}
        </div>

        <div class="col l7 m7">
            <h4>{% trans "Contact" %}</h4>
            <form method="POST">
                {% include "elements/forms/errors.html" with form=contact_form %}
                {% csrf_token %}

                {% materialize_form form=contact_form %}

                <button type="submit" class="btn">{% trans "Send Message" %}</button>
            </form>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>
{% endblock %}