{% extends "core/base.html" %}
{% load hooks %}
{% load i18n %}
{% load materializecss %}

{% hook 'filter_search' %}

{% block page_title %}{% trans "Search" %}{% endblock %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col s12">
            <h1>{% trans 'Article Search Results' %}</h1>
            {% if search_term %}
                <p>{% trans 'Searching for' %}: <i>{{ search_term }}</i></p>
            {% elif keyword %}
                <p>{% trans 'Keyword' %}: <i>{{ keyword }}</i></p>
            {% endif %}
        </div>
    </div>

	<div class="row">
        <section aria-label="Results">
            <div class="col m8">
		        {% for article in articles %}
		            {% include "elements/article_listing.html" with article=article %}
		        {% empty %}
                    <p>{% trans "No articles to display." %}</p>
		        {% endfor %}
		        {% if articles %}
		            {% include "elements/pagination.html" with form_id=facet_form.id %}
		        {% endif %}
            </div>
        </section>
	    <div class="col m4">
            <section aria-label="{% trans 'Search' %}">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <div>
                                <p>
                                    {% blocktrans count result_count=page_obj.paginator.count %}
                                        1 result
                                    {% plural %}
                                        {{ result_count }} results
                                    {% endblocktrans %}
                                </p>
                            </div>
                            <form method="GET" id="search_form">
                            <div class="form-group">
                                {% if not keyword %}
                                    {{ form|materializecss }}
                                {% else %}
                                    You are currently browsing by keyword.
                                    <a href="{% url 'search' %}">Search for an article.</a>
                                {% endif %}
                            </div>
                            {% if all_keywords %}
                            <div class="form-group">
                                <label>
                                    {% trans "Keywords" %}
                                    <ul class="list-inline">
                                        {% for keyword in all_keywords %}
                                            <li class="list-inline-item">
                                                <a href="{% url 'search' %}?keyword={{ keyword.word }}">
                                                    {{ keyword.word }}
                                                </a>
                                                {% if not forloop.last %}<span aria-hidden="true">, </span> {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </label>
                            </div>
                            {% endif %}
                            <div class="form-group">
                                <div class="col s12">
                                    <button type="submit" class="btn btn-primary">
                                        {% trans "Filter" %}
                                    </button>
                                </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}
