{% extends "core/base.html" %}
{% load truncate dict %}

{% block body %}

    {% for element in homepage_elements %}
        {% if element.template_path == 'get_from_context' %}
            {% context_get element.name %}
        {% elif element.template_path %}
            {% include element.template_path %}
        {% endif %}
    {% endfor %}

{% endblock body %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('.carousel.carousel-slider').carousel({fullWidth: true});
        })
        $('.carousel').carousel();
        setInterval(function () {
            $('.carousel').carousel('next');
        }, 8000);
    </script>

{% endblock %}