{% extends "core/base.html" %}
{% load truncate %}

{% block body %}

    {% for element in homepage_elements %}
    <div class="homepage-element-wrapper homepage-element-{{ element.name|slugify }}">
        {% include element.template_path %}
    </div>
    {% endfor %}

{% endblock body %}

{% block js %}
    <script>
        $(document).ready(function () {
            $('.carousel.carousel-slider').carousel({fullWidth: true});
        })
        $('.carousel').carousel();
        setInterval(function () {
            $('.carousel').carousel('next');
        }, 8000);
    </script>

{% endblock %}
