{% extends "core/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load roles %}

{% block title %}{% trans "Issues" %}{% endblock %}

{% block body %}
    {% if request.user %}
        {% user_has_role request 'editor' as user_is_editor %}
    {% endif %}
    <div class="row">
        <div class="col m12">
            <h1>{% trans "Issues" %}</h1>
        </div>

        {% for issue in issues %}
            <div class="col m12 l6 xl6 xxl4">
                <div class="row">
                    <div class="col s4 m3 l4 xxl5">
                        <img src="{% if issue.cover_image %}{{ issue.cover_image.url }}{% elif journal.default_cover_image %}{{ journal.default_cover_image.url }}{% else %}{% static "common/img/sample/issue_cover.png" %}{% endif %}"
                             alt="{{ issue.title }}"
                             class="responsive-img">
                    </div>
                    <div class="col s8 m9 l8 xxl7">
                        <h2 class="issue_title">
                            <a href="">{{ issue.display_title }}</a>
                        </h2>
                        <h3 class="issue_items">
                            {{ issue.get_sorted_articles.count }} {% trans "items in this issue." %}
                        </h3>
                        <h3 class="issue_items">
                            Published on {{ issue.date }}
                        </h3>
                    </div>
                </div>

            </div>
            {% empty %}

        {% endfor %}
    </div>
{% endblock %}