{% extends "core/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load roles %}

{% block title %}{% trans "Issues" %}{% endblock %}

{% block body %}
    {% if request.user %}
        {% user_has_role request 'editor' as user_is_editor %}
    {% endif %}
    <div class="row">
        <div class="col m12">
            <h1>{% trans issue_type.plural_name %}</h1>
        </div>

        {% for issue in issues %}
            <div class="col m12 l6 xl4">
                <div class="card horizontal">
                    <div class="card-image">
                        <a href="{% url 'journal_issue' issue.id %}"><img
                                class="issue_image" src="{% if issue.cover_image %}{{ issue.cover_image.url }}{% elif journal.default_cover_image %}{{ journal.default_cover_image.url }}{% else %}{% static "common/img/sample/issue_cover.png" %}{% endif %}"
                                alt="{{ issue.title }}"
                                class="img-fluid"></a>
                    </div>
                    <div class="card-stacked card">
                        <div class="card-content">
                            {% if issue.pretty_issue_identifier and issue.issue_title and journal.display_issue_title %}
                            <p>{{ issue.pretty_issue_identifier }} <br /> {{ issue.get_sorted_articles.count }} {% trans "items" %}</p>
                            <span class="activator grey-text text-darken-4 fade fade-overflow-5">{{ issue.issue_title }}</span>
                            {% else %}
                            <p>{{ issue.display_title }} <br /> {{ issue.get_sorted_articles.count }} {% trans "items" %}</p>
                            {% endif %}
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><i class="material-icons right">{% trans "close" %}</i></span>
                            <span class="grey-text text-darken-4">{{ issue.issue_title }}</span>
                        </div>
                        <div class="card-action">
                            <a href="{% url 'journal_issue' issue.id %}">{% trans "View Issue" %}</a>
                            {% if request.user and request.user.is_staff or user_is_editor %}
                                <a href="{% url 'manage_issues_id' issue.pk %}"><i class="fa fa-edit">&nbsp;</i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}

        {% endfor %}
    </div>
{% endblock %}
