{% extends "core/base.html" %}
{% load i18n %}

{% block title %}{% trans "Search" %}{% endblock %}

{% block body %}
   
    {%if search_term%}
        <h5>Searching for: <i>{{search_term}}</i></h5>
    {%elif keyword%}
        <h5>Keyword: <i>{{keyword}}</i></h5>
    {%endif%}
   
    <div class="row">
        <div class="col m8">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {% trans "Articles" %}
                    </span>
                    {% for article in articles %}
                        {% include "elements/article_listing.html" with article=article %}
                        {% empty %}
                        <p>{% trans "No articles to display." %}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col m4">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">
                        {% trans "Searching" %}
                    </span>
                    <p>{% trans "Enter a search term to display results." %}</p>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="input-field">
                            <input type="text" name="article_search" id="search" value=""/>
                            <label for="search">{% trans "Search" %}</label>
                        </div>
                        <div class="input-field">
                                <select name="sort" class="form-control">
                                    <option value="-date_published"{% if sort == "date_published" %}
                                            selected="selected"{% endif %}>{% trans "Date" %}</option>
                                    <option value="title"{% if sort == "title" %}
                                            selected="selected"{% endif %}>{% trans "Title" %}</option>
                                </select>
                            <label>{% trans "Sort" %}</label>
                        </div>
                        <div class="form-group">
                            <label>{% trans "Keywords" %}

                                {% for keyword in all_keywords %}
                                    <a href="{% url 'search' %}?keyword={{keyword.word}}">{{ keyword.word }}</a>{% if not forloop.last %}, {% endif %}
                                {% endfor %}

                            </label>
                        </div>
                        <div class="input-field">

                            <button name="submit" class="btn">{% trans "Search" %}</button>
                            {% if search_filters %}
                                <button type="submit" class="btn btn-primary" name="clear">
                                    {% trans "Clear Filters" %}
                                </button>
                            {% endif %}

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}