/* stylelint-disable selector-list-comma-newline-after */

body {
    background-color: #F0F0F0;
    margin-top: 20px;
}

.container {
    background-color: white;
    padding-left: 0;
    padding-right: 0;
}

.site-header {
    background-color: #1C304A;
    line-height: 1;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px;
    color: #FFF;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.article-title {
    font-size: 1.7em;
}

.display-4 {
    font-size: 2.5rem;
}

@media (min-width: 768px) {
    .display-4 {
        font-size: 3rem;
    }
}

main {
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

main a {
    color: #4F637D;
    text-decoration: underline;
}

main a:focus {
    color: #4F637D;
}

main a:hover {
    color: #4F637D;
}

.navbar {
    padding: 0;
}

.card-img-right {
    height: 100%;
    border-radius: 0 3px 3px 0;
}

.flex-auto {
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.h-250 {
    height: 250px;
}

@media (min-width: 768px) {
    .h-md-250 {
        height: 250px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* Pagination */
.site-pagination {
    margin-bottom: 4rem;
}

.site-pagination > .btn {
    border-radius: 2rem;
}

.news-post {
    margin-bottom: 4rem;
}

.news-post-title {
    margin-bottom: .25rem;
    font-size: 2.5rem;
}

.news-post-meta {
    margin-bottom: 1.25rem;
    color: #999;
}

/*
 * Footer
 */
.site-footer {
    padding: 2.5rem 15px;
    color: #5E5E5E;
    text-align: center;
    background-color: #FCFCFC;
    border-top: .05rem solid #e5e5e5;
}

.site-footer a {
    color: #00688B;
    text-decoration: underline;
}

.site-footer p:last-child {
    margin-bottom: 0;
}

.navbar-custom {
    background-color: #1C304A;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255, 255, 255, .8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .8);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
    text-decoration: underline;
}

.fa-check {
    color: green;
}

.fa-times {
    color: darkred;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
    background-color: #1C304A;
    border-color: #1C304A;
    color: white;
}

.btn-primary:hover {
    color: white;
    background-color: #1C304A;
    border-color: #1C304A;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
}

.skipnav {
    text-align: left;
}

.skipnav a {
    position: absolute;
    left: -10000px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: #4F637D;
    text-decoration: underline;
}

.skipnav a:focus, .skipnav a:active {
    position: static;
    left: 0;
    width: auto;
    height: auto;
    overflow: visible;
    text-decoration: underline;
}

.contact h3 {
    font-size: 1.6rem;
}

.contact h4 {
    font-size: 1.3rem;
}

.card {
    margin-bottom: 15px !important;
}

.card img {
    max-height: 250px;
    object-fit: cover;
}

.footer-img {
    max-width: 100%;
    height: auto;
}

.carousel-min {
    min-width: 100%;
    min-height: 500px;
}

.carousel-caption {
    left: 0px;
    bottom: 0px;
    background-color: rgba(55, 55, 55, .8);
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.article-thumbnail {
    object-fit: cover;
}

.card-block {
    padding: 20px;
}

#carousel-buttons {
    margin-left: 100px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.carousel-control-next {
	top: 40px;
}

.carousel-control-prev {
	top: 40px;
}

footer svg {
    height: 100px;
    width: 100%;
}

@media screen and (max-width: 990px) {
    .article-title {
        font-size: 1.1em !important;
    }
}

@media screen and (max-width: 764px) {
    .article-title {
        font-size: 0.9em !important;
    }

    p {
        font-size: 0.7em !important;
        margin-bottom: 8px;
    }

    .card-img-overlay {
        padding: 10px;
    }

    .card img {
        min-height: 220px;
        object-fit: cover;
    }
}

.card-deck {
    padding-left: 15px;
    padding-right: 15px;
}

.article-title {
    font-size: 1.5rem;
}

.editor-name {
    font-size: 1.25rem;
}

.article-menu h2 {
    font-size: 1.5rem;
}

.white-text {
    color: white;
}

.white-text a {
    color: white;
}

.white-text a:hover {
    color: white;
}

.article-img {
    filter: brightness(50%);
}

.journal-name {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

.header-image {
    max-height: 120px;
}

.orcid-img {
    height: 16px;
    width: 16px;
    display: inline-block;
}

.article-table {
  display: block;
  overflow-x: scroll;}

.table-caption {
    margin-bottom: 5px;
}