{% extends "admin/core/base.html" %}
{% load foundation %}
{% load static %}

{% block title %}HTML Block{% endblock title %}
{% block admin-header %}HTML Block{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'core_manager_index' %}">Manager</a></li>
    <li><a href="{% url 'home_settings_index' %}">Journal Home Settings</a></li>
    <li>HTML Block</li>
{% endblock %}

{% block body %}
    <div class="large-12 columns">
        <div class="box">
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="success button">Save</button>
                <br/>
            </form>
        </div>
    </div>
{% endblock body %}
