{% load discussion_tags %}

{% can_manage_discussion request as user_can_manage %}

<div class="thread-list-header">
    <h3 id="thread-list-heading">Discussions</h3>
    {% if user_can_manage %}
    <button type="button"
            class="button"
            hx-get="{% url 'discussion_new_thread_modal' object_type object.pk %}"
            hx-target="#new_thread_modal"
            hx-swap="innerHTML"
            data-open="new_thread_modal">
       <i class="fa fa-plus" aria-hidden="true"></i> New Thread
    </button>
    {% endif %}
</div>

{% if threads %}
    <ul class="thread-list no-bullet" aria-labelledby="thread-list-heading">
        {% for thread in threads %}
            <li class="thread-list-item">
                <a class="thread-list-link"
                   href="{% url 'discussion_thread' object_type object.pk thread.pk %}"
                   hx-get="{% url 'discussion_thread_detail_partial' object_type object.pk thread.pk %}"
                   hx-push-url="{% url 'discussion_thread' object_type object.pk thread.pk %}"
                   hx-target="#thread-detail-container"
                   hx-swap="innerHTML">
                    {% include "admin/discussion/thread.html" %}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="empty-state">
        <p class="subheader">No threads yet. Start a new discussion!</p>
    </div>
{% endif %}
