{% extends "admin/core/base.html" %}
{% load static %}
{% load i18n %}
{% load hooks %}
{% load foundation %}

{% block title %}{% trans "Submit an Article" %}{% endblock title %}

{% block title-section %}{% trans "Author Agreement" %}{% endblock %}
{% block title-sub %}
    {% trans "Please carefully read through the statements below before checking items" %}{% endblock %}
{% block css %}
    <link href="{% static 'admin/css/timeline.css' %}" rel="stylesheet">{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>Submit an Article</li>
{% endblock %}

{% block body %}
    <article>
        <form method="POST">
            <div id="content submission-content" class="box">
                {% csrf_token %}
                {% include "admin/submission/timeline.html" with data=article %}

                {% if request.journal.submissionconfiguration.publication_fees or request.journal.submissionconfiguration.submission_check or request.journal.submissionconfiguration.copyright_notice %}
                    <p>{% trans 'All authors must agree to the below statements in order to submit an article to' %} {{ request.journal.name }}. {% trans 'If you do not agree with these terms you will be unable to proceed with your submission.' %}</p>
                {% endif %}

                {% if request.journal.submissionconfiguration.publication_fees %}
                    <div class="title-area">
                        <h2>{% trans "Publication Fees" %}</h2>
                    </div>
                    <div class="content submission-content">
                        {{ journal_settings.general.publication_fees|safe }}
                        {% hook 'publication_fees' %}
                        <br />
                        {{ form.publication_fees }}&nbsp;&nbsp;<label
                            for="id_publication_fees">{% trans "Author(s) agrees to the above statement" %}</label>
                    </div>
                {% endif %}

                {% if request.journal.submissionconfiguration.submission_check %}
                    <div class="title-area">
                        <h2>{% trans "Submission Checklist" %}</h2>
                    </div>
                    <div class="content submission-content">
                        {{ journal_settings.general.submission_checklist|safe }}
                        <br />
                        {{ form.submission_requirements }}&nbsp;&nbsp;<label
                            for="id_submission_requirements">{% trans "Author(s) confirms that this article adheres to the above requirements" %}</label>
                    </div>
                {% endif %}

                {% if request.journal.submissionconfiguration.copyright_notice %}
                    <div class="title-area">
                        <h2>{% trans "Copyright Notice" %}</h2>
                    </div>
                    <div class="content submission-content">
                        {{ journal_settings.general.copyright_notice|safe }}
                        <br />
                        {{ form.copyright_notice }}&nbsp;&nbsp;<label
                            for="id_copyright_notice">{{ form.copyright_notice.label }}</label>
                    </div>
                {% endif %}

                {% if request.journal.submissionconfiguration.competing_interests %}
                    <div class="title-area">
                        <h2>{% trans "Conflict of Interests" %}</h2>
                    </div>

                    {% if journal_settings.general.enable_competing_interest_selections %}
                    <p>{% trans "Search for users using the name. If an user is matched, they will be registered as a conflict of interest." %}</p>
                    <div class="large-6 columns" style="margin-bottom: 16px;">
                        <input type="text" id="searchInput" placeholder="Search...">
                        <table id="availableMembers" class="small scroll selectable-table">
                            <thead>
                                <tr>
                                    <th width="5%"></th>
                                    <th>{% trans "Name" %}</th>
                                    <th>{% trans "Affiliation" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for account in journal.editorial_members %}
                                <tr>
                                    <td style="display: none;" class="id-column">{{ account.id }}</td>
                                    <td width="5%"><i class="fa fa-plus" style="color: green;"></i></td>
                                    <td>{{ account.full_name }}</td>
                                    <td>{{ account.affiliation }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="large-6 columns">
                        <table id="selectedMembers" class="small scroll">
                            <thead>
                                <tr>
                                    <th width="5%"></th>
                                    <th>{% trans "Name" %}</th>
                                    <th>{% trans "Affiliation" %}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody class="competing-interests-accounts-container">
                                <!-- Selected members will be added here -->
                            </tbody>
                        </table>
                    </div>
                    <input type="hidden" name="competing_interest_accounts" id="selectedAccounts">
                    {% endif %}

                    <div class="content submission-content">
                        {{ form.competing_interests|foundation }}
                    </div>
                {% endif %}
                <button class="success button pull-right" type="submit" name="start_submission"><i class="fa fa-check">&nbsp;</i>{% trans "Start Submission" %}
                </button>
                <br/>
            </div>
        </form>
    </article>
{% endblock body %}

{% block js %}
<script>

    function updateSelectedAccounts() {
        var selectedIds = [];
        $('#selectedMembers tbody tr').each(function() {
            selectedIds.push($(this).find('td.id-column').text());
        });
        $('#selectedAccounts').val(selectedIds.join(','));
    }

    function setSelectedRowHtml(row) {
        var id = row.find('td.id-column').text();
        var username = row.find('td:nth-child(3)').text();
        var affiliation = row.find('td:nth-child(4)').text();

        return '<tr class="tag-selected" id="account-' + id + '">' +
            '<td width="5%"><i class="fa fa-minus" style="color: red;"></i></td>' +
            '<td style="display: none;" class="id-column">' + id + '</td>' +
            '<td>' + username + '</td>' +
            '<td>' + affiliation + '</td>' +
            '<td class="destroy-tag-selected"><a><i class="fa fa-trash">&nbsp;</i></a></td>' +
            '</tr>';
    }

    function setAvailableRowHtml(row) {
        var id = row.find('td.id-column').text();
        var username = row.find('td:nth-child(3)').text();
        var affiliation = row.find('td:nth-child(4)').text();

        return'<tr>' +
            '<td width="5%"><i class="fa fa-plus" style="color: green;"></i></td>' +
            '<td style="display: none;" class="id-column">' + id + '</td>' +
            '<td>' + username + '</td>' +
            '<td>' + affiliation + '</td>' +
            '</tr>';
    }

    $(document).ready(function() {

        var selectedMembersTableBody = $('#selectedMembers tbody');
        var availableMembersTableBody = $('#availableMembers tbody');
        var searchInput = $('#searchInput');

        searchInput.on('input', function() {
            var searchText = $(this).val().toLowerCase();
            $('#availableMembers tbody tr').each(function() {
                var username = $(this).find('td:nth-child(3)').text().toLowerCase();
                $(this).toggle(username.indexOf(searchText) !== -1);
            });
        });

        availableMembersTableBody.on('click', 'tr', function() {
            var row = $(this);
            var newRowHtml = setSelectedRowHtml(row)
            row.remove();
            selectedMembersTableBody.append(newRowHtml);
            updateSelectedAccounts();
        });

        selectedMembersTableBody.on('click', '.destroy-tag-selected', function() {
            var row = $(this).closest('tr');
            var newRowHtml = setAvailableRowHtml(row)
            row.remove();
            availableMembersTableBody.append(newRowHtml);
            updateSelectedAccounts();
        });

        function rowExists(table, id) {
            return $(table).find('td:contains("' + id + '")').length > 0;
        }
    });

</script>
{% endblock %}