{% extends "admin/core/base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load hooks %}
{% load foundation %}

{% block title %}{% trans "Submit an Article" %}{% endblock title %}

{% block title-section %}{% trans "Author Agreement" %}{% endblock %}
{% block title-sub %}
    {% trans "Please carefully read through the statements below before checking items" %}{% endblock %}
{% block css %}
    <link href="{% static 'admin/css/timeline.css' %}" rel="stylesheet">{% endblock %}

{% block body %}
    <article>
        <form method="POST">
            <div id="content submission-content" class="box">
                {% csrf_token %}

                {% include "admin/submission/timeline.html" with data=article %}

                {% if request.journal.submissionconfiguration.publication_fees or request.journal.submissionconfiguration.submission_check or request.journal.submissionconfiguration.copyright_notice %}
                    <p>{% blocktrans %}In order to submit an article to {{ request.journal.name }} all authors have to agree to the below statements.
                        Unfortunately, if you do not agree with them you will be unable to proceed with your submission.{% endblocktrans %}</p>
                {% endif %}

                {% if request.journal.submissionconfiguration.publication_fees %}
                    <div class="title-area">
                        <h2>{% trans "Publication Fees" %}</h2>
                    </div>
                    <div class="content submission-content">
                        {{ journal_settings.general.publication_fees|safe }}
                        {% hook 'publication_fees' %}
                        <br />
                        {{ form.publication_fees }}&nbsp;&nbsp;<label
                            for="id_publication_fees">{% trans "Author(s) agrees to the above statement" %}</label>
                    </div>
                {% endif %}

                {% if request.journal.submissionconfiguration.submission_check %}
                    <div class="title-area">
                        <h2>{% trans "Submission Checklist" %}</h2>
                    </div>
                    <div class="content submission-content">
                        {{ journal_settings.general.submission_checklist|safe }}
                        <br />
                        {{ form.submission_requirements }}&nbsp;&nbsp;<label
                            for="id_submission_requirements">{% trans "Author(s) confirms that this article adheres to the above requirements" %}</label>
                    </div>
                {% endif %}

                {% if request.journal.submissionconfiguration.copyright_notice %}
                    <div class="title-area">
                        <h2>{% trans "Copyright Notice" %}</h2>
                    </div>
                    <div class="content submission-content">
                        {{ journal_settings.general.copyright_notice|safe }}
                        <br />
                        {{ form.copyright_notice }}&nbsp;&nbsp;<label
                            for="id_copyright_notice">{{ form.copyright_notice.label }}</label>
                    </div>
                {% endif %}

                {% if request.journal.submissionconfiguration.competing_interests %}
                    <div class="title-area">
                        <h2>{% trans "Competing Interests" %}</h2>
                    </div>
                    <div class="content submission-content">
                        {{ form.competing_interests|foundation }}
                    </div>
                {% endif %}

                {% if request.journal.submissionconfiguration.comments_to_the_editor %}
                    <div class="title-area">
                        <h2>{% trans "Comments to the Editor" %}</h2>
                    </div>
                    <div class="content submission-content">
                        {{ form.comments_editor|foundation }}
                    </div>
                {% endif %}


                <button class="success button pull-right" type="submit" name="start_submission"><i class="fa fa-check">&nbsp;</i>{% trans "Start Submission" %}
                </button>
                <br/>
            </div>
        </form>
    </article>

{% endblock body %}
