{% load static %}
{% load i18n %}
{% load uuid %}

{% get_uuid4 as pid %}

<div data-give-me-options-{{ pid }} class="give-me-options callout secondary">
  <div class="flex wrap gap-1 items-center">
    <strong>
      <span class="fa fa-envelope"></span>
      {% trans "Correspondence author" %}
    </strong>
    {% if article.non_correspondence_authors %}
      <div class="button-group no-bottom-margin">
        <button
          class="button hollow secondary"
          aria-expanded="false"
          aria-controls="options-pane-{{ pid }}">
          <span class="fa fa-angle-up"></span>
          <span class="fa fa-angle-down"></span>
          Change correspondence
        </button>
      </div>
    {% endif %}
  </div>
  <div id="options-pane-{{ pid }}" class="options-pane padding-block-1">
    <p class="max-w-48">The correspondence author can be any author who has a valid email
    address, independent of order. They will receive updates and requests
    for work on the article during the review and publication process.</p>
    <form method="POST">
      {% csrf_token %}
      <fieldset>
        <legend>Select a new correspondence author:</legend>
        {% for order in article.articleauthororder_set.all %}
          <div class="option">
            <input
              id="option_{{ order.author.pk }}"
              name="corr_author"
              type="radio"
              {% if order.author == article.correspondence_author %}
                checked
              {% endif %}
              value="{{ order.author.pk }}"
              {% if not order.author.real_email %}
                disabled
              {% endif %}
            >
            <label for="option_{{ order.author.pk }}">
              {{ order.author.full_name }}
              {% if order.author.real_email %}
                ({{ order.author.real_email }})
              {% else %}
                (no email address)
              {% endif %}
            </label>
          </div>
        {% endfor %}
      </fieldset>
    </form>
  </div>
</div>

{% include "admin/elements/give_me_options_js.html" with pid=pid %}
