{% extends "admin/core/base.html" %}
{% load static %}
{% load i18n %}
{% load next_url %}
{% load foundation %}

{% block title-section %}
  {% trans "Author Information" %}
{% endblock %}

{% block css %}
  <link href="{% static 'admin/css/timeline.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>Submit an Article</li>
{% endblock %}

{% block body %}
  <div class="row box expanded">
    {% include "submission/timeline.html" with data=article %}
    <div class="large-12 columns">
      <div class="sr-only">
        <h2>{% trans "Current authors" %}</h2>
      </div>
      {% include "admin/elements/forms/messages_in_callout.html" %}
      {% if authors|length > 1 %}
        <div class="flex">
          <div class="callout max-w-40">
            <p>Authors can be moved up or down to set their order. This order
            will be used for the display of author names when the article is
            published.</p>
          </div>
        </div>
      {% endif %}
      <div class="list-group">
        {% for author, credits, credit_form in authors %}
          <section class="list-group-item" aria-describedby="author_{{ author.pk }}">
            <div class="flex direction-column">
              {% if article.correspondence_author.pk == author.pk %}
                {% include "admin/submission/submit_correspondence_author.html" with article=article %}
              {% endif %}
              <div class="flex gap-2 direction-column-small">
                {% if authors|length > 1 %}
                  <div class="stat">{{ forloop.counter }}</div>
                {% endif %}
                <div class="grow-1">
                  <div class="list-group-item-heading flex wrap column-gap-2">
                    <h3 id="author_{{ author.pk }}">
                      {{ author.full_name|default:"[No name]" }}
                    </h3>
                    <div class="button-group no-bottom-margin flex items-center">
                      {% if author == request.user %}
                        <a
                          href="{% url_with_return 'core_edit_profile' %}"
                          class="button secondary hollow no-bottom-margin">
                          <span class="fa fa-edit"></span>
                          {% trans "Edit my details" %}
                        </a>
                      {% endif %}
                      <a
                        href="{% url 'delete_author' article.pk author.pk %}"
                        class="button hollow secondary no-bottom-margin">
                        <span class="fa fa-remove"></span>
                        {% trans "Remove author" %}
                      </a>

                    </div>
                  </div>
                  <dl>
                    <div class="flex column-gap-4 wrap">
                      {% include "admin/elements/layout/key_value_above.html" with key="Email" value=author.real_email|default:"No email address" %}
                      {% include "admin/elements/layout/key_value_above.html" with key="ORCiD ID" value=author.orcid|default:"No ORCiD ID" %}
                    </div>
                    <div class="key-value-pair key-above">
                      <dt class="key">Affiliations</dt>
                      <dd class="value">
                        {% include "admin/submission/submit_affiliations.html" with author=author %}
                      </dd>
                    </div>
                    {% if journal_settings.general.use_credit %}
                      <div class="key-value-pair key-above">
                        <dt class="key">Roles</dt>
                        <dd class="value">
                          {% include "admin/submission/submit_credit_roles.html" with author=author credits=credits credit_form=credit_form %}
                        </dd>
                      </div>
                    {% endif %}
                  </dl>
                  {% if author != request.user %}
                    <div class="bs-callout bs-callout-info">
                      <p>
                        {% blocktrans with journal=request.journal.name %}
                          If this author's name, email, ORCiD, or affiliations need to be
                          updated, please invite them to log into
                          their account on the <i>{{ journal }}</i> website
                          and edit their profile.
                        {% endblocktrans %}
                        {% if not author.is_active %}
                          {% if author.orcid %}
                            {% blocktrans %}
                              Their account is not active yet, but they can activate it by
                              selecting the ORCiD login option.
                            {% endblocktrans %}
                          {% else %}
                            {% blocktrans %}
                              Their account is not active yet, but they can activate it by
                              resetting their password on the login page.
                            {% endblocktrans %}
                          {% endif %}
                        {% endif %}
                      </p>
                    </div>
                  {% endif %}
                </div>
                {% if authors|length > 1 %}
                  {% include "admin/submission/submit_author_order.html" with author=author %}
                {% endif %}
              </div>
            </div>
          </section>
        {% empty %}
          <div class="list-group-item">This article has no authors.</div>
        {% endfor %}
      </div>
    </div>
    <div class="columns title-area">
      <h2>{% trans "Add more authors" %}</h2>
    </div>
    {% if request.user not in article.authors.all %}
      <div class="large-12 columns">
        <div class="callout">
          <form method="POST">
            {% csrf_token %}
            <p>Are you an author?</p>
            <div class="button-group no-bottom-margin">
              <input
                type="hidden"
                name="author_search_text"
                value="{{ request.user.email }}">
              <button class="button" name="search_authors">
                <span class="fa fa-plus"></span>
                {% trans "Add Self as Author" %}
              </button>
            </div>
          </form>
        </div>
      </div>
    {% endif %}
    <div class="large-6 columns">
      <div class="callout">
        <p>
          {% blocktrans with journal=request.journal.name press=request.press.name %}
            Some authors may already be registered in <i>{{ journal }}</i>,
            {{ press }}, or the ORCiD registry. You can check by searching for
            their email or ORCiD ID. If a match is found, they will be added to
            the author list.
          {% endblocktrans %}
        </p>
        <form method="POST">
          {% csrf_token %}
          <div class="input-group">
            <label
              for="author_search_text"
              class="input-group-label">
              Search
            </label>
            <input
              id="author_search_text"
              name="author_search_text"
              class="input-group-field"
              placeholder="e.g. 0000-0001-2345-6789"
              type="search">
          </div>
          <div class="button-group">
            <button type="submit" class="button" name="search_authors">
              <span class="fa fa-search"></span>
              {% trans "Add author from search" %}
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="large-6 columns">
      <div class="callout">
        <p>If you cannot find the author in the search,
        you can add them manually.</p>
        <form method="POST">
          {% csrf_token %}
          <div class="flex wrap gap-1 items-end">
            {% include "admin/elements/forms/field.html" with field=form.first_name %}
            {% include "admin/elements/forms/field.html" with field=form.middle_name %}
            {% include "admin/elements/forms/field.html" with field=form.last_name %}
          </div>
          <div class="max-w-24">
            {% include "admin/elements/forms/field.html" with field=form.email %}
          </div>
          <div class="flex wrap gap-1 items-end">
            <div class="button-group">
              <button
                name="add_author"
                class="button">
                <span class="fa fa-user-plus"></span>
                {% trans "Add author manually" %}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="large-12 columns">
      <form method="POST">
        <div class="flex justify-end">
          {% csrf_token %}
          <button
            class="success button"
            type="submit"
            name="save_continue">
            <span class="fa fa-check"></span>
            {% trans "Save and continue" %}
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock body %}

{% block toastr %}
  {% comment %}
    Avoid showing the messages via Toastr since they should be included at the
    top of the form.
  {% endcomment %}
{% endblock toastr %}
