{% load i18n %}

<div data-current-authors-action>
  <form method="POST">
    {% csrf_token %}
    <input type="hidden" name="author_pk" value="{{ author.pk }}">
    <div class="flex direction-column-large direction-row-small column-gap-0-5">
      <button
        class="button secondary small"
        name="change_order"
        value="top">
        <div>
          <span class="fa fa-angle-double-up fa-lg"></span>
          <span class="sr-only">
            {% blocktrans with author_name=author.full_name %}
              Move {{ author_name }} to top
            {% endblocktrans %}
          </span>
        </div>
      </button>
      <button
        class="button secondary small"
        name="change_order"
        value="up">
        <div>
          <span class="fa fa-angle-up fa-lg"></span>
          <span class="sr-only">
            {% blocktrans with author_name=author.full_name %}
              Move {{ author_name }} up
            {% endblocktrans %}
          </span>
        </div>
      </button>
      <button
        class="button secondary small"
        name="change_order"
        value="down">
        <div>
          <span class="fa fa-angle-down fa-lg"></span>
          <span class="sr-only">
            {% blocktrans with author_name=author.full_name %}
              Move {{ author_name }} down
            {% endblocktrans %}
          </span>
        </div>
      </button>
      <button
        class="button secondary small"
        name="change_order"
        value="bottom">
        <div>
          <span class="fa fa-angle-double-down fa-lg"></span>
          <span class="sr-only">
            {% blocktrans with author_name=author.full_name %}
              Move {{ author_name }} to bottom
            {% endblocktrans %}
          </span>
        </div>
      </button>
    </div>
  </form>
</div>
