{% load static %}
{% load i18n %}
{% load next_url %}
{% load uuid %}

{% get_uuid4 as pid %}

<form method="POST">
  {% csrf_token %}
  {% if author %}
    <input type="hidden" name="author_pk" value="{{ author.pk }}">
  {% elif frozen_author %}
    <input type="hidden" name="frozen_author_pk" value="{{ frozen_author.pk }}">
  {% endif %}
  <div class="flex direction-column row-gap-0-5">
    <div class="flex direction-column gap-0-25 wrap">
      {% for credit in credits %}
        <div class="flex wrap column-gap-2 row-gap-0-5 items-center space-between max-w-24">
          {{ credit }}
          <div class="small button-group no-bottom-margin flex items-center">
            <a
              href="{% url_with_return 'submission_delete_credit' article.pk credit.pk %}"
              class="button hollow secondary no-bottom-margin"
              type="submit">
              <span class="fa fa-remove"></span>
              {% trans "Remove role" %}
              <span class="sr-only">
                {{ credit.get_role_display }}
              </span>
            </a>
          </div>
        </div>
      {% empty %}
        <div>
          {% trans "This author has no contributor roles." %}
        </div>
      {% endfor %}
    </div>
    <div
      data-give-me-options-{{ pid }}
      class="give-me-options bs-callout bs-callout-info flex direction-column gap-0-5">
      <div class="button-group no-bottom-margin">
        <button
          class="button hollow secondary"
          type="button"
          aria-expanded="false"
          aria-controls="options-pane-{{ pid }}">
          <span class="fa fa-angle-up"></span>
          <span class="fa fa-angle-down"></span>
          {% trans "Add role" %}
        </button>
      </div>
      <div id="options-pane-{{ pid }}" class="options-pane">
        <fieldset class="padding-block-0-5">
          <legend>{% trans "Select a role:" %}</legend>
          <div class="auto-columns">
            {% for radio in credit_form.role %}
              <div class="option max-w-20">
                <input
                  id="{{ radio.id_for_label }}-{{ pid }}"
                  name="role"
                  value="{{ radio.data.value }}"
                  type="radio">
                <label for="{{ radio.id_for_label }}-{{ pid }}">
                  {{ radio.choice_label }}
                </label>
              </div>
            {% endfor %}
          </div>
        </fieldset>
        <div>
          <a
            target="_blank"
            href="https://credit.niso.org/contributor-roles-defined/">
            {% trans "Learn about CRediT roles." %}
            <span class="sr-only">{% trans "(opens in new tab)" %}</span>
            <span class="fa fa-external-link"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</form>

{% include "admin/elements/give_me_options_js.html" with pid=pid %}
