{% extends "admin/core/base.html" %}
{% load static %}
{% load foundation %}
{% load i18n %}

{% block title-section %}{% trans "Article Issue selection" %}{% endblock %}
{% block css %}
    <link href="{% static 'admin/css/timeline.css' %}" rel="stylesheet">
{% endblock %}

{% block head %}
    {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>Submit an Article</li>
{% endblock %}

{% block body %}
    <article>
        <div class="box">
            <form method="POST"{% if journal_settings.general.abstract_required %} novalidate{% endif %}>
                {% csrf_token %}

                {% if article.is_preprint %}{% trans "This article is a preprint" %}{% endif %}
                {% include "submission/timeline.html" with data=article %}

                <div class="row expanded">
                    <div class="title-area">
                        <h2>{% trans 'Select issue' %}</h2>
                    </div>
                    <div class="content">
                        {% include "elements/forms/errors.html" with form=form %}
                        <div class="{% if request.journal.submissionconfiguration.subtitle %}large-6{% else %}large-12{% endif %} columns">
                            {{ form.primary_issue|foundation }}
                        </div>
                    </div>
                    <div class="large-12 columns">
                        <button class="success button pull-right" type="submit" name="start_submission"><i
                                class="fa fa-check">&nbsp;</i>{% trans "Save and Continue" %}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </article>

{% endblock body %}