{% extends "admin/core/base.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% load hooks %}
{% load text %}

{% block css %}
    <link href="{% static "admin/css/timeline.css" %}" rel="stylesheet"/>{% endblock %}

{% block title-section %}{% trans "Review" %}{% endblock %}

{% block body %}
    <div class="box">
        <form method="POST">
            {% csrf_token %}
            <div class="row expanded">
                <div class="col-lg-9">
                    {% include "submission/timeline.html" with data=article %}
                </div>
            </div>
            <div class="row expanded">
                <div class="large-12 columns">
                    {% if article.comments_editor %}
                    <div class="title-area"><h2>{% trans "Comments to Editor" %}</h2></div>
                    {{ article.comments_editor|linebreaksbr }}
                    {% endif %}
                    <div class="title-area"><h2>{% trans "Article Info" %}</h2></div>
                    <table class="scroll small">
                        <tr>
                            <th colspan="{% if request.journal.submissionconfiguration.subtitle %}2{% else %}3{% endif %}">{% trans 'Title' %}</th>
                            {% if request.journal.submissionconfiguration.subtitle %}<th>{% trans "Subtitle" %}</th>{% endif %}
                        </tr>

                        <tr>
                            <td colspan="{% if request.journal.submissionconfiguration.subtitle %}2{% else %}3{% endif %}">{{ article.title }}</td>
                            {% if request.journal.submissionconfiguration.subtitle %}<td>{{ article.subtitle }}</td>{% endif %}
                        </tr>

                        {% if request.journal.submissionconfiguration.abstract %}
                        <tr>
                            <th colspan="3">{% trans "Abstract" %}</th>
                        </tr>
                        <tr>
                            <td colspan="3">{{ article.abstract }}</td>
                        </tr>
                        {% endif %}

                        <tr>
                            {% if request.journal.submissionconfiguration.language %}<th>{% trans "Language" %}</th>{% endif %}
                            {% if request.journal.submissionconfiguration.section %}<th>{% trans "Section" %}</th>{% endif %}
                            {% if request.journal.submissionconfiguration.license %}<th>{% trans "Licence" %}</th>{% endif %}
                        </tr>
                        <tr>
                            {% if request.journal.submissionconfiguration.language %}<td>{{ article.get_language_display }}</td>{% endif %}
                            {% if request.journal.submissionconfiguration.section %}<td>{{ article.section.name }}</td>{% endif %}
                            {% if request.journal.submissionconfiguration.license %}<td>{{ article.license.name }}</td>{% endif %}
                        </tr>
                    </table>

                    <div class="title-area"><h2>{% trans "Author Info" %}</h2></div>
                    <div class="row expanded">
                        <div class="large-6 columns">
                            <ul class="list-group">
                                {% for author in article.authors.all %}
                                    <li class="list-group-item">
                                        {{ author.full_name }} - {{ author.email }}
                                    </li>
                                    {% empty %}
                                    <li class="list-group-item">
                                        {% trans "No authors yet! Add one." %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>


                    <div class="title-area"><h2>{% trans "Article Files" %}</h2></div>
                    <div class="row expanded">
                        <div class="large-6 columns">
                            <p><strong>{% trans "Manuscript Files" %}</strong></p>
                            <table class="scroll small">
                                <tr>
                                    <th>{% trans "Label" %}</th>
                                    <th>{% trans "File Name" %}</th>
                                </tr>
                                {% for file in article.manuscript_files.all %}
                                    <tr>
                                        <td>{{ file.label }}</td>
                                        <td>{{ file }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2">{% trans "No files uploaded" %}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% if request.journal.submissionconfiguration.figures_data %}
                        <div class="large-6 columns">
                            <p><strong>{% trans "Figure/Data" %}</strong></p>
                            <table class="scroll small">
                                <tr>
                                    <th>{% trans "Label" %}</th>
                                    <th>{% trans "File Name" %}</th>
                                </tr>
                                {% for file in article.data_figure_files.all %}
                                    <tr>
                                        <td>{{ file.label }}</td>
                                        <td>{{ file }}</td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="2">{% trans "No files uploaded" %}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                        {% endif %}
                    </div>

                    {% hook 'submission_review' %}

                    <div class="large-12 columns">
                        <button class="success button pull-right" type="submit" name="next_step"><i class="fa fa-check">&nbsp;</i>{% trans "Complete" %} {% trans "Submission" %}
                        </button>
                    </div>
                </div>
        </form>
    </div>

{% endblock body %}