{% extends "admin/core/base.html" %}
{% load static %}
{% load i18n %}

{% block title-section %}{% trans "Author Information" %}{% endblock %}
{% block css %}
    <link href="{% static 'admin/css/timeline.css' %}" rel="stylesheet">
{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>Submit an Article</li>
{% endblock %}

{% block body %}
    <div class="row box expanded">
        {% include "submission/timeline.html" with data=article %}
        {% block manage_authors %}
        {% endblock manage_authors %}
    </div>
{% endblock body %}

{% block js %}
{% endblock js %}
