{% load i18n %}
<div class="hide-for-small-only">
    <ul class="timeline" id="timeline">
        <li class="li complete">
            <div class="status">
                <h4> {% trans "Submission Started" %} </h4>
            </div>
        </li>
        <li class="li {% if article.current_step >= 1 %}complete{% endif %}">
            <div class="status">
                <h4>{% if article %}{% if article.current_step >= 1 or article.stage != "Unsubmitted" %}
                    <a href="{% url 'submit_info' article.id %}">{% trans "Article Information" %}</a>{% else %}
                    {% trans "Article Information" %}{% endif %}{% else %}{% trans "Article Information" %}{% endif %}
                </h4>
            </div>
        </li>
        <li class="li {% if article.current_step >= 2 %}complete{% endif %}">
            <div class="status">
                <h4>{% if article %}{% if article.current_step >= 2 %}
                    <a href="{% url 'submit_authors' article.id %}">{% trans "Author Information" %}</a>{% else %}
                    {% trans "Author Information" %}{% endif %}{% else %}{% trans "Author Information" %}{% endif %}
                </h4>
            </div>
        </li>
        <li class="li {% if article.current_step >= 3 %}complete{% endif %}">
            <div class="status">
                <h4>{% if article %}{% if article.current_step >= 3 %}
                    <a href="{% url 'submit_files' article.id %}">{% trans "Article Files" %}</a>{% else %}
                    {% trans "Article Files" %}{% endif %}{% else %}{% trans "Article Files" %}{% endif %} </h4>
            </div>
        </li>
        {% if request.journal.submissionconfiguration.funding %}
            <li class="li {% if article.current_step >= 4 %}complete{% endif %}">
                <div class="status">
                    <h4>{% if article %}{% if article.current_step >= 4 %}
                        <a href="{% url 'submit_funding' article.id %}">{% trans "Funding" %}</a>{% else %}
                        {% trans "Funding" %}{% endif %}{% else %}{% trans "Funding" %}{% endif %} </h4>
                </div>
            </li>
            <li class="li {% if article.current_step >= 5 %}complete{% endif %}">
                <div class="status">
                    <h4>{% if article %}{% if article.current_step >= 5 %}
                        <a href="{% url 'submit_review' article.id %}">{% trans "Review" %}</a>{% else %}
                        {% trans "Review" %}{% endif %}{% else %}{% trans "Review" %}{% endif %} </h4>
                </div>
            </li>
        {% else %}
            <li class="li {% if article.current_step >= 4 %}complete{% endif %}">
                <div class="status">
                    <h4>{% if article %}{% if article.current_step >= 4 %}
                        <a href="{% url 'submit_review' article.id %}">{% trans "Review" %}</a>{% else %}
                        {% trans "Review" %}{% endif %}{% else %}{% trans "Review" %}{% endif %} </h4>
                </div>
            </li>
        {% endif %}
    </ul>
</div>
