{% load static from staticfiles %}
{% load svg from press_url %}
{% load roles %}
{% load i18n %}
{% load hooks %}

<nav class="navbar navbar-toggleable-md bg-faded navbar-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% if request.journal %}{{ request.journal.site_url }}{% else %}{{ request.press_base_url }}{% endif %}">
        {% if request.journal %}
            {% if request.journal.header_image %}
                <a href="{% url 'website_index' %}"><img src="{{ request.journal.header_image.url }}" class="img-fluid"></a>
            {% else %}
            <a href="{% url 'website_index' %}"><img src="{% static "common/img/sample/janeway.png" %}"></a>
            {% endif %}
        {% else %}
            <a href="/">{% svg request.press_cover %}</a>
        {% endif %}
    </a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto font-weight-bold">
            {% if request.journal.nav_home %}
            <li class="nav-item"><a href="{% url 'website_index' %}" class="nav-link">Home</a></li>{% endif %}
            {% if request.journal.nav_news %}
                <li class="nav-item"><a href="{% url 'core_news_list' %}" class="nav-link">News</a></li>{% endif %}

            {% if request.journal.nav_articles %}
                <li class="nav-item"><a href="{% url 'journal_articles' %}" class="nav-link">Articles</a>
                </li>{% endif %}
            {% if request.journal.nav_issues %}
                <li class="nav-item"><a href="{% url 'journal_issues' %}" class="nav-link">Issues</a></li>{% endif %}
            {% if request.journal.nav_collections %}
            <li class="nav-item"><a href="{% url 'journal_collections' %}" class="nav-link">{% with collections=journal_settings.general.collection_name_plural %}{% if collections %}{{collections}}{% else %}{% trans 'Collections'%}asd{% endif %}{% endwith %}</a></li>
            {% endif %}


            {% if journal_settings.general.enable_editorial_display %}
                {% if journal_settings.general.multi_page_editorial %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="editorial_team"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Editorial Team
                    </a>
                    <div class="dropdown-menu" aria-labelledby="editorial_team">
                        {% for group in request.journal.editorial_groups %}
                            <a href="{% url 'editorial_team_group' group.pk %}" class="dropdown-item">{{ group.name }}</a>
                        {% endfor %}
                    </div>
                </li>
                {% else %}
                <li class="nav-item"><a href="{% url 'editorial_team' %}" class="nav-link">Editorial Team</a>
                </li>
                {% endif %}
            {% endif %}

            {% if request.journal.nav_sub %}
                <li class="nav-item"><a href="{% url 'journal_submissions' %}" class="nav-link">Submission</a>
                </li>{% endif %}
                        {% for item in navigation_items %}
                {% if item.has_sub_nav %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="" id="{{ item.link_name|slugify }}"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ item.link_name }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="{{ item.link_name|slugify }}">
                            {% for subnav in item.sub_nav_items %}
                                <a href="{{ subnav.url }}" class="dropdown-item">{{ subnav.link_name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% else %}
                    <li class="nav-item"><a href="{{ item.url }}" class="nav-link">{{ item.link_name }}</a></li>
                {% endif %}
            {% endfor %}
            {% if request.journal.nav_contact %}
                <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>{% endif %}
            {% hook 'nav_block' %}
            {% if request.journal.nav_start and not journal_settings.general.disable_journal_submission %}
                <li class="nav-item"><a href="{% url 'submission_start' %}" class="nav-link"><i
                        class="fa fa-cloud-upload"></i> Start
                    Submission</a></li>{% endif %}
            {% if request.journal.nav_review %}
                <li class="nav-item"><a href="{% url 'become_reviewer' %}" class="nav-link"><i class="fa fa-trophy"></i>
                    Become a Reviewer</a>
                </li>{% endif %}
            {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="user"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Account
                    </a>
                    <div class="dropdown-menu" aria-labelledby="user">
                        <a class="dropdown-item" href="{% url 'core_dashboard' %}">Dashboard</a>
                        {% if not journal_settings.general.disable_journal_submission %}<a class="dropdown-item" href="{% url 'submission_start' %}">Submit</a>{% endif %}
                        {% user_has_role request 'editor' as user_is_editor %}
                        {% if user_is_editor or request.user.is_staff %}
                            <a class="dropdown-item" href="{% url 'kanban' %}">Kanban</a>
                            <a class="dropdown-item" href="{% url 'core_manager_index' %}">Manager</a>
                            {% if request.resolver_match.url_name and request.resolver_match.url_name == 'article_view' and article %}
                                <a class="dropdown-item" href="{% url 'manage_archive_article' article.pk %}">Edit
                                    Article</a>
                            {% endif %}
                        {% endif %}
                        {% if request.user.is_staff %}
                            <a class="dropdown-item" href="/admin/">Admin</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url 'core_edit_profile' %}">Profile</a>
                        <a class="dropdown-item" href="{% url 'core_logout' %}">Logout</a>
                    </div>
                </li>
            {% else %}
                <li class="nav-item"><a href="{% url 'core_login' %}" class="nav-link"><i class="fa fa-sign-in">
                    &nbsp;</i>Login</a></li>
                <li class="nav-item"><a href="{% url 'core_register' %}" class="nav-link"><i class="fa fa-user-plus">
                    &nbsp;</i>Register</a></li>
            {% endif %}
        </ul>
        <form method="POST" action="{% journal_url 'search' %}" class="form-inline mt-2 mt-md-0">
            {% csrf_token %}
            <input class="form-control mr-sm-2" type="text" placeholder="Search" name="article_search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

    </div>
</nav>
