{% load static %}
{% load i18n %}


<div class="card-panel">
    <div class="row">
	{% if not journal.disable_article_images %}
        <div class="col m2 hide-on-small-and-down">
            {% if article.thumbnail_image_file %}
                <img src="{% url 'article_file_download' 'id' article.id article.thumbnail_image_file.id %}"
                     alt="{{ article.title|striptags|escape }}" class="responsive-img">
            {% elif request.journal.thumbnail_image %}
                <img src="{% url 'journal_cover_download' %}" class="responsive-img">
            {% else %}
                <img src="{% static 'common/img/icons/article.png' %}" alt="{{ article.title|striptags|escape }}"
                     class="responsive-img">
            {% endif %}
        </div>
	{% endif %}
	<div class="col m{% if not journal.disable_article_images %}10{% else %}12{% endif %} s12">
            <a href="{% if article.is_remote %}{{ article.remote_url }}{% else %}{{ article.local_url }}{% endif %}">
                <h5 class="article-title">{{ article.title|safe }}</h5>
            </a>
            <p>{% for author in article.frozen_authors.all %}{% if forloop.last %}
                {% if article.frozen_authors.all|length > 1 %} and
                {% endif %}{% endif %}{{ author.full_name }}{% if not forloop.last %}{% if not forloop.counter == article.frozen_authors.all|length|add:-1 %}, {% endif %}{% endif %}{% endfor %}
            </p>
            <p>
                <span class="date">
                    <i class="fa fa-calendar"></i>
                    {{ article.date_published|date:"Y-m-d" }}
                </span>

                {% if article.issue %}
                    <i class="fa fa-book"></i>
                    <a class="issue-link" href="{% url 'journal_issue' article.issue.pk %}">
                        {{ article.issue_title }}
                    </a>
                {% endif %}
                {% if article.issues.count > 1 %}
                  <p><strong><i class="fa fa-info-circle"></i> {% trans 'Also a part of:'%}</strong></p>
                  {% for other in article.issues.all %}
                  {% if other != article.issue %}
                  <p>
                    <i class="fa fa-book"></i>
                    <a class="issue-link" href={% if other.issue_type.code == 'issue'%}"{% url 'journal_issue' other.pk %}"{% else %}"{% url 'journal_collection' other.pk%}"{% endif %}>
                        {{other.issue_type.pretty_name}}: {{ other.display_title }}
                    </a>
                  </p>
                  {% endif %}
                  {% endfor %}
                {% endif %}
            </p>
        </div>
    </div>
</div>
