
    <!-- Commented out meta fields are TODO -->

    <!-- <meta name="DC.Coverage.spatial" xml:lang="en" content="London"/> -->

    <!-- <meta name="DC.Coverage.temporal" xml:lang="en" content="long-eighteenth century"/> -->


    {% if article.date_published %}<meta name="DC.Date.created" scheme="ISO8601" content="{{ article.date_published|date:"Y-m-d" }}"/>{% endif %}
    {% if article.date_submitted %}<meta name="DC.Date.dateSubmitted" scheme="ISO8601" content="{{ article.date_submitted|date:"Y-m-d" }}"/>{% endif %}
    {% if article.date_published %}<meta name="DC.Date.issued" scheme="ISO8601" content="{{ article.date_published|date:"Y-m-d" }}"/>{% endif %}
    {% if article.date_published %}<meta name="DC.Date.modified" scheme="ISO8601" content="{{ article.date_published|date:"Y-m-d"  }}"/>{% endif %}


    <meta name="DC.Description" xml:lang="en" content="{{ article.abstract | striptags }}"/>

    <meta name="DC.Format" scheme="IMT" content="xml"/>
    <meta name="DC.Format" scheme="IMT" content="pdf"/>
    {% if article.page_number %}<meta name="DC.Identifier.pageNumber" content="{{ article.page_number }}"/>{% endif %}
    {% if article.identifier.id_type == "doi" %}<meta name="DC.Identifier.DOI" content="{{ article.identifier.identifier }}"/>{% endif %}

    <meta name="DC.Identifier.URI" content="{{ article.url }}"/>
    <meta name="DC.Language" scheme="ISO639-1" content="{{ article.language }}"/>
    <meta name="DC.Rights" content="{{ article.licence.text | striptags }}"/>
    <meta name="DC.Source" content="{{ journal_settings.general.journal_name }}"/>
    <meta name="DC.Source.ISSN" content="{{ article.journal.issn }}"/>
    {% if article.issue.isbn %}<meta name="DC.Source.ISBN" content="{{ article.issue.isbn }}"/>{% endif %}
    {% if article.issue.issue %}<meta name="DC.Source.Issue" content="{{ article.issue.issue }}"/>{% endif %}
    {% if article.issue.volume %}<meta name="DC.Source.Volume" content="{{ article.issue.volume }}"/>{% endif %}
    <meta name="DC.Source.URI" content="{% journal_url 'website_index' %}"/>
    <meta name="DC.Title" content="{{ article.title | striptags }}"/>

    {% if article.publisher_name%}<meta name="citation_publisher" content="{{ article.publisher_name }}"/>
    {% elif journal_settings.general.publisher_name %}<meta name="citation_publisher" content="{{ journal_settings.general.publisher_name }}"/>
    {% endif %}
    <meta name="citation_journal_title" content="{{ article.journal_title }}"/>
    <meta name="citation_issn" content="{{ article.journal_issn }}"/>
    {% for author in article.frozen_authors.all %}
        <meta name="citation_author" content="{{ author.full_name }}"/>
        {% if not '@journal.org' in author.author.email %}
            <meta name="citation_author_email" content="{{ author.author.email }}"/>{% endif %}
        <meta name="citation_author_institution" content="{{ author.institution }}"/>{% endfor %}
    <meta name="citation_title" content="{{ article.title | striptags }}"/>
    {% if article.date_published %}<meta name="citation_publication_date" content="{{ article.date_published|date:"Y-m-d" }}"/>{% endif %}
    {% if article.issue.volume %}<meta name="citation_volume" content="{{ article.issue.volume }}"/>{% endif %}
    {% if article.issue.issue %}<meta name="citation_issue" content="{{ article.issue.issue }}"/>{% endif %}
    {% if article.page_number %}<meta name="citation_firstpage" content="{{ article.page_number }}"/>{% endif %}
    {% if article.identifier.id_type == "doi" %}<meta name="citation_doi" content="{{ article.identifier.identifier }}"/>{% endif %}
    <meta name="citation_abstract_html_url" content="{{ article.url }}"/>
    {% if article.language %}<meta name="citation_language" content="{{ article.language }}"/>{% endif %}

    {% if article.keywords.count > 0 %}
    <meta name="citation_keywords" xml:lang="en" content="{% for keyword in article.keywords.all %}{{ keyword.word }}{% if not forloop.last %}, {% endif %}{% endfor %}"/>
    {% endif %}

    {% if article.pdfs.exists %}
    <meta name="citation_pdf_url" content="{% journal_url 'serve_article_pdf' 'id' article.id %}"/>
    {% endif %}
    {% include "elements/journal/social_meta.html" %}
