<p>| {% if request.journal.issn %}{{ request.journal.issn }}
| {% endif %}{% if journal_settings.general.publisher_name %} Published by {% if journal_settings.general.publisher_url %}<a href="{{ journal_settings.general.publisher_url}}">{% endif %}{{ journal_settings.general.publisher_name }}{% if journal_settings.general.publisher_url %}</a>{% endif %} 
| {% endif %}<a {% if journal_settings.general.privacy_policy_url %}href="{{ journal_settings.general.privacy_policy_url }}"{% else %}href="{% url 'cms_page' "privacy" %}"{% endif %}>Privacy Policy</a> |</p>
