<ul class="collection">
    {% for license in request.journal.licence_set.all %}
        {% if license.available_for_submission %}
            <li class="collection-item"><strong>
                <a href="{{ license.url }}" aria-label="{% trans 'External link to ' %} {{ license }}">
                    {{ license }}
                    <i aria-hidden="true" class="fa fa-external-link">&nbsp;</i>
                </a></strong>
                <br/><span class="help-text">{{ license.text|safe }}</span>
            </li>
        {% endif %}
    {% endfor %}
</ul>
<div class="divider spacer"></div>
