
{% for preprint in preprints %}

        <div class="col m4">
            <div class="card" style="width: 100%;">
                <div class="card-content">
                    <p>
                        <small><a href="{% url 'preprints_article' preprint.pk %}">{{ preprint.title|safe }}</a></small>
                    </p>
                    <p>
                        <small><i>
                            {% for author in preprint.authors.all %}{{ author.full_name }}{% if not forloop.last %},
                            {% endif %}{% endfor %}</i></small>
                    </p>
                    <p>
                        <small><i class="fa fa-calendar">&nbsp;</i>{{ preprint.date_published|date:"Y-m-d" }}</small>
                    </p>
                </div>
            </div>
        </div>

{% endfor %}
