{# TableA11y superfluous paragraph tags, single row headings, but very ambiguous data, should be one row and one column headings #}
<table class="striped responsive-table">
    <thead>
        <tr>
            <th scope="col">{% trans "Section or article type" %}</th>
            <th scope="col">{% trans "Public Submissions" %}</th>
            <th scope="col">{% trans "Peer Reviewed" %}</th>
            <th scope="col">{% trans "Indexed" %}</th>
    </thead>
    <tbody>
        {% for section in sections %}
        <tr>
            <th scope="row">{{ section.name }}</th>
            <td>
                <strong>
                    {% if section.public_submissions %}
                        <i class="material-icons" title="{% trans 'yes' %}">check</i>
                    {% else %}
                        <i class="material-icons" title="{% trans 'no' %}">close</i>
                    {% endif %}
                </strong>
            </td>
            <td>
                <strong>
                    {% if section.number_of_reviewers > 0 %}
                        <i class="material-icons" title="{% trans 'yes' %}">check</i>
                    {% else %}
                        <i class="material-icons" title="{% trans 'no' %}">close</i>
                    {% endif %}
                </strong>
            </td>
            <td>
                <strong>
                    {% if section.indexing %}
                        <i class="material-icons" title="{% trans 'yes' %}">check</i>
                    {% else %}
                        <i class="material-icons" title="{% trans 'no' %}">close</i>
                    {% endif %}
                </strong>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
