<table class="striped responsive-table">
    <thead>
        <tr>
            <th scope="col">{% trans "Section or article type" %}</th>
            <th scope="col">{% trans "Public Submissions" %}</th>
            <th scope="col">{% trans "Peer Reviewed" %}</th>
            <th scope="col">{% trans "Indexed" %}</th>
    </thead>
    <tbody>
        {% for section in sections %}
        <tr>
            <th scope="row">{{ section.name }}</th>
            <td>
                <strong>
                    {% if section.public_submissions %}
                        <i aria-hidden="true" class="fa fa-check"></i>
                        <span class="sr-only">{% trans 'Yes' %}</span>
                    {% else %}
                        <i aria-hidden="true" class="fa fa-times"></i>
                        <span class="sr-only">{% trans 'No' %}</span>
                    {% endif %}
                </strong>
            </td>
            <td>
                <strong>
                    {% if section.number_of_reviewers > 0 %}
                        <i aria-hidden="true" class="fa fa-check"></i>
                        <span class="sr-only">{% trans 'Yes' %}</span>
                    {% else %}
                        <i aria-hidden="true" class="fa fa-times"></i>
                        <span class="sr-only">{% trans 'No' %}</span>
                    {% endif %}
                </strong>
            </td>
            <td>
                <strong>
                    {% if section.indexing %}
                        <i aria-hidden="true" class="fa fa-check"></i>
                        <span class="sr-only">{% trans 'Yes' %}</span>
                    {% else %}
                        <i aria-hidden="true" class="fa fa-times"></i>
                        <span class="sr-only">{% trans 'No' %}</span>
                    {% endif %}
                </strong>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
