{% load i18n %}

<div id="summarymodal" class="modal">
    <div class="modal-content">
        <h4>{% trans "Non Specialist Summary" %}</h4>
        {% if article.non_specialist_summary %}
            {{ article.non_specialist_summary|safe }}
        {% else %}
            <p>{% trans "This article has no summary" %}</p>
        {% endif %}
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">{% trans "Close" %}</a>
    </div>
</div>
