{% load svg from press_url %}
{% load i18n %}
<div class="row">
    <div class="col-md-2">
        {% if request.journal.press_image_override %}
            {% svg request.journal_cover %}
        {% else %}
            {% svg request.press_cover %}
        {% endif %}
    </div>
    <div class="col-md-10">
            {% if request.journal %}
                {% include "elements/journal_footer.html" %}
            {% else %}
                {% include "elements/press_footer.html" %}
            {% endif %}
    </div>
</div>
