{% load foundation %}
{% load static %}
{% load i18n %}

<h5>{% trans 'Core Data' %}</h5>
<div class="row">
    <div class="large-12 columns">
        {{ form.email|foundation }}
    </div>
    <div class="large-3 columns">
        {{ form.salutation|foundation }}
    </div>
    <div class="large-3 columns">
        {{ form.first_name|foundation }}
    </div>
    <div class="large-3 columns">
        {{ form.middle_name|foundation }}
    </div>
    <div class="large-3 columns">
        {{ form.last_name|foundation }}
    </div>
</div>
<div class="row">
    <div class="large-3 columns">
        {{ form.department|foundation }}
    </div>
    <div class="large-3 columns">
        {{ form.institution|foundation }}
    </div>
    <div class="large-3 columns">
        {{ form.country|foundation }}
    </div>
    <div class="large-3 columns">
        {{ form.preferred_timezone|foundation }}
    </div>
</div>
<hr />
<h5>{% trans 'Social Media and Accounts' %}</h5>
<div class="row">
    <div class="large-4 columns">
        {{ form.twitter|foundation }}
    </div>
    <div class="large-4 columns">
        {{ form.facebook|foundation }}
    </div>
    <div class="large-4 columns">
        {{ form.orcid|foundation }}
    </div>
</div>
<div class="row">
    <div class="large-4 columns">
        {{ form.github|foundation }}
    </div>
    <div class="large-4 columns">
        {{ form.linkedin|foundation }}
    </div>
    <div class="large-4 columns">
        {{ form.website|foundation }}
    </div>
</div>
<hr />
<h5>{% trans 'Biography and Signature' %}</h5>
<div class="row">
    <div class="large-6 columns">
        {{ form.biography|foundation }}
    </div>
    <div class="large-6 columns">
        {{ form.signature|foundation }}
    </div>
    <div class="large-12 columns">
        <label for="id_interests">{% trans 'Review Interests' %}</label>
        <input type="text" id="id_interests" name="interests" value="{% for interest in user_to_edit.interest.all %}{{ interest }}{% if not forloop.last %},{% endif %}{% endfor %}"/> {% trans 'Hit Enter to add a new interest' %}.
    </div>
</div>

<h5>{% trans 'Profile Image' %}</h5>
<div class="row">
    <div class="large-3 columns">
        {% if user_to_edit.profile_image %}
        <img src="{{ user_to_edit.profile_image.url }}" class="thumbnail editorial-image">
        {% else %}
        <img src="{% static "common/img/icons/users.png" %}" class="thumbnail editorial-image">
        {% endif %}
    </div>
    <div class="large-9 columns">
        {{ form.profile_image|foundation }}
    </div>


</div>
<hr />
<h5>{% trans 'Options' %}</h5>
<div class="row">
    <div class="large-4 columns">
        {{ form.enable_digest|foundation }}
        {{ form.enable_public_profile|foundation }}
    </div>
</div>
