{% extends "admin/core/base.html" %}
{% load foundation %}
{% block title %}Add Review Assignment{% endblock title %}
{% block title-section %}Add Review Assignment{% endblock %}
{% block title-sub %}#{{ article.pk }} / {{ article.correspondence_author.last_name }} / {{ article.title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "elements/breadcrumbs/review_base.html" %}
    <li>Add Review Assignment</li>
{% endblock breadcrumbs %}

{% block body %}
    <div class="large-12 columns">
        <form method="POST">
            {% include "elements/forms/errors.html" with form=form %}
            {% csrf_token %}
            <div class="box">
                <div class="title-area">
                    <h2>1. Select Reviewer</h2>

                        <a href="{% if journal_settings.general.enable_one_click_access %}#{% else %}{% url 'core_add_user' %}?role=reviewer&return={{ request.path }}{% endif %}" class="button" data-open="reviewer"><i class="fa fa-plus">&nbsp;</i>Add New Reviewer</a>
                        <a href="{% url 'core_manager_enrol_users' %}" class="button" target="_blank"><i class="fa fa-users">&nbsp;</i>Enroll Existing User</a>
                </div>
                <div class="content">

                    <p>
                        {% blocktrans %}
                        You can select a reviewer using the radio buttons in the first column and complete the section under "Set Options" or if you want to send a review request using defaults select "Assign with Defaults". <strong>Warning: use of "Instant Assign with Defaults"</strong> you will not have the change to edit the outgoing email message.
                        If you cannot find the reviewer you want in this list you can use "Enroll Existing User" to search the database and give users the Reviewer role, or "Add New Reviewer" to create a new account for a reviewer (this process is silent, they will not receive an account creation email).
                        {% endblocktrans %}
                    </p>
                    <table class="small scroll" id="reviewers">
                        <thead>
                        <tr>
                            <th>Select</th>
                            <th>Name</th>
                            <th>Email Address</th>
                            <th>Active Reviews</th>
                            <th width="30%">Interests</th>
                            <th>Average Score</th>
                            <th>Last Review Completed</th>
                            <th width="15%">Quick Assign</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for reviewer in suggested_reviewers %}
                            <tr style="color: forestgreen">
                                <td><input type="radio" name="reviewer" value="{{ reviewer.id }}"></td>
                                <td>{{ reviewer.full_name }}</td>
                                <td>{{ reviewer.email }}</td>
                                <td>{{ reviewer.active_reviews_count|default_if_none:0 }}</td>
                                <td>{% for interest in reviewer.interest.all %}{{ interest.name }}
                                    {% if not forloop.last %}, {% endif %}{% endfor %}</td>
                                <td>{{ reviewer.rating_average|default_if_none:"" }}</td>
                                <td>{{ reviewer.reviewer.all.0.date_complete }}</td>
                                <td><button type="submit" name="quick_assign" value="{{ reviewer.id }}" class="small success button">Instant Assign with Defaults</button></td>
                            </tr>
                        {% endfor %}
                        {% for reviewer in reviewers %}
                            {% if not journal_settings.general.enable_suggested_reviewers or not reviewer in suggested_reviewers %}
                            <tr>
                                <td><input type="radio" name="reviewer" value="{{ reviewer.id }}"></td>
                                <td>{{ reviewer.full_name }}</td>
                                <td>{{ reviewer.email }}</td>
                                <td>{{ reviewer.active_reviews_count|default_if_none:0 }}</td>
                                <td>{% for interest in reviewer.interest.all %}{{ interest.name }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                                <td>{{ reviewer.rating_average|default_if_none:"" }}</td>
                                <td>{{ reviewer.reviewer.all.0.date_complete }}</td>
                                <td><button type="submit" name="quick_assign" value="{{ reviewer.id }}" class="small success button">Instant Assign with Defaults</button></td>
                            </tr>
                            {% endif %}
                        {% empty %}
                            <tr>
                                <td>No suitable reviewers.</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="title-area">
                    <h2>2. Set Options</h2>
                </div>
                <div class="content">
                    <div class="row expanded">
                        <div class="large-4 columns">{{ form.form|foundation }}</div>
                        <div class="large-4 columns">{{ form.visibility|foundation }}</div>
                        <div class="large-4 columns">{{ form.date_due|foundation }}</div>
                    <div class="row expanded">
                        <div class="large-12 columns">
                            <button class="button success" name="delete" type="submit">Add Reviewer</button>
                            &nbsp;
                        </div>
                    </div>
                </div>
            </div>
            </div>        &nbsp;&nbsp;
        </form>
    </div>

    {% if journal_settings.general.enable_one_click_access %}
    <div class="reveal large" id="reviewer" data-reveal data-animation-in="slide-in-up"
     data-animation-out="slide-out-down">
        <div class="card">
            <div class="card-divider">
                <h4><i class="fa fa-plus">&nbsp;</i>Add New Reviewer</h4>
            </div>
            <div class="card-section">
                <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="content">
                    <p>This form allows you to quickly create a new reviewer without having to input a full user's data.</p>
                    <form method="POST">
                        {% include "elements/forms/errors.html" with form=new_reviewer_form %}
                        {% csrf_token %}
                        {{ new_reviewer_form|foundation }}
                        <button type="submit" class="button success" name="assign" id="assign">Add Reviewer</button>
                        <button type="submit" class="button success" name="add_and_assign" id="assign">Add Reviewer and Assign with Defaults</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="reveal large" id="enroll" data-reveal data-animation-in="slide-in-up"
     data-animation-out="slide-out-down">
        <div class="card">
            <div class="card-divider">
                <h4><i class="fa fa-users">&nbsp;</i>Enroll Existing User as Reviewer</h4>
            </div>
            <div class="card-section">
                <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="content">
                    <form method="POST">
                        {% include "elements/forms/errors.html" with form=new_reviewer_form %}
                        {% csrf_token %}
                        <table class="small scroll" id="enrolluser">
                            <thead>
                            <tr>
                                <th>Select</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email Address</th>
                                <th>Interests</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for user in user_list %}
                                <tr>
                                    <td><input type="checkbox" name="user_id" value="{{ user.pk }}"></td>
                                    <td>{{ user.first_name }}</td>
                                    <td>{{ user.last_name }}</td>
                                    <td>{{ user.email }}</td>
                                    <td>{{ user.interests.all }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <button type="submit" class="button success" name="enrollusers" id="enrollusers">Enroll as Reviewer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block js %}
    {% include "elements/datatables.html" with target="#reviewers" %}
    {% include "elements/datepicker.html" with target="#id_date_due" %}
    {% if modal %}
        {% include "admin/elements/open_modal.html" with target=modal %}
    {% endif %}
    {% include "elements/datatables.html" with target="#enrolluser" %}

    <script lang="javascript">
    function getQueryStrings()
    {
        let vars = [], hash;
        let hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(let i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1].split('#')[0];
        }
        return vars;
    }

    // populate the query box when ready
    $( document ).ready(function() {
        let urls = getQueryStrings();
        let user = urls["user"];
        let user_id = urls["id"];

        if (user !== '') {
            $('#reviewers').DataTable().search(decodeURIComponent(user)).draw();

            if (user_id !== '') {
                $("input[value=" + decodeURIComponent(user_id) + "]").attr('checked', 'checked');
            }
        }
    });
    </script>
{% endblock js %}
