{% extends "admin/core/base.html" %}
{% load foundation %}
{% block title %}Add Editor Assignment{% endblock title %}
{% block title-section %}Add Editor Assignment{% endblock %}
{% block title-sub %}#{{ article.pk }} / {{ article.correspondence_author.last_name }} / {{ article.safe_title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "elements/breadcrumbs/unassigned_base.html" %}
    {% if article %}<li><a href="{% url 'review_unassigned_article' article.pk %}">{{ article.safe_title }}</a></li>{% endif %}
    <li>Add Editor Assignment</li>
{% endblock breadcrumbs %}

{% block body %}
    <div class="large-12 columns">
        <form id="editor_assignment_form" method="POST">
            {% include "elements/forms/errors.html" with form=form %}
            {% csrf_token %}
            <div class="box">
                <div class="title-area">
                    <h2>1. Select Editor</h2>
                        <a href="{% if journal_settings.general.enable_one_click_access %}#{% else %}{% url 'core_add_user' %}?role=section-editor&return={{ request.path }}{% endif %}" class="button" data-open="editor"><i class="fa fa-plus">&nbsp;</i>Add New Editor</a>
                        <a href="{% url 'core_manager_enrol_users' %}" class="button" target="_blank"><i class="fa fa-users">&nbsp;</i>Enroll Existing User</a>
                </div>
                <div class="content">

                    <p>
                        {% blocktrans %}
                        You can select an editor using the radio buttons in the first column and complete the section under "Set Options".
                        If you cannot find the editor you want in this list you can use "Enroll Existing User" to search the database and give users the Editor role, or "Add New Editor" to create a new account for an editor (this process is silent, they will not receive an account creation email).
                        {% endblocktrans %}
                    </p>

                    {% if past_editors %}
                        <div class="callout primary">
                            <p><span class="fa fa-info-circle"></span> Editors who have compeleted an editor decision for this article in a previous round will appear at the top of this list, they will show with a <strong>Yes</strong> in the <strong>Has Editor Decided Article</strong> column.</p>
                        </div>
                    {% endif %}
                    
                    {% if journal_settings.general.enable_study_topics %}
                    <div style="display: flex; gap:10px;">
                        <span>
                            <div class="switch tiny">
                                <input class="autoSubmit switch-input" id="studyTopicSwitch" type="checkbox" name="view-study-topics" checked>
                                <label class="switch-paddle" for="studyTopicSwitch">
                                    <span class="show-for-sr">View Study Topics</span>
                                </label>
                            </div>
                        </span>
                        <p>View Study Topics</p>
                    </div>
                    {% endif %}

                    <table class="small scroll" id="editors">
                        <thead>
                        <tr>
                            <th>Select</th>
                            <th>Name</th>
                            <th>Email Address</th>
                            <th>Type</th>
                            <th>Active Assignments</th>
                            <th width="40%" class="list-interests" {% if journal_settings.general.enable_study_topics %} hidden {% else %} show {% endif %}>Interests</th>
                            <th width="40%" class="list-study-topics" {% if journal_settings.general.enable_study_topics %} show {% else %} hidden {% endif %}>Study Topics</th>
                            <th class="list-study-topics" {% if journal_settings.general.enable_study_topics %} show {% else %} hidden {% endif %}>Match Score</th>
                            {% if past_editors %}<th>Has Editor Decided Article</th>{% endif %}
                        </tr>
                        </thead>

                        <tbody>
                        {% for editor in editors %}
                            {% if journal_settings.general.enable_suggested_editors or not editor in suggested_editors %}
                            <tr {% if journal_settings.general.enable_competing_interest_selections and editor.has_conflict %}style="color: #b9b9b9;"{% endif %}>
                                <td>
                                    <input type="radio" name="editor" value="{{ editor.id }}"
                                    {% if editor.id == form.cleaned_data.editor.pk %}checked=True{% endif %}
                                    {% if journal_settings.general.enable_competing_interest_selections and editor.has_conflict %}disabled{% endif %}
                                    >
                                    {% if journal_settings.general.enable_competing_interest_selections and editor.has_conflict %}
                                    <span data-tooltip class="top" tabindex="2" title="Account with conflict of interests.">
                                        CI
                                    </span>
                                    {% endif %}
                                </td>
                                <td>{{ editor.full_name }}</td>
                                <td>{{ editor.email }}</td>
                                <td>Editor</td>
                                <td>{{ editor.active_assignments_count|default_if_none:0 }}</td>
                                <td class="list-interests" {% if journal_settings.general.enable_study_topics %} hidden {% else %} show {% endif %}>
                                    {% for interest in editor.interest.all %}{{ interest.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
                                </td>
                                <td class="list-study-topics" {% if journal_settings.general.enable_study_topics %} show {% else %} hidden {% endif %}>
                                    {% include "admin/elements/review/assigned_topics_table.html" with topics_by_type=editor.topics_by_type %}
                                </td>
                                <td class="list-study-topics" {% if journal_settings.general.enable_study_topics %} show {% else %} hidden {% endif %}>
                                    {{ editor.total_topic_matches}}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        {% for editor in section_editors %}
                            {% if not journal_settings.general.enable_suggested_editors or not editor in suggested_editors %}
                            <tr {% if journal_settings.general.enable_competing_interest_selections and editor.has_conflict %}style="color: #b9b9b9;"{% endif %}>
                                <td>
                                    <input type="radio" name="editor" value="{{ editor.id }}"
                                    {% if editor.id == form.cleaned_data.editor.pk %}checked=True{% endif %}
                                    {% if journal_settings.general.enable_competing_interest_selections and editor.has_conflict %}disabled{% endif %}
                                    >
                                    {% if journal_settings.general.enable_competing_interest_selections and editor.has_conflict %}
                                    <span data-tooltip class="top" tabindex="2" title="Account with conflict of interests.">
                                        CI
                                    </span>
                                    {% endif %}
                                </td>
                                <td>{{ editor.full_name }}</td>
                                <td>{{ editor.email }}</td>
                                <td>Section Editor</td>
                                <td>{{ editor.active_assignments_count|default_if_none:0 }}</td>
                                <td class="list-interests" {% if journal_settings.general.enable_study_topics %} hidden {% else %} show {% endif %}>
                                    {% for interest in editor.interest.all %}{{ interest.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
                                </td>
                                <td class="list-study-topics" {% if journal_settings.general.enable_study_topics %} show {% else %} hidden {% endif %}>
                                    {% include "admin/elements/review/assigned_topics_table.html" with topics_by_type=editor.topics_by_type %}
                                </td>
                                <td class="list-study-topics" {% if journal_settings.general.enable_study_topics %} show {% else %} hidden {% endif %}>
                                    {{ editor.total_topic_matches}}
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        {% if not editors and not section_editors %}
                            <tr>
                                <td>No suitable editors.</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="content">
                    {% if journal_settings.general.enable_invite_editor %}
                    <div class="title-area">
                        <h2>2. Set Options</h2>
                    </div>
                    <div class="row expanded">
                        <div class="large-4 columns">{{ form.date_due|foundation }}</div>
                    </div>
                    {% endif %}
                    <div class="row expanded">
                        <div class="large-12 columns">
                            <button type="submit" class="button success" name="add" id="add">Add Editor</button>
                            &nbsp;
                            {% if journal_settings.general.enable_invite_editor %}
                            <button class="button success" style="background-color: transparent;border: 1px solid;" name="invite" type="submit" id="invite">Invite Editor</button>
                            &nbsp;
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            </div>        &nbsp;&nbsp;
        </form>
    </div>

    {% if journal_settings.general.enable_one_click_access %}
    <div class="reveal large" id="editor" data-reveal data-animation-in="slide-in-up"
     data-animation-out="slide-out-down">
        <div class="card">
            <div class="card-divider">
                <h4><i class="fa fa-plus">&nbsp;</i>Add New Editor</h4>
            </div>
            <div class="card-section">
                <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="content">
                    <p>This form allows you to quickly create a new editor without having to input a full user's data.</p>
                    <form method="POST">
                        {% include "elements/forms/errors.html" with form=new_editor_form %}
                        {% csrf_token %}
                        {{ new_editor_form|foundation }}
                        <button type="submit" class="button success" name="assign" id="assign">Add Editor</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    {% if form.modal %}
        {% include "admin/elements/confirm_modal.html" with modal=form.modal form_id="editor_assignment_form" %}
    {% endif %}

{% endblock body %}

{% block js %}
    {% include "elements/datatables.html" with target="#editors" %}
    {% include "elements/datepicker.html" with target="#id_date_due" %}
    {% if form.modal %}
        {% include "admin/elements/open_modal.html" with target=form.modal.id %}
    {% endif %}
    {% include "elements/datatables.html" with target="#enrolluser" %}

    <script lang="javascript">
    function getQueryStrings()
    {
        let vars = [], hash;
        let hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(let i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1].split('#')[0];
        }
        return vars;
    }

    // populate the query box when ready
    $( document ).ready(function() {
        let urls = getQueryStrings();
        let user = urls["user"];
        let user_id = urls["id"];

        if (user !== '') {
            $('#editors').DataTable().search(decodeURIComponent(user)).draw();

            if (user_id !== '') {
                $("input[value=" + decodeURIComponent(user_id) + "]").attr('checked', 'checked');
            }
        }
    });

    function study_topic_checked() {
        let isChecked = $('#studyTopicSwitch').is(':checked');
        $(".list-interests").toggle(!isChecked);
        $(".list-study-topics").toggle(isChecked);
    };

    $('#studyTopicSwitch').change(function () {
        study_topic_checked();
    });
    </script>
{% endblock js %}