{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>PDF Proofing</title>
    <link href="{% static "admin/css/app.css" %}" rel="stylesheet">
    <link href="{% static "admin/css/admin.css" %}" rel="stylesheet">
    {% url 'review_file_download' assignment.pk pdf.pk as pdf_url %}
    {% include "common/elements/pdf_viewer.html" %}
</head>
<body>

<div class="content large-12 columns">
    <div class="row expanded">
        <div class="large-8 columns" style="position: relative; height: 100vh;">
            <div id="viewerContainer">
                <div id="viewer" class="pdfViewer"></div>
            </div>
        </div>

        <div class="large-3 columns box" style="margin-top: 32px;">
                <div class="title-area">
                    <h2>Review Guidelines</h2>
                </div>
                <div class="content">

                </div>
                <div class="title-area">
                    <h2>Complete Review</h2>
                </div>
                <div class="content">
                    <p>Once you have added all of your annotations, click the complete button below to mark your review as complete.</p>
                </div>
            </div>
    </div>
</div>

<script>
    window.hypothesisConfig = function () {
        return {
            "openSidebar": true,
            services: [{
                apiUrl: 'https://hypothes.is/api/',
                authority: 'openlibhums.org',
                grantToken: '{{ grant_token }}',
            }],
        };
    };
</script>
<script src="//hypothes.is/embed.js"></script>
</body>
</html>
