{% extends "admin/core/base.html" %}
{% load static %}
{% load settings %}

{% block css %}<link href="{% static "common/css/jquery-te-1.4.0.css" %}" rel="stylesheet">{% endblock %}
{% block title-sub %}#{{ article.pk }} / {{ article.correspondence_author.last_name }} / {{ article.safe_title }}{% endblock %}

{% block body %}

    <main>
        <section class="title">
            <div class="row expanded column">
                <h1>Editor Assignment</h1>
                <p>Notify the Editor</p>
            </div>
        </section>
        <section>
            <div class="row column expanded">
                <div class="box">
                    <div class="title-area">
                        <h2>Notify the Editor</h2>
                    </div>
                    <div class="content">
                        <p>You can send a message to the editor or skip it.</p>
                        <div class="card">
                            <div class="card-divider">
                                <h4>To {{ editor.full_name }}</h4>
                                <h5>From {{ request.user.full_name }}</h5>
                            </div>
                            {% include "admin/elements/email_form.html" with form=form skip=1 %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock body %}

{% block js %}
    {{ block.super }}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    {{ form.media.js }}
{% endblock js %}
