{% extends "admin/core/base.html" %}
{% load i18n %}

{% block title %}{{ decision|capfirst }} Article{% endblock title %}
{% block title-section %}{{ decision|capfirst }} Article{% endblock %}
{% block title-sub %}#{{ article.pk }} / {{ article.correspondence_author.last_name }} / {{ article.safe_title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "elements/breadcrumbs/review_base.html" %}
    <li>{{ decision|capfirst }} Article</li>
{% endblock breadcrumbs %}

{% block body %}
    <div class="large-12 columns">
        <div class="box">
            <div class="title-area">
                <h2>Article Decision</h2>
            </div>
            <div class="content">
                <p>Are you sure you want to {{ decision }} {{ article.safe_title }}?</p>
                {% if decision == 'accept' %}
                    {% if article.journal.use_crossref %}
                        <div class="bs-callout">
                        <p>
                            This journal is set to use Crossref for DOI registration.
                            A DOI will be minted now, without registering any metadata. Author and article metadata will
                            be fully registered once this article is set for publication.
                        </p>
                        </div>
                    {% else %}
                        <div class="bs-callout bs-callout-danger">
                        <p>Note: DOI registration is not configured.</p>
                        </div>
                    {% endif %}
                    {% if accept_article_warning %}
                        <div class="bs-callout">
                        {{ accept_article_warning|safe }}
                        </div>
                    {% endif %}
                {% endif %}
                {% if article.hidden_completed_reviews %}
                    <div class="bs-callout bs-callout-danger">
                        <p>{% trans 'Note: This article has completed reviews that have not been made available to the author:' %}</p>
                        <ul>
                            {% for review in article.hidden_completed_reviews %}
                                <li><a target="_blank" href="{% url 'review_view_review' article.pk review.pk %}">#{{ review.pk }} - {{ review.reviewer.full_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <br />
                {% endif %}
                <p>You can provide some information to the authors below:</p>
                    <div class="card">
                        <div class="card-divider">
                            <h4>To {{ article.correspondence_author.full_name }}</h4>
                            <h5>From {{ request.user.full_name }}</h5>
                        </div>
                        {% if article.stage == 'Unassigned' %}
                            {% url 'review_unassigned_article' article.pk as cancel_url %}
                        {% else %}
                            {% url 'decision_helper' article.pk as cancel_url %}
                        {% endif %}
                        {% include 'admin/elements/email_form.html' with form=form skip=1 cancel_url=cancel_url %}
                    </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block js %}
    {{ block.super}}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    {{ form.media.js }}

{% endblock js %}
