{% extends "admin/core/base.html" %}
{% load i18n %}

{% block title %}{{ decision|capfirst }} Article{% endblock title %}
{% block title-section %}{{ decision|capfirst }} Article{% endblock %}
{% block title-sub %}#{{ article.pk }} / {{ article.correspondence_author.last_name }} / {{ article.title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "elements/breadcrumbs/review_base.html" %}
    <li>{{ decision|capfirst }} Article</li>
{% endblock breadcrumbs %}

{% block body %}
    <div class="large-12 columns">
        <div class="box">
            <div class="title-area">
                <h2>Article Decision</h2>
            </div>
            <div class="content">
                <p>Are you sure you want to {{ decision }} {{ article.title }}? You can provide some information to the Authors below: </p>
                {% if article.hidden_completed_reviews %}
                    <div class="bs-callout bs-callout-danger">
                        <p>{% trans 'Note: This article has completed reviews that have not been made available to the author:' %}</p>
                        <ul>
                            {% for review in article.hidden_completed_reviews %}
                                <li><a target="_blank" href="{% url 'review_view_review' article.pk review.pk %}">#{{ review.pk }} - {{ review.reviewer.full_name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    <br />
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="card">
                        <div class="card-divider">
                            <h4>To {{ article.correspondence_author.full_name }}</h4>
                            <h5>From {{ request.user.full_name }}</h5>
                        </div>
                        <div class="card-section">
                            <textarea name="decision_rationale" rows="5">{{ email_content|linebreaksbr }}</textarea>
                        </div>
                        <div class="card-divider">
                            <div class="button-group">
                                <button name="delete" type="submit"
                                        class="button {% if decision == 'decline' %}alert{% else %}success {% endif %}">{{ decision|capfirst }}
                                    Article
                                </button>
                                <button name="skip" type="submit" class="button warning">Skip</button>
                                <a href="{% url 'review_in_review' article.pk %}"
                                   class="button {% if decision == 'accept' %}alert{% else %}success {% endif %}" type="submit">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body %}

{% block js %}
    {% include "elements/jqte.html" %}
{% endblock js %}