{% extends "admin/core/base.html" %}

{% block title %}Delete Review{% endblock title %}
{% block title-section %}Delete Review{% endblock %}
{% block title-sub %}#{{ article.pk }} / {{ article.correspondence_author.last_name }} / {{ article.safe_title }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% include "elements/breadcrumbs/review_base.html" with subpage="yes" %}
<li>Delete Review</li>
{% endblock breadcrumbs %}

{% block body %}

<div class="large-12 columns">
    <div class="box">
        <div class="title-area">
            <h2>You are deleting a review assigned to {{ review.reviewer.full_name }} on article {{ article.safe_title }}</h2>
        </div>
        <div class="content">
            <p>You can add a note that will be logged next to this deletion: </p>
            <form method="POST">
                {% csrf_token %}
                <textarea name="delete_rationale" rows="5" placeholder="Enter information for log here."></textarea>
              <div class="button-group">
                {% with name="delete" label="Delete Review" %}
                  {% include "elements/button_yes_delete.html" %}
                {% endwith %}
                {% url 'review_in_review' article.pk as cancel_href %}
                {% include "elements/a_cancel.html" with href=cancel_href %}
              </div>
            </form>
        </div>
    </div>
</div>

{% endblock body %}
