{% extends "admin/core/base.html" %}
{% load foundation %}
{% load roles %}
{% load static %}

{% block title %}Draft Decision{% endblock title %}
{% block admin-header %}Draft Decision{% endblock %}
{% block title-sub %}#{{ article.pk }} / {{ article.correspondence_author.last_name }} / {{ article.safe_title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "elements/breadcrumbs/review_base.html" %}
    <li><a href="{% url 'decision_helper' article.pk %}">Decision Helper</a></li>
    <li class="active">Draft a Decision</li>
{% endblock breadcrumbs %}

{% block body %}
    {% user_has_role request 'editor' as user_is_editor %}
    <div class="large-8 columns">
        <div class="box">
            <div class="title-area">
                <h2>{% if draft %}Edit a Draft Decision{% else %}Add a Draft Decision{% endif %}</h2>
            </div>
            <div class="content">
                {% if draft %}
                    <div class="bs-callout bs-callout-danger">
                        <p><span class="fa fa-exclamation-triangle"></span>
                            As this draft has been completed, any
                            changes to the email text (eg. Due Date) will need to be made manually.</p>
                        <p><span class="fa fa-arrow-circle-down"></span> Review reports are listed towards the bottom of this page and can assist you in evaluating this draft decision.</p>
                    </div>
                    <div class="row expanded">
                        <div class="large-12 columns">
                            <hr/>
                            <small>
                                <p><strong>Message from {{ draft.section_editor.full_name }}</strong></p>
                                {{ draft.message_to_editor|safe }}
                            </small>
                            <hr/>
                        </div>
                    </div>
                {% else %}
                    <p>First select a decision (and also set a due date for any revisions). Once you have done this, the Draft Email to Author field will update to the correct template. You can then edit the email to your liking.</p>
                {% endif %}
                <form method="POST">
                    {% csrf_token %}
                    {{ form.decision|foundation }}

                    {% if draft %}<div style="display: none">{% endif %}
                    {{ form.editor|foundation }}
                    {% if draft %}</div>{% endif %}

                    <div id="div_due_date" style="display: none">
                        {{ form.revision_request_due_date|foundation }}
                    </div>

                    {% if draft %}<div style="display: none">{% endif %}
                    {{ form.message_to_editor|foundation }}
                    {% if draft %}</div>{% endif %}

                    {{ form.email_message|foundation }}
                    <button type="submit" class="success button">{% if not draft %}Submit Draft for Review{% else %}
                        Save{% endif %}</button>

                    {% if draft and user_is_editor %}
                        <div class="title-area">
                            <h2>Complete Reviews</h2>
                        </div>
                        {% include "admin/elements/review/view_reviews.html" with reviews=article.completed_reviews_with_decision reviewer_names=True %}
                            <button name="accept_draft" type="submit" class="success button"
                                    formaction="{% url 'review_manage_draft' article.pk draft.pk %}">Accept Draft
                            </button>
                            <a href="#" data-open="declinemodal" class="alert button">Decline Draft</a>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

    <div class="large-4 columns">
        <div class="box">
            <div class="title-area">
                <h2>Existing Drafts</h2>
            </div>
            <div class="content">
                {% for draft in article.decisiondraft_set.all %}
                    <p>{{ draft.get_decision_display }}</p>
                    <p>
                        <small>
                            Section Editor: {{ draft.section_editor.full_name }}<br/>
                            Editor: {{ draft.editor.full_name }}<br/>
                            Drafted: {{ draft.drafted }}<br/>
                            {% if draft.editor_decision %}Editor Decision:
                                {{ draft.get_editor_decision_display }}{% endif %}
                        </small>
                    </p>
                    {% if not draft.editor_decision %}
                        <form method="POST" action="{% url 'review_draft_decision' article.pk %}">
                            {% csrf_token %}
                            <div class="float-left">
                                <a href="{% url 'review_edit_draft_decision' article.pk draft.pk %}"
                                   class="tiny warning button"><i class="fa fa-edit"></i> Edit</a>
                                <button type="submit" name="delete" value="{{ draft.pk }}"
                                        class="tiny alert button"><i class="fa fa-trash"></i> Delete
                                </button>
                            </div>
                        </form>
                    {% endif %}
                    <hr/>
                {% endfor %}
            </div>
        </div>

    </div>

    {% if draft %}
    <div class="reveal" id="declinemodal" data-reveal data-animation-in="slide-in-up"
         data-animation-out="slide-out-down">
        <div class="card">
            <div class="card-divider">
                <h4>Decline Draft Decision</h4>
            </div>
            <div class="card-section">
                <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <p>Please provide a rationale for declining this draft decision. This will be sent to the Section Editor to make them aware.</p>
                <form method="POST">
                    {% csrf_token %}
                    <textarea name="editor_decline_rationale" placeholder="Add rationale here"></textarea>
                    <button name="decline_draft" type="submit"
                            class="alert button"
                            formaction="{% url 'review_manage_draft' article.pk draft.pk %}">Decline Draft
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}

{% block js %}
    <script src="{% static "admin/js/csrf.js" %}"></script>
    {% include "admin/elements/review/draft_decisions_js.html" %}
{% endblock %}
