{% extends "admin/core/base.html" %}
{% load foundation %}

{% block title %}Edit Review{% endblock title %}
{% block title-section %}Edit Review{% endblock %}
{% block title-sub %}#{{ article.pk }} / {{ article.correspondence_author.last_name }} / {{ article.safe_title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "elements/breadcrumbs/review_base.html" %}
    <li>Edit Review</li>
{% endblock breadcrumbs %}

{% block body %}
    <div class="large-12 columns">
        <div class="box">
            <div class="title-area">
                <h2>Set Options</h2>
            </div>
            <div class="content">
                <p>Once a review is accepted you can no longer change the review type or the form.</p>
                <div class="row expanded">
                    <form method="POST">
                        {% csrf_token %}
                      <div class="row expanded">
                        <div class="large-4 columns">{{ form.visibility|foundation }}</div>
                        <div class="large-4 columns">{{ form.form|foundation }}</div>
                        <div class="large-4 columns">{{ form.date_due|foundation }}</div>
                      </div>
                      <div class="row expanded">
                        <div class="large-12 columns">
                            <button class="button success" name="update" type="submit">Update Review</button>
                            <a href="{% url 'review_in_review' article.pk %}" class="button alert"
                               type="submit">Cancel</a>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block js %}
    {% include "elements/datepicker.html" with target="#id_date_due" %}
{% endblock js %}
