{% extends "admin/core/base.html" %}

{% block title %}Articles in Review{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% include "elements/breadcrumbs/review_base.html" %}
{% endblock breadcrumbs %}

{% block body %}
<div class="large-12 columns">
    <div class="box">
        <div class="title-area">
            <h2>Articles in Review</h2>
            {% if filter == 'me' %}<a class="button" href="{% url 'review_home' %}?filter=all">All Submissions</a>{% else %}<a class="button" href="{% url 'review_home' %}?filter=me">My Assignments</a>{% endif %}
        </div>
        <div class="content">
            <table class="small scroll" id="unassigned">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th style="width: 25%">Title</th>
                        <th>Submitted</th>
                        <th>Main Author</th>
                        <th>Editors</th>
                        <th>Section</th>
                        <th>Projected Issue</th>
                        <th>No. Active Reviews</th>
                        <th>No. Complete Reviews</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for article in articles %}
                    <tr>
                        <td>{{ article.pk }}</td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.date_submitted }}</td>
                        <td>{{ article.correspondence_author.full_name }}</td>
                        <td>{% for editor in article.editors %}{{ editor.editor.full_name }}{% endfor %}</td>
                        <td>{{ article.section.name }}</td>
                        <td>{% if article.projected_issue %}{{ article.projected_issue.display_title }}{% else %}None{% endif %}</td>
                        <td>{{ article.active_reviews|length }}</td>
                        <td>{{ article.completed_reviews|length }}</td>
                        <td><a href="{% url 'review_in_review' article.pk %}">View</a></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td>No articles in this stage</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock body %}

{% block js %}
{% include "elements/datatables.html" with target="#unassigned" %}
{% endblock js %}