{% extends "admin/core/base.html" %}
{% load foundation %}
{% load i18n %}


{% block title %}Projected Issue {{ article.title }}{% endblock %}
{% block title-section %}Projected Issue{% endblock %}
{% block title-sub %}#{{ article.pk }} / {{ article.correspondence_author.last_name }} / {{ article.safe_title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "elements/breadcrumbs/unassigned_base.html" %}
    <li><a href="{% url 'review_unassigned_article' article.pk %}">{{ article.safe_title }}</a></li>
	<li>Assign Projected Issue</li>
{% endblock breadcrumbs %}

{% block body %}
	<div class="row expanded">
		<div class="large-6 columns">
			<div class="box">
				<div class="title-area">
					<h2>Form</h2>
				</div>
				<form method="POST">
					{% csrf_token %}
					{{ form|foundation }}
					<button name="add_projected_issue" class="success button">{% trans "Save Projected Issue" %}</button>
				</form>
			</div>
		</div>
		<div class="large-6 columns">
			<div class="box">
				<div class="title-area">
					<h2>Help</h2>
				</div>
				<div class="content">
					<p><strong>{% trans "What is this for?" %}</strong></p>
					<p>{% trans "The projected issue field can be used internally to keep track of plans and communicate with typesetters, without affecting issue assignment or displaying anything publicly. It is helpful for journals that add articles to issues on a rolling basis and publish them individually." %}</p>
                    <p>{% trans "You can assign articles directly to issues in the prepublication stage or through " %}<a href="{% url 'manage_issues' %}">{% trans "issue management" %}.</a></p>
                    <p><strong>{% trans "How does it work?" %}</strong></p>
					<p>{% trans "Select an issue from the drop down on the left and press save. This article's projected issue will now be set." %}</p>
					<p><strong>{% trans "Can I unset a projected issue?" %}</strong></p>
					<p>{% trans "Yes, you can select the blank option (-------) from the dropdown." %}</p>
				</div>
			</div>
		</div>
	</div>
{% endblock body %}
