{% extends "admin/core/base.html" %}
{% load static %}

{% block title %}Reset Review{% endblock title %}
{% block title-section %}Reset Review{% endblock %}
{% block title-sub %}#{{ article.pk }} / {{ article.correspondence_author.last_name }} / {{ article.safe_title }}{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% include "elements/breadcrumbs/review_base.html" with subpage="yes" %}
<li>Reset Review</li>
{% endblock breadcrumbs %}

{% block body %}

<div class="large-12 columns">
    <div class="box">
        <div class="content">
            <p>You are resetting a review by {{ review.reviewer.full_name }} for {{ article.safe_title }}. It was due on {{ review.date_due }}.</p>
            <form method="POST">
                {% csrf_token %}
              <div class="button-group">
                {% with label="Reset Review" name="send" hierarchy="primary" %}
                  {% include "elements/button_restore.html" %}
                {% endwith %}
                {% url 'review_in_review' article.pk as cancel_href %}
                {% include "elements/a_cancel.html" with href=cancel_href %}
              </div>
            </form>
        </div>
    </div>

</div>

{% endblock body %}

{% block js %}
    {% include "elements/jqte.html" %}
{% endblock js %}
