{% extends "admin/core/base.html" %}


{% block title %}Review Requests{% endblock title %}
{% block title-section %}Review Requests{% endblock %}

{% block breadcrumbs %}
{{ block.super }}
{% include "elements/breadcrumbs/reviewer_base.html" %}
{% endblock breadcrumbs %}

{% block body %}

    <div class="row expanded column">
        <div class="kanban">
            <div class="inner">
                <div class="box">
                    <div class="title-area">
                        <h2>Awaiting Initial Decision</h2>
                    </div>
                    <div class="content">
                        {% for request in new_requests %}
                        {% include "admin/elements/review/card.html" with request=request type="new" %}
                        {% endfor %}
                    </div>
                </div>
                <div class="box">
                    <div class="title-area">
                        <h2>Reviews in Progress</h2>
                    </div>
                    <div class="content">
                        {% for request in active_requests %}
                        {% include "admin/elements/review/card.html" with request=request type="active" %}
                        {% endfor %}
                    </div>
                </div>
                <div class="box">
                    <div class="title-area">
                        <h2>Completed Reviews</h2>
                    </div>
                    <div class="content">
                        {% for request in completed_requests %}
                        {% include "admin/elements/review/card.html" with request=request type="complete" %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for review_request in new_requests %}
    {% include "admin/elements/review/review_request_metadata.html" %}
    {% endfor %}

{% endblock %}