{% extends "admin/core/base.html" %}
{% load foundation %}

{% block title %}Review Request{% endblock title %}
{% block title-section %}Review Request{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "elements/breadcrumbs/reviewer_base.html" %}
    <li>Review Form</li>
{% endblock breadcrumbs %}


{% block body %}

    <div class="row expanded">
        <div class="large-12 columns">
            <div class="box">
                <div class="title-area">
                    <h2>General Review Guidelines</h2>
                </div>
                <div class="content">
                    <small>{{ journal_settings.general.reviewer_guidelines|safe }}</small>
                </div>
                <div class="title-area">
                    <h2>Information for this Form</h2>
                </div>
                <div class="content">
                    <small>{{ assignment.form.intro|safe }}</small>
                    <br /> <br />
                </div>
                <div class="title-area">
                    <h2>Metadata</h2>
                </div>
                <div class="content">
                    {% include "admin/elements/review/review_meta_block.html" with review_request=assignment %}
                </div>
                <div class="title-area">
                    <h2>Accept or Decline this Review</h2>
                </div>
                <div class="content">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>
                            {% if assignment.date_accepted %}
                                <small>
                                    You have agreed to undertake this review. If you are no longer able, please click
                                    the decline button below to notify the Editor.
                                </small>
                            {% else %}
                                <small>Please let us know if you intend to complete this review.</small>
                            {% endif %}
                        </p>
                        <br/>
                        <small>
                            {% if not assignment.date_accepted %}
                                <button class="button success" type="submit" id="accept" name="accept">
                                    Agree to perform review
                                </button>
                            {% endif %}
                            <button class="button alert" type="submit" id="decline" name="decline">Decline to perform
                                review
                            </button>
                        </small>
                    </form>
                </div>
                {% if journal_settings.general.display_completed_reviews_in_additional_rounds and assignment.article.completed_reviews_with_decision_previous_rounds %}
                    <div class="title-area"><h2>Completed Reviews</h2></div>
                    <div class="content">
                        {{ journal_settings.general.display_completed_reviews_in_additional_rounds_text|safe }}
                        {% include "admin/elements/review/view_reviews.html" with reviews=assignment.article.completed_reviews_with_decision_previous_rounds %}
                    </div>
                    {% if journal_settings.general.share_author_response_letters and assignment.article.completed_revision_requests %}
                        <div class="title-area">
                            <h2>Revision Response Letters</h2>
                        </div>
                        <div class="content">
                            {% include "admin/elements/review/revision_responses.html" with article=assignment.article %}
                        </div>
                    {% endif %}
                {% endif %}

            </div>
            <div class="box">
                <div class="title-area">
                    <h2>Review Files</h2>
                    <a href="{% url 'review_download_all_files' assignment.pk %}{% if access_code %}?access_code={{ access_code }}{% endif %}" class="button"><i
                            class="fa fa-download">&nbsp;</i>Download all as ZIP</a>
                </div>
                <div class="content">
                    <table class="scroll small">
                        <tr>
                            <th>Label</th>
                            <th>Download</th>
                        </tr>
                        {% for file in review_round.review_files.all %}
                            <tr>
                                <td>{{ file.label }}</td>
                                <td><a href="

                                        {% url 'review_file_download' assignment.id file.id %}{% if access_code %}?access_code={{ access_code }}{% endif %}"><i
                                        class="fa fa-download">&nbsp;</i></a></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4">No files. You should add them before inviting reviewers.</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            {% if assignment.visibility == 'open' or assignment.visibility == 'blind' %}
                <div class="box">
                    <div class="title-area">
                        <h2>Author Information</h2>
                    </div>
                    <div class="content">
                        <table class="scroll small">
                            <tr>
                                <th>Name</th>
                                <th>Institution</th>
                                <th>Department</th>
                            </tr>
                            {% for author in assignment.article.authors.all %}
                                <tr>
                                    <td>{{ author.full_name }}</td>
                                    <td>{{ author.institution }}</td>
                                    <td>{{ author.department }}</td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="4">No files. You should add them before inviting reviewers.</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            {% endif %}

            <div class="box">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="title-area">
                        <h2>File Upload</h2>
                    </div>
                    <div class="content">
                        <div class="large-12 columns">
                            {{ journal_settings.general.peer_review_upload_text|safe }}
                                {% csrf_token %}
                                {% if assignment.review_file %}Current file: {{ assignment.review_file }}{% endif %}
                                <input type="file" id="review_file"
                                       name="review_file" class="">
                        </div>
                    </div>
                    <div class="title-area">
                        <h2>Review Form</h2>
                        {% if journal_settings.general.reviewer_form_download %}<a class="button" href="{% url 'do_review' assignment.pk %}{% if access_code %}?access_code={{ access_code }}&review_file=True{% else %}?review_file=True{% endif %}">Download Review File (Docx)</a>{% endif %}
                    </div>
                    <div class="content">
                        <div class="row expanded">
                            {% if form.errors %}
                                <div class="alert alert-info">
                                    Please correct errors below. Note, you'll have to reselect any files you want
                                    uploaded.
                                </div>
                            {% endif %}
                            {% include "elements/generate_form.html" with form=form %}
                        </div>
                    </div>
                    <div class="title-area">
                        <h2>Your Recommendation</h2>
                    </div>
                    <div class="content">
                        <div class="form-group">
                            {% if journal_settings.general.open_peer_review %}{{ decision_form.permission_to_make_public|foundation }}{% endif %}
                            {{ decision_form.decision|foundation }}
                            {{ decision_form.comments_for_editor|foundation }}
                        </div>
                    </div>
                {% if allow_save_review %}
                <button class="button info" type="submit" name="save_progress">Save progress and continue later</button>
                {% endif %}
                <button class="button success" type="submit" name="complete">Complete Review</button>
              </form>
            </div>
        </div>

{% endblock %}
