{% extends "admin/core/base.html" %}
{% load settings %}

{% block title %}Unassign Editor Request{% endblock title %}
{% block title-section %}Unassign Editor Request{% endblock %}
{% block title-sub %}#{{ article.pk }} / {{ article.correspondence_author.last_name }} / {{ article.title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "elements/breadcrumbs/review_base.html" %}
    <li>Unassign Editor</li>
{% endblock breadcrumbs %}

{% block body %}

    <div class="large-12 columns">
        <div class="box">
            <div class="content">
                <p>You are unassigning {{ assignment.editor.full_name }} from {{ article.title }}.</p>
                <p>If you select Skip, the editor will not be notified.</p>

                <div class="card">
                    <div class="card-divider">
                        <h4>To {{ assignment.reviewer.full_name }}</h4>
                        <h5>From {{ request.user.full_name }}</h5>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="card-section">
                            {% setting_var request.journal 'subject_unassign_editor' as subject %}
                            <p>Subject: <strong>{{ subject }}</strong></p>
                            <textarea rows="10" name="content_email">{{ email_content|linebreaksbr }}</textarea>
                        </div>
                        <div class="card-divider">
                            <div class="button-group">
                                <button type="submit" class="button success" name="send"><i class="fa fa-envelope-o">&nbsp;</i>Send
                    </button>
                    &nbsp;&nbsp;
                    <button type="submit" class="button alert" name="skip"><i class="fa fa-step-forward">&nbsp;</i>Skip
                    </button>
                    <a href="{% url 'review_unassign_editor' article.pk assignment.editor.pk %}" class="button warning" type="submit">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>

{% endblock body %}

{% block js %}
    {% include "elements/jqte.html" %}
{% endblock js %}
