{% extends "admin/core/base.html" %}


{% block title %}Unassigned Articles{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>Unassigned Articles</li>
{% endblock breadcrumbs %}

{% block body %}

        <div class="large-12 columns">
            <div class="box">
                <div class="title-area">
                    <h2>Unassigned Articles</h2>
                </div>
                <div class="content">
                    <table class="table scroll" id="unassigned">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Title</th>
                                <th>Submitted</th>
                                <th>Main Author</th>
                                <th>Section</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for article in articles %}
                            <tr>
                                <td>{{ article.pk }}</td>
                                <td>{{ article.safe_title }}</td>
                                <td>{{ article.date_submitted }}</td>
                                <td>{{ article.correspondence_author.full_name }}</td>
                                <td>{{ article.section.name }}</td>
                                <td><a href="{% url 'review_unassigned_article' article.pk %}">View</a></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6">No articles in this stage</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock body %}

{% block js %}
    {{ block.super }}
    {% include "admin/elements/datatables.html" with target="#unassigned" sort=2 order='asc' %}
{% endblock js %}
