{% load static %}
{% load i18n %}
{% load settings %}
{% load counter %}

{% setting_var request.journal 'disable_article_large_image' as disable_image %}

{% get_next_id "item" as item_id %}

<div class="olh-banner">
  <a href="{% if article.is_remote %}{{ article.remote_url }}{% else %}{{ article.url }}{% endif %}"
           class="box-link"
           aria-labelledby="title-{{ item_id }}" 
           aria-describedby="byline-{{ item_id }} {{ list_id }}">
  </a>
  {% if not disable_image %}
    <img src="{{ article.best_large_image_url }}"
         alt="{{ article.title|striptags }}"
         class="olh-banner-image"
         aria-hidden="true">
    <div class="overlay"></div>
  {% endif %}
  <div {% if not disable_image %}class="olh-banner-heading"{% endif %} aria-hidden="true">
    <p id="byline-{{ item_id }}" class="byline">{{ article.author_list }}</p>
    <h3 id="title-{{ item_id }}">{{ article.title|safe|truncatechars:200 }}</h3>
  </div>
</div>