{% load static %}
{% load i18n %}

<section>
    <div class="row column text-center">
        <h2 class="title">{% trans 'Featured Articles' %}</h2>
    </div>
    <div class="row" data-equalizer data-equalize-on="medium">
        {% for fa in featured_articles %}
            <div class="large-4 columns" >
                <div class="box" data-equalizer-watch>
                    <a href="{% if fa.article.is_remote %}{{ fa.article.remote_url }}{% else %}{{ fa.article.url }}{% endif %}"
                       class="box-link"></a>

                    {% if not journal_settings.article.disable_article_large_image %}
                        {% if fa.article.large_image_file %}
                            <img src="{% url 'article_file_download' 'id' fa.article.id fa.article.large_image_file.id %}"
                                 alt="{{ article.title|striptags }}" class="feature-article-image">
                        {% elif fa.article.issue.large_image %}
                            <img src="{{ fa.article.issue.large_image.url }}"
                                 alt="{{ article.title|striptags }}" class="feature-article-image">
                        {% elif fa.article.journal.default_large_image %}
                            <img src="{{ fa.article.journal.default_large_image.url }}"
                                 alt="{{ article.title|striptags }}" class="feature-article-image">
                        {% else  %}
                            <img src="{% static 'common/img/sample/article-small.jpg' %}"
                                 alt="{{ article.title|striptags }}" class="feature-article-image">
                        {% endif %}
                    {% endif %}

                    <div class="content">
                        <p>{{ fa.article.author_list }}</p>
                        <p><strong>{{ fa.article.title|safe|truncatechars:200 }}</strong></p>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}</div>
                <div class="row" data-equalizer data-equalize-on="medium">{% endif %}
        {% endfor %}
        </div>
</section>
