{% load svg from press_url %}
{% load truncate %}
{% load i18n %}

<section>
    <div class="row">
        <div class="large-12 columns">
            <div class="row column text-center">
                <h2 class="title">{% trans "Latest News" %}</h2>
            </div>
            {% for item in news_items %}
            <h3>{{ item.title }}</h3>
            <p><strong>{% trans "Posted by" %} {{ item.posted_by.full_name }} on {{ item.posted|date:"Y-m-d" }}</strong></p>
            <p>{{ item.body|striptags|truncatesmart:400 }}</p>
            <a href="{% url 'core_news_item' item.pk %}">{% trans "Read News Item" %}</a>
            <hr />
            {% empty %}
            <h3>{% trans "This journal currently has no news items to display" %}.</h4>
            {% endfor %}
        </div>
    </div>
</section>