{% extends "core/base.html" %}
{% load truncate %}

{% block title %}{{ journal_settings.news.news_title }}{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ journal_settings.news.news_title }}</h1>
            {% if tag %}<h3>Filtering tag: {{ tag }}</h3>{% endif %}
        </div>
        {% for item in news_items %}
            <div class="col-md-12">
                <h4>{{ item.title|safe }}</h4>
                <h6>{{ item.byline }} on {{ item.posted|date:"Y-m-d" }}</h6>
                <p>{{ item.body|truncatewords_html:50|safe }}</p>
                <a href="{% url 'core_news_item' item.pk %}">{% trans 'Read More' %}</a>
                <hr/>
            </div>
        {% empty %}
            <h4>This journal currently has no {{ journal_settings.news.news_title }} items to display.</h4>
        {% endfor %}
    </div>
    <div class="pagination-block">{{ page }}
        <ul class="d-flex justify-content-center">
            {% if news_items.has_previous %}
                <a href="?page={{ news_items.previous_page_number }}" class="btn btn-outline-primary">&laquo;</a>
                &nbsp;{% endif %}
            {{ news_items.page.page_range }}
            {% for page in news_items.paginator.page_range %}
                <a href="?page={{ page }}"
                   class="btn {% if news_items.number == page %}btn-primary{% else %}btn-outline-primary{% endif %}">{{ page }}</a>
                &nbsp;
            {% endfor %}
            {% if news_items.has_next %}
                <a href="?page={{ news_items.next_page_number }}" class="btn btn-outline-primary">&raquo;</a>
            {% endif %}
        </ul>
    </div>
{% endblock body %}
