{% extends "core/base.html" %}
{% load truncate %}

{% block title %}{{ news_item.title }}{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ news_item.title }}</h1>
            <hr/>
        </div>
        <div class="col-md-12">
            <h6>{{ news_item.byline }} on {{ news_item.posted|date:"Y-m-d" }}</h6>
            <p>{{ news_item.body|safe }}</p>
            <br />
            <h7>Tags <i class="fa fa-tags">&nbsp;</i></h7>
            <p>{% for tag in news_item.tags.all %}<a href="{% url 'core_news_list_tag' tag.text %}">{{ tag.text }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
            <a href="{% url 'core_news_list' %}">{% trans "Back to" %} {{ journal_settings.news.news_title }} {% trans "List" %}</a>
        </div>
    </div>

{% endblock body %}
