{% extends "core/base.html" %}
{% load truncate %}
{% load dates %}

{% block title %}{{ news_item.title }}{% endblock title %}

{% block head %}
{% include "elements/social_meta.html" %}
{% endblock head %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1>{{ news_item.title|safe }}</h1>
            <hr aria-hidden="true" />
        </div>
        <div class="col-md-12">
            <p class="byline">{{ news_item.byline }} on {{ news_item.posted|date_human}}</p>
            <p>{{ news_item.body|safe }}</p>
            <br />
            {% if news_item.tags.all %}
                <h2>{% trans 'Tags ' %}<i aria-hidden="true" class="fa fa-tags">&nbsp;</i></h2>
                <ul class="list-inline comma-sep">
                    {% for tag in news_item.tags.all %}
                        <li><a href="{% url 'core_news_list_tag' tag.text %}">{{ tag.text }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            <a href="{% url 'core_news_list' %}">{% trans "Back to" %} {{ journal_settings.news.news_title }} {% trans "List" %}</a>
        </div>
    </div>

{% endblock body %}
