{% load i18n %}
{% load static %}

<div class="card">
    <div class="card-block">
        <div class="row">
            {% if not journal_settings.article.disable_article_thumbnails %}
                <div class="col-md-2">
                    {% if article.thumbnail_image_file %}
                        <img src="{% url 'article_file_download' 'id' article.id article.thumbnail_image_file.id %}"
                             alt="{{ article.title|striptags|escape }}" class="article-thumbnail img-fluid">
                    {% elif request.journal.thumbnail_image %}
                        <img src="{% url 'journal_cover_download' %}" class="article-thumbnail img-fluid" alt="{{ request.journal }} thumbnail icon">
                    {% else %}
                        <img src="{% static 'common/img/icons/article.png' %}"
                             alt="{{ article.title|striptags|escape }}"
                             class="article-thumbnail img-fluid">
                    {% endif %}
                </div>
            {% endif %}
            <div class="col article-block">
                <a href="{% if article.is_remote %}{{ article.remote_url }}{% else %}{{ article.url }}{% endif %}">
                    <h2 class="card-title article-title">{{ article.title|safe }}{% if article.is_remote %}&nbsp;
                        <span class="fa fa-external-link small-icon-text"></span>{% endif %}</h2>
                </a>
                <p class="card-subtitle mb-2 text-muted">{% for author in article.frozen_authors.all %}{% if forloop.last %}
                {% if article.frozen_authors.all|length > 1 %} {% trans 'and' %}
                    {% endif %}{% endif %}{{ author.full_name }}{% if not forloop.last %}{% if not forloop.counter == article.frozen_authors.all|length|add:-1 %}, {% endif %}{% endif %}{% endfor %}
                </p>
                <p class="card-text">
                    <span class="date"><span class="fa fa-calendar"></span> {{ article.date_published|date:"Y-m-d" }}</span>
                    {% if article.issue %}
                    <span class="fa fa-book"></span>
                    <a href="{{ article.issue.url }}">
                        {{ article.issue_title }}
                    </a>
                    {% endif %}
                </p>
                 {% if article.issues.count > 1 %}
                  <p><strong><span class="fa fa-info-circle"></span> {% trans 'Also a part of:'%}</strong></p>
                  {% for other in article.issues.all %}
                  {% if other != article.issue %}
                  <p>
                    <span class="fa fa-book"></span>
                    <a class="issue-link" href="{{ other.url }}">
                        {{other.issue_type.pretty_name}}: {{ other.display_title }}
                    </a>
                  </p>
                  {% endif %}
                  {% endfor %}
                {% endif %}
                </a>
                </div>
            </div>
        </div>
    </div>
