{% load i18n %}
{% load next_url %}
{% load sitemap_tags %}

<div class="row">
    <div class="col-md-7">
        <small>{{ press.footer_description|default:""|safe }}</small>
    </div>
    <div class="col-md-5 text-right">
        <small><p>
            <ul class="list-inline">
                {% if press.privacy_policy_url %}
                    <li class="list-inline-item"><a
                            href="{{ press.privacy_policy_url }}">{% trans "Privacy Policy" %}</a></li>
                {% else %}
                    <li class="list-inline-item"><a
                            href="{% url 'cms_page' 'privacy' %}">{% trans "Privacy Policy" %}</a></li>
                {% endif %}
                <li class="list-inline-item"><a href="{% page_sitemap_url request.resolver_match.url_name %}">{% trans "Sitemap" %}</a></li>
                <li class="list-inline-item">
                  <a href="{% url 'press_contact' %}">
                    {% trans "Contact" %}
                  </a>
                </li>
                <li class="list-inline-item"><a href="{% url 'accessibility' %}">{% trans "Accessibility" %}</a></li>
                {% if not request.user.is_authenticated %}
                  <li class="list-inline-item">
                    <a href="{% url 'core_login' %}">
                      {% trans 'Log in' %}
                    </a>
                  </li>
                {% endif %}
            </ul>
        {% include "elements/language_switcher.html" %}
        </p></small>
    </div>
</div>
