<h2>{% trans 'Sections' %}</h2>

<table class="table">
    <caption>{% trans 'Sections submission information' %}</caption>
    <thead>
    <tr>
        <th>{% trans 'Section or article type' %}</th>
        <th>{% trans 'Public Submissions' %}</th>
        <th>{% trans 'Peer Reviewed' %}</th>
        <th>{% trans 'Indexed' %}</th>
    </tr>
    </thead>
    <tbody>
    {% for section in sections %}
        <tr>
            <td>{{ section.name }}</td>
            
            <td>{% if section.public_submissions %}
                    {# IconA11y Decorative #}
                    <i aria-hidden="true" class="fa fa-check"></i> {% trans 'Yes' %}
                {% else %}
                    {# IconA11y Decorative #}
                    <i aria-hidden="true"  class="fa fa-times"></i> {% trans 'No' %}
                {% endif %}
            </td>
            <td>{% if section.number_of_reviewers > 0 %}
                    {# IconA11y Decorative #}
                    <i aria-hidden="true"  class="fa fa-check"></i> {% trans 'Yes' %}
                {% else %}
                    {# IconA11y Decorative #}
                    <i aria-hidden="true"  class="fa fa-times"></i> {% trans 'No' %}
                {% endif %}
            </td>
            
            <td>{% if section.indexing %}
                    {# IconA11y Decorative #}
                    <i aria-hidden="true"  class="fa fa-check"></i> {% trans 'Yes' %}
                {% else %}
                    {# IconA11y Decorative #}
                    <i aria-hidden="true"  class="fa fa-times"></i> {% trans 'No' %}
                {% endif %}
            </td>
        </tr>
        {% empty %}
    {% endfor %}
    </tbody>
</table>
