{% load pages %}

{% if order_by_choices %}
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <p>
                {% blocktrans count result_count=page_obj.paginator.count %}
                    1 result
                {% plural %}
                    {{ result_count }} results
                {% endblocktrans %}
            </p>
        </div>
        <div class="input-group sort-control col-sm-12 col-md-6">
            <div class="input-group-prepend">
                <label class="input-group-text" for="order_by">
                    {% trans "Sort results by" %}
                </label>
            </div>
            <select
                id="order_by"
                class="custom-select"
                name="order_by"
                form={{ form_id }}>
                {% for value, label in order_by_choices %}
                    <option
                        value="{{ value }}"
                        {% if value == order_by %}
                            selected
                        {% endif %}>
                        {{ label }}
                    </option>
                {% endfor %}
            </select>
            <div class="input-group-append">
                <button type="submit" class="btn btn-primary" form={{ form_id }} aria-label="{% trans 'Apply sort' %}">{% trans 'Sort' %}</button>
            </div>
        </div>
    </div>
{% endif %}
