{% load pages %}

{% if order_by_choices %}
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <p>
        {% blocktrans count result_count=page_obj.paginator.count %}
          1 result
          {% plural %}
          {{ result_count }} results
        {% endblocktrans %}
      </p>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="input-group">
        <div class="input-group-prepend">
          <label class="input-group-text" for="order_by">
            {% trans "Sort results by" %}
          </label>
        </div>
        <select
                class="custom-select"
                id="order_by"
                name="order_by"
                onchange="this.form.submit()"
                form="{{ form_id }}">
          {% for value, label in order_by_choices %}
            <option value="{{ value }}"{% if value == order_by %} selected{% endif %}>
              {{ label }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
  </div>
{% endif %}
