{% extends "admin/core/base.html" %}

{% block title %}{{ preprint.title|striptags }}{% endblock %}
{% block title-section %}Preprint Comments{% endblock %}
{% block title-sub %}Management interface for {{ article.title|safe }} comments{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'repository_dashboard' %}">{{ request.repository.object_name }} Dashboard</a></li>
    <li><a href="{% url 'repository_author_article' preprint.pk %}">{{ preprint.title }}</a></li>
    <li>Comments</li>
{% endblock %}

{% block body %}
    <div class="row expanded">
        <div class="large-6 columns">
            <div class="box">
                <div class="title-area">
                    <h2>New Comments</h2>
                </div>
                <div class="content">
                    <ul class="accordion" data-accordion>
                        {% for comment in new_comments %}
                        <li class="accordion-item{% if forloop.first %} is-active{% endif %}" data-accordion-item>
                            <a href="#" class="accordion-title">Comment #{{ comment.pk }} by {{ comment.author.full_name }}</a>
                            <div class="accordion-content" data-tab-content>
                                <p>Comment made at {{ comment.date_time }}</p>
                                <p>{{ comment.body }}</p>
                                <form method="POST">
                                    {% csrf_token %}
                                    <button class="small success button" name="comment_public" value="{{ comment.pk }}">Mark Public</button>
                                    <button class="small info button" name="comment_reviewed" value="{{ comment.pk }}">Mark as Reviewed</button>
                                </form>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="large-6 columns">
            <div class="box">
                <div class="title-area">
                    <h2>Old Comments</h2>
                </div>
                <div class="content">
                    <ul class="accordion" data-accordion>
                        {% for comment in old_comments %}
                        <li class="accordion-item{% if forloop.first %} is-active{% endif %}" data-accordion-item>
                            <a href="#" class="accordion-title">Comment #{{ comment.pk }} by {{ comment.author.full_name }}</a>
                            <div class="accordion-content" data-tab-content>
                                <p>Comment made at {{ comment.date_time }}</p>
                                <p>{{ comment.body }}</p>
                                <form method="POST">
                                    {% csrf_token %}
                                    <button class="small success button" name="comment_public" value="{{ comment.pk }}">{% if comment.is_public %}Mark as Private{% else %}Mark Public{% endif %}</button>
                                    <a href="{% url 'repository_preprint' preprint.pk %}#comment-{{ comment.pk }}" class="small button">View Comment</a>
                                </form>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}