{% extends "admin/core/base.html" %}

{% block title %}{{ preprint.title|striptags }}{% endblock %}
{% block title-section %}Preprint Manager{% endblock %}
{% block title-sub %}Preprint #{{ preprint.pk }} - {{ preprint.title|safe }}{% endblock %}
{% load files %}

{% block breadcrumbs %}
    <li><a href="{% url 'core_manager_index' %}">Press Manager</a></li>
    <li><a href="{% url 'preprints_manager' %}">Preprint Manager</a></li>
    <li><a href="{% url 'repository_manager_article' preprint.pk %}">{{ preprint.title|safe }}</a></li>
    <li>Notification</li>
{% endblock %}

{% block body %}
    <section>
        <div class="row column expanded">
            <div class="box">
                <div class="title-area">
                    <h2>Notify the Author</h2>
                </div>
                <div class="content">
                    <p>Send a message to the Preprint author letting them know your decision.</p>
                    <div class="card">
                        <div class="card-divider">
                            <h4>To {{ preprint.owner.full_name }}</h4>
                            <h5>From {{ request.user.full_name }}</h5>
                        </div>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-section">
                                <p>Subject: <strong>{{ preprint.title }} Submission Decision</strong></p>
                                <textarea rows="10" name="email_content">{{ email_content|linebreaksbr }}</textarea>
                                <label for="attachment"><p>Attachment (You can select multiple files): </p></label>
                                <input type="file" name="attachment" multiple>
                            </div>
                            <div class="card-divider">
                                <div class="button-group">
                                    <button type="submit" class="button success" name="send"><i
                                            class="fa fa-envelope-o">&nbsp;</i>Send
                                    </button>
                                    <button name="skip" class="warning button"><i class="fa fa-step-forward">&nbsp;</i>Skip</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {% include "elements/jqte.html" %}
{% endblock %}