{% extends "admin/core/base.html" %}

{% block title %}Orphaned {{ request.repository.object_name_plural }}{% endblock %}
{% block title-section %}Orphaned Manager{% endblock %}
{% block title-sub %}Displays a list of orphaned {{ request.repository.object_name_plural }} and allows you to review them.{% endblock %}
{% load files %}

{% block breadcrumbs %}
    <li><a href="{% url 'core_manager_index' %}">Press Manager</a></li>
    <li><a href="{% url 'preprints_manager' %}">Preprint Manager</a></li>
    <li>Orphaned {{ request.repository.object_name_plural }}</li>
{% endblock %}

{% block body %}
    <section>
        <div class="row column expanded">
            <div class="box">
                <table class="scroll small" id="rejected_preprints">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date Submitted</th>
                        <th>Date Rejected</th>
                        <th>First Author</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for preprint in orphaned_preprints %}
                        <tr>
                            <td>
                                <a href="{% url 'repository_manager_article' preprint.pk %}">{{ preprint.title|safe }}</a>
                            </td>
                            <td>{{ preprint.date_submitted }}</td>
                            <td>{{ preprint.date_declined }}</td>
                            <td>{{ preprint.authors.0.full_name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}

{% block js %}
    {% include "elements/datatables.html" with target="#rejected_preprints" page_length=25 sort=1 order='desc' %}
{% endblock %}