{% extends "admin/core/base.html" %}
{% load foundation %}
{% load bool_fa %}

{% block title %}Preprint Subjects{% endblock %}
{% block title-section %}Preprint Subjects{% endblock %}
{% block title-sub %}Management interface for {{ request.press.name }} preprint subjects{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'core_manager_index' %}">Press Manager</a></li>
    <li><a href="{% url 'preprints_manager' %}">Preprint Manager</a></li>
    <li>Subjects</li>
{% endblock %}

{% block body %}
    <div class="row expanded" data-equalizer data-equalize-on="medium">
        <div class="large-6 columns">
            <div class="box" data-equalizer-watch>
                <div class="title-area">
                    <h2>Subjects</h2>
                </div>
                <div class="content">
                     {% for subject in top_level_subjects %}
                         <table class="small scroll table-subjects" id="unpub">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Enabled</th>
                            <th>Delete</th>
                            <th>Add Child</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <a href="{% url 'repository_subjects_with_id' subject.pk %}">{{ subject.name|safe }}</a>
                            </td>
                            <td>{{ subject.enabled|bool_fa }}</td>
                            <td>
                                <form method="POST" action="{% url 'repository_delete_subject' %}">{% csrf_token %}
                                    <button name="delete" value="{{ subject.pk }}" class="delete control-button"><i
                                            class="fa fa-trash"></i></button>
                                </form>
                            </td>
                            <td>
                                <a href="?parent={{ subject.slug }}">
                                    <span class="fa fa-plus-square"></span>
                                </a>
                            </td>
                        </tr>
                        {% include 'admin/elements/repository/table_row.html' with subjects=subject.children.all %}
                        </tbody>
                    </table>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="large-6 columns end">
            <div class="box" data-equalizer-watch>
                <div class="title-area">
                    <h2>Form</h2>
                    {% if subject %}
                        <a href="{% url 'repository_subjects' %}" class="button"><i class="fa fa-arrow-left">&nbsp;</i>Back</a>{% endif %}
                </div>
                <div class="content">
                    <form method="POST">
                        {% csrf_token %}
                        {% include "elements/forms/errors.html" with form=form %}
                        {{ form.name|foundation }}
                        {{ form.parent|foundation }}
                        {{ form.enabled|foundation }}

                        <div class="row">
                            <div class="large-12 columns">
                                <label for="editors">Editors</label>
                                <table class="small scroll" id="editors">
                                    <thead>
                                    <tr>
                                        <th>Select</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in active_users %}
                                        <tr>
                                            <td><input type="checkbox" name="editors" value="{{ user.pk }}"
                                                       {% if user in subject.editors.all %}checked="checked"{% endif %}>
                                            </td>
                                            <td>{{ user.full_name }}</td>
                                            <td>{{ user.email }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>

                                </table>
                            </div>
                        </div>

                        <button class="success button">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {% include "admin/elements/post_check.html" %}
    {% include "admin/elements/datatables.html" with target="#editors" page_length=10 sort=1 order="asc" %}
{% endblock %}
