{% extends "admin/core/base.html" %}
{% load foundation %}
{% load bool_fa %}
{% load i18n %}

{% block title %}Version Moderation{% endblock %}
{% block title-section %}Version Moderation{% endblock %}
{% block title-sub %}There are {{ version_queue|length }} version requests for review.{% endblock %}

{% block breadcrumbs %}
    <li><a href="{% url 'core_manager_index' %}">Press Manager</a></li>
    <li><a href="{% url 'preprints_manager' %}">{{ request.repository.object_name }} Manager</a></li>
    <li>Version Moderation</li>
{% endblock %}

{% block body %}
    <div class="row expanded" data-equalizer data-equalize-on="medium">
        <div class="box">
            <p>{% trans 'The following updates are ready for moderation. By default the lists are show the oldest request first.' %}</p>
            <form method="POST">
                {% csrf_token %}
                <table id="versions" class="scroll">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>{{ request.repository.object_name }} ID</th>
                            <th>{{ request.repository.object_name }}</th>
                            <th>Requester</th>
                            <th>Requested</th>
                            <th>Request Type</th>
                            <th></th>
                            <th>Approve</th>
                            <th>Decline</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for version in version_queue %}
                        <tr>
                            <td>{{ version.pk }}</td>
                            <td>{{ version.preprint.id }}</td>
                            <td>{{ version.preprint.title|safe }} {% if version.preprint in duplicates %}<span data-tooltip aria-haspopup="true" class="has-tip" data-disable-hover="false" tabindex="1" title="This {{ request.repository.object_name }} has multiple requests in queue."><i class="fa fa-info-circle"></i></span>{% endif %}</td>
                            <td>{{ version.preprint.owner }}</td>
                            <td>{{ version.date_submitted }}</td>
                            <td>{{ version.get_update_type_display }}</td>
                            <td><a href="#" data-open="detail-{{ version.pk }}">View Detail</a></td>
                            <td><button class="button success" name="approve" value="{{ version.pk }}"><i class="fa fa-check"> </i></button></td>
                            <td><a href="#" class="button alert" data-open="decline-{{ version.pk }}"> <span class="fa fa-times-circle"></span> </a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>
    </div>
    {% for version in version_queue %}
        {% include "admin/elements/repository/decline_update.html" %}
        {% include "admin/elements/repository/version_detail.html" %}
    {% endfor %}
{% endblock %}

{% block js %}
    {% include "admin/elements/datatables.html" with target="#versions" page_length=25 sort=3 order="asc" %}
{% endblock %}
