{% extends "admin/core/base.html" %}
{% load foundation %}

{% block title %}Create New Repository{% endblock %}
{% block title-section %}Repository Creation Wizard &#x1F9D9; {% endblock %}

{% block nav %}
    {% include "admin/press/nav.html" %}
{% endblock nav %}

{% block body %}
    <section>
        <div class="row expanded" data-equalizer>
            <div class="large-6 columns end">
                <div class="box" data-equalizer-watch>
                    <div class="title-area">
                        <h2>Form</h2>
                    </div>
                    <div class="content">
                        {% include "elements/forms/errors.html" with form=form %}
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|foundation }}
                            <div class="row expanded">
                                <div class="large-12 columns">
                                    <button type="submit" name="save_press" class="success button">{% if step == 1 %}
                                        Create{% else %}Save{% endif %} Repository
                                    </button>
                                </div>
                            </div>

                        </form>
                    </div>

                </div>
            </div>
            <div class="large-6 columns end">
                <div class="box" data-equalizer-watch>
                    <div class="title-area">
                        <h2>Help</h2>
                    </div>
                    <div class="content">
                        <p>
                            This Wizard will guide you through setting up your Repository. You are currently on <strong>Step 1 of 4</strong>.
                        </p>
                        <ul>
                            <li><strong>Short Name</strong></li>
                            <ul>
                                <li>The Short Name will be used in the if you are using Path mode. Eg. www.example.com/short_name/article/1/</li>
                            </ul>
                        </ul>
                        <ul>
                            <li><strong>Object Name</strong></li>
                            <ul>
                                <li>You can tell Janeway what type of objects are being deposited. Some examples are Preprints or Postprints.</li>
                                <li>You should also provide the plural form of the object name.</li>
                            </ul>
                        </ul>
                        <ul>
                            <li><strong>Publisher</strong></li>
                            <ul>
                                <li>The publisher name is used across the site and as the Publisher for Crossref deposit and Dublin Core metadata output. It should be the name of your organisation for example: Birkbeck, University of London</li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}