{% load static from staticfiles %}
{% load press_url from press_url %}
{% load svg from press_url %}
{% load svg_or_image from press_url %}
{% load i18n %}
{% load roles %}
{% load hooks %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ request.journal.name }}{% endblock title %}</title>
    {% block head %}{% endblock head %}
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{% url 'website_sitemap' %}">
    <link href="{% static "OLH/css/app.css" %}" rel="stylesheet">
    <link href="{% static "common/css/common.css" %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">

    {% if request.journal %}
        <link href="{% static "OLH/css/default_override.css" %}" rel="stylesheet">
        <link href="{% static "OLH/css/journal" %}{{ request.journal.id }}_override.css" rel="stylesheet">
    {% elif request.press %}
        <link href="{% static "OLH/css/press_override.css" %}" rel="stylesheet">
    {% endif %}

    <script src="https://use.typekit.net/lff8ikn.js"></script>
    <script>try {
        Typekit.load({async: true});
    } catch (e) {
    }</script>

    {% block css %}{% endblock %}
    {% hook 'base_head_css' %}

    {% if request.journal %}
        <link href="{% journal_url 'rss_articles' %}" type="application/atom+xml" rel="alternate" title="Article Feed for Journal">
        <link href="{% journal_url 'rss_news' %}" type="application/atom+xml" rel="alternate" title="News Feed for Journal">
    {% else %}
        <link rel="alternate" type="application/rss+xml" title="Articles RSS Feed" href="{% url 'rss_articles' %}"/>
        <link  type="application/atom+xml" rel="alternate" title="News Feed for Journal" href="{% url 'rss_news' %}">
    {% endif %}

    {% if request.journal and journal.favicon %}
        <link rel="icon" href="{{ journal.favicon.url }}" type="image/vnd.microsoft.icon" />
    {% elif request.press.favicon %}
        <link rel="icon" href="{{ request.press.favicon.url }}" type="image/vnd.microsoft.icon" />
    {% endif %}

</head>
<body>
<div class="wrapper">
    <header class="main-header" role="banner">
        <div class="main top-bar">
            <div class="top-bar-left header-image-bar border-right">
                {% if request.journal %}
                    {% if request.journal.header_image %}
                    <a title="{% trans 'Home' %}" href="{{ request.journal.site_url }}">
                        {% svg_or_image request.journal.header_image css_class='header-image top-bar-image' %}
                    </a>
                    {% else %}
                        <a href="{{ request.journal.site_url }}"><img src="{% static "common/img/sample/janeway.png" %}"></a>
                    {% endif %}
                {% else %}
                    {% if 'svg' in request.press_cover %}
                        <a href="/">{% svg request.press_cover %}</a>
                    {% else %}
                        <a href="/"><img class="top-bar-image" src="{% url 'press_cover_download' %}" alt="{{ request.press.name }}"></a>
                    {% endif %}
                {% endif %}
            {% if request.journal  and journal_settings.styling.display_journal_title %}
            <div class="hide-for-medium-only{% if journal_settings.general.switch_language %} border-right{% endif %}" id="journal-title">
                <h1 class="menu-text">{{ request.journal.name }}</h1>
            </div>
            {% endif %}

                <div class="title-bar toggle">
                    <div data-responsive-toggle="main-menu" data-hide-for="medium">
                        <a href="#" data-responsive-toggle="main-menu" data-hide-for="medium" data-toggle>
                            <span class="menu-icon"></span>
                        </a>
                    </div>
                    <div data-responsive-toggle="search-menu" data-hide-for="medium">
                        <a href="#" class="search-toggle" data-toggle>
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>

            {% if journal_settings.general.switch_language %}
                <div class="top-bar-left">
                <ul class="menu language-menu">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}

                    {% for language in languages %}
                        {% if language.code in request.available_languages %}
                        <li>
                            <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                <input name="next" type="hidden" value="{{ request.PATH }}"/>
                                {% if journal_settings.general.enable_language_text %}
                                    <button name="language" value="{{ language.code }}" class="tiny success button{% if language.code == LANGUAGE_CODE %} flag-active{% endif %}">{{ language.name_local }}</button>&nbsp;
                                {% else %}
                                <button class="flag-button{% if language.code == LANGUAGE_CODE %} flag-active{% endif %}" name="language" value="{{ language.code }}"
                                        style="background: url(/static/common/img/flags/{{ language.code }}.png) no-repeat; background-size: contain;">
                                    &nbsp;
                                </button>
                                {% endif %}
                            </form>
                        </li>
                        {% endif %}
                    {% endfor %}

                </ul>
                </div>
            {% endif %}
            <div class="top-bar-right border-left hide-for-small-only">
                <ul class="dropdown menu" data-dropdown-menu>
                    {% if request.user.is_authenticated %}
                        <li class=".is-dropdown-submenu-parent">
                            <a href="#" data-options="is_hover:true; hover_timeout:5000">{{ request.user.full_name }}</a>
                            {% if request.journal %}
                                {% include "elements/right_hand_menu.html" %}
                            {% else %}
                                {% include "press/elements/right_hand_menu.html" %}
                            {% endif %}
                        </li>
                    {% else %}
                        <li><p><a href="{% url 'core_login' %}">{% trans "Login" %} </a>|<a href="{% url 'core_register' %}"> {% trans "Register" %}</a></p></li>
                    {% endif %}
                </ul>
            </div>
            {% if request.journal %}
            <div class="top-bar-right hide-for-medium-only" id="search-menu">
                <ul class="menu global-search">
                    <li>
                        <form method="POST" action="{% url 'search' %}">
                            {% csrf_token %}
                            <div class="input-group">
                                <span class="input-group-label"><i class="fa fa-search"></i></span>
                                <input class="input-group-field" type="search" name="article_search" placeholder="{% trans 'Search' %}">
                                <input type="hidden" name="sort" value="title">

                            </div><input type="submit" style="visibility: hidden;" />
                        </form>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
        {% block navbar %}
            {% if request.journal %}
                {% include "core/nav.html" %}
            {% elif request.repository %}
                {% include "repository/nav.html" %}
            {% else %}
                {% include "press/nav.html" %}
            {% endif %}
        {% endblock navbar %}
    </header>

    <main>
        {% block body %}{% endblock body %}
    </main>
</div>


<footer class="main-footer">
    <div class="row expanded" data-equalizer data-equalize-on="medium">
        <div class="large-2 columns very-dark-primary-color text-center" data-equalizer-watch>
            {% if request.journal.press_image_override %}
                {% svg_or_image request.journal.press_image_override %}
            {% elif 'svg' in request.press_cover %}
                <a href="{% press_url request %}">{% svg request.press_cover %}</a>
            {% else %}
                <a href="https://janeway.systems">{% svg "static/common/img/sample/janeway.svg" %}</a>
            {% endif %}
        </div>
        {% if request.journal %}
        {% include "elements/journal_footer.html" %}
        {% else %}
        {% include "press/elements/press_footer.html" %}
        {% endif %}
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.5.1/js/foundation.min.js"></script>
<script src="{% static "OLH/js/app.min.js" %}"></script>
<script src="{% static "admin/js/csrf.js" %}"></script>
<script src="{% static "common/js/timezone-setter.js" %}"></script>
{% if  not request.timezone %}<script>setTimezone();</script>{% endif %}
<script>
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "20000",
        "hideDuration": "3000",
        "timeOut": "8000",
        "extendedTimeOut": "60000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
    {% for message in messages %}
        {% ifequal message.tags "warning" %}
            toastr.warning("{{ message|linebreaksbr }}");
        {% endifequal%}
        {% ifequal message.tags "info" %}
            toastr.info("{{ message|linebreaksbr }}");
        {% endifequal%}
        {% ifequal message.tags "danger" %}
            toastr.error("{{ message|linebreaksbr }}");
        {% endifequal%}
        {% ifequal message.tags "success" %}
            toastr.success("{{ message|linebreaksbr }}")
        {% endifequal%}
    {% endfor %}

</script>
{% include "common/elements/analytics.html" %}
{% block js %}{% endblock %}
</body>
</html>
