{% extends "core/base.html" %}
{% load i18n %}
{% load orcid %}
{% load fqdn %}

{% block title %}{% trans "Login" %}{% endblock title %}

{% block css %}
<style>
    .login {
        margin-top: 40px;
        margin-bottom: 40px;
    }
</style>
{% endblock css %}

{% block body %}

    <div class="row">
        <div class="medium-6 medium-centered large-4 large-centered columns login">
            <form method="POST">
                {% include "common/elements/static-error-messages.html" with form=form %}
                {% csrf_token %}
                <div class="callout">
                    <div class="row column log-in-form">
                        {% if settings.ENABLE_ORCID %}
                        <h4 class="text-center">{% trans "Log in with your account" %}</h4>
                        <a href="{{ settings.ORCID_URL }}?client_id={{ settings.ORCID_CLIENT_ID }}&response_type=code&scope=/authenticate&redirect_uri={% orcid_redirect_uri 'login' %}" class="button expanded orcid-button">{% trans "Log in with ORCiD" %}</a>
                        {% endif %}
                        {% if settings.ENABLE_OIDC %}
                        <a href="/oidc/authenticate{% if request.GET.next %}?next={{ request.GET.next }}{% elif request.journal %}?next={{ request.journal.site_url }}{% elif request.repository %}?next={{ request.repository.site_url }}{% else %}?next={{ request.press.site_url }}{% endif %}" class="success button expanded">{% trans "Login with" %} {{ settings.OIDC_SERVICE_NAME }}</a>
                        {% endif %}
                        {% if journal_settings.general.display_login_page_notice %}
                        {{ journal_settings.general.login_page_notice|safe }}
                        {% endif %}
                        <label>{% trans form.fields.user_name.label %}</label>
                            {{ form.user_name }}
                        <label>{% trans form.user_pass.label %}</label>
                            {{ form.user_pass }}
                        <br />
                        {{ form.captcha }}
                        <br />
                        <p><button type="submit" class="button expanded">{% trans "Log in" %}</button></p>
                        <p class="text-center"><a href="{% url 'core_get_reset_token' %}">{% trans "Forgotten your password?" %}</a></p>
                        <p class="text-center"><a href="{% url 'core_register' %}">{% trans "Register a new account" %}</a></p>
                    </div>
                </div>
            </form>

        </div>
    </div>

{% endblock body %}
