{% extends "core/base.html" %}
{% load i18n %}

{% block title %}{% trans "About" %} {{ request.press.name }} {% trans "Preprints" %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col m12">
            <h4 class="text-center">{% trans "About" %} {{ request.press.name }} {% trans "Preprints" %}</h4>
        </div>

        <br/><br/><br/><br/>

        <div class="row">
            <div class="col m12">
                {{ request.press.preprints_about|safe }}
            </div>
        </div>
    </div>

{% endblock %}