{% extends "core/base.html" %}
{% load i18n %}

{% block title %}{{ request.press.name }} {% trans "Preprints" %} {% endblock %}

{% block body %}

    <div class="row">
        <div class="col m6 offset-m3 s12">
            <h4 class="center">{{ reuqest.press.name }} {% trans "Preprints" %}</h4>
        </div>
        <div class="col m6 offset-m3 s12">
            <form method="POST" action="{% url 'preprints_search' %}">
                {% csrf_token %}
                <div class="input-field">
                    <i class="material-icons prefix">{% trans "search" %}</i>
                    <input id="icon_prefix" type="text" class="validate">
                    <label for="icon_prefix">{% trans "Search Preprints" %}</label>
                </div>
                <input type="submit" style="visibility: hidden;"/>
            </form>
        </div>
        <div class="col m12 s12">
            <p class="center">{% trans "Read about " %}{{ request.repository.name }} <a
                    href="{% url 'preprints_about' %}">{{ request.repository.object_name }}</a> {% trans "or view list of" %} <a
                    href="{% url 'preprints_list' %}">{% trans "all preprints" %}</a>.</p>
        </div>
    </div>
    <div class="row">

        <div class="col m12">
            <h4 class="center">{% trans "Latest Preprints" %}</h4>
                <div class="row">
                    {% include "elements/preprint_block.html" with preprints=preprints %}
                </div>
        </div>
    </div>


{% endblock %}