{% extends "core/base.html" %}
{% load markdown_deux_tags %}

{% block title %}{{ page.display_name }}{% endblock title %}

{% block page_title %}{{ page.display_name }}{% endblock %}

{% block body %}
	<div id="row">
		<div class="col s12">
            <div class="card">
                <div id="cms-title" class="card-content">
                  <h1 class="no-bottom-margin">{{ page.display_name }}</h1>
                  <div class="divider spacer"></div>
                    <div id="cms" class="default-li">{{ page.content|safe }}</<div>
                </div>
            </div>
		</div>
	</div>
{% endblock body %}
