$very-light-gray: #fafafa !default;

$topbar-height: 90px !default;
$topbar-background-color: #FFFFFF !default;
$menu-background-color: #FFFFFF !default;
$menu-alternative-background-color: #FFFFFF !default;
$menu-foreground-color: #000000 !default;
$admin-background-color: #1373b3 !default;

$link-color: #1373b3 !default;
$toc-link-color: #1373b3 !default;

$figure-caption-background-color: #1373b3 !default;
$figure-caption-color: #FFFFFF !default;

$primary-dark-color: #062657 !default;
$primary-light-color: #1373b3 !default;
$very-dark-primary-color: #06152D !default;
$footer-height: 96px;
