{% load static from staticfiles %}
{% load press_url from press_url %}
{% load svg from press_url %}
{% load i18n %}
{% load roles %}
{% load hooks %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% if request.journal %}{{ request.journal.name }}{% elif request.repository %}{{ request.repository.name }}{% else %}{{ request.press.name }}{% endif %}{% endblock title %}</title>
    {% block head %}{% endblock head %}
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{% url 'website_sitemap' %}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {% if request.journal %}
    <link href="{% journal_url 'rss_articles' %}" type="application/atom+xml" rel="alternate"
          title="Article Feed for Journal">
    <link href="{% journal_url 'rss_news' %}" type="application/atom+xml" rel="alternate"
          title="News Feed for Journal">
    {% endif %}
    {% if request.journal.favicon %}
        <link rel="icon" href="{{ journal.favicon.url }}" type="image/vnd.microsoft.icon"/>
    {% elif request.repository.favicon %}
        <link rel="icon" href="{{ request.repository.favicon.url }}" type="image/vnd.microsoft.icon"/>
    {% endif %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="{% static "material/mat.css" %}">

    {% if request.journal %}
        <link href="{% static "material/css/journal" %}{{ request.journal.id }}_override.css" rel="stylesheet">
    {% elif request.repository %}
        <link href="{% static "common/css/repo.css" %}" rel="stylesheet">
    {% else %}
        <link href="{% static "material/css/press_override.css" %}" rel="stylesheet">
    {% endif %}
    <link href="{% static "common/css/common.css" %}" rel="stylesheet">
    {% block css %}{% endblock %}
    {% hook 'base_head_css' %}
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="{% url 'rss_articles' %}"/>
</head>
<body>

{% block navbar %}
    {% if request.journal %}
        {% include "core/nav.html" %}
    {% elif request.repository %}
        {% include "repository/nav.html" %}
    {% else %}
        {% include "press/nav.html" %}
    {% endif %}
{% endblock navbar %}

<div class="container">
    <div class="section">
        {% block body %}{% endblock %}
    </div>
</div>
<footer class="page-footer">
    <div class="footer-copyright">
        <div class="container">
            {% if request.journal %}
                {% include "elements/journal_footer.html" %}
            {% elif request.repository %}
                {{ request.repository.footer|safe }}
            {% else %}
                {% include "press/elements/press_footer.html" %}
            {% endif %}
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="{% static 'material/material.js' %}"></script>
<script src="{% static "admin/js/csrf.js" %}"></script>
<script src="{% static "common/js/timezone-setter.js" %}"></script>
{% if  not request.timezone %}<script>setTimezone();</script>{% endif %}
<script>
    {% if messages %}
        {% for message in messages %}
            Materialize.toast('{{ message|linebreaksbr }}', 4000);
        {% endfor %}
    {% endif %}
</script>

{% if journal_settings.general.google_analytics_code %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ journal_settings.general.google_analytics_code }}', 'auto');
  ga('send', 'pageview');

</script>
{% endif %}

{% block js %}{% endblock %}

{% if request.repository and request.repository.custom_js_code %}
<script>
  {{ request.repository.custom_js_code|safe }}
</script>
{% endif %}

</body>
</html>
