{% extends "core/base.html" %}
{% load i18n %}
{% load recaptcha2 %}
{% load orcid %}

{% block title %}{% trans "Login" %}{% endblock title %}

{% block head %}
    {% recaptcha_init %}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col m6 offset-m3">
            <div class="card">
                <form method="POST">
                {% include "common/elements/static-error-messages.html" with form=form %}
                    {% csrf_token %}
                    <div class="card-content">
                        <span class="card-title">{% trans "Login" %}</span>
                        {% if request.repository and request.repository.login_text %}
                            {{ request.repository.login_text|safe }}
                        {% elif journal_settings.general.display_login_page_notice %}
                            {{ journal_settings.general.login_page_notice|safe }}
                        {% endif %}
                        <div class="input-field col s12">
                            {{ form.user_name }}
                            <label for="email">{% trans form.user_name.label %}</label>
                        </div>
                        <div class="input-field col s12">
                            {{ form.user_pass }}
                            <label for="password">{% trans form.user_pass.label %}</label>
                        </div>
                        <div class="input-field col s12">
                            {{ form.captcha }}
                        </div>
                        <button class="waves-effect waves-light btn wide-button">{% trans "Login" %}</button>
                        <a class="waves-effect waves-light btn wide-button" href="{% url 'core_register' %}">{% trans "Register an Account" %}</a>
                        <a class="waves-effect waves-light btn wide-button" href="{% url 'core_get_reset_token' %}">{% trans "Reset Your Password" %}</a>
                        {% if settings.ENABLE_ORCID %}
                        <a href="{{ settings.ORCID_URL }}?client_id={{ settings.ORCID_CLIENT_ID }}&response_type=code&scope=/authenticate&redirect_uri={% orcid_redirect_uri %}"
                           class="waves-effect waves-light btn wide-button  blue lighten-2">{% trans "Log in with ORCiD" %}</a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
