{% load static from staticfiles %}
{% load svg from press_url %}
{% load roles %}
{% load i18n %}
{% load hooks %}

<nav class=" red lighten-2" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">
            {% if request.journal %}
                {{ request.journal.name }}
            {% else %}
                {{ request.press.name }}
            {% endif %}
        </a>
        <ul class="right hide-on-med-and-down">
            {% if request.journal.nav_home %}
                <li><a href="/">Home</a></li>
            {% endif %}
            {% if request.journal.nav_news %}
                <li><a href="{% url 'core_news_list' %}">News</a></li>
            {% endif %}
            {% if request.journal.nav_articles %}
                <li><a href="{% url 'journal_articles' %}">Articles</a></li>
            {% endif %}
            {% if request.journal.nav_issues %}
                <li><a href="{% url 'journal_issues' %}">Issues</a></li>
            {% endif %}
            {% if request.journal.nav_sub %}
                <li><a href="{% url 'journal_submissions' %}">Submission</a></li>
            {% endif %}
            {% if request.journal.nav_contact %}
                <li><a href="{% url 'contact' %}">Contact</a></li>
            {% endif %}



            {% if request.journal.nav_review %}
                <li><a href="{% url 'become_reviewer' %}"><i class="fa fa-trophy">&nbsp;</i>Become a Reviewer</a></li>
            {% endif %}
            {% hook 'nav_block' %}
            {% if request.user.is_authenticated %}
                <li><a class="dropdown-button" href="#!" data-activates="account">Account<i
                        class="material-icons right">arrow_drop_down</i></a></li>
            {% else %}
                <li><a href="{% url 'core_login' %}" class="nav-link">Login</a></li>
                <li><a href="{% url 'core_register' %}">Register</a></li>
            {% endif %}
        </ul>

        <ul class="side-nav" id="nav-mobile">
             {% if request.journal.nav_home %}
                <li><a href="/">Home</a></li>
            {% endif %}
            {% if request.journal.nav_news %}
                <li><a href="{% url 'core_news_list' %}">News</a></li>
            {% endif %}
            {% if request.journal.nav_articles %}
                <li><a href="{% url 'journal_articles' %}">Articles</a></li>
            {% endif %}
            {% if request.journal.nav_issues %}
                <li><a href="{% url 'journal_issues' %}">Issues</a></li>
            {% endif %}
            {% if request.journal.nav_sub %}
                <li><a href="{% url 'journal_submissions' %}">Submission</a></li>
            {% endif %}
            {% if request.journal.nav_contact %}
                <li><a href="{% url 'contact' %}">Contact</a></li>
            {% endif %}
            {% if request.user.is_authenticated %}
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Account<i
                        class="material-icons right">arrow_drop_down</i></a></li>
            {% else %}
                <li><a href="{% url 'core_login' %}" class="nav-link">Login</a></li>
                <li><a href="{% url 'core_register' %}">Register</a></li>
            {% endif %}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

{% if request.user.is_authenticated %}
    <ul id="dropdown1" class="dropdown-content">
        <li><a class="dropdown-item" href="{% url 'core_dashboard' %}">Dashboard</a></li>
        <li><a class="dropdown-item" href="{% url 'kanban' %}">Kanban</a></li>
        {% if not journal_settings.general.disable_journal_submission %}
            <li><a class="dropdown-item" href="{% url 'submission_start' %}">Submit</a></li>{% endif %}
        {% user_has_role request 'editor' as user_is_editor %}
        {% if user_is_editor or request.user.is_staff %}
            <li><a class="dropdown-item" href="{% url 'core_manager_index' %}">Manager</a></li>
            {% if request.resolver_match.url_name and request.resolver_match.url_name == 'article_view' and article %}
                <li><a class="dropdown-item" href="{% url 'manage_archive_article' article.pk %}">Edit
                    Article</a></li>
            {% endif %}
        {% endif %}
        {% if request.user.is_staff %}
            <li><a class="dropdown-item" href="/admin/">Admin</a></li>
        {% endif %}
        <li><a class="dropdown-item" href="{% url 'core_edit_profile' %}">Profile</a></li>
        <li><a class="dropdown-item" href="{% url 'core_logout' %}">Logout</a></li>
    </ul>

    <ul id="account" class="dropdown-content">
        <li><a class="dropdown-item" href="{% url 'core_dashboard' %}">Dashboard</a></li>
        <li><a class="dropdown-item" href="{% url 'kanban' %}">Kanban</a></li>
        {% if not journal_settings.general.disable_journal_submission %}
            <li><a class="dropdown-item" href="{% url 'submission_start' %}">Submit</a></li>{% endif %}
        {% user_has_role request 'editor' as user_is_editor %}
        {% if user_is_editor or request.user.is_staff %}
            <li><a class="dropdown-item" href="{% url 'core_manager_index' %}">Manager</a></li>
            {% if request.resolver_match.url_name and request.resolver_match.url_name == 'article_view' and article %}
                <li><a class="dropdown-item" href="{% url 'manage_archive_article' article.pk %}">Edit
                    Article</a></li>
            {% endif %}
        {% endif %}
        {% if request.user.is_staff %}
            <li><a class="dropdown-item" href="/admin/">Admin</a></li>
        {% endif %}
        <li><a class="dropdown-item" href="{% url 'core_edit_profile' %}">Profile</a></li>
        <li><a class="dropdown-item" href="{% url 'core_logout' %}">Logout</a></li>
    </ul>
{% endif %}