{% load static from staticfiles %}
{% load svg from press_url %}
{% load svg_or_image from press_url %}
{% load roles %}
{% load i18n %}
{% load hooks %}


<nav class="header-overrides" role="navigation">
    <div class="nav-wrapper{% if not request.journal.full_width_navbar %} container{% endif %}">
        <a id="logo-container" href="{% url 'website_index' %}" class="brand-logo">
            {% if request.journal %}
                {% if request.journal.header_image %}
                    {% svg_or_image request.journal.header_image css_class="header-override-image" %}
                {% else %}
                    <img src="{% static "common/img/sample/janeway.png" %}">
                {% endif %}
            {% else %}
            <a href="{% url 'website_index' %}">{% svg request.press_cover %}</a>
            {% endif %}
        </a>
        <ul class="right hide-on-med-and-down">
            {% if request.journal.nav_home %}
            <li><a href="{% url 'website_index' %}">{% trans "Home" %}</a></li>
            {% endif %}
            {% if request.journal.nav_news %}
                <li><a href="{% url 'core_news_list' %}">{{ journal_settings.news.news_title }}</a></li>
            {% endif %}
            {% if request.journal.nav_articles %}
                <li><a href="{% url 'journal_articles' %}">{% trans "Articles" %}</a></li>
            {% endif %}
            {% if request.journal.nav_issues %}
                <li><a href="{% url 'journal_issues' %}">{% trans "Issues" %}</a></li>
            {% endif %}
            {% if journal_settings.general.enable_editorial_display %}
                <li><a href="{% url 'editorial_team' %}">{% trans "Editorial Team" %}</a></li>
            {% endif %}
            {% if request.journal.nav_sub %}
                <li><a href="{% url 'journal_submissions' %}">{% trans "Submission" %}</a></li>
            {% endif %}
            {% if request.journal.nav_contact %}
                <li><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
            {% endif %}

            {% for item in navigation_items %}
                {% if item.has_sub_nav %}
                    <li><a class="dropdown-button" href="#!"
                           data-activates="{{ item.link_name|slugify }}">{{ item.link_name }}<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                {% else %}
                <li><a href="{{ item.url }}" class="nav-link">{{ item.link_name }}</a></li>
                {% endif %}
            {% endfor %}

            {% if request.journal.nav_review %}
                <li><a href="{% url 'become_reviewer' %}"><i class="fa fa-trophy">&nbsp;</i>{% trans "Become a Reviewer" %}</a></li>
            {% endif %}
            {% hook 'nav_block' %}
            {% if request.user.is_authenticated %}
                <li><a class="dropdown-button" href="#!" data-activates="account">{% trans "Account" %}<i
                        class="material-icons right">arrow_drop_down</i></a></li>
            {% else %}
                <li><a href="{% url 'core_login' %}" class="nav-link">{% trans "Login" %}</a></li>
                <li><a href="{% url 'core_register' %}">{% trans "Register" %}</a></li>
            {% endif %}
        </ul>

        <ul class="side-nav" id="nav-mobile">
            {% if request.journal.nav_home %}
            <li><a href="{% url 'website_index' %}">{% trans "Home" %}</a></li>
            {% endif %}
            {% if request.journal.nav_news %}
                <li><a href="{% url 'core_news_list' %}">{% trans "News" %}</a></li>
            {% endif %}
            {% if request.journal.nav_articles %}
                <li><a href="{% url 'journal_articles' %}">{% trans "Articles" %}</a></li>
            {% endif %}
            {% if request.journal.nav_issues %}
                <li><a href="{% url 'journal_issues' %}">{% trans "Issues" %}</a></li>
            {% endif %}
            {% if journal_settings.general.enable_editorial_display == 'on' %}
                <li><a href="{% url 'editorial_team' %}">{% trans "Editorial Team" %}</a></li>
            {% endif %}
            {% if request.journal.nav_sub %}
                <li><a href="{% url 'journal_submissions' %}">{% trans "Submission" %}</a></li>
            {% endif %}
            {% if request.journal.nav_contact %}
                <li><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
            {% endif %}

            {% for item in navigation_items %}
                {% if item.has_sub_nav %}
                    <li><a class="dropdown-button" href="#!"
                           data-activates="{{ item.link_name|slugify }}-mobile">{{ item.link_name }}<i
                            class="material-icons right">arrow_drop_down</i></a></li>
                {% else %}
                    <li><a href="{{ item.url }}" class="nav-link">{{ item.link_name }}</a></li>
                {% endif %}
            {% endfor %}

            {% if request.user.is_authenticated %}
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1">{% trans "Account" %}<i
                        class="material-icons right">arrow_drop_down</i></a></li>
            {% else %}
                <li><a href="{% url 'core_login' %}" class="nav-link">{% trans "Login" %}</a></li>
                <li><a href="{% url 'core_register' %}">{% trans "Register" %}</a></li>
            {% endif %}
        </ul>
        <a href="#!" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">{% trans "menu" %}</i></a>
    </div>
</nav>

{% if request.user.is_authenticated %}
    {% user_has_role request 'editor' as user_is_editor %}
    <ul id="dropdown1" class="dropdown-content">
        <li><a class="dropdown-item" href="{% url 'core_dashboard' %}">{% trans "Dashboard" %}</a></li>
        {% if not journal_settings.general.disable_journal_submission %}
            <li><a class="dropdown-item" href="{% url 'submission_start' %}">{% trans "Submit" %}</a></li>{% endif %}
        {% if user_is_editor or request.user.is_staff %}
            <li><a class="dropdown-item" href="{% url 'kanban' %}">{% trans "Kanban" %}</a></li>
            <li><a class="dropdown-item" href="{% url 'core_manager_index' %}">{% trans "Manager" %}</a></li>
            {% if request.resolver_match.url_name and request.resolver_match.url_name == 'article_view' and article %}
                <li><a class="dropdown-item" href="{% url 'manage_archive_article' article.pk %}">{% trans "Edit Article" %}</a></li>
            {% endif %}
            {% if request.resolver_match.url_name and request.resolver_match.url_name == 'journal_issue' and issue %}
                <li><a class="dropdown-item" href="{% url 'manage_issues_id' issue.pk %}">{% trans "Edit Issue" %}</a></li>
            {% endif %}
        {% endif %}
        {% if request.user.is_staff %}
            <li><a class="dropdown-item" href="/admin/">{% trans "Admin" %}</a></li>
        {% endif %}
        <li><a class="dropdown-item" href="{% url 'core_edit_profile' %}">{% trans "Profile" %}</a></li>
        <li><a class="dropdown-item" href="{% url 'core_logout' %}">{% trans "Logout" %}</a></li>
    </ul>

    <ul id="account" class="dropdown-content">
        <li><a class="dropdown-item" href="{% url 'core_dashboard' %}">{% trans "Dashboard" %}</a></li>
        <li><a class="dropdown-item" href="{% url 'kanban' %}">{% trans "Kanban" %}</a></li>
        {% if not journal_settings.general.disable_journal_submission %}
            <li><a class="dropdown-item" href="{% url 'submission_start' %}">{% trans "Submit" %}</a></li>{% endif %}
        {% user_has_role request 'editor' as user_is_editor %}
        {% if user_is_editor or request.user.is_staff %}
            <li><a class="dropdown-item" href="{% url 'core_manager_index' %}">{% trans "Manager" %}</a></li>
            {% if request.resolver_match.url_name and request.resolver_match.url_name == 'journal_submissions' %}
                <li><a href="{% url 'core_edit_settings_group' 'submission' %}">{% trans "Edit Submissions Page" %}</a></li>
                <li><a href="{% url 'core_edit_settings_group' 'journal' %}">{% trans "Edit Journal Info" %}</a></li>
            {% endif %}
            {% if request.resolver_match.url_name and request.resolver_match.url_name == 'cms_page' and page %}
                <li><a href="{% url 'cms_page_edit' page.pk %}">{% trans "Edit Page" %}</a></li>
            {% endif %}
            {% if request.resolver_match.url_name and request.resolver_match.url_name == 'editorial_team' %}
                <li><a href="{% url 'core_editorial_team' %}">{% trans "Manage Editorial Team" %}</a></li>
            {% endif %}
            {% if request.resolver_match.url_name and request.resolver_match.url_name == 'article_view' and article %}
                <li><a class="dropdown-item" href="{% url 'manage_archive_article' article.pk %}">{% trans "Edit Article" %}</a></li>
            {% endif %}
            {% if request.resolver_match.url_name and request.resolver_match.url_name == 'journal_issue' and issue %}
                <li><a class="dropdown-item" href="{% url 'manage_issues_id' issue.pk %}">{% trans "Edit Issue" %}</a></li>
            {% endif %}
            {% if request.resolver_match.url_name and request.resolver_match.url_name == 'core_news_item' and news_item %}
                <li><a class="dropdown-item" href="{% url 'core_manager_edit_news' news_item.pk %}">{% trans "Edit News Item" %}</a></li>
            {% endif %}
        {% endif %}
        {% if request.user.is_staff %}
            <li><a class="dropdown-item" href="/admin/">{% trans "Admin" %}</a></li>
        {% endif %}
        <li><a class="dropdown-item" href="{% url 'core_edit_profile' %}">{% trans "Profile" %}</a></li>
        <li><a class="dropdown-item" href="{% url 'core_logout' %}">{% trans "Logout" %}</a></li>
    </ul>
{% endif %}


{% for item in navigation_items %}
    {% if item.has_sub_nav %}
        <ul id="{{ item.link_name|slugify }}" class="dropdown-content">
            {% if item.link %}<li><a href="{{ item.url }}" class="dropdown-item">{{ item.link_name }}</a></li>{% endif %}
            {% for subnav in item.sub_nav_items %}
                <li><a href="{{ subnav.url }}" class="dropdown-item">{{ subnav.link_name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}

{% for item in navigation_items %}
    {% if item.has_sub_nav %}
        <ul id="{{ item.link_name|slugify }}-mobile" class="dropdown-content">
            {% if item.link %}<li><a href="{{ item.url }}" class="dropdown-item">{{ item.link_name }}</a></li>{% endif %}
            {% for subnav in item.sub_nav_items %}
                <li><a href="{{ subnav.url }}" class="dropdown-item">{{ subnav.link_name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endfor %}
