<div class="row">
    <div class="col-md-6">
        <br/>
        <h2 class="index-header">{% trans 'Featured Journals' %}</h2>
        <div class="row">
            {% for current_journal in featured_journals %}
                <div class="col-md-4 row-eq-height">
                    <div class="card" style="width: 20rem;">
                        <img class="card-img-top img-fluid" src="


                                {% if current_journal.default_cover_image %}{{ current_journal.default_cover_image.url }}{% endif %}">
                        <div class="card-block">
                            {% if current_journal.is_remote %}
                                <a href="{{ current_journal.remote_view_url }}">
                            {% else %}
                                <a href="{{ current_journal.site_url }}">
                            {% endif %}
                            <h7 class="card-title">{{ current_journal.name }}</h7>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-6">
        {{ html_block_content|safe }}
    </div>
</div>