{% extends "core/base.html" %}
{% load static %}
{% load i18n %}
{% load pages %}


{% block title %}{% trans "Articles" %}{% endblock %}

{% block css %}
{% endblock %}

{% block body %}

    <section id="content">
        <div class="row">
            <div class="large-8 columns border-right">
                {% if pinned_articles and articles.number == 1 and not active_filters %}
                <h1>{% trans 'Pinned Articles' %}</h1>
                    {% for article in pinned_articles %}
                        {% include "elements/journal/box_article.html" with article=article %}
                    {% endfor %}
                {% endif %}
                <h1>{% trans "Articles" %}</h1>
                {% for article in articles %}
                    {% include "elements/journal/box_article.html" with article=article %}
                {% empty %}
                    <h3>{% trans 'There are no articles published in this journal yet' %}.</h3>
                {% endfor %}

                <div class="pagination-block">
                    <ul class="pagination">
                        {% if articles.has_previous %}
                            <li class="arrow"><a href="?page={{ articles.previous_page_number }}">&laquo;</a>
                            </li>{% endif %}
                        {{ articles.page.page_range }}
                        {% for page in articles|slice_pages:3 %}
                            <li class="{% if articles.number == page.number %}current{% endif %}"><a
                                    href="?page={{ page.number }}">{{ page.number }}</a></li>
                        {% endfor %}
                        {% if articles.has_next %}
                            <li class="arrow"><a href="?page={{ articles.next_page_number }}">&raquo;</a>
                            </li>{% endif %}
                    </ul>
                </div>
            </div>
            <aside class="large-4 columns" data-sticky-container>
                <div class="sticky" data-sticky data-margin-top="0" data-sticky data-anchor="content">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="section">
                            <label>{% trans "Show" %}
                                <select name="show">
                                    <option value="10"{% if show == 10 %} selected="selected"{% endif %}>10</option>
                                    <option value="20"{% if show == 20 %} selected="selected"{% endif %}>20</option>
                                    <option value="50"{% if show == 50 %} selected="selected"{% endif %}>50</option>
                                    <option value="100"{% if show == 100 %} selected="selected"{% endif %}>100</option>
                                </select>
                            </label>
                        </div>
                        <div class="section">
                            <label>{% trans "Sort" %}
                                <select name="sort">
                                    <option value="-date_published"{% if sort == "date_published" %}
                                            selected="selected"{% endif %}>{% trans "Date" %}</option>
                                    <option value="title"{% if sort == "title" %}
                                            selected="selected"{% endif %}>{% trans "Title" %}</option>
                                </select>
                            </label>
                        </div>
                        <div class="section">
                            <label>{% trans "Filter" %}</label>
                            {% for section in sections %}
                                <label for="section-{{ section.id }}"><input id="section-{{ section.id }}"
                                                                             value="{{ section.id }}" type="checkbox"
                                                                             name="filter[]"
                                                                             {% if section.id in filters %}checked="checked"{% endif %}>{{ section.name }}
                                </label>
                            {% endfor %}
                            <button type="submit" class="button">{% trans "Filter" %}</button>
                            {% if active_filters %}<button type="submit" class="button" name="clear">{% trans "Clear Filters" %}</button>{% endif %}
                        </div>
                    </form>
                </div>
            </aside>
        </div>

    </section>

{% endblock body %}

{% block js %}
{{ block.super }}
<script>
    //.sticky not behaving correctly
    //https://github.com/zurb/foundation-sites/issues/9892
    Foundation.MediaQuery._init()
    if (Foundation.MediaQuery.current == 'medium') {
      $('.sticky').removeAttr('data-sticky');
    }
    $(document).foundation();
</script>
{% endblock js %}
