{% extends "core/base.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}Authors{% endblock title %}
{% block page_title %}Authors{% endblock page_title %}

{% block body %}
<!-- author content via cards -->
    <section id="content">
    <h3>Authors</h3>
    <div class="row" data-equalizer data-equalize-on="medium">
       <div class="large-10 columns border-right">
        {% for author in author_list %}

            <div class="medium-3 columns {% if forloop.last %}end{% endif %}">
                <div class="{% if journal_settings.general.enable_editorial_images %}editorial-team{% endif %} callout" data-equalizer-watch>
                   
                    {% if journal_settings.general.enable_editorial_images %}

                        <img class="thumbnail editorial-image" src="{% if author.profile_image %}{{ author.profile_image.url }}{% else %}{% static "common/img/icons/users.png" %}{% endif %}"
                             alt="Photo of Uranus.">

                    {% endif %}
                   
                    <strong>{{ author.full_name }}</strong><br/>
                    <i>
                        <small>{{ author.affiliation }}</small>
                    </i>
                    <br/>
                    
                    {% if author.enable_public_profile %}

                        <p>
                            <small><a href="{% url 'core_public_profile' author.uuid %}">View
                                Profile</a></small>
                        </p>
                        
                    {% endif %}

                    {% include "elements/journal/editorial_social_content.html" with user=author %}
                   
                </div>
            </div>
            
        {% endfor %}
        </div>
    </div>

<!-- pagination -->
    <div class="pagination-block">
        <ul class="pagination">
            {% if author_list.has_previous %}
                <li class="arrow"><a href="?page={{ author_list.previous_page_number }}">&laquo;</a>
                </li>{% endif %}
            {{ author_list.page.page_range }}
            {% for page in author_list.paginator.page_range %}
                <li class="{% if author_list.number == page %}current{% endif %}"><a
                        href="?page={{ page }}">{{ page }}</a></li>
            {% endfor %}
            {% if author_list.has_next %}
                <li class="arrow"><a href="?page={{ author_list.next_page_number }}">&raquo;</a>
                </li>{% endif %}
        </ul>
    </div>

<!-- filter -->
    <aside class="large-3 columns" data-sticky-container>
                <div class="sticky" data-sticky data-margin-top="0" data-sticky data-anchor="content">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="section">
                            <label>{% trans "Show" %}
                                <select name="show">
                                    <option value="10"{% if show == 10 %} selected="selected"{% endif %}>10</option>
                                    <option value="20"{% if show == 20 %} selected="selected"{% endif %}>20</option>
                                    <option value="50"{% if show == 50 %} selected="selected"{% endif %}>50</option>
                                    <option value="100"{% if show == 100 %} selected="selected"{% endif %}>100</option>
                                </select>
                            </label>
                        </div>
                        <div class="section">
                            <label>{% trans "Filter" %}</label>
                            {% for section in sections %}
                                <label for="section-{{ section.id }}"><input id="section-{{ section.id }}"
                                                                             value="{{ section.id }}" type="checkbox"
                                                                             name="filter[]"
                                                                             {% if section.id in filters %}checked="checked"{% endif %}>{{ section.name }}
                                </label>
                            {% endfor %}
                            <button type="submit" class="button">{% trans "Filter" %}</button>
                            {% if active_filters %}<button type="submit" class="button" name="clear">{% trans "Clear Filters" %}</button>{% endif %}
                        </div>
                    </form>
                </div>
            </aside>
        </section>
{% endblock body %}
