{% extends "core/base.html" %}
{% load static %}

{% block title %}{% trans "Authors" %}{% endblock title %}
{% block page_title %}{% trans "Authors" %}{% endblock page_title %}

{% block body %}
    <section id="content">
        <div class="row">
            <div class="large-12 columns">
                <h1>{% trans 'Authors' %}</h1>
            </div>
        </div>
    
        <div class="row" data-equalizer data-equalize-on="medium">

            {% for author in author_list %}

                <div class="medium-3 columns {% if forloop.last %}end{% endif %}">
                    <div class="{% if journal_settings.styling.enable_editorial_images %}editorial-team{% endif %} callout"
                         data-equalizer-watch>

                        {% if journal_settings.styling.enable_editorial_images %}

                            <img class="thumbnail editorial-image" src="
                                    {% if author.profile_image %}{{ author.profile_image.url }}{% else %}{% static "common/img/icons/users.png" %}{% endif %}"
                                 alt="{% if author.profile_image %}Headshot photograph of {{ author.full_name }}{% else %}A generic headshot photograph of a person {% endif %}">

                        {% endif %}

                        <strong>{{ author.full_name }}</strong><br/>
                        <i>
                            <small>{{ author.affiliation }}</small>
                        </i>
                        <br/>

                        {% if author.enable_public_profile %}

                            <p>
                                <small><a
                                        href="{% url 'core_public_profile' author.uuid %}">View
                                    Profile</a></small>
                            </p>

                        {% endif %}

                        {% include "elements/journal/editorial_social_content.html" with user=author %}

                    </div>
                </div>

            {% endfor %}

        </div>
    </section>

{% endblock body %}
