{% extends "core/base.html" %}
{% load static %}
{% load hooks %}
{% load i18n %}

{% block page_title %}{% trans issue_type.plural_name  %}{% endblock %}
{% block title %}{% trans issue_type.plural_name  %}{% endblock %}

{% block body %}

    <section id="content">
        <div class="row">
            <div class="large-12 columns">
                <h1>{% trans issue_type.plural_name %}</h1>
            </div>
            <div class="row" data-equalizer data-equalize-on="medium">
                {% for collection in collections %}
                    <div class="large-4 columns {% if forloop.last %}end{% endif %}">
                        <div class="box collection " data-equalizer-watch>
                            <a href="{% url 'journal_collection' collection.pk %}" class="box-link"></a>
                            <img
                                src="{{ collection.hero_image_url }}"
                                alt="{{ collection.issue_title }}"
                                class="img-fluid"
                                onerror="if (this.src !='{% static 'common/img/sample/article-small.jpg' %}') this.src='{% static 'common/img/sample/article-small.jpg' %}'"
                            >
                            <div class="content">
                                <p>{% trans 'Collection' %}<br/>
                                    <small>{% trans "Published" %}: {{ collection.date|date:"d/m/y" }}</small>
                                </p>
                                <h2>{{ collection.issue_title }}</h2>
                                {% if collection.short_description %}
                                <p>{{ collection.short_description|safe }}</p>
                                {% else %}
                                <p>{{ collection.issue_description|safe }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}</div>
                        <div class="row">{% endif %}
                {% endfor %}
                </div>
    </section>
{% endblock %}
