{% extends "core/base.html" %}
{% load foundation %}
{% load i18n %}

{% block title %}{% trans "Contact" %}{% endblock title %}

{% block body %}
    <section id="content" class="no-padding">
        <div class="row column">
            <div class="large-4 columns contact">
                {% if request.journal %}
                    <h4>{% trans "Journal Representatives" %}</h4>
                {% else %}
                    <h4>{% trans "Press Representatives" %}</h4>
                {% endif %}
                {% for contact in contacts %}
                    <h5>{{ contact.name }}</h5>
                    <p>{{ contact.role }}</p>
                {% endfor %}
                {% if journal_settings.general.contact_info %}
                    <h4>{% trans 'Contact Information' %}</h4>
                    {{ journal_settings.general.contact_info|safe }}
                {% endif %}
            </div>
            <div class="large-8 columns">
                <h3>{% trans "Contact" %}</h3>
                <form method="POST">
                    {% include "elements/forms/errors.html" with form=contact_form %}
                    {% csrf_token %}
                    <label for="id_recipient">{% trans "Who would you like to contact?" %}</label>
                    <select id="id_recipient" name="recipient">
                        {% for contact in contacts %}
                            <option value="{{ contact.email }}">{{ contact.name }}, {{ contact.role }}</option>{% endfor %}
                    </select>
                    {{ contact_form.sender|foundation }}
                    {{ contact_form.subject|foundation }}
                    {{ contact_form.body|foundation }}
                    {{ contact_form.captcha|foundation }}
                    <button type="submit" class="success button">{% trans "Send Message" %}</button>
                </form>
            </div>

        </div>
    </section>
{% endblock body %}
