{% extends "core/base.html" %}
{% load foundation %}
{% load i18n %}
{% load static %}

{% block title %}
    {% if group_id %}
        {{ editorial_groups.0.name }}
    {% else %}
        {% trans "Editorial Team" %}
    {% endif %}
{% endblock title %}

{% block body %}
    <section id="content">
        <div class="row column">
            {% if group_id %}
                <h1>{{ editorial_groups.0.name }}</h1>
            {% else %}
                <h1>{% trans "Editorial Team" %}</h1>
            {% endif %}
            {% for group in editorial_groups %}
                {% if not group_id %}
                    <h4>{{ group.name }}</h4>
                {% endif %}
                {% if group.description %}<p>{{ group.description|safe }}</p>{% endif %}
                <div class="row" data-equalizer data-equalize-on="medium">
                    {% for member in group.members %}
                        <div class="medium-3 columns {% if forloop.last %}end{% endif %}">
                            <div class="{% if journal_settings.styling.enable_editorial_images %}editorial-team{% endif %} callout"
                                 data-equalizer-watch>
                                {% if journal_settings.styling.enable_editorial_images %}
                                    <img class="thumbnail editorial-image" src="
                                            {% if member.user.profile_image %}{{ member.user.profile_image.url }}{% else %}{% static "common/img/icons/users.png" %}{% endif %}"
                                         alt="Photo of Uranus.">
                                {% endif %}
                                <strong>{{ member.user.full_name }}</strong><br/>
                                <i>
                                    <small>{{ member.user.affiliation }}</small>
                                </i><br/>
                                {% if member.user.enable_public_profile %}
                                    <p>
                                        <small><a href="{% url 'core_public_profile' member.user.uuid %}">View
                                            Profile</a></small>
                                    </p>{% endif %}
                                {% include "elements/journal/editorial_social_content.html" with user=member.user %}
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:4 %}
                            </div>
                            <div class="row">
                        {% endif %}
                    {% endfor %}
                    </div>
                <hr/>
            {% endfor %}
        </div>
    </section>
{% endblock body %}
