{% extends "core/base.html" %}

{% load i18n %}

{% block page_title %}{% trans "Issues" %}{% endblock %}

{% block title %}{% trans "Issues" %}{% endblock %}

{% block body %}

    <section id="content">
        <div class="row">
            <div class="large-12 columns">
                <h1>{% trans issue_type.plural_name %}</h1>
            </div>
            {% if request.journal.display_issues_grouped_by_decade %}
                {% include "elements/journal/issue_list_by_decade.html" %}
            {% else %}
                {% include "elements/journal/issue_list.html" %}
            {% endif %}
        </div>
    </section>
{% endblock %}
