{% extends "core/base.html" %}
{% load static from staticfiles %}
{% load hooks %}
{% load i18n %}

{% block page_title %}{% trans "Issues" %}{% endblock %}

{% block title %}{% trans "Issues" %}{% endblock %}

{% block body %}

    <section id="content">
        <div class="row">
            <div class="large-12 columns">
                <h1>{% trans 'Issues' %}</h1>
            </div>
            {% for issue in issues %}
                <div class="medium-3 columns {% if forloop.last %}end{% endif %}">
                    <div class="box issue">
                        <a href="{% url 'journal_issue' issue.id %}" class="box-link"></a>
                        <img src="{% if issue.cover_image %}{{ issue.cover_image.url }}{% elif journal.default_cover_image %}{{ journal.default_cover_image.url }}{% else %}{% static "common/img/sample/issue_cover.png" %}{% endif %}"
                             alt="{{ issue.title }}">

                        <div class="info-bar">
                            <p>{{ issue.display_title }}<br />{{ issue.get_sorted_articles.count }} {% trans "items" %}
                            </p>
                        </div>
                    </div>
                </div>
                {% cycle '' '' '' '</div><div class="row">' %}
                {% empty %}
                <div class="large-12 columns">
                    <h3>{% trans "There are no issues published in this journal yet." %}</h3>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}