{% load static from staticfiles %}
{% load hooks %}
{% load i18n %}
<html>
<title>{{ article.authors.all.0.last_name | striptags }} | {{ article.title | striptags }}
    |{{ journal_settings.general.journal_name | striptags }} </title>

<head>

    <!-- Commented out meta fields are TODO -->

    <!-- <meta name="DC.Coverage.spatial" xml:lang="en" content="London"/> -->

    <!-- <meta name="DC.Coverage.temporal" xml:lang="en" content="long-eighteenth century"/> -->


    <meta name="DC.Date.created" scheme="ISO8601" content="{{ article.date_published }}"/>
    <meta name="DC.Date.dateSubmitted" scheme="ISO8601" content="{{ article.date_submitted }}"/>
    <meta name="DC.Date.issued" scheme="ISO8601" content="{{ article.date_published }}"/>
    <meta name="DC.Date.modified" scheme="ISO8601" content="{{ article.date_published }}"/>


    <meta name="DC.Description" xml:lang="en" content="{{ article.abstract | striptags }}"/>

    <meta name="DC.Format" scheme="IMT" content="xml"/>
    <meta name="DC.Format" scheme="IMT" content="pdf"/>


    <!-- <meta name="DC.Identifier.pageNumber" content="e4"/> -->

    {% if article.identifier.id_type == "doi" %}
        <meta name="DC.Identifier.DOI" content="{{ article.identifier.identifier }}"/>
    {% endif %}

    <meta name="DC.Identifier.URI" content="{{ article.url }}"/>

    <meta name="DC.Language" scheme="ISO639-1" content="{{ article.language }}"/>

    <meta name="DC.Rights" content="{{ article.licence.text | striptags }}"/>

    <meta name="DC.Source" content="{{ journal_settings.general.journal_name }}"/>

    <meta name="DC.Source.ISSN" content="{{ journal_settings.general.issn }}"/>


    <meta name="DC.Source.Issue" content="{{ article.issue.issue }}"/>
    <meta name="DC.Source.Volume" content="{{ article.issue.volume }}"/>

    <meta name="DC.Source.URI" content="{{ request.scheme }}://{{ request.get_host }}{% url 'website_index' %}"/>


    <meta name="DC.Title" content="{{ article.title | striptags }}"/>

    <meta name="citation_journal_title" content="{{ journal_settings.general.journal_name }}"/>

    <meta name="citation_issn" content="{{ journal_settings.general.issn }}"/>


    {% for author in article.authors.all %}
        <meta name="citation_author" content="{{ author.full_name }}"/>
        <meta name="citation_author_email" content="{{ author.email }}"/>
        <meta name="citation_author_institution" content="{{ author.institution }}"/>
    {% endfor %}

    <meta name="citation_title" content="{{ article.title | striptags }}"/>


    <meta name="citation_publication_date" content="{{ article.date_published }}"/>


    <meta name="citation_volume" content="{{ article.issue.volume }}"/>
    <meta name="citation_issue" content="{{ article.issue.issue }}"/>


    {% if article.identifier.id_type == "doi" %}
        <meta name="citation_doi" content="{{ article.identifier.identifier }}"/>
    {% endif %}
    <meta name="citation_abstract_html_url" content="{{ article.url }}"/>


    <meta name="citation_language" content="{{ article.language }}"/>

    {% if article.keywords %}
    <meta name="citation_keywords" xml:lang="en" content="{% for keyword in article.keywords.all %}{{ keyword.word }}{% if not forloop.last %}, {% endif %}{% endfor %}"/>
    {% endif %}

    {% for pdf in pdfs %}
        <meta name="citation_pdf_url" content="{% url 'article_file_download' identifier_type identifier pdf.id %}"/>
    {% endfor %}
</head>
<body>
<p class="uppercase">{{ article.section.name }}</p>
<h3>{{ article.title|safe }}</h3>
<p><strong>
    {% if article.frozen_authors.all|length > 1 %}{% trans "Authors" %}{% else %}{% trans "Author" %}{% endif %}:</strong>
    {% for author in article.frozen_authors.all %}
        <span>{% if forloop.first == False %}, {% endif %}<span itemscope
                                                                itemtype="http://schema.org/Person"
                                                                itemprop="author"
                                                                href="#"
                                                                {% if author.biography %}data-toggle="author{{ forloop.counter }}{% endif %}"><a
                itemprop="name" class="author-name">{{ author.full_name }}</a>{% if author.institution %}
            <span itemprop="worksFor" itemscope
                  itemtype="http://schema.org/CollegeOrUniversity"><span
                    itemprop="name">({{ author.institution }})</span></span>{% endif %}
            <a itemprop="email" href="mailto:{{ author.email }}"
               class="fa fa-envelope email-link"></a></span></span>
    {% endfor %}

<h2>{% trans "Abstract" %}</h2>
<p>{{ article.abstract | safe }}</p>
{% if article.keywords %}
    <p><strong>{% trans "Keywords" %}:</strong> {% for keyword in article.keywords.all %}{{ keyword.word }}{% if not forloop.last %}, {% endif %}{% endfor %}
    </p>{% endif %}
<p><strong>{% trans "How to Cite" %}:</strong>
    {% include "elements/journal/how_to_cite.html" with article=article %}
    {{ article_content|safe }}
</body>
</html>