{% load static from staticfiles %}
{% load hooks %}
{% load i18n %}
<html>
<title>{{ article.authors.all.0.last_name | striptags }} | {{ article.title | striptags }}
    |{{ journal_settings.general.journal_name | striptags }} </title>

<head>
    {% include "elements/article_meta_tags.html" %}
</head>
<body>
<p class="uppercase">{{ article.section.name }}</p>
<h3>{{ article.title|safe }}</h3>
<p><strong>
    {% if article.frozen_authors.all|length > 1 %}{% trans "Authors" %}{% else %}{% trans "Author" %}{% endif %}:</strong>
    {% for author in article.frozen_authors.all %}
        <span>{% if forloop.first == False %}, {% endif %}<span itemscope
                                                                itemtype="http://schema.org/Person"
                                                                itemprop="author"
                                                                href="#"
                                                                {% if author.biography %}data-toggle="author{{ forloop.counter }}{% endif %}"><a
                itemprop="name" class="author-name">{{ author.full_name }}</a>{% if author.institution %}
            <span itemprop="worksFor" itemscope
                  itemtype="http://schema.org/CollegeOrUniversity"><span
                    itemprop="name">({{ author.institution }})</span></span>{% endif %}
            <a itemprop="email" href="mailto:{{ author.email }}"
               class="fa fa-envelope email-link"></a></span></span>
    {% endfor %}

<h2>{% trans "Abstract" %}</h2>
<p>{{ article.abstract | safe }}</p>
{% if article.keywords %}
    <p><strong>{% trans "Keywords" %}:</strong> {% for keyword in article.keywords.all %}{{ keyword.word }}{% if not forloop.last %}, {% endif %}{% endfor %}
    </p>{% endif %}
<p><strong>{% trans "How to Cite" %}:</strong>
    {% include "elements/journal/how_to_cite.html" with article=article %}
    {{ article_content|safe }}
</body>
</html>