{% load i18n %}

<div class="row" class="homepage-element" id="homepage-element-search-bar">
    <div class="col m12">
      {% if request.journal %}
        <form method="get" action="{% journal_url 'search' %}"
      {% else %}
        <form method="get" action="/search">
      {% endif %}
        <div class="input-field col l12">
                <i class="material-icons prefix">search</i>
                <input id="article_search" type="text" class="validate" name="article_search">
                <label for="search_term">Search</label>
        </div>
            <input id="sort" name="sort" type="hidden" value="relevance">
            <input id="title" name="title" type="hidden" value="on">
            <input id="abstract" name="abstract" type="hidden" value="on">
        </form>
    </div>
</div>
