{% extends "core/base.html" %}

{% block title %}{{ page.display_name }}{% endblock title %}

{% block page_title %}{{ page.display_name }}{% endblock %}

{% block reading_options_bar %}
    {% include "common/elements/journal/reading_options_bar.html" %}
{% endblock reading_options_bar %}

{% block body %}
	<div id="row">
		<div class="col s12 text-format-region">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">{{ page.display_name }}</span>
                    <div class="divider spacer"></div>
                    {{ page.content|safe }}
                </div>
            </div>
		</div>
	</div>
{% endblock body %}
