{% extends "core/base.html" %}
{% load static %}
{% load settings i18n %}

{% block title %}{{ request.press.name }} | Journals{% endblock title %}

{% block body %}
<div class="row">
    <div class="col-md-12">
        <h1>{% trans 'Journals' %}</h1>
    </div>
    {% if coming_soon_journals.exists %}
      <div class="col-md-12">
        <h2>{% trans "Coming Soon" %}</h2>
      </div>
      {% include "press/press_journal_set.html" with journals=coming_soon_journals level="deep" %}
    {% endif %}
    {% if archived_journals.exists or coming_soon_journals.exists %}
      <div class="col-md-12">
        <h2>{% trans "Active" %}</h2>
      </div>
      {% include "press/press_journal_set.html" with journals=active_journals level="deep" %}
    {% else %}
      {% include "press/press_journal_set.html" with journals=active_journals level="shallow" %}
    {% endif %}
    {% if archived_journals.exists %}
      <div class="col-md-12">
        <h2>{% trans "Archived" %}</h2>
      </div>
      {% include "press/press_journal_set.html" with journals=archived_journals level="deep" %}
    {% endif %}
    <div class="col-lg-4 col-md-2">
        <section aria-labelledby="filter-title">
            <label><span id="filter-title">{% trans "Filter" %}</span>
                <input type="text" placeholder="{% trans "Start typing to filter." %}" id="filter" name="filter">
            </label>
        </section>
    </div>
</div>
{% endblock body %}

{% block js %}
    <script src="{% static 'common/js/journal_filter.js' %}"></script>
{% endblock %}
