{% extends "admin/core/base.html" %}
{% load static from staticfiles %}

{% block title %}Copyediting {{ article.title }}{% endblock %}
{% block title-section %}Copyediting{% endblock %}
{% block title-sub %}#{{ article.pk }} / {{ article.correspondence_author.last_name }} / {{ article.title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "elements/breadcrumbs/copyediting_base.html" %}
{% endblock breadcrumbs %}

{% block body %}
    <div class="row expanded">
        <div class="large-8 columns">
            {% for assignment in copyeditor_assignments %}
                <div class="box">
                    <div class="title-area">
                        <h2>Assignment #{{ forloop.counter }}</h2>
                        {% if assignment.copyeditor_completed %}
                            <a href="{% url 'editor_review' article.id assignment.id %}" class="button">Review
                                Copyedit</a>{% endif %}
                    </div>
                    <div class="content">
                        <table class="scroll">
                            <tr>
                                <th>Copyeditor</th>
                                <th>Requested</th>
                                <th>Due</th>
                                <th>Action Log</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>{{ assignment.copyeditor.full_name }} <a onclick="return popitup('{% url 'send_user_email_article' assignment.copyeditor.pk article.pk %}')"><i class="fa fa-envelope">&nbsp;</i></a></td>
                                <td>{{ assignment.assigned|date:"Y-m-d" }}</td>
                                <td>{{ assignment.due|date:"Y-m-d" }}</td>
                                <td>
                                    <small>
                                        {% if assignment.decision or assignment.copyedit_reopened %}
                                            {% for item in assignment.copyedit_log %}
                                                {% if item.date %}
                                                    {{ item.event }} - {{ item.date }}<br/>
                                                {% endif %}
                                            {% endfor %}
                                        {% else %}
                                            Awaiting response
                                        {% endif %}
                                    </small>
                                </td>
                                <td>
                                    <div class="button-group">
                                        {% if not assignment.decision %}
                                            <a href="{% url 'copyedit_edit_assignment' article.pk assignment.pk %}"
                                               class="button">Edit</a>

                                            <a class="dropdown button arrow-only"
                                               data-toggle="review-dropdown-{{ assignment.pk }}"><span
                                                    class="show-for-sr">Show menu</span></a>
                                        {% else %}
                                            <a href="{% url 'editor_review' article.id assignment.id %}" class="button">Review</a>
                                        {% endif %}
                                        {% if request.user.is_admin %}
                                            <a class="button" target="_blank" href="{% url 'admin:copyediting_copyeditassignment_change' assignment.pk %}"><span class="fa fa-cogs">&nbsp;&nbsp;</span>Admin</a>
                                        {% endif %}
                                    </div>
                                    <div class="dropdown-pane right"
                                         id="review-dropdown-{{ assignment.pk }}"
                                         data-dropdown data-close-on-click="true">
                                        <ul class="menu vertical actions">
                                            <form method="POST">
                                                {% csrf_token %}
                                                <li>
                                                    <button name="delete" value="{{ assignment.pk }}"
                                                            class="button warning"><i class="fa fa-trash action-icon">&nbsp;</i>Delete
                                                    </button>
                                                </li>
                                            </form>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </table>

                        {% if assignment.author_reviews %}
                            <div class="title-area">
                                <h2>Author Reviews</h2>
                            </div>
                            <div class="content">
                                <table class="scroll">
                                    <tr>
                                        <th>Requested</th>
                                        <th>Notified</th>
                                        <th>Decision</th>
                                        <th>Decision Date</th>
                                        <th></th>
                                    </tr>
                                    {% for review in assignment.author_reviews %}
                                        <tr>
                                        <td>{{ review.assigned|date:"Y-m-d" }}</td>
                                        <td>
                                            <i class="fa {% if review.notified %}fa-check-circle-o{% else %}fa-times-circle-o{% endif %}"></i>
                                            {% if not review.notified %}<a href="{% url 'request_author_copyedit' article.pk assignment.pk review.pk %}"> <i class="fa fa-send-o"> </i> Send Notification</a>{% endif %}
                                        </td>
                                        <td>{% if review.decision %} {{ review.get_decision_display }} {% else %}
                                            Awaiting
                                            response{% endif %}</td>
                                        <td>{% if review.date_decided %} {{ review.date_decided|date:"Y-m-d" }}{% else %}--{% endif %}
                                        <td>
                                            {% if review.decision %}
                                                 <a href="{% url 'editor_review' article.id assignment.id %}" class="button">Review</a>
                                            {% else %}
                                                <a href="{% url 'delete_author_review' article.id assignment.id review.pk %}" class="alert button delete">Delete Author Review</a>
                                            {% endif %}
                                        </td>
                                    {% endfor %}
                                </table>
                            </div>
                        {% endif %}
                    </div>
                </div>

                {% empty %}

                <div class="box">
                    <div class="title-area">
                        <h2>Copyediting Assignments</h2>
                    </div>
                    <div class="content">
                        <p>This article does not yet have any copyediting assignments.</p>
                    </div>
                </div>

            {% endfor %}
        </div>
        <div class="large-4 columns">
            <div class="box">
                <div class="title-area">
                    <h2>Status</h2>
                </div>
                <div class="content">
                    <div class="callout warning">
                        <small>This article is currently in the {{ article.stage }} stage.</small>
                    </div>
                </div>
                <div class="title-area">
                    <h2>Steps</h2>
                </div>
                <div class="content">{{ journal_settings.general.copyediting_steps|safe }}</div>
            </div>
            <div class="box">
                <div class="title-area">
                    <h2>Actions</h2>
                </div>
                <div class="content">
                    <ul class="menu vertical actions">
                        <li><a data-open="summarymodal"><i class="fa fa-server action-icon">&nbsp;</i>View Metadata</a>
                        </li>
                        <li><a href="{% url 'document_management' article.pk %}?return={{ request.path }}"><i class="fa fa-file-archive-o">&nbsp;</i>Document Management</a></li>
                        <li><a href="{% url 'add_copyeditor_assignment' article.pk %}"><i
                                class="fa fa-plus-circle action-icon">&nbsp;</i>Add Copyedit Assignment</a></li>
                        <li><a data-open="complete"><i class="fa fa-check action-icon">&nbsp;</i>Complete
                            Copyediting</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% include "admin/elements/summary_modal.html" %}
    {% include "elements/copyediting/complete_copyediting.html" %}

{% endblock body %}

{% block js %}
    <script src="{% static "admin/js/modal.js" %}"></script>
    {% include "elements/notes/note_script.html" %}
{% endblock js %}
