{% extends "admin/core/base.html" %}
{% load static %}

{% block title %}Request Author Copyedit{% endblock %}
{% block title-section %}
    Request Author Copyedit #{{ author_review.id }}
{% endblock %}
{% block title-sub %}#{{ article.pk }} / {{ article.correspondence_author.last_name }} / {{ article.safe_title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "elements/breadcrumbs/copyediting_base.html" %}
    <li><a href="{% url 'editor_review' article.pk copyedit.pk %}">Review Copyediting</a></li>
{% endblock breadcrumbs %}

{% block body %}

    <div class="box">
        <div class="title-area">
            <h2>3. Notify the Author</h2>
        </div>
        <div class="content">
            <p>You can send a message to the author or skip it.</p>
            <div class="card">
                {% include 'admin/elements/email_form.html' with form=form skip=1 %}
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ block.super}}
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    {{ form.media.js }}

{% endblock js %}


