{% extends "admin/core/base.html" %}
{% load static %}


{% block title %}Copyedit for {{ copyedit.article.title }}{% endblock title %}
{% block title-section %}Copyedit{% endblock %}
{% block title-sub %}{{ copyedit.article.safe_title }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    {% include "elements/breadcrumbs/copyeditor_base.html" with subpage="yes" %}
    <li>Upload File</li>
{% endblock breadcrumbs %}

{% block body %}
    <div class="box">
        <div class="row expanded">
            <div class="large-12 columns">
                {% include "elements/forms/generic_errors.html" with errors=errors %}
                <div class="title-area">
                    <h2>Guidelines</h2>
                </div>
                <div class="content">
                    <p>To upload a file, select it using one of the "Choose file" buttons,
                        then upload it with the "Upload file" button. You can add a label to help the editor identify
                        the file.</p>
                </div>
            </div>
            <div class="large-5 columns end">
                <div class="title-area">
                    <h2>New File</h2>
                </div>
                <div class="content">
                    <p>Please upload your copy-edited file.</p>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="label">File Label</label>
                        <input name="label" id="label" type="text" placeholder="e.g. 'Copyedited Manuscript'"
                               value="{% if request.POST.label %}{{ request.POST.label }}{% endif %}">

                        <label for="File">File</label>
                        <input name="file" type="file" id="file" class="filestyle" data-placeholder="No file"
                               data-buttonName="btn-primary">
                        <br/>
                        <button type="submit" class="button success" name="replacement"><i class="fa fa-upload">
                            &nbsp;</i>Upload
                        </button>
                    </form>
                </div>

            </div>
        </div>
    </div>

{% endblock body %}
