{% extends "core/base.html" %}
{% load foundation %}
{% load i18n %}

{% block title %}{% trans 'Activate Account' %}{% endblock title %}

{% block body %}

    <div class="row">
        <div class="col-md-6 offset-md-3">

            {% if account %}
            <h4>{% trans 'Activate Account' %}</h4>
            <form method="POST">
                {% csrf_token %}
                <p>{% trans "You can complete the activation process by clicking the button below." %}</p>
                <button class="btn btn-primary" name="activate">{% trans 'Activate Account' %}</button>
            </form>
            {% else %}
            <h4>{% trans 'Error' %}</h4>
            <p>{% trans 'There was no inactive account with this activation code found. It is possible that your account is
            already active, you can check by attempting to' %} <a href="{% url 'core_login' %}">{% trans 'login' %}</a>.</p>
            {% endif %}

        </div>
    </div>

{% endblock body %}
