{% extends "core/base.html" %}
{% comment %}
  This template is deprecated. Account pages are now part of the back-office.
{% endcomment %}

{% load foundation %}
{% load next_url %}

{% block title %}{% trans 'Unregistered ORCiD' %}{% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="POST" action="{% url_with_next 'core_login' %}">
                {% csrf_token %}
                <div class="card">
                    <div class="card-block">
                      <div class="col-md-12">
                        <h2>{% trans "Unregistered ORCiD ID" %}</h2>
                        <p>
                          {% blocktranslate %}
                            The ORCiD ID you logged in with is not currently linked
                            with an account in our system. You can either
                            register a new account, or login with an existing
                            account to link your ORCiD ID for future use.
                          {% endblocktranslate %}
                        </p>
                        <p>
                          <a
                            href="{% url_with_next 'core_register' %}&token={{ token.token }}"
                            class="btn btn-primary btn-block">
                            {% trans 'Register' %}
                          </a>
                        </p>
                        <div class="form-group">
                            <label>{% trans 'Email' %}</label>
                            <input name="user_name" type="text" placeholder="janeway@voyager.com" class="form-control">

                            <label>{% trans 'Password' %}</label>
                            <input type="password" placeholder="Password" name="user_pass" class="form-control">

                            <input name="orcid_token" type="hidden" value="{{ token.token }}" class="form-control">
                        </div>
                        <p>
                        <button type="submit" class="btn btn-primary btn-block">
                          {% trans 'Log in' %}
                        </button>
                        </p>
                        <p class="text-center">
                          <a href="{% url_with_next 'core_get_reset_token' %}">
                            {% trans "Forgotten your password?" %}
                          </a>
                        </p>
                      </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock body %}
