{% extends "core/base.html" %}
{% load foundation %}

{% block title %}{% trans 'Unregistered ORCiD' %}{% endblock title %}

{% block body %}

    <div class="row">
        <h5>{% trans 'Unregistered ORCiD' %}</h5>
        <p>{% blocktrans %}The ORCiD you logged in with is not currently linked with an account in our system. You can either
            register a new account, or login with an existing account to link your ORCiD for future use.{% endblocktrans %}</p>

        <div class="col-md-4">

            <form method="POST" action="{% url 'core_login' %}">
                {% csrf_token %}
                <div class="card">
                    <div class="card-block">
                        <h5>{% trans 'Login' %}</h5>
                        <div class="form-group">
                            <label>{% trans 'Email' %}</label>
                            <input name="user_name" type="text" placeholder="janeway@voyager.com" class="form-control">

                            <label>{% trans 'Password' %}</label>
                            <input type="password" placeholder="Password" name="user_pass" class="form-control">

                            <input name="orcid_token" type="hidden" value="{{ token.token }}" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">{% trans 'Log In' %}</button>
                        <p class="text-center"><a href="{% url 'core_get_reset_token' %}">{% trans 'Forgot your password' %}?</a></p>
                    </div>
                </div>
            </form>

        </div>

        <div class="col-md-4 offset-md-4">

            <div class="card">
                <div class="card-block">
                    <h5>{% trans 'Register' %}</h5>
                    <br/>
                    <a href="{% url 'core_register' %}?token={{ token.token }}" class="btn btn-primary btn-block">{% trans 'Register' %}</a>
                </div>
            </div>

        </div>
    </div>

{% endblock body %}