{% load static from staticfiles %}
{% load press_url from press_url %}
{% load roles %}
{% load svg from press_url %}
{% load i18n %}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ request.journal.name }}{% endblock title %}</title>
    {% block head %}{% endblock head %}
    <link href="{% static "OLH/css/app.css" %}" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet">
    <script src="https://use.typekit.net/lff8ikn.js"></script>
    <script>try {
        Typekit.load({async: true});
    } catch (e) {
    }</script>
    {% block css %}{% endblock %}
    {% if request.press.favicon %}<link rel="icon" href="{{ request.press.favicon.url }}" type="image/vnd.microsoft.icon" />{% endif %}
</head>
<body>
<div class="wrapper">
    <header class="main-header" role="banner">
        <div class="main top-bar">
            <div class="top-bar-left border-right">
                {% if request.journal %}
                    {% if request.journal.has_header %}
                        <a href="/"><img class="top-bar-image" src="{% static "common/img/journal_header" %}{{ request.journal.id }}.png" alt="{{ request.journal.title }}"></a>
                    {% else %}
                        <a href="/">{% svg request.press_cover %}</a>
                    {% endif %}
                {% else %}
                    {% if 'svg' in request.press_cover %}
                        <a href="/">{% svg request.press_cover %}</a>
                    {% else %}
                        <a href="/"><img class="top-bar-image" src="{% url 'press_cover_download' %}" alt="{{ request.press.name }}"></a>
                    {% endif %}
                {% endif %}

                <div class="title-bar toggle">
                    <div data-responsive-toggle="main-menu" data-hide-for="medium">
                        <a href="#" data-responsive-toggle="main-menu" data-hide-for="medium" data-toggle>
                            <span class="menu-icon"></span>
                        </a>
                    </div>
                    <div data-responsive-toggle="search-menu" data-hide-for="medium">
                        <a href="#" class="search-toggle" data-toggle>
                            <i class="fa fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>


            <div class="top-bar-right border-left hide-for-small-only">
                <ul class="dropdown menu" data-dropdown-menu>
                    {% if request.user.is_authenticated %}
                        <li class=".is-dropdown-submenu-parent"><a href="#"
                                                                   data-options="is_hover:true; hover_timeout:5000">{{ request.user.full_name }}</a>
                            <ul class="menu">
                                {% user_has_role request 'editor' as user_is_editor %}
                                {% if user_is_editor  or user.is_staff %}<li><a href="{% url 'core_manager_index' %}">Manager</a></li>
                                <li><a href="/admin/">Admin</a></li>{% endif %}
                                {% if request.resolver_match.url_name and request.resolver_match.url_name == 'cms_page' and page %}
                                    <li><a href="{% url 'cms_page_edit' page.pk %}">Edit Page</a></li>
                                {% endif %}
                                {% if request.press.enable_preprints %}
                                    <li><a href="{% url 'preprints_dashboard' %}">Preprints Dashboard</a></li>
                                {% endif %}
                                <li><a href="{% url 'core_edit_profile' %}">Profile</a></li>
                                <li><a href="{% url 'core_logout' %}">Logout</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li><p><a href="{% url 'core_login' %}">Login </a>|<a href="{% url 'core_register' %}"> Register</a></p></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% include "press/nav.html" %}
    </header>

    <main>
        {% block body %}{% endblock body %}
    </main>
</div>

<footer class="main-footer">
    <div class="row expanded" data-equalizer data-equalize-on="medium">
        <div class="large-2 columns very-dark-primary-color text-center" data-equalizer-watch>
            <a href="https://janeway.systems">{% svg "static/common/img/sample/janeway.svg" %}</a>
        </div>
        <div class="large-5 columns" data-equalizer-watch>
            <p>
                {% if request.journal %}
                {% include "elements/journal_footer.html" %}
                {% else %}
                {% include "press/elements/press_footer.html" %}
                {% endif %}
            </p>
        </div>
        <div class="large-5 columns large-text-right" data-equalizer-watch>
            <ul class="inline-list">
                <li><a href="/site/privacy/">{% trans "Privacy Policy" %}</a></li>
                <li><a href="/sitemap">{% trans "Sitemap" %}</a></li>
                <li><a href="{% url 'contact' %}">{% trans "Contact" %}</a></li>
                 {% if not request.user.is_authenticated %}<li><a href="{% url 'core_login' %}">Login</a></li>{% endif %}
            </ul>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.js"></script>
<script src="{% static "OLH/js/app.min.js" %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<script>
    toastr.options = {
        "closeButton": true,
        "debug": true,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-bottom-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "10000",
        "hideDuration": "3000",
        "timeOut": "8000",
        "extendedTimeOut": "60000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
    {% for message in messages %}
        {% ifequal message.tags "warning" %}
            toastr.warning("{{ message }}");
        {% endifequal%}
        {% ifequal message.tags "info" %}
            toastr.info("{{ message }}");
        {% endifequal%}
        {% ifequal message.tags "danger" %}
            toastr.error("{{ message }}");
        {% endifequal%}
        {% ifequal message.tags "success" %}
            toastr.success("{{ message }}")
        {% endifequal%}
    {% endfor %}
</script>
{% if request.press.tracking_code %}
{{ request.press.tracking_code|safe }}
{% endif %}
{% block js %}{% endblock %}
</body>
</html>
