{% extends "admin/core/base.html" %}
{% load foundation %}
{% load static %}

{% block title %}News Config{% endblock title %}
{% block admin-header %}News Config{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url 'core_manager_index' %}">Manager</a></li>
    <li><a href="{% url 'home_settings_index' %}">Journal Home Settings</a></li>
    <li>News Config</li>
{% endblock %}

{% block body %}
    <div class="large-12 columns box">
        {% include "admin/elements/forms/errors.html" with form=form %}
        <form method="POST">
            {% csrf_token %}
            {{ form|foundation }}
            <button type="submit" class="success button">Save</button>
        </form>
    </div>
{% endblock body %}
