{% extends "core/base.html" %}
{% load truncate %}
{% load i18n %}

{% block title %}{{ journal_settings.news.news_title}} - {{ news_item.title }}{% endblock title %}

{% block head %}
{% include "elements/social_meta.html" %}
{% endblock head %}

{% block body %}
    <div class="row">
        <div class="col m12">
            <div class="card">
                {% if item.large_image_file or request.journal and request.journal.default_large_image or request.press.default_carousel_image %}
                <div class="card-image">
                    <img src="{{ news_item.best_image_url }}"
                        alt="{{ news_item.title }}"/>
                    <span class="card-title">
                      <div class="carousel-text-wrapper">
                        {{ news_item.title }}
                      </div>
                    </span>
                </div>
                {% endif %}
                <div class="card-content">
                    {% if not news_item.large_image_file or request.journal and not request.journal.default_large_image or not request.press.default_carousel_image %}
                        <h2 class="no-top-margin">{{ news_item.title }}</h2>
                    {% endif %}
                    <h6><em>{{ news_item.byline }} {% trans "on" %} {{ news_item.posted|date:"Y-m-d" }}</em>
                    </h6>
                    <p>{{ news_item.body|safe }}</p>
                    {% if news_item.tags.all %}
                        <br />
                        <h7>{% trans "Tags" %} <i class="fa fa-tags">&nbsp;</i></h7>
                        <p>{% for tag in news_item.tags.all %}
                            <a href="{% url 'core_news_list_tag' tag.text %}"
                               class="button success tiny">{{ tag.text }}</a>
                            {% if not forloop.last %}&nbsp;{% endif %}{% endfor %}</p>
                    {% endif %}
                </div>
                <div class="card-action">
                    <a href="{% url 'core_news_list' %}" class="button">{% trans "Back to" %} {{ journal_settings.news.news_title }} {% trans "List" %}</a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
