{% extends "admin/core/base.html" %}
{% load foundation %}
{% load files %}

{% block title %}Screening Revisions{% endblock title %}
{% block title-section %}Revisions for "{{ article.safe_title }}"{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li>Screening Revisions</li>
{% endblock breadcrumbs %}

{% block body %}
    <div class="large-12 columns">
        <div class="box">
            <div class="title-area">
                <h2>Editor's note</h2>
            </div>
            <div class="content">
                <p>
                    <small>
                        Requested by {{ revision.editor.full_name }}
                        on {{ revision.date_requested|date:"Y-m-d" }}.
                        Due by <strong>{{ revision.date_due }}</strong>.
                        Revision type: <strong>{{ revision.get_type_display }}</strong>.
                    </small>
                </p>
                {{ revision.editor_note|safe }}
            </div>

            <div class="title-area">
                <h2>Files</h2>
            </div>
            <div class="content">
                <p>
                    Your article files are listed below. Use <strong>Replace</strong>
                    next to each row to upload a new version of an existing file, or
                    <strong>Upload New File</strong> to add a file that wasn't part of
                    the original submission.
                </p>
                <p>
                    <a href="{% url 'screening_revisions_upload_new_file' revision.pk %}" class="button">
                        <i class="fa fa-upload">&nbsp;</i>Upload New File
                    </a>
                </p>
                <table class="scroll small">
                    <thead>
                        <tr>
                            <th>Label</th>
                            <th>Filename</th>
                            <th>Type</th>
                            <th>Uploaded</th>
                            <th>Size</th>
                            <th>Download</th>
                            <th>Replace</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for file in article.manuscript_files.all %}
                            <tr>
                                <td>{{ file.label }}</td>
                                <td>{{ file.original_filename }}</td>
                                <td>Manuscript</td>
                                <td>{{ file.date_uploaded|date:"Y-m-d G:i" }}</td>
                                <td>{% file_size file article %}</td>
                                <td>
                                    <a href="{% url 'article_file_download' 'id' article.pk file.pk %}">
                                        <i class="fa fa-download"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'screening_revisions_replace_file' revision.pk file.pk %}" class="tiny button warning">
                                        <i class="fa fa-cloud-upload"></i> Replace
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for file in article.data_figure_files.all %}
                            <tr>
                                <td>{{ file.label }}</td>
                                <td>{{ file.original_filename }}</td>
                                <td>Data/Figure</td>
                                <td>{{ file.date_uploaded|date:"Y-m-d G:i" }}</td>
                                <td>{% file_size file article %}</td>
                                <td>
                                    <a href="{% url 'article_file_download' 'id' article.pk file.pk %}">
                                        <i class="fa fa-download"></i>
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'screening_revisions_replace_file' revision.pk file.pk %}" class="tiny button warning">
                                        <i class="fa fa-cloud-upload"></i> Replace
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <form method="post">
                {% csrf_token %}
                <div class="title-area">
                    <h2>Covering letter</h2>
                </div>
                <div class="content">
                    <p>
                        Optionally describe the changes you made for the editor.
                    </p>
                    {{ form|foundation }}
                    <button type="submit" name="save" class="success button">
                        Save covering letter
                    </button>
                </div>

                <div class="title-area">
                    <h2>Finishing up</h2>
                </div>
                <div class="content">
                    <p>
                        When you have replaced all the files you need to and written your
                        covering letter, click <strong>Submit Revisions</strong> below.
                        You will not be able to make further changes after submission.
                    </p>
                    <button type="submit" name="submit" class="success button"
                            onclick="return confirm('Submit your revisions now? You won&#39;t be able to change them afterwards.');">
                        <i class="fa fa-paper-plane"></i> Submit Revisions
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock body %}
