{% load files %}
{% load securitytags %}
{% load static from staticfiles %}
{% load render_string %}

<table class="scroll small">
    <tr style="text-align: left">
        <th>ID</th>
        <th>Label</th>
        <th width="25%">Filename</th>
        <th>Modified</th>
        <th>Edit</th>
        <th></th>
        <th>History</th>
        <th>Preview</th>
        <th>File Figures</th>
        {% if request.user.is_admin %}
            <th></th>{% endif %}
    </tr>
    {% for galley in galleys %}
        {% can_view_file galley.file as can_view_file_flag %}
        {% can_edit_file galley.file article as can_edit_file_flag %}
        {% can_view_file_history galley.file article as can_view_file_history_flag %}
        <tr>
            <td>{{ galley.pk }}</td>
            <td>{{ galley.label }}</td>
            <td>{{ galley.file.original_filename|truncatechars:40 }}</td>
            <td>{{ galley.file.date_modified|date:"Y-m-d G:i" }}</td>
            <td>
                <a href="{% url 'typesetting_edit_galley' article.pk galley.pk %}?return={% url 'typesetting_article' article.pk %}"
                   class="fa fa-edit"></a></td>
            <td>{% if can_view_file_flag %}
                <a href="{% url 'article_file_download' 'id' article.pk galley.file.pk %}"><i
                        class="fa fa-download">&nbsp;</i></a>{% endif %}
            </td>
            <td>{% if can_view_file_history_flag %}
                <a href="{% url 'file_history' article.pk galley.file.pk %}?return={{ request.path|urlencode }}"><i
                        class="fa fa-history">
                    &nbsp;</i></a>{% endif %}
            </td>
            <td>
                <a href="{% url 'editor_preview_galley' article.pk  galley.pk %}"
                   target="_blank">
                    <i class="fa fa-eye">&nbsp;</i>
                </a>
            </td>
            <td>
                {% if galley.file.mime_type in galley.mimetypes_with_figures and galley.has_missing_image_files %}
                    Missing Figures
                {% else %}
                    N/a
                {% endif %}
            </td>
            {% if request.user.is_admin %}
                <td><a target="_blank"
                       href="{% url 'admin:core_galley_change' galley.pk %}"><span
                        class="fa fa-cogs">&nbsp;</span>Edit in Admin</a>
                </td>{% endif %}
        </tr>
        {% empty %}
        <tr>
            <td colspan="10">No typeset files have been uploaded.</td>
        </tr>
    {% endfor %}
</table>

{% if not disable_upload %}
<div class="float-right"><a class="button success" data-open="uploadbox"><i
        class="fa fa-cloud-upload">
    &nbsp;</i>Upload New Typeset File</a>
</div>
{% endif %}
<br />