<div class="callout breakdown file">
    <div class="callout-title">
        <h4>Typesetter: {{ round.typesettingassignment.typesetter.full_name }}</h4>
    </div>

    <table class="table small">
        <tr>
            <th>Created</th>
            <th>Manager</th>
            <th>Notified</th>
            <th>Due</th>
            <th>Completed</th>
            <th>Reviewed</th>
            <th>Review Decision</th>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
</div>