{% load bool_fa %}

<div class="callout breakdown file">
    <div class="callout-title">
        <h4>Typesetter: {{ round.typesettingassignment.typesetter.full_name }} <a onclick="return popitup('{% url 'send_user_email_article' round.typesettingassignment.typesetter.pk article.pk %}')"><i class="fa fa-envelope">&nbsp;</i></a></h4>
    </div>

    <table class="table small">
        <tr>
            <th>ID</th>
            <th>Created</th>
            <th>Manager</th>
            <th>Notified</th>
            <th>Due</th>
            <th>Completed</th>
            <th>Status</th>
        </tr>
        <tr>
            <td>{{ round.typesettingassignment.pk }}</td>
            <td>{{ round.typesettingassignment.assigned }}</td>
            <td>{{ round.typesettingassignment.manager.full_name }}</td>
            <td>{{ round.typesettingassignment.notified|bool_fa }}</td>
            <td>{{ round.typesettingassignment.due }}</td>
            <td>{% if round.typesettingassignment.completed %}{{ round.typesettingassignment.completed }}{% else %}{{ round.typesettingassignment.completed|bool_fa }}{% endif %}</td>
            <td>{{ round.typesettingassignment.status|capfirst }}</td>
        </tr>
    </table>

    {% if round.typesettingassignment.completed and round.typesettingassignment.accepted %}
        <p><span class="fa fa-check-circle"></span> {{ round.typesettingassignment.friendly_status }}</p>
        <a href="{% url 'typesetting_review_assignment' article.pk round.typesettingassignment.pk %}" class="success button">Review Typesetting</a>
    {% else %}
        <div class="callout bs-callout-warning">
        <span class="fa fa-info-circle"></span> {{ round.typesettingassignment.friendly_status }}
        </div>
    {% endif %}
</div>